<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>41.344676999999997</real>
			<key>longitude</key>
			<real>2.1072419999999998</real>
			<key>name</key>
			<string>"Hospital de Bellvitge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.354901499999997</real>
			<key>longitude</key>
			<real>2.1152839999999999</real>
			<key>name</key>
			<string>"Bellvitge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.358418499999999</real>
			<key>longitude</key>
			<real>2.1026102999999998</real>
			<key>name</key>
			<string>"Avinguda Carrilet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.363823400000001</real>
			<key>longitude</key>
			<real>2.0999922999999998</real>
			<key>name</key>
			<string>"Rambla Just Oliveras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.367688600000001</real>
			<key>longitude</key>
			<real>2.1034261000000001</real>
			<key>name</key>
			<string>"Can Serra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.368316</real>
			<key>longitude</key>
			<real>2.110001</real>
			<key>name</key>
			<string>"Florida"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3683294</real>
			<key>longitude</key>
			<real>2.1166432999999998</real>
			<key>name</key>
			<string>"Torrassa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.368816000000002</real>
			<key>longitude</key>
			<real>2.1286170000000002</real>
			<key>name</key>
			<string>"Santa Eulàlia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.372551399999999</real>
			<key>longitude</key>
			<real>2.1332745000000002</real>
			<key>name</key>
			<string>"Mercat Nou"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.378854500000003</real>
			<key>longitude</key>
			<real>2.1401694999999998</real>
			<key>name</key>
			<string>"Plaça de Sants"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.379092800000002</real>
			<key>longitude</key>
			<real>2.1401327999999999</real>
			<key>name</key>
			<string>"Hostafrancs"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.374517900000001</real>
			<key>longitude</key>
			<real>2.1484676</real>
			<key>name</key>
			<string>"Espanya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.379232000000002</real>
			<key>longitude</key>
			<real>2.1545619999999999</real>
			<key>name</key>
			<string>"Rocafort"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.382486999999998</real>
			<key>longitude</key>
			<real>2.1588910000000001</real>
			<key>name</key>
			<string>"Urgell"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.385445500000003</real>
			<key>longitude</key>
			<real>2.1637624999999998</real>
			<key>name</key>
			<string>"Universitat"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3870808</real>
			<key>longitude</key>
			<real>2.1701092000000002</real>
			<key>name</key>
			<string>"Catalunya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.388786699999997</real>
			<key>longitude</key>
			<real>2.1727989999999999</real>
			<key>name</key>
			<string>"Urquinaona"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3923378</real>
			<key>longitude</key>
			<real>2.181165</real>
			<key>name</key>
			<string>"Arc de Triomf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.394153000000003</real>
			<key>longitude</key>
			<real>2.1875450000000001</real>
			<key>name</key>
			<string>"Marina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.402253000000002</real>
			<key>longitude</key>
			<real>2.1875339999999999</real>
			<key>name</key>
			<string>"Glòries"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.409229099999997</real>
			<key>longitude</key>
			<real>2.1876546000000001</real>
			<key>name</key>
			<string>"Clot"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.416187000000001</real>
			<key>longitude</key>
			<real>2.1870569999999998</real>
			<key>name</key>
			<string>"Navas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.421870800000001</real>
			<key>longitude</key>
			<real>2.1869168000000001</real>
			<key>name</key>
			<string>"La Sagrera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.429634100000001</real>
			<key>longitude</key>
			<real>2.1836609999999999</real>
			<key>name</key>
			<string>"Fabra i Puig"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.436083000000004</real>
			<key>longitude</key>
			<real>2.1930969999999999</real>
			<key>name</key>
			<string>"Sant Andreu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.444065600000002</real>
			<key>longitude</key>
			<real>2.1908197999999999</real>
			<key>name</key>
			<string>"Torras i Bages"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.448746999999997</real>
			<key>longitude</key>
			<real>2.1939853</real>
			<key>name</key>
			<string>"Trinitat Vella"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.449936000000001</real>
			<key>longitude</key>
			<real>2.1995629999999999</real>
			<key>name</key>
			<string>"Baró de Viver"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.451067000000002</real>
			<key>longitude</key>
			<real>2.2079689999999998</real>
			<key>name</key>
			<string>"Santa Coloma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.452287599999998</real>
			<key>longitude</key>
			<real>2.2198074999999999</real>
			<key>name</key>
			<string>"Fondo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.374827099999997</real>
			<key>longitude</key>
			<real>2.1700246999999999</real>
			<key>name</key>
			<string>"Paral·lel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.379832999999998</real>
			<key>longitude</key>
			<real>2.1632410000000002</real>
			<key>name</key>
			<string>"Sant Antoni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.385445500000003</real>
			<key>longitude</key>
			<real>2.1637624999999998</real>
			<key>name</key>
			<string>"Universitat"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3897312</real>
			<key>longitude</key>
			<real>2.1688519999999998</real>
			<key>name</key>
			<string>"Passeig de Gràcia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.394886999999997</real>
			<key>longitude</key>
			<real>2.1755589999999998</real>
			<key>name</key>
			<string>"Tetuan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.400523999999997</real>
			<key>longitude</key>
			<real>2.179462</real>
			<key>name</key>
			<string>"Monumental"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.404307199999998</real>
			<key>longitude</key>
			<real>2.1749052</real>
			<key>name</key>
			<string>"Sagrada Família"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.407235999999997</real>
			<key>longitude</key>
			<real>2.1827000000000001</real>
			<key>name</key>
			<string>"Encants"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.409229099999997</real>
			<key>longitude</key>
			<real>2.1876546000000001</real>
			<key>name</key>
			<string>"Clot"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.415162000000002</real>
			<key>longitude</key>
			<real>2.195503</real>
			<key>name</key>
			<string>"Bac de Roda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.419063999999999</real>
			<key>longitude</key>
			<real>2.2007240000000001</real>
			<key>name</key>
			<string>"Sant Martí"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.423251</real>
			<key>longitude</key>
			<real>2.2058779999999998</real>
			<key>name</key>
			<string>"La Pau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.430003999999997</real>
			<key>longitude</key>
			<real>2.209883</real>
			<key>name</key>
			<string>"Verneda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.4334396</real>
			<key>longitude</key>
			<real>2.2169916000000001</real>
			<key>name</key>
			<string>"Artigues-Sant Adrià"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.435842000000001</real>
			<key>longitude</key>
			<real>2.2286160000000002</real>
			<key>name</key>
			<string>"Sant Roc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.440141799999999</real>
			<key>longitude</key>
			<real>2.2337931000000002</real>
			<key>name</key>
			<string>"Gorg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.443905000000001</real>
			<key>longitude</key>
			<real>2.237959</real>
			<key>name</key>
			<string>"Pep Ventura"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.448990899999998</real>
			<key>longitude</key>
			<real>2.2447047000000002</real>
			<key>name</key>
			<string>"Badalona Pompeu Fabra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.384188399999999</real>
			<key>longitude</key>
			<real>2.1117170000000001</real>
			<key>name</key>
			<string>"Zona Universitària"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.385919000000001</real>
			<key>longitude</key>
			<real>2.1184609999999999</real>
			<key>name</key>
			<string>"Palau Reial"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.387816000000001</real>
			<key>longitude</key>
			<real>2.125791</real>
			<key>name</key>
			<string>"Maria Cristina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.379092800000002</real>
			<key>longitude</key>
			<real>2.1401327999999999</real>
			<key>name</key>
			<string>"Les Corts"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.381922000000003</real>
			<key>longitude</key>
			<real>2.1358839999999999</real>
			<key>name</key>
			<string>"Plaça del Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.379092800000002</real>
			<key>longitude</key>
			<real>2.1401327999999999</real>
			<key>name</key>
			<string>"Sants Estació"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.378223499999997</real>
			<key>longitude</key>
			<real>2.1460395000000001</real>
			<key>name</key>
			<string>"Tarragona"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.374517900000001</real>
			<key>longitude</key>
			<real>2.1484676</real>
			<key>name</key>
			<string>"Espanya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.374996000000003</real>
			<key>longitude</key>
			<real>2.1602450000000002</real>
			<key>name</key>
			<string>"Poble Sec"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.374827099999997</real>
			<key>longitude</key>
			<real>2.1700246999999999</real>
			<key>name</key>
			<string>"Paral·lel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.376537999999996</real>
			<key>longitude</key>
			<real>2.1756639999999998</real>
			<key>name</key>
			<string>"Drassanes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.381444999999999</real>
			<key>longitude</key>
			<real>2.1730299999999998</real>
			<key>name</key>
			<string>"Liceu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3870808</real>
			<key>longitude</key>
			<real>2.1701092000000002</real>
			<key>name</key>
			<string>"Catalunya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3897312</real>
			<key>longitude</key>
			<real>2.1688519999999998</real>
			<key>name</key>
			<string>"Passeig de Gràcia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.392814299999998</real>
			<key>longitude</key>
			<real>2.1580309</real>
			<key>name</key>
			<string>"Diagonal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.402625999999998</real>
			<key>longitude</key>
			<real>2.1527302000000001</real>
			<key>name</key>
			<string>"Fontana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.405737999999999</real>
			<key>longitude</key>
			<real>2.150407</real>
			<key>name</key>
			<string>"Lesseps"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.411974999999998</real>
			<key>longitude</key>
			<real>2.1443370000000002</real>
			<key>name</key>
			<string>"Vallcarca"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.417394600000002</real>
			<key>longitude</key>
			<real>2.1410559</real>
			<key>name</key>
			<string>"Penitents"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.425325999999998</real>
			<key>longitude</key>
			<real>2.1421374000000002</real>
			<key>name</key>
			<string>"Vall d'Hebron"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.430273100000001</real>
			<key>longitude</key>
			<real>2.1452176999999999</real>
			<key>name</key>
			<string>"Montbau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.434820100000003</real>
			<key>longitude</key>
			<real>2.1483647000000001</real>
			<key>name</key>
			<string>"Mundet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.437995999999998</real>
			<key>longitude</key>
			<real>2.1568779999999999</real>
			<key>name</key>
			<string>"Valldaura"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.441753400000003</real>
			<key>longitude</key>
			<real>2.166388</real>
			<key>name</key>
			<string>"Canyelles"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.448113800000002</real>
			<key>longitude</key>
			<real>2.1771696</real>
			<key>name</key>
			<string>"Roquetes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.449018199999998</real>
			<key>longitude</key>
			<real>2.1821603999999999</real>
			<key>name</key>
			<string>"Trinitat Nova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.449018199999998</real>
			<key>longitude</key>
			<real>2.1821603999999999</real>
			<key>name</key>
			<string>"Trinitat Nova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.443728999999998</real>
			<key>longitude</key>
			<real>2.17855</real>
			<key>name</key>
			<string>"Via Júlia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.436990100000003</real>
			<key>longitude</key>
			<real>2.1733414999999998</real>
			<key>name</key>
			<string>"Llucmajor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.424320100000003</real>
			<key>longitude</key>
			<real>2.1772716000000001</real>
			<key>name</key>
			<string>"Maragall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.415962</real>
			<key>longitude</key>
			<real>2.1739890000000002</real>
			<key>name</key>
			<string>"Guinardó – Hospital de Sant Pau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.412376399999999</real>
			<key>longitude</key>
			<real>2.1663820999999999</real>
			<key>name</key>
			<string>"Alfons X"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.405975099999999</real>
			<key>longitude</key>
			<real>2.1628611000000002</real>
			<key>name</key>
			<string>"Joanic"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.399944499999997</real>
			<key>longitude</key>
			<real>2.1686721000000002</real>
			<key>name</key>
			<string>"Verdaguer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.394919999999999</real>
			<key>longitude</key>
			<real>2.1708249999999998</real>
			<key>name</key>
			<string>"Girona"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3897312</real>
			<key>longitude</key>
			<real>2.1688519999999998</real>
			<key>name</key>
			<string>"Passeig de Gràcia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.388786699999997</real>
			<key>longitude</key>
			<real>2.1727989999999999</real>
			<key>name</key>
			<string>"Urquinaona"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.383848800000003</real>
			<key>longitude</key>
			<real>2.1784181</real>
			<key>name</key>
			<string>"Jaume I"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.382366400000002</real>
			<key>longitude</key>
			<real>2.1858200000000001</real>
			<key>name</key>
			<string>"Barceloneta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3878244</real>
			<key>longitude</key>
			<real>2.1933699999999998</real>
			<key>name</key>
			<string>"Ciutadella-Vila Olímpica"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3948909</real>
			<key>longitude</key>
			<real>2.1915713999999999</real>
			<key>name</key>
			<string>"Bogatell"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.399425000000001</real>
			<key>longitude</key>
			<real>2.1977120000000001</real>
			<key>name</key>
			<string>"Llacuna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.403716000000003</real>
			<key>longitude</key>
			<real>2.2033710000000002</real>
			<key>name</key>
			<string>"Poblenou"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.408227699999998</real>
			<key>longitude</key>
			<real>2.2096024999999999</real>
			<key>name</key>
			<string>"Selva de Mar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.412185600000001</real>
			<key>longitude</key>
			<real>2.2175609999999999</real>
			<key>name</key>
			<string>"El Maresme-Fòrum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.415098999999998</real>
			<key>longitude</key>
			<real>2.2160820000000001</real>
			<key>name</key>
			<string>"Besòs Mar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.415098999999998</real>
			<key>longitude</key>
			<real>2.2160820000000001</real>
			<key>name</key>
			<string>"Besòs"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.423251</real>
			<key>longitude</key>
			<real>2.2058779999999998</real>
			<key>name</key>
			<string>"La Pau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.357289999999999</real>
			<key>longitude</key>
			<real>2.0704229999999999</real>
			<key>name</key>
			<string>"Cornellà Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.357925299999998</real>
			<key>longitude</key>
			<real>2.0790581000000001</real>
			<key>name</key>
			<string>"Gavarra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.353067500000002</real>
			<key>longitude</key>
			<real>2.0852514000000002</real>
			<key>name</key>
			<string>"Sant Ildefons"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.366571</real>
			<key>longitude</key>
			<real>2.0915059999999999</real>
			<key>name</key>
			<string>"Can Boixeres"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3712807</real>
			<key>longitude</key>
			<real>2.0994451000000001</real>
			<key>name</key>
			<string>"Can Vidalet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.373837999999999</real>
			<key>longitude</key>
			<real>2.1072090000000001</real>
			<key>name</key>
			<string>"Pubilla Cases"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.375853900000003</real>
			<key>longitude</key>
			<real>2.1181504000000002</real>
			<key>name</key>
			<string>"Collblanc (L9)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.375579999999999</real>
			<key>longitude</key>
			<real>2.127424</real>
			<key>name</key>
			<string>"Badal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.378854500000003</real>
			<key>longitude</key>
			<real>2.1401694999999998</real>
			<key>name</key>
			<string>"Plaça de Sants"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.379092800000002</real>
			<key>longitude</key>
			<real>2.1401327999999999</real>
			<key>name</key>
			<string>"Sants Estació"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.384467000000001</real>
			<key>longitude</key>
			<real>2.1456189999999999</real>
			<key>name</key>
			<string>"Entença"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.388618999999998</real>
			<key>longitude</key>
			<real>2.1511</real>
			<key>name</key>
			<string>"Hospital Clínic"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.392814299999998</real>
			<key>longitude</key>
			<real>2.1580309</real>
			<key>name</key>
			<string>"Diagonal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.399944499999997</real>
			<key>longitude</key>
			<real>2.1686721000000002</real>
			<key>name</key>
			<string>"Verdaguer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.404307199999998</real>
			<key>longitude</key>
			<real>2.1749052</real>
			<key>name</key>
			<string>"Sagrada Família"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.410751300000001</real>
			<key>longitude</key>
			<real>2.1760161</real>
			<key>name</key>
			<string>"Sant Pau – Dos de Maig"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.415317600000002</real>
			<key>longitude</key>
			<real>2.1817438999999998</real>
			<key>name</key>
			<string>"Camp de l'Arpa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.421870800000001</real>
			<key>longitude</key>
			<real>2.1869168000000001</real>
			<key>name</key>
			<string>"La Sagrera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.423439000000002</real>
			<key>longitude</key>
			<real>2.1811859999999998</real>
			<key>name</key>
			<string>"Congrés"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.424320100000003</real>
			<key>longitude</key>
			<real>2.1772716000000001</real>
			<key>name</key>
			<string>"Maragall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.430255600000002</real>
			<key>longitude</key>
			<real>2.1746832999999999</real>
			<key>name</key>
			<string>"Virrei Amat"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.430464999999998</real>
			<key>longitude</key>
			<real>2.1676190000000002</real>
			<key>name</key>
			<string>"Vilapicina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.429700599999997</real>
			<key>longitude</key>
			<real>2.1588262999999999</real>
			<key>name</key>
			<string>"Horta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.423569800000003</real>
			<key>longitude</key>
			<real>2.1548801000000002</real>
			<key>name</key>
			<string>"El Carmel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.420934099999997</real>
			<key>longitude</key>
			<real>2.1502734999999999</real>
			<key>name</key>
			<string>"El Coll - La Teixonera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.425325999999998</real>
			<key>longitude</key>
			<real>2.1421374000000002</real>
			<key>name</key>
			<string>"Vall d'Hebron (L3)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3856617</real>
			<key>longitude</key>
			<real>2.1695907000000001</real>
			<key>name</key>
			<string>"Barcelona - Plaça Catalunya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.392814299999998</real>
			<key>longitude</key>
			<real>2.1580309</real>
			<key>name</key>
			<string>"Provença"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.399826699999998</real>
			<key>longitude</key>
			<real>2.1521479999999999</real>
			<key>name</key>
			<string>"Gràcia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.401298799999999</real>
			<key>longitude</key>
			<real>2.1470509</real>
			<key>name</key>
			<string>"Sant Gervasi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.398423800000003</real>
			<key>longitude</key>
			<real>2.1419467000000001</real>
			<key>name</key>
			<string>"Muntaner"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.397815700000002</real>
			<key>longitude</key>
			<real>2.1364339999999999</real>
			<key>name</key>
			<string>"La Bonanova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.397800400000001</real>
			<key>longitude</key>
			<real>2.1308118</real>
			<key>name</key>
			<string>"Les Tres Torres"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.398499399999999</real>
			<key>longitude</key>
			<real>2.1255749000000002</real>
			<key>name</key>
			<string>"Sarrià"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3856617</real>
			<key>longitude</key>
			<real>2.1695907000000001</real>
			<key>name</key>
			<string>"Barcelona - Plaça Catalunya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.392814299999998</real>
			<key>longitude</key>
			<real>2.1580309</real>
			<key>name</key>
			<string>"Provença"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.399826699999998</real>
			<key>longitude</key>
			<real>2.1521479999999999</real>
			<key>name</key>
			<string>"Gràcia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.4013797</real>
			<key>longitude</key>
			<real>2.1475366</real>
			<key>name</key>
			<string>"Plaça Molina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.403510699999998</real>
			<key>longitude</key>
			<real>2.1427591000000001</real>
			<key>name</key>
			<string>"Pàdua"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.405825700000001</real>
			<key>longitude</key>
			<real>2.1391515000000001</real>
			<key>name</key>
			<string>"El Putxet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.409647999999997</real>
			<key>longitude</key>
			<real>2.1371628</real>
			<key>name</key>
			<string>"Avinguda Tibidabo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.375029300000001</real>
			<key>longitude</key>
			<real>2.1491172000000001</real>
			<key>name</key>
			<string>"Barcelona-Plaça Espanya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.367487699999998</real>
			<key>longitude</key>
			<real>2.1388794</real>
			<key>name</key>
			<string>"Magòria-La Campana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.361153299999998</real>
			<key>longitude</key>
			<real>2.1301722999999999</real>
			<key>name</key>
			<string>"Ildefons Cerdà"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3747495</real>
			<key>longitude</key>
			<real>2.1487183999999999</real>
			<key>name</key>
			<string>"Europa-Fira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.354885899999999</real>
			<key>longitude</key>
			<real>2.1174316000000002</real>
			<key>name</key>
			<string>"Gornal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.360700999999999</real>
			<key>longitude</key>
			<real>2.1099166</real>
			<key>name</key>
			<string>"Sant Josep"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.358418499999999</real>
			<key>longitude</key>
			<real>2.1026102999999998</real>
			<key>name</key>
			<string>"L'Hospitalet-Avinguda Carrilet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.353067500000002</real>
			<key>longitude</key>
			<real>2.0852514000000002</real>
			<key>name</key>
			<string>"Almeda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.351591200000001</real>
			<key>longitude</key>
			<real>2.0708009000000001</real>
			<key>name</key>
			<string>"Cornellà-Riera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.348561400000001</real>
			<key>longitude</key>
			<real>2.042856</real>
			<key>name</key>
			<string>"Sant Boi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3578343</real>
			<key>longitude</key>
			<real>2.035091</real>
			<key>name</key>
			<string>"Molí Nou-Ciutat Cooperativa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.288288399999999</real>
			<key>longitude</key>
			<real>2.0710622000000001</real>
			<key>name</key>
			<string>"Aeroport T1"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3038746</real>
			<key>longitude</key>
			<real>2.0728936999999998</real>
			<key>name</key>
			<string>"Aeroport T2"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.311590000000002</real>
			<key>longitude</key>
			<real>2.0735008000000001</real>
			<key>name</key>
			<string>"Mas Blau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.316758</real>
			<key>longitude</key>
			<real>2.0877344999999998</real>
			<key>name</key>
			<string>"Parc Nou"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.321894899999997</real>
			<key>longitude</key>
			<real>2.0938088000000001</real>
			<key>name</key>
			<string>"Cèntric"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.331485999999998</real>
			<key>longitude</key>
			<real>2.0900346999999999</real>
			<key>name</key>
			<string>"El Prat Estació"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.329175800000002</real>
			<key>longitude</key>
			<real>2.1031330000000001</real>
			<key>name</key>
			<string>"Les Moreres"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.333728299999997</real>
			<key>longitude</key>
			<real>2.1117149</real>
			<key>name</key>
			<string>"Mercabarna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.341621000000004</real>
			<key>longitude</key>
			<real>2.1276443999999999</real>
			<key>name</key>
			<string>"Parc Logístic"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3747495</real>
			<key>longitude</key>
			<real>2.1487183999999999</real>
			<key>name</key>
			<string>"Fira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3747495</real>
			<key>longitude</key>
			<real>2.1487183999999999</real>
			<key>name</key>
			<string>"Europa - Fira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.360677099999997</real>
			<key>longitude</key>
			<real>2.1182042999999999</real>
			<key>name</key>
			<string>"Can Tries - Gornal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.3683294</real>
			<key>longitude</key>
			<real>2.1166432999999998</real>
			<key>name</key>
			<string>"Torrassa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.375853900000003</real>
			<key>longitude</key>
			<real>2.1181504000000002</real>
			<key>name</key>
			<string>"Collblanc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.384188399999999</real>
			<key>longitude</key>
			<real>2.1117170000000001</real>
			<key>name</key>
			<string>"Zona Universitària"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.421870800000001</real>
			<key>longitude</key>
			<real>2.1869168000000001</real>
			<key>name</key>
			<string>"La Sagrera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.429557799999998</real>
			<key>longitude</key>
			<real>2.1935639</real>
			<key>name</key>
			<string>"Onze de Setembre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.436128099999998</real>
			<key>longitude</key>
			<real>2.2051457999999999</real>
			<key>name</key>
			<string>"Bon Pastor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.443984999999998</real>
			<key>longitude</key>
			<real>2.2100270000000002</real>
			<key>name</key>
			<string>"Can Peixauet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.446849800000003</real>
			<key>longitude</key>
			<real>2.2158091</real>
			<key>name</key>
			<string>"Santa Rosa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.452287599999998</real>
			<key>longitude</key>
			<real>2.2198074999999999</real>
			<key>name</key>
			<string>"Fondo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.454796000000002</real>
			<key>longitude</key>
			<real>2.2121770000000001</real>
			<key>name</key>
			<string>"Església Major"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.459412999999998</real>
			<key>longitude</key>
			<real>2.2054290000000001</real>
			<key>name</key>
			<string>"Singuerlín"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.457577000000001</real>
			<key>longitude</key>
			<real>2.1984031000000002</real>
			<key>name</key>
			<string>"Can Zam"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.421870800000001</real>
			<key>longitude</key>
			<real>2.1869168000000001</real>
			<key>name</key>
			<string>"La Sagrera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.429557799999998</real>
			<key>longitude</key>
			<real>2.1935639</real>
			<key>name</key>
			<string>"Onze de Setembre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.436128099999998</real>
			<key>longitude</key>
			<real>2.2051457999999999</real>
			<key>name</key>
			<string>"Bon Pastor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.441099100000002</real>
			<key>longitude</key>
			<real>2.2174049</real>
			<key>name</key>
			<string>"Llefià"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.409229099999997</real>
			<key>longitude</key>
			<real>2.1876546000000001</real>
			<key>name</key>
			<string>"La Salut"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.440141799999999</real>
			<key>longitude</key>
			<real>2.2337931000000002</real>
			<key>name</key>
			<string>"Gorg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.449018199999998</real>
			<key>longitude</key>
			<real>2.1821603999999999</real>
			<key>name</key>
			<string>"Trinitat Nova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.451428300000003</real>
			<key>longitude</key>
			<real>2.1851690000000001</real>
			<key>name</key>
			<string>"Casa de l'Aigua"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.459198999999998</real>
			<key>longitude</key>
			<real>2.1799249999999999</real>
			<key>name</key>
			<string>"Torre Baró-Vallbona"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.460807799999998</real>
			<key>longitude</key>
			<real>2.1746500000000002</real>
			<key>name</key>
			<string>"Ciutat Meridiana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.462421999999997</real>
			<key>longitude</key>
			<real>2.1730499999999999</real>
			<key>name</key>
			<string>"Can Cuiàs"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.398499399999999</real>
			<key>longitude</key>
			<real>2.1255749000000002</real>
			<key>name</key>
			<string>"Sarrià"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.398746000000003</real>
			<key>longitude</key>
			<real>2.1189323</real>
			<key>name</key>
			<string>"Reina Elisenda"</string>
		</dict>
	</array>
</dict>
</plist>
