<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>52.5065939</real>
			<key>longitude</key>
			<real>13.4501374</real>
			<key>name</key>
			<string>"from Warschauer Straße Depot"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5009276</real>
			<key>longitude</key>
			<real>13.4415256</real>
			<key>name</key>
			<string>"Schlesisches Tor (S)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4965063</real>
			<key>longitude</key>
			<real>13.4377465</real>
			<key>name</key>
			<string>"Görlitzer Bahnhof (Gr)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4989969</real>
			<key>longitude</key>
			<real>13.4183337</real>
			<key>name</key>
			<string>"Kottbusser Tor (Kbo)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4983920</real>
			<key>longitude</key>
			<real>13.4058775</real>
			<key>name</key>
			<string>"Prinzenstraße (Pr)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4977511</real>
			<key>longitude</key>
			<real>13.3907574</real>
			<key>name</key>
			<string>"Hallesches Tor (Ho)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4991197</real>
			<key>longitude</key>
			<real>13.3828513</real>
			<key>name</key>
			<string>"Möckernbrücke (Mo)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4986868</real>
			<key>longitude</key>
			<real>13.3750160</real>
			<key>name</key>
			<string>"Gleisdreieck (Go)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4948340</real>
			<key>longitude</key>
			<real>13.2861480</real>
			<key>name</key>
			<string>"Kurfürstenstraße (Kus)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.2957</real>
			<key>longitude</key>
			<real>13.2114</real>
			<key>name</key>
			<string>"Nollendorfplatz (Nu/Nm)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5018313</real>
			<key>longitude</key>
			<real>13.3429854</real>
			<key>name</key>
			<string>"Wittenbergplatz (Wt)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5035252</real>
			<key>longitude</key>
			<real>13.3310686</real>
			<key>name</key>
			<string>"Kurfürstendamm (Kfo)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5028603</real>
			<key>longitude</key>
			<real>13.3261471</real>
			<key>name</key>
			<string>"Uhlandstraße (U)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4975539</real>
			<key>longitude</key>
			<real>13.3634479</real>
			<key>name</key>
			<string>"Bülowstraße (BS)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4994445</real>
			<key>longitude</key>
			<real>13.3543572</real>
			<key>name</key>
			<string>"Nollendorfplatz (No)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5018313</real>
			<key>longitude</key>
			<real>13.3429854</real>
			<key>name</key>
			<string>"Wittenbergplatz (Wt)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5073337</real>
			<key>longitude</key>
			<real>13.3323673</real>
			<key>name</key>
			<string>"Zoologischer Garten(Zo)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.512476</real>
			<key>longitude</key>
			<real>13.322230</real>
			<key>name</key>
			<string>"Ernst-Reuter-Platz (RP)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5117845</real>
			<key>longitude</key>
			<real>13.3094412</real>
			<key>name</key>
			<string>"Deutsche Oper (Obi)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5241671</real>
			<key>longitude</key>
			<real>13.3680906</real>
			<key>name</key>
			<string>"Bismarckstraße (Bmo)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5106448</real>
			<key>longitude</key>
			<real>13.2949721</real>
			<key>name</key>
			<string>"Sophie-Charlotte-Platz (So)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5098933</real>
			<key>longitude</key>
			<real>13.2817138</real>
			<key>name</key>
			<string>"Kaiserdamm (Kd)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5098964</real>
			<key>longitude</key>
			<real>13.2733850</real>
			<key>name</key>
			<string>"Theodor-Heuss-Platz (Th)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5160478</real>
			<key>longitude</key>
			<real>13.2604882</real>
			<key>name</key>
			<string>"Neu-Westend (Nd)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5173223</real>
			<key>longitude</key>
			<real>13.2500629</real>
			<key>name</key>
			<string>"Olympia-Stadion (Sd)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4884466</real>
			<key>longitude</key>
			<real>13.2615343</real>
			<key>name</key>
			<string>"Grunewald Depot"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5257147</real>
			<key>longitude</key>
			<real>13.2410723</real>
			<key>name</key>
			<string>"Ruhleben (Rl)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.1203</real>
			<key>longitude</key>
			<real>11.5966</real>
			<key>name</key>
			<string>"Magdeburger Straße turning plant"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4994445</real>
			<key>longitude</key>
			<real>13.3543572</real>
			<key>name</key>
			<string>"Nollendorfplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5018313</real>
			<key>longitude</key>
			<real>13.3429854</real>
			<key>name</key>
			<string>"Wittenbergplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5005570</real>
			<key>longitude</key>
			<real>13.3367710</real>
			<key>name</key>
			<string>"Augsburger Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5005570</real>
			<key>longitude</key>
			<real>13.3367710</real>
			<key>name</key>
			<string>"Nürnberger Platz (closed)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5073337</real>
			<key>longitude</key>
			<real>13.3323673</real>
			<key>name</key>
			<string>"Spichernstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4938330</real>
			<key>longitude</key>
			<real>13.3240510</real>
			<key>name</key>
			<string>"Hohenzollernplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4904064</real>
			<key>longitude</key>
			<real>13.3142252</real>
			<key>name</key>
			<string>"Fehrbelliner Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4801486</real>
			<key>longitude</key>
			<real>13.3116558</real>
			<key>name</key>
			<string>"Heidelberger Platz (Ringbahn)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4724650</real>
			<key>longitude</key>
			<real>13.3143930</real>
			<key>name</key>
			<string>"Rüdesheimer Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4673095</real>
			<key>longitude</key>
			<real>13.3092759</real>
			<key>name</key>
			<string>"Breitenbachplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4643654</real>
			<key>longitude</key>
			<real>13.2964349</real>
			<key>name</key>
			<string>"Podbielskiallee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4577395</real>
			<key>longitude</key>
			<real>13.2899930</real>
			<key>name</key>
			<string>"Dahlem-Dorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4510000</real>
			<key>longitude</key>
			<real>13.2816510</real>
			<key>name</key>
			<string>"Freie Universität (Thielplatz)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4510000</real>
			<key>longitude</key>
			<real>13.2816510</real>
			<key>name</key>
			<string>"Former Thielplatz "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4503064</real>
			<key>longitude</key>
			<real>13.2698796</real>
			<key>name</key>
			<string>"Oskar-Helene-Heim"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4499127</real>
			<key>longitude</key>
			<real>13.2530553</real>
			<key>name</key>
			<string>"Onkel Toms Hütte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4430060</real>
			<key>longitude</key>
			<real>13.2407698</real>
			<key>name</key>
			<string>"Krumme Lanke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4994445</real>
			<key>longitude</key>
			<real>13.3543572</real>
			<key>name</key>
			<string>"Nollendorfplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4959643</real>
			<key>longitude</key>
			<real>13.3425959</real>
			<key>name</key>
			<string>"Viktoria-Luise-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4883837</real>
			<key>longitude</key>
			<real>13.3401887</real>
			<key>name</key>
			<string>"Bayerischer Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4830963</real>
			<key>longitude</key>
			<real>13.3419908</real>
			<key>name</key>
			<string>"Rathaus Schöneberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4781443</real>
			<key>longitude</key>
			<real>13.3418634</real>
			<key>name</key>
			<string>"Innsbrucker PlatzBerlin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5250839</real>
			<key>longitude</key>
			<real>13.3694020</real>
			<key>name</key>
			<string>"Berlin Hauptbahnhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5250839</real>
			<key>longitude</key>
			<real>13.3694020</real>
			<key>name</key>
			<string>"Stadtbahn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5201488</real>
			<key>longitude</key>
			<real>13.3731300</real>
			<key>name</key>
			<string>"Bundestag"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5165060</real>
			<key>longitude</key>
			<real>13.3818150</real>
			<key>name</key>
			<string>"Brandenburger Tor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5165060</real>
			<key>longitude</key>
			<real>13.3818150</real>
			<key>name</key>
			<string>"Unter den Linden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.1766390</real>
			<key>longitude</key>
			<real>7.5311100</real>
			<key>name</key>
			<string>"Kupfergraben"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5202894</real>
			<key>longitude</key>
			<real>13.3869776</real>
			<key>name</key>
			<string>"Spreeinsel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5202894</real>
			<key>longitude</key>
			<real>13.3869776</real>
			<key>name</key>
			<string>"Spree"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5182775</real>
			<key>longitude</key>
			<real>13.4086443</real>
			<key>name</key>
			<string>"Berliner Rathaus"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5215563</real>
			<key>longitude</key>
			<real>13.4111577</real>
			<key>name</key>
			<string>"Alexanderplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5209533</real>
			<key>longitude</key>
			<real>13.4208336</real>
			<key>name</key>
			<string>"Schillingstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5181396</real>
			<key>longitude</key>
			<real>13.4317167</real>
			<key>name</key>
			<string>"Strausberger Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5167040</real>
			<key>longitude</key>
			<real>13.4449429</real>
			<key>name</key>
			<string>"Weberwiese"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5156401</real>
			<key>longitude</key>
			<real>13.4539770</real>
			<key>name</key>
			<string>"Frankfurter Tor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5144909</real>
			<key>longitude</key>
			<real>13.4657635</real>
			<key>name</key>
			<string>"Samariterstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5150676</real>
			<key>longitude</key>
			<real>13.4745349</real>
			<key>name</key>
			<string>"Frankfurter Allee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5097005</real>
			<key>longitude</key>
			<real>13.4352524</real>
			<key>name</key>
			<string>"Ringbahn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5124460</real>
			<key>longitude</key>
			<real>13.4873501</real>
			<key>name</key>
			<string>"Magdalenenstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5094190</real>
			<key>longitude</key>
			<real>13.4971897</real>
			<key>name</key>
			<string>"Lichtenberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5250839</real>
			<key>longitude</key>
			<real>13.3694020</real>
			<key>name</key>
			<string>"Eastern Railway"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.7158800</real>
			<key>longitude</key>
			<real>14.1398860</real>
			<key>name</key>
			<string>"Wriezen Railway"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5138418</real>
			<key>longitude</key>
			<real>13.5201397</real>
			<key>name</key>
			<string>"Friedrichsfelde"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4969430</real>
			<key>longitude</key>
			<real>13.5234839</real>
			<key>name</key>
			<string>"Tierpark"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4997135</real>
			<key>longitude</key>
			<real>13.5464009</real>
			<key>name</key>
			<string>"Biesdorf-Süd"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5126981</real>
			<key>longitude</key>
			<real>13.5751535</real>
			<key>name</key>
			<string>"Elsterwerdaer Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5126981</real>
			<key>longitude</key>
			<real>13.5751535</real>
			<key>name</key>
			<string>"Wuhletal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5210056</real>
			<key>longitude</key>
			<real>13.5889275</real>
			<key>name</key>
			<string>"Kaulsdorf-Nord"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5292386</real>
			<key>longitude</key>
			<real>13.5909525</real>
			<key>name</key>
			<string>"Kienberg (Gärten der Welt)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5338062</real>
			<key>longitude</key>
			<real>13.5965466</real>
			<key>name</key>
			<string>"Cottbusser Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5362879</real>
			<key>longitude</key>
			<real>13.6052565</real>
			<key>name</key>
			<string>"Hellersdorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5391331</real>
			<key>longitude</key>
			<real>13.6196606</real>
			<key>name</key>
			<string>"Louis-Lewin-Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5381537</real>
			<key>longitude</key>
			<real>13.6343640</real>
			<key>name</key>
			<string>"Hönow"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5562830</real>
			<key>longitude</key>
			<real>13.3416798</real>
			<key>name</key>
			<string>"Rehberge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5895137</real>
			<key>longitude</key>
			<real>13.2837096</real>
			<key>name</key>
			<string>"Alt-Tegel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5828447</real>
			<key>longitude</key>
			<real>13.2892862</real>
			<key>name</key>
			<string>"Borsigwerke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5763620</real>
			<key>longitude</key>
			<real>13.2954587</real>
			<key>name</key>
			<string>"Holzhauser Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5711220</real>
			<key>longitude</key>
			<real>13.3030740</real>
			<key>name</key>
			<string>"Otisstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5671110</real>
			<key>longitude</key>
			<real>13.3115240</real>
			<key>name</key>
			<string>"Scharnweberstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5633094</real>
			<key>longitude</key>
			<real>13.3265710</real>
			<key>name</key>
			<string>"Kurt-Schumacher-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5606644</real>
			<key>longitude</key>
			<real>13.3337069</real>
			<key>name</key>
			<string>"Afrikanische Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5501650</real>
			<key>longitude</key>
			<real>13.3523150</real>
			<key>name</key>
			<string>"Seestraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5461888</real>
			<key>longitude</key>
			<real>13.3588310</real>
			<key>name</key>
			<string>"Leopoldplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5426553</real>
			<key>longitude</key>
			<real>13.3657593</real>
			<key>name</key>
			<string>"Wedding"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5514237</real>
			<key>longitude</key>
			<real>13.3676394</real>
			<key>name</key>
			<string>"Reinickendorfer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5358534</real>
			<key>longitude</key>
			<real>13.3764633</real>
			<key>name</key>
			<string>"Schwartzkopffstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5308476</real>
			<key>longitude</key>
			<real>13.3827706</real>
			<key>name</key>
			<string>"Naturkundemuseum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5260243</real>
			<key>longitude</key>
			<real>13.3872970</real>
			<key>name</key>
			<string>"Oranienburger Tor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Nord-Süd Tunnel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5202894</real>
			<key>longitude</key>
			<real>13.3869776</real>
			<key>name</key>
			<string>"Friedrichstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5165060</real>
			<key>longitude</key>
			<real>13.3818150</real>
			<key>name</key>
			<string>"Unter den Linden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5152903</real>
			<key>longitude</key>
			<real>13.3891092</real>
			<key>name</key>
			<string>"Französische Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5097050</real>
			<key>longitude</key>
			<real>13.3900133</real>
			<key>name</key>
			<string>"Stadtmitte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5069177</real>
			<key>longitude</key>
			<real>13.3903716</real>
			<key>name</key>
			<string>"Kochstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4977511</real>
			<key>longitude</key>
			<real>13.3907574</real>
			<key>name</key>
			<string>"Hallesches Tor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Landwehr Canal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4945858</real>
			<key>longitude</key>
			<real>13.3889075</real>
			<key>name</key>
			<string>"Mehringdamm"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4849498</real>
			<key>longitude</key>
			<real>13.3859310</real>
			<key>name</key>
			<string>"Platz der Luftbrücke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4781688</real>
			<key>longitude</key>
			<real>13.3858158</real>
			<key>name</key>
			<string>"Paradestraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4709431</real>
			<key>longitude</key>
			<real>13.3846362</real>
			<key>name</key>
			<string>"Tempelhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4659253</real>
			<key>longitude</key>
			<real>13.3856226</real>
			<key>name</key>
			<string>"Alt-Tempelhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4605120</real>
			<key>longitude</key>
			<real>13.3849050</real>
			<key>name</key>
			<string>"Kaiserin-Augusta-Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4528353</real>
			<key>longitude</key>
			<real>13.3841356</real>
			<key>name</key>
			<string>"Ullsteinstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4458050</real>
			<key>longitude</key>
			<real>13.3855669</real>
			<key>name</key>
			<string>"Westphalweg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4390071</real>
			<key>longitude</key>
			<real>13.3876928</real>
			<key>name</key>
			<string>"Alt-Mariendorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5346674</real>
			<key>longitude</key>
			<real>13.1983259</real>
			<key>name</key>
			<string>"Spandau "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5357642</real>
			<key>longitude</key>
			<real>13.1995904</real>
			<key>name</key>
			<string>"Rathaus Spandau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5389762</real>
			<key>longitude</key>
			<real>13.2056346</real>
			<key>name</key>
			<string>"Altstadt Spandau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5371913</real>
			<key>longitude</key>
			<real>13.2182564</real>
			<key>name</key>
			<string>"Zitadelle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5388479</real>
			<key>longitude</key>
			<real>13.2315848</real>
			<key>name</key>
			<string>"Haselhorst"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5380980</real>
			<key>longitude</key>
			<real>13.2485930</real>
			<key>name</key>
			<string>"Paulsternstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5369081</real>
			<key>longitude</key>
			<real>13.2629317</real>
			<key>name</key>
			<string>"Rohrdamm"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5365819</real>
			<key>longitude</key>
			<real>13.2728992</real>
			<key>name</key>
			<string>"Siemensdamm"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5366456</real>
			<key>longitude</key>
			<real>13.2865279</real>
			<key>name</key>
			<string>"Halemweg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5365634</real>
			<key>longitude</key>
			<real>13.2934587</real>
			<key>name</key>
			<string>"Jakob-Kaiser-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5302991</real>
			<key>longitude</key>
			<real>13.2998395</real>
			<key>name</key>
			<string>"Jungfernheide (Ringbahn)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5258844</real>
			<key>longitude</key>
			<real>13.3058248</real>
			<key>name</key>
			<string>"Mierendorffplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5176076</real>
			<key>longitude</key>
			<real>13.3060229</real>
			<key>name</key>
			<string>"Richard-Wagner-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5115094</real>
			<key>longitude</key>
			<real>13.3052233</real>
			<key>name</key>
			<string>"Bismarckstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5057497</real>
			<key>longitude</key>
			<real>13.3070244</real>
			<key>name</key>
			<string>"Wilmersdorfer Straße(for Charlottenburg)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4999870</real>
			<key>longitude</key>
			<real>13.3070307</real>
			<key>name</key>
			<string>"Adenauerplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4940091</real>
			<key>longitude</key>
			<real>13.3100037</real>
			<key>name</key>
			<string>"Konstanzer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4904064</real>
			<key>longitude</key>
			<real>13.3142252</real>
			<key>name</key>
			<string>"Fehrbelliner Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4863470</real>
			<key>longitude</key>
			<real>13.3216180</real>
			<key>name</key>
			<string>"Blissestraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4871906</real>
			<key>longitude</key>
			<real>13.3314158</real>
			<key>name</key>
			<string>"Berliner Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4883837</real>
			<key>longitude</key>
			<real>13.3401887</real>
			<key>name</key>
			<string>"Bayerischer Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4895290</real>
			<key>longitude</key>
			<real>13.3502759</real>
			<key>name</key>
			<string>"Eisenacher Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4904257</real>
			<key>longitude</key>
			<real>13.3602580</real>
			<key>name</key>
			<string>"Kleistpark"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4927660</real>
			<key>longitude</key>
			<real>13.3704290</real>
			<key>name</key>
			<string>"Yorckstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4991197</real>
			<key>longitude</key>
			<real>13.3828513</real>
			<key>name</key>
			<string>"Möckernbrücke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4915065</real>
			<key>longitude</key>
			<real>13.3948083</real>
			<key>name</key>
			<string>"Gneisenaustraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4893018</real>
			<key>longitude</key>
			<real>13.4077219</real>
			<key>name</key>
			<string>"Südstern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4865961</real>
			<key>longitude</key>
			<real>13.4244727</real>
			<key>name</key>
			<string>"Hermannplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4814581</real>
			<key>longitude</key>
			<real>13.4344548</real>
			<key>name</key>
			<string>"Rathaus Neukölln"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4770671</real>
			<key>longitude</key>
			<real>13.4389199</real>
			<key>name</key>
			<string>"Karl-Marx-Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4694625</real>
			<key>longitude</key>
			<real>13.4420580</real>
			<key>name</key>
			<string>"Neukölln"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4621944</real>
			<key>longitude</key>
			<real>13.4455135</real>
			<key>name</key>
			<string>"Grenzallee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4527430</real>
			<key>longitude</key>
			<real>13.4489760</real>
			<key>name</key>
			<string>"Blaschkoallee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4453754</real>
			<key>longitude</key>
			<real>13.4497595</real>
			<key>name</key>
			<string>"Parchimer Allee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4372236</real>
			<key>longitude</key>
			<real>13.4484002</real>
			<key>name</key>
			<string>"Britz-Süd"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4291356</real>
			<key>longitude</key>
			<real>13.4533545</real>
			<key>name</key>
			<string>"Johannisthaler Chaussee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4372236</real>
			<key>longitude</key>
			<real>13.4484002</real>
			<key>name</key>
			<string>"Britz Depot"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4247501</real>
			<key>longitude</key>
			<real>13.4624340</real>
			<key>name</key>
			<string>"Lipschitzallee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4232291</real>
			<key>longitude</key>
			<real>13.4746826</real>
			<key>name</key>
			<string>"Wutzkyallee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4232586</real>
			<key>longitude</key>
			<real>13.4837427</real>
			<key>name</key>
			<string>"Zwickauer Damm"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4225200</real>
			<key>longitude</key>
			<real>13.4869600</real>
			<key>name</key>
			<string>"Rudow X7 171 N7"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4162281</real>
			<key>longitude</key>
			<real>13.4952938</real>
			<key>name</key>
			<string>"Rudow"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5958884</real>
			<key>longitude</key>
			<real>13.3362957</real>
			<key>name</key>
			<string>"Wittenau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5882180</real>
			<key>longitude</key>
			<real>13.3255680</real>
			<key>name</key>
			<string>"Rathaus Reinickendorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5785406</real>
			<key>longitude</key>
			<real>13.3330357</real>
			<key>name</key>
			<string>"Karl-Bonhoeffer-Nervenklinik"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5753263</real>
			<key>longitude</key>
			<real>13.3396447</real>
			<key>name</key>
			<string>"Lindauer Allee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5746336</real>
			<key>longitude</key>
			<real>13.3474632</real>
			<key>name</key>
			<string>"Paracelsus-Bad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5705713</real>
			<key>longitude</key>
			<real>13.3611675</real>
			<key>name</key>
			<string>"Residenzstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5639531</real>
			<key>longitude</key>
			<real>13.3642776</real>
			<key>name</key>
			<string>"Franz-Neumann-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5567920</real>
			<key>longitude</key>
			<real>13.3733550</real>
			<key>name</key>
			<string>"Osloer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5525835</real>
			<key>longitude</key>
			<real>13.3815645</real>
			<key>name</key>
			<string>"Pankstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5487591</real>
			<key>longitude</key>
			<real>13.3889514</real>
			<key>name</key>
			<string>"Gesundbrunnen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5419986</real>
			<key>longitude</key>
			<real>13.3930819</real>
			<key>name</key>
			<string>"Voltastraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5380655</real>
			<key>longitude</key>
			<real>13.3961695</real>
			<key>name</key>
			<string>"Bernauer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5296890</real>
			<key>longitude</key>
			<real>13.4013849</real>
			<key>name</key>
			<string>"Rosenthaler Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5250659</real>
			<key>longitude</key>
			<real>13.4062013</real>
			<key>name</key>
			<string>"Weinmeisterstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5141787</real>
			<key>longitude</key>
			<real>13.4195851</real>
			<key>name</key>
			<string>"Jannowitzbrücke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5108883</real>
			<key>longitude</key>
			<real>13.4161631</real>
			<key>name</key>
			<string>"Heinrich-Heine-Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5036429</real>
			<key>longitude</key>
			<real>13.4107740</real>
			<key>name</key>
			<string>"Moritzplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4989969</real>
			<key>longitude</key>
			<real>13.4183337</real>
			<key>name</key>
			<string>"Kottbusser Tor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4926961</real>
			<key>longitude</key>
			<real>13.4221445</real>
			<key>name</key>
			<string>"Schönleinstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4865961</real>
			<key>longitude</key>
			<real>13.4244727</real>
			<key>name</key>
			<string>"Hermannplatz U7"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4806846</real>
			<key>longitude</key>
			<real>13.4250992</real>
			<key>name</key>
			<string>"Boddinstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4735911</real>
			<key>longitude</key>
			<real>13.4280646</real>
			<key>name</key>
			<string>"Leinestraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4676642</real>
			<key>longitude</key>
			<real>13.4314852</real>
			<key>name</key>
			<string>"Hermannstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5514237</real>
			<key>longitude</key>
			<real>13.3676394</real>
			<key>name</key>
			<string>"Nauener Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5420775</real>
			<key>longitude</key>
			<real>13.3487555</real>
			<key>name</key>
			<string>"Amrumer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5362456</real>
			<key>longitude</key>
			<real>13.3441534</real>
			<key>name</key>
			<string>"Westhafen (Ringbahn)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5323266</real>
			<key>longitude</key>
			<real>13.3416555</real>
			<key>name</key>
			<string>"Birkenstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5254106</real>
			<key>longitude</key>
			<real>13.3411051</real>
			<key>name</key>
			<string>"Turmstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5185371</real>
			<key>longitude</key>
			<real>13.3422849</real>
			<key>name</key>
			<string>"Hansaplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5073337</real>
			<key>longitude</key>
			<real>13.3323673</real>
			<key>name</key>
			<string>"Zoologischer Garten"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5034297</real>
			<key>longitude</key>
			<real>13.3308759</real>
			<key>name</key>
			<string>"Kurfürstendamm"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.5073337</real>
			<key>longitude</key>
			<real>13.3323673</real>
			<key>name</key>
			<string>"Spichernstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4919920</real>
			<key>longitude</key>
			<real>13.3312100</real>
			<key>name</key>
			<string>"Güntzelstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4776472</real>
			<key>longitude</key>
			<real>13.3290788</real>
			<key>name</key>
			<string>"Bundesplatz (Ringbahn)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4715500</real>
			<key>longitude</key>
			<real>13.3280724</real>
			<key>name</key>
			<string>"Friedrich-Wilhelm-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4650444</real>
			<key>longitude</key>
			<real>13.3281988</real>
			<key>name</key>
			<string>"Walther-Schreiber-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4611830</real>
			<key>longitude</key>
			<real>13.3248360</real>
			<key>name</key>
			<string>"Schloßstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>52.4555306</real>
			<key>longitude</key>
			<real>13.3225525</real>
			<key>name</key>
			<string>"Rathaus Steglitz"</string>
		</dict>
	</array>
</dict>
</plist>