<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>43.243859999999998</real>
			<key>longitude</key>
			<real>-2.89771</real>
			<key>name</key>
			<string>"Etxebarri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.290979999999998</real>
			<key>longitude</key>
			<real>-2.9699200000000001</real>
			<key>name</key>
			<string>"Lutxana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.303909699999998</real>
			<key>longitude</key>
			<real>-2.9744852000000002</real>
			<key>name</key>
			<string>"Erandio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.314630000000001</real>
			<key>longitude</key>
			<real>-2.9868100000000002</real>
			<key>name</key>
			<string>"Astrabudua"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.317880000000002</real>
			<key>longitude</key>
			<real>-2.9916800000000001</real>
			<key>name</key>
			<string>"Leioa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.321330000000003</real>
			<key>longitude</key>
			<real>-3.00102</real>
			<key>name</key>
			<string>"Lamiako"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.326484499999999</real>
			<key>longitude</key>
			<real>-3.0103998000000001</real>
			<key>name</key>
			<string>"Areeta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.260224100000002</real>
			<key>longitude</key>
			<real>-2.9282161000000002</real>
			<key>name</key>
			<string>"Gobela"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.340240000000001</real>
			<key>longitude</key>
			<real>-3.00562</real>
			<key>name</key>
			<string>"Neguri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.344140000000003</real>
			<key>longitude</key>
			<real>-3.0026700000000002</real>
			<key>name</key>
			<string>"Aiboa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.260224100000002</real>
			<key>longitude</key>
			<real>-2.9282161000000002</real>
			<key>name</key>
			<string>"Algorta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.356439999999999</real>
			<key>longitude</key>
			<real>-3.0112700000000001</real>
			<key>name</key>
			<string>"Bidezabal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.367040000000003</real>
			<key>longitude</key>
			<real>-2.9994900000000002</real>
			<key>name</key>
			<string>"Berango"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.375729999999997</real>
			<key>longitude</key>
			<real>-2.9914700000000001</real>
			<key>name</key>
			<string>"Larrabasterra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.380209999999998</real>
			<key>longitude</key>
			<real>-2.97899</real>
			<key>name</key>
			<string>"Sopelana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.378819999999997</real>
			<key>longitude</key>
			<real>-2.9585499999999998</real>
			<key>name</key>
			<string>"Urduliz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.401762900000001</real>
			<key>longitude</key>
			<real>-2.9463986000000002</real>
			<key>name</key>
			<string>"Plentzia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.236567899999997</real>
			<key>longitude</key>
			<real>-2.8945614000000002</real>
			<key>name</key>
			<string>"Basauri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.260224100000002</real>
			<key>longitude</key>
			<real>-2.9282161000000002</real>
			<key>name</key>
			<string>"Ariz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.283009999999997</real>
			<key>longitude</key>
			<real>-2.98245</real>
			<key>name</key>
			<string>"Gurutzeta/Cruces"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.289189999999998</real>
			<key>longitude</key>
			<real>-2.9871599999999998</real>
			<key>name</key>
			<string>"Ansio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.300119500000001</real>
			<key>longitude</key>
			<real>-2.9837695000000002</real>
			<key>name</key>
			<string>"Barakaldo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.298336999999997</real>
			<key>longitude</key>
			<real>-2.9934767</real>
			<key>name</key>
			<string>"Bagatza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.305700000000002</real>
			<key>longitude</key>
			<real>-2.9925999999999999</real>
			<key>name</key>
			<string>"Urbinaga"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.30912</real>
			<key>longitude</key>
			<real>-3.0056699999999998</real>
			<key>name</key>
			<string>"Sestao"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.3146518</real>
			<key>longitude</key>
			<real>-3.0136383000000002</real>
			<key>name</key>
			<string>"Abatxolo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.317770000000003</real>
			<key>longitude</key>
			<real>-3.0207600000000001</real>
			<key>name</key>
			<string>"Portugalete"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.260224100000002</real>
			<key>longitude</key>
			<real>-2.9282161000000002</real>
			<key>name</key>
			<string>"Peñota"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.328949999999999</real>
			<key>longitude</key>
			<real>-3.0342099999999999</real>
			<key>name</key>
			<string>"Santurtzi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.322380000000003</real>
			<key>longitude</key>
			<real>-3.0377700000000001</real>
			<key>name</key>
			<string>"Kabiezes"</string>
		</dict>
	</array>
</dict>
</plist>
