<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>42.3518776</real>
			<key>longitude</key>
			<real>-71.0551042</real>
			<key>name</key>
			<string>"25 Dry Dock Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3518776</real>
			<key>longitude</key>
			<real>-71.0551042</real>
			<key>name</key>
			<string>"306 Northern Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3437540</real>
			<key>longitude</key>
			<real>-71.0263300</real>
			<key>name</key>
			<string>"88 Black Falcon Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3743290</real>
			<key>longitude</key>
			<real>-71.0302381</real>
			<key>name</key>
			<string>"Airport"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3301540</real>
			<key>longitude</key>
			<real>-71.0576550</real>
			<key>name</key>
			<string>"Andrew"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3597933</real>
			<key>longitude</key>
			<real>-71.0515902</real>
			<key>name</key>
			<string>"Aquarium"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3520127</real>
			<key>longitude</key>
			<real>-71.0708772</real>
			<key>name</key>
			<string>"Arlington"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2844548</real>
			<key>longitude</key>
			<real>-71.0637444</real>
			<key>name</key>
			<string>"Ashmont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3927378</real>
			<key>longitude</key>
			<real>-71.0772757</real>
			<key>name</key>
			<string>"Assembly"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3517852</real>
			<key>longitude</key>
			<real>-71.1216558</real>
			<key>name</key>
			<string>"Babcock Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3474034</real>
			<key>longitude</key>
			<real>-71.0755662</real>
			<key>name</key>
			<string>"Back Bay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3295878</real>
			<key>longitude</key>
			<real>-71.1109616</real>
			<key>name</key>
			<string>"Back of the Hill"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3972020</real>
			<key>longitude</key>
			<real>-70.9925053</real>
			<key>name</key>
			<string>"Beachmont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3358694</real>
			<key>longitude</key>
			<real>-71.1404847</real>
			<key>name</key>
			<string>"Beaconsfield"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3492930</real>
			<key>longitude</key>
			<real>-71.1002580</real>
			<key>name</key>
			<string>"Blandford Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3400868</real>
			<key>longitude</key>
			<real>-71.1669778</real>
			<key>name</key>
			<string>"Boston College"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3500288</real>
			<key>longitude</key>
			<real>-71.1071201</real>
			<key>name</key>
			<string>"Boston University Central"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3496816</real>
			<key>longitude</key>
			<real>-71.1042146</real>
			<key>name</key>
			<string>"Boston University East"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3507849</real>
			<key>longitude</key>
			<real>-71.1133865</real>
			<key>name</key>
			<string>"Boston University West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3613650</real>
			<key>longitude</key>
			<real>-71.0620370</real>
			<key>name</key>
			<string>"Bowdoin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3529238</real>
			<key>longitude</key>
			<real>-71.0645040</real>
			<key>name</key>
			<string>"Boylston"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2077069</real>
			<key>longitude</key>
			<real>-71.0005008</real>
			<key>name</key>
			<string>"Braintree"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3400230</real>
			<key>longitude</key>
			<real>-71.1290820</real>
			<key>name</key>
			<string>"Brandon Hall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3327720</real>
			<key>longitude</key>
			<real>-71.0950963</real>
			<key>name</key>
			<string>"Brigham CircleBroadwa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3313905</real>
			<key>longitude</key>
			<real>-71.1265540</real>
			<key>name</key>
			<string>"Brookline Hills"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3327852</real>
			<key>longitude</key>
			<real>-71.1166677</real>
			<key>name</key>
			<string>"Brookline Village"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2723430</real>
			<key>longitude</key>
			<real>-71.0625840</real>
			<key>name</key>
			<string>"Butler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2809940</real>
			<key>longitude</key>
			<real>-71.0854750</real>
			<key>name</key>
			<string>"Capen Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2796820</real>
			<key>longitude</key>
			<real>-71.0604320</real>
			<key>name</key>
			<string>"Cedar Grove"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2700566</real>
			<key>longitude</key>
			<real>-71.0734108</real>
			<key>name</key>
			<string>"Central Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3743684</real>
			<key>longitude</key>
			<real>-71.0395542</real>
			<key>name</key>
			<string>"Central"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3611376</real>
			<key>longitude</key>
			<real>-71.0705245</real>
			<key>name</key>
			<string>"Charles/MGH"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3518776</real>
			<key>longitude</key>
			<real>-71.0551042</real>
			<key>name</key>
			<string>"Red Line"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3664016</real>
			<key>longitude</key>
			<real>-71.0621180</real>
			<key>name</key>
			<string>"Boston/West End"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3268724</real>
			<key>longitude</key>
			<real>-71.1644695</real>
			<key>name</key>
			<string>"Chestnut Hil Chinatow"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3526379</real>
			<key>longitude</key>
			<real>-71.0623959</real>
			<key>name</key>
			<string>"Chinatown"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3408050</real>
			<key>longitude</key>
			<real>-71.1507110</real>
			<key>name</key>
			<string>"Chiswick Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3361957</real>
			<key>longitude</key>
			<real>-71.1489867</real>
			<key>name</key>
			<string>"Cleveland Circle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3736807</real>
			<key>longitude</key>
			<real>-71.0696846</real>
			<key>name</key>
			<string>"Community College"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3423223</real>
			<key>longitude</key>
			<real>-71.1206558</real>
			<key>name</key>
			<string>"Coolidge Corner"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3497931</real>
			<key>longitude</key>
			<real>-71.0780157</real>
			<key>name</key>
			<string>"Copley"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3526159</real>
			<key>longitude</key>
			<real>-71.0469606</real>
			<key>name</key>
			<string>"Courthouse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3967488</real>
			<key>longitude</key>
			<real>-71.1218155</real>
			<key>name</key>
			<string>"Davis"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3377511</real>
			<key>longitude</key>
			<real>-71.1421769</real>
			<key>name</key>
			<string>"Dean Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>33.8035492</real>
			<key>longitude</key>
			<real>-117.8774523</real>
			<key>name</key>
			<string>"Design Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3554793</real>
			<key>longitude</key>
			<real>-71.0606409</real>
			<key>name</key>
			<string>"Downtown Crossing"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3297049</real>
			<key>longitude</key>
			<real>-71.0838925</real>
			<key>name</key>
			<string>"Dudley Square"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3428486</real>
			<key>longitude</key>
			<real>-71.0628765</real>
			<key>name</key>
			<string>"East Berkeley Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3189361</real>
			<key>longitude</key>
			<real>-71.2166455</real>
			<key>name</key>
			<string>"Eliot"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3371340</real>
			<key>longitude</key>
			<real>-71.1452594</real>
			<key>name</key>
			<string>"Englewood Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3396128</real>
			<key>longitude</key>
			<real>-71.1311647</real>
			<key>name</key>
			<string>"Fairbanks"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3453917</real>
			<key>longitude</key>
			<real>-71.1043200</real>
			<key>name</key>
			<string>"Fenway"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3337060</real>
			<key>longitude</key>
			<real>-71.1057280</real>
			<key>name</key>
			<string>"Fenwood Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2999406</real>
			<key>longitude</key>
			<real>-71.0618518</real>
			<key>name</key>
			<string>"Fields Corner"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3006905</real>
			<key>longitude</key>
			<real>-71.1139724</real>
			<key>name</key>
			<string>"Forest Hills"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3597050</real>
			<key>longitude</key>
			<real>-71.0592150</real>
			<key>name</key>
			<string>"Government Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3103968</real>
			<key>longitude</key>
			<real>-71.1075480</real>
			<key>name</key>
			<string>"Green Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3486717</real>
			<key>longitude</key>
			<real>-71.1346281</real>
			<key>name</key>
			<string>"Griggs Street Long Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3501363</real>
			<key>longitude</key>
			<real>-71.1315628</real>
			<key>name</key>
			<string>"Harvard Avenu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3449210</real>
			<key>longitude</key>
			<real>-71.1112393</real>
			<key>name</key>
			<string>"Hawes Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3626414</real>
			<key>longitude</key>
			<real>-71.0581147</real>
			<key>name</key>
			<string>"Haymarket"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3283427</real>
			<key>longitude</key>
			<real>-71.1105468</real>
			<key>name</key>
			<string>"Heath Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3474034</real>
			<key>longitude</key>
			<real>-71.0755662</real>
			<key>name</key>
			<string>"Herald Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3479355</real>
			<key>longitude</key>
			<real>-71.0876744</real>
			<key>name</key>
			<string>"Hynes Convention Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3231162</real>
			<key>longitude</key>
			<real>-71.0997828</real>
			<key>name</key>
			<string>"Jackson Square"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3206058</real>
			<key>longitude</key>
			<real>-71.0523646</real>
			<key>name</key>
			<string>"JFK UMass"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3622401</real>
			<key>longitude</key>
			<real>-71.0862248</real>
			<key>name</key>
			<string>"Kendall MIT"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3488889</real>
			<key>longitude</key>
			<real>-71.0956665</real>
			<key>name</key>
			<string>"Kenmore"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3440248</real>
			<key>longitude</key>
			<real>-71.1144992</real>
			<key>name</key>
			<string>"Kent Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3705121</real>
			<key>longitude</key>
			<real>-71.0770852</real>
			<key>name</key>
			<string>"Lechmere"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3366467</real>
			<key>longitude</key>
			<real>-71.0894067</real>
			<key>name</key>
			<string>"Lenox Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3360416</real>
			<key>longitude</key>
			<real>-71.0997300</real>
			<key>name</key>
			<string>"Longwood"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3360416</real>
			<key>longitude</key>
			<real>-71.0997300</real>
			<key>name</key>
			<string>"Longwood Medical Area"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.4268450</real>
			<key>longitude</key>
			<real>-71.0742895</real>
			<key>name</key>
			<string>"Malden Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3415167</real>
			<key>longitude</key>
			<real>-71.0835537</real>
			<key>name</key>
			<string>"Massachusetts Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3415167</real>
			<key>longitude</key>
			<real>-71.0835537</real>
			<key>name</key>
			<string>"Massachusetts Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2677842</real>
			<key>longitude</key>
			<real>-71.0918292</real>
			<key>name</key>
			<string>"Mattapan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3691285</real>
			<key>longitude</key>
			<real>-71.0395359</real>
			<key>name</key>
			<string>"Maverick"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3317761</real>
			<key>longitude</key>
			<real>-71.0741453</real>
			<key>name</key>
			<string>"Melnea Cass Boulevard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2704081</real>
			<key>longitude</key>
			<real>-71.0671162</real>
			<key>name</key>
			<string>"Milton"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3333473</real>
			<key>longitude</key>
			<real>-71.1090581</real>
			<key>name</key>
			<string>"Mission Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3393810</real>
			<key>longitude</key>
			<real>-71.0940480</real>
			<key>name</key>
			<string>"Museum of Fine Arts"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3295392</real>
			<key>longitude</key>
			<real>-71.1924828</real>
			<key>name</key>
			<string>"Newton Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3225560</real>
			<key>longitude</key>
			<real>-71.2052306</real>
			<key>name</key>
			<string>"Newton Highlands"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3618507</real>
			<key>longitude</key>
			<real>-71.2600860</real>
			<key>name</key>
			<string>"Newton Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2757911</real>
			<key>longitude</key>
			<real>-71.0301516</real>
			<key>name</key>
			<string>"North Quincy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3664016</real>
			<key>longitude</key>
			<real>-71.0621180</real>
			<key>name</key>
			<string>"North Station"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3404010</real>
			<key>longitude</key>
			<real>-71.0888060</real>
			<key>name</key>
			<string>"Northeastern University"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3498940</real>
			<key>longitude</key>
			<real>-71.0413280</real>
			<key>name</key>
			<string>"Northern Avenue - Harbor Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3498940</real>
			<key>longitude</key>
			<real>-71.0413280</real>
			<key>name</key>
			<string>"Northern Avenue - Tide Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.4366800</real>
			<key>longitude</key>
			<real>-71.0710970</real>
			<key>name</key>
			<string>"Oak Grove"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3869390</real>
			<key>longitude</key>
			<real>-71.0048351</real>
			<key>name</key>
			<string>"Orient Heights"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3517667</real>
			<key>longitude</key>
			<real>-71.1252142</real>
			<key>name</key>
			<string>"Packards Corner"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3563570</real>
			<key>longitude</key>
			<real>-71.0623345</real>
			<key>name</key>
			<string>"Park Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3515210</real>
			<key>longitude</key>
			<real>-71.1188890</real>
			<key>name</key>
			<string>"Pleasant Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3883876</real>
			<key>longitude</key>
			<real>-71.1191476</real>
			<key>name</key>
			<string>"Porter"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3456562</real>
			<key>longitude</key>
			<real>-71.0811901</real>
			<key>name</key>
			<string>"Prudential"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2333910</real>
			<key>longitude</key>
			<real>-71.0071530</real>
			<key>name</key>
			<string>"Quincy Adams"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2519916</real>
			<key>longitude</key>
			<real>-71.0055016</real>
			<key>name</key>
			<string>"Quincy Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3350916</real>
			<key>longitude</key>
			<real>-71.1488306</real>
			<key>name</key>
			<string>"Reservoir"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.4078643</real>
			<key>longitude</key>
			<real>-70.9925268</real>
			<key>name</key>
			<string>"Revere Beach"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3373744</real>
			<key>longitude</key>
			<real>-71.2525991</real>
			<key>name</key>
			<string>"Riverside"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3316840</real>
			<key>longitude</key>
			<real>-71.1119310</real>
			<key>name</key>
			<string>"Riverway"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3313358</real>
			<key>longitude</key>
			<real>-71.0954743</real>
			<key>name</key>
			<string>"Roxbury Crossing"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3366467</real>
			<key>longitude</key>
			<real>-71.0894067</real>
			<key>name</key>
			<string>"Ruggles"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3112534</real>
			<key>longitude</key>
			<real>-71.0533316</real>
			<key>name</key>
			<string>"Savin Hill"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3668251</real>
			<key>longitude</key>
			<real>-71.0677604</real>
			<key>name</key>
			<string>"Science Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2931284</real>
			<key>longitude</key>
			<real>-71.0658033</real>
			<key>name</key>
			<string>"Shawmut"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3455593</real>
			<key>longitude</key>
			<real>-71.0399598</real>
			<key>name</key>
			<string>"Silver Line Way"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3504505</real>
			<key>longitude</key>
			<real>-71.0561242</real>
			<key>name</key>
			<string>"South Station"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3518776</real>
			<key>longitude</key>
			<real>-71.0551042</real>
			<key>name</key>
			<string>"South Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3459064</real>
			<key>longitude</key>
			<real>-71.1077533</real>
			<key>name</key>
			<string>"St. Marys Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3511057</real>
			<key>longitude</key>
			<real>-71.1160314</real>
			<key>name</key>
			<string>"St. Paul Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3511057</real>
			<key>longitude</key>
			<real>-71.1160314</real>
			<key>name</key>
			<string>"St. Paul Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3587181</real>
			<key>longitude</key>
			<real>-71.0573287</real>
			<key>name</key>
			<string>"State"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3172298</real>
			<key>longitude</key>
			<real>-71.1041957</real>
			<key>name</key>
			<string>"Stony Brook"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3905007</real>
			<key>longitude</key>
			<real>-70.9971226</real>
			<key>name</key>
			<string>"Suffolk Downs"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3842634</real>
			<key>longitude</key>
			<real>-71.0769997</real>
			<key>name</key>
			<string>"Sullivan Square"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3411100</real>
			<key>longitude</key>
			<real>-71.1256100</real>
			<key>name</key>
			<string>"Summit Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3416140</real>
			<key>longitude</key>
			<real>-71.1462020</real>
			<key>name</key>
			<string>"Sutherland Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3426870</real>
			<key>longitude</key>
			<real>-71.0850560</real>
			<key>name</key>
			<string>"Symphony"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3475122</real>
			<key>longitude</key>
			<real>-71.0998536</real>
			<key>name</key>
			<string>"Tappan Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3518776</real>
			<key>longitude</key>
			<real>-71.0551042</real>
			<key>name</key>
			<string>"Terminal A"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3615029</real>
			<key>longitude</key>
			<real>-71.0186593</real>
			<key>name</key>
			<string>"Terminal B Stop 1"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3619701</real>
			<key>longitude</key>
			<real>-71.0180355</real>
			<key>name</key>
			<string>"Terminal B Stop 2"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3518776</real>
			<key>longitude</key>
			<real>-71.0551042</real>
			<key>name</key>
			<string>"Terminal C"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3693552</real>
			<key>longitude</key>
			<real>-71.0202133</real>
			<key>name</key>
			<string>"Terminal E"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3496620</real>
			<key>longitude</key>
			<real>-71.0639170</real>
			<key>name</key>
			<string>"Tufts Medical Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3518776</real>
			<key>longitude</key>
			<real>-71.0551042</real>
			<key>name</key>
			<string>"Union Park Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2683220</real>
			<key>longitude</key>
			<real>-71.0815660</real>
			<key>name</key>
			<string>"Valley Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3581940</real>
			<key>longitude</key>
			<real>-71.0597420</real>
			<key>name</key>
			<string>"Waban"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3482708</real>
			<key>longitude</key>
			<real>-71.1404333</real>
			<key>name</key>
			<string>"Warren Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3426253</real>
			<key>longitude</key>
			<real>-71.1438475</real>
			<key>name</key>
			<string>"Washington Square"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3440825</real>
			<key>longitude</key>
			<real>-71.1425553</real>
			<key>name</key>
			<string>"Washington Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.4016687</real>
			<key>longitude</key>
			<real>-71.0771444</real>
			<key>name</key>
			<string>"Wellington"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2667694</real>
			<key>longitude</key>
			<real>-71.0205142</real>
			<key>name</key>
			<string>"Wollaston"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.4136428</real>
			<key>longitude</key>
			<real>-70.9915997</real>
			<key>name</key>
			<string>"Wonderland"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3796088</real>
			<key>longitude</key>
			<real>-71.0228983</real>
			<key>name</key>
			<string>"Wood Island"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3333492</real>
			<key>longitude</key>
			<real>-71.2432291</real>
			<key>name</key>
			<string>"Woodland"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.2612373</real>
			<key>longitude</key>
			<real>-71.7949506</real>
			<key>name</key>
			<string>"Worcester Square"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.3485954</real>
			<key>longitude</key>
			<real>-71.0423848</real>
			<key>name</key>
			<string>"World Trade Center"</string>
		</dict>
	</array>
</dict>
</plist>