<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>50.8535081</real>
			<key>longitude</key>
			<real>4.3230460</real>
			<key>name</key>
			<string>"Beekkant"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8569313</real>
			<key>longitude</key>
			<real>4.3317986</real>
			<key>name</key>
			<string>"Étangs Noirs"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8550600</real>
			<key>longitude</key>
			<real>4.3400930</real>
			<key>name</key>
			<string>"Comte de Flandre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8521100</real>
			<key>longitude</key>
			<real>4.3477391</real>
			<key>name</key>
			<string>"Sainte-Catherine"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8511790</real>
			<key>longitude</key>
			<real>4.3524360</real>
			<key>name</key>
			<string>"De Brouckère"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8454872</real>
			<key>longitude</key>
			<real>4.3570163</real>
			<key>name</key>
			<string>"Gare Centrale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8469910</real>
			<key>longitude</key>
			<real>4.3624620</real>
			<key>name</key>
			<string>"Parc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8452588</real>
			<key>longitude</key>
			<real>4.3688622</real>
			<key>name</key>
			<string>"Arts-Loi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8436650</real>
			<key>longitude</key>
			<real>4.3776120</real>
			<key>name</key>
			<string>"Maelbeek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8432800</real>
			<key>longitude</key>
			<real>4.3807250</real>
			<key>name</key>
			<string>"Schuman"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8395013</real>
			<key>longitude</key>
			<real>4.3988431</real>
			<key>name</key>
			<string>"Mérode"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8371230</real>
			<key>longitude</key>
			<real>4.4071820</real>
			<key>name</key>
			<string>"Montgomery"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8401902</real>
			<key>longitude</key>
			<real>4.4138632</real>
			<key>name</key>
			<string>"Joséphine-Charlotte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8422756</real>
			<key>longitude</key>
			<real>4.4177128</real>
			<key>name</key>
			<string>"Gribaumont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8422756</real>
			<key>longitude</key>
			<real>4.4177128</real>
			<key>name</key>
			<string>"Gribaumont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8477918</real>
			<key>longitude</key>
			<real>4.4359313</real>
			<key>name</key>
			<string>"Roodebeek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8473374</real>
			<key>longitude</key>
			<real>4.4478940</real>
			<key>name</key>
			<string>"Vandervelde"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8499910</real>
			<key>longitude</key>
			<real>4.4534000</real>
			<key>name</key>
			<string>"Alma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8488992</real>
			<key>longitude</key>
			<real>4.4585598</real>
			<key>name</key>
			<string>"Crainhem"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8410810</real>
			<key>longitude</key>
			<real>4.4653250</real>
			<key>name</key>
			<string>"Stockel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8635768</real>
			<key>longitude</key>
			<real>4.3309486</real>
			<key>name</key>
			<string>"Simonis (Leopold II)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8569532</real>
			<key>longitude</key>
			<real>4.3252116</real>
			<key>name</key>
			<string>"Osseghem"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8535081</real>
			<key>longitude</key>
			<real>4.3230460</real>
			<key>name</key>
			<string>"Beekkant"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8488430</real>
			<key>longitude</key>
			<real>4.3209700</real>
			<key>name</key>
			<string>"Gare de l'Ouest"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8451400</real>
			<key>longitude</key>
			<real>4.3243530</real>
			<key>name</key>
			<string>"Delacroix"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8409000</real>
			<key>longitude</key>
			<real>4.3312140</real>
			<key>name</key>
			<string>"Clemenceau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8364411</real>
			<key>longitude</key>
			<real>4.3347878</real>
			<key>name</key>
			<string>"Gare du Midi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8331630</real>
			<key>longitude</key>
			<real>4.3427890</real>
			<key>name</key>
			<string>"Porte de Hal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8334406</real>
			<key>longitude</key>
			<real>4.3503139</real>
			<key>name</key>
			<string>"Hôtel des Monnaies"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8353483</real>
			<key>longitude</key>
			<real>4.3553321</real>
			<key>name</key>
			<string>"Louise"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8382160</real>
			<key>longitude</key>
			<real>4.3622405</real>
			<key>name</key>
			<string>"Porte de Namur"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8406825</real>
			<key>longitude</key>
			<real>4.3661280</real>
			<key>name</key>
			<string>"Trône"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8452588</real>
			<key>longitude</key>
			<real>4.3688622</real>
			<key>name</key>
			<string>"Arts-Loi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8498369</real>
			<key>longitude</key>
			<real>4.3693595</real>
			<key>name</key>
			<string>"Madou"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8533650</real>
			<key>longitude</key>
			<real>4.3657560</real>
			<key>name</key>
			<string>"Botanique"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8557020</real>
			<key>longitude</key>
			<real>4.3580300</real>
			<key>name</key>
			<string>"Rogier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8570373</real>
			<key>longitude</key>
			<real>4.3529978</real>
			<key>name</key>
			<string>"Yser"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8607881</real>
			<key>longitude</key>
			<real>4.3384765</real>
			<key>name</key>
			<string>"Ribaucourt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8635768</real>
			<key>longitude</key>
			<real>4.3309486</real>
			<key>name</key>
			<string>"Simonis (Elizabeth)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8149070</real>
			<key>longitude</key>
			<real>4.2649822</real>
			<key>name</key>
			<string>"Erasme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8165040</real>
			<key>longitude</key>
			<real>4.2815470</real>
			<key>name</key>
			<string>"Eddy Merckx"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8160320</real>
			<key>longitude</key>
			<real>4.2901390</real>
			<key>name</key>
			<string>"CERIA"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8210970</real>
			<key>longitude</key>
			<real>4.2938876</real>
			<key>name</key>
			<string>"La Roue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8249720</real>
			<key>longitude</key>
			<real>4.2970930</real>
			<key>name</key>
			<string>"Bizet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8296110</real>
			<key>longitude</key>
			<real>4.3007320</real>
			<key>name</key>
			<string>"Veeweyde"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8346490</real>
			<key>longitude</key>
			<real>4.3050520</real>
			<key>name</key>
			<string>"Saint-Guidon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8394620</real>
			<key>longitude</key>
			<real>4.3120810</real>
			<key>name</key>
			<string>"Aumale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8435920</real>
			<key>longitude</key>
			<real>4.3181490</real>
			<key>name</key>
			<string>"Jacques Brel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8488430</real>
			<key>longitude</key>
			<real>4.3209700</real>
			<key>name</key>
			<string>"Gare de l'Ouest"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8535081</real>
			<key>longitude</key>
			<real>4.3230460</real>
			<key>name</key>
			<string>"Beekkant"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8569313</real>
			<key>longitude</key>
			<real>4.3317986</real>
			<key>name</key>
			<string>"Étangs Noirs"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8550600</real>
			<key>longitude</key>
			<real>4.3400930</real>
			<key>name</key>
			<string>"Comte de Flandre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8521100</real>
			<key>longitude</key>
			<real>4.3477391</real>
			<key>name</key>
			<string>"Sainte-Catherine"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8511790</real>
			<key>longitude</key>
			<real>4.3524360</real>
			<key>name</key>
			<string>"De Brouckère"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8454872</real>
			<key>longitude</key>
			<real>4.3570163</real>
			<key>name</key>
			<string>"Gare Centrale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8469910</real>
			<key>longitude</key>
			<real>4.3624620</real>
			<key>name</key>
			<string>"Parc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8452588</real>
			<key>longitude</key>
			<real>4.3688622</real>
			<key>name</key>
			<string>"Arts-Loi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8436650</real>
			<key>longitude</key>
			<real>4.3776120</real>
			<key>name</key>
			<string>"Maelbeek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8432800</real>
			<key>longitude</key>
			<real>4.3807250</real>
			<key>name</key>
			<string>"Schuman"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8395013</real>
			<key>longitude</key>
			<real>4.3988431</real>
			<key>name</key>
			<string>"Mérode"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8330829</real>
			<key>longitude</key>
			<real>4.4017775</real>
			<key>name</key>
			<string>"Thieffry"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8277660</real>
			<key>longitude</key>
			<real>4.4038810</real>
			<key>name</key>
			<string>"Pétillon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8213093</real>
			<key>longitude</key>
			<real>4.4054181</real>
			<key>name</key>
			<string>"Hankar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8182320</real>
			<key>longitude</key>
			<real>4.4044547</real>
			<key>name</key>
			<string>"Delta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8150912</real>
			<key>longitude</key>
			<real>4.4096845</real>
			<key>name</key>
			<string>"Beaulieu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8135548</real>
			<key>longitude</key>
			<real>4.4208620</real>
			<key>name</key>
			<string>"Demey"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8123271</real>
			<key>longitude</key>
			<real>4.4281877</real>
			<key>name</key>
			<string>"Herrmann-Debroux"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8965063</real>
			<key>longitude</key>
			<real>4.3285952</real>
			<key>name</key>
			<string>"Roi Baudouin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8969566</real>
			<key>longitude</key>
			<real>4.3358579</real>
			<key>name</key>
			<string>"Heysel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8904046</real>
			<key>longitude</key>
			<real>4.3371659</real>
			<key>name</key>
			<string>"Houba-Brugmann"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8864001</real>
			<key>longitude</key>
			<real>4.3421281</real>
			<key>name</key>
			<string>"Stuyvenbergh"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8792648</real>
			<key>longitude</key>
			<real>4.3492167</real>
			<key>name</key>
			<string>"Bockstael"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8729492</real>
			<key>longitude</key>
			<real>4.3421782</real>
			<key>name</key>
			<string>"Pannenhuis"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8679985</real>
			<key>longitude</key>
			<real>4.3361871</real>
			<key>name</key>
			<string>"Belgica"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8635768</real>
			<key>longitude</key>
			<real>4.3309486</real>
			<key>name</key>
			<string>"Simonis (Leopold II)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8569532</real>
			<key>longitude</key>
			<real>4.3252116</real>
			<key>name</key>
			<string>"Osseghem"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8535081</real>
			<key>longitude</key>
			<real>4.3230460</real>
			<key>name</key>
			<string>"Beekkant"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8488430</real>
			<key>longitude</key>
			<real>4.3209700</real>
			<key>name</key>
			<string>"Gare de l'Ouest"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8451400</real>
			<key>longitude</key>
			<real>4.3243530</real>
			<key>name</key>
			<string>"Delacroix"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8409000</real>
			<key>longitude</key>
			<real>4.3312140</real>
			<key>name</key>
			<string>"Clemenceau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8364411</real>
			<key>longitude</key>
			<real>4.3347878</real>
			<key>name</key>
			<string>"Gare du Midi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8331630</real>
			<key>longitude</key>
			<real>4.3427890</real>
			<key>name</key>
			<string>"Porte de Hal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8334406</real>
			<key>longitude</key>
			<real>4.3503139</real>
			<key>name</key>
			<string>"Hôtel des Monnaies"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8353483</real>
			<key>longitude</key>
			<real>4.3553321</real>
			<key>name</key>
			<string>"Louise"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8382160</real>
			<key>longitude</key>
			<real>4.3622405</real>
			<key>name</key>
			<string>"Porte de Namur"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8406825</real>
			<key>longitude</key>
			<real>4.3661280</real>
			<key>name</key>
			<string>"Trône"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8452588</real>
			<key>longitude</key>
			<real>4.3688622</real>
			<key>name</key>
			<string>"Arts-Loi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8498369</real>
			<key>longitude</key>
			<real>4.3693595</real>
			<key>name</key>
			<string>"Madou"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8533650</real>
			<key>longitude</key>
			<real>4.3657560</real>
			<key>name</key>
			<string>"Botanique"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8557020</real>
			<key>longitude</key>
			<real>4.3580300</real>
			<key>name</key>
			<string>"Rogier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8570373</real>
			<key>longitude</key>
			<real>4.3529978</real>
			<key>name</key>
			<string>"Yser"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8607881</real>
			<key>longitude</key>
			<real>4.3384765</real>
			<key>name</key>
			<string>"Ribaucourt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8635768</real>
			<key>longitude</key>
			<real>4.3309486</real>
			<key>name</key>
			<string>"Simonis (Elizabeth)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8605262</real>
			<key>longitude</key>
			<real>4.3617873</real>
			<key>name</key>
			<string>"Gare du Nord"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8557020</real>
			<key>longitude</key>
			<real>4.3580300</real>
			<key>name</key>
			<string>"Rogier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8511790</real>
			<key>longitude</key>
			<real>4.3524360</real>
			<key>name</key>
			<string>"De Brouckère"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8480680</real>
			<key>longitude</key>
			<real>4.3494270</real>
			<key>name</key>
			<string>"Bourse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8440670</real>
			<key>longitude</key>
			<real>4.3450690</real>
			<key>name</key>
			<string>"Anneessens"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8402178</real>
			<key>longitude</key>
			<real>4.3407743</real>
			<key>name</key>
			<string>"Lemonnier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8364411</real>
			<key>longitude</key>
			<real>4.3347878</real>
			<key>name</key>
			<string>"Gare du Midi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8331630</real>
			<key>longitude</key>
			<real>4.3427890</real>
			<key>name</key>
			<string>"Porte de Hal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8301425</real>
			<key>longitude</key>
			<real>4.3454240</real>
			<key>name</key>
			<string>"Parvis de Saint-Gilles"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8258370</real>
			<key>longitude</key>
			<real>4.3455890</real>
			<key>name</key>
			<string>"Horta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8212600</real>
			<key>longitude</key>
			<real>4.3419020</real>
			<key>name</key>
			<string>"Albert"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8492980</real>
			<key>longitude</key>
			<real>4.4016796</real>
			<key>name</key>
			<string>"Diamant"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8435150</real>
			<key>longitude</key>
			<real>4.4055550</real>
			<key>name</key>
			<string>"Georges Henri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8371230</real>
			<key>longitude</key>
			<real>4.4071820</real>
			<key>name</key>
			<string>"Montgomery"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>50.8329080</real>
			<key>longitude</key>
			<real>4.4051490</real>
			<key>name</key>
			<string>"Boileau"</string>
		</dict>
	</array>
</dict>
</plist>