<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>-34.6085593</real>
			<key>longitude</key>
			<real>-58.3745630</real>
			<key>name</key>
			<string>"Perú Línea D (SBASE)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6095754</real>
			<key>longitude</key>
			<real>-58.3740494</real>
			<key>name</key>
			<string>"Línea E (SBASE)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6088379</real>
			<key>longitude</key>
			<real>-58.3785024</real>
			<key>name</key>
			<string>"Piedras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5867075</real>
			<key>longitude</key>
			<real>-58.3743644</real>
			<key>name</key>
			<string>"Lima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6094170</real>
			<key>longitude</key>
			<real>-58.3866682</real>
			<key>name</key>
			<string>"Sáenz Peña"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6091355</real>
			<key>longitude</key>
			<real>-58.3923353</real>
			<key>name</key>
			<string>"Congreso"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6096644</real>
			<key>longitude</key>
			<real>-58.3983403</real>
			<key>name</key>
			<string>"Pasco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-35.0505192</real>
			<key>longitude</key>
			<real>-60.2546252</real>
			<key>name</key>
			<string>"Alberti"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6096880</real>
			<key>longitude</key>
			<real>-58.4068139</real>
			<key>name</key>
			<string>"Plaza Miserere"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6108111</real>
			<key>longitude</key>
			<real>-58.4151529</real>
			<key>name</key>
			<string>"Loria"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6117636</real>
			<key>longitude</key>
			<real>-58.4217283</real>
			<key>name</key>
			<string>"Castro Barros"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6151114</real>
			<key>longitude</key>
			<real>-58.4292859</real>
			<key>name</key>
			<string>"Río de Janeiro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6180360</real>
			<key>longitude</key>
			<real>-58.4358622</real>
			<key>name</key>
			<string>"Acoyte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6204602</real>
			<key>longitude</key>
			<real>-58.4414010</real>
			<key>name</key>
			<string>"Primera Junta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6235718</real>
			<key>longitude</key>
			<real>-58.4487878</real>
			<key>name</key>
			<string>"Puán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6265525</real>
			<key>longitude</key>
			<real>-58.4561838</real>
			<key>name</key>
			<string>"Carabobo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6290545</real>
			<key>longitude</key>
			<real>-58.4635363</real>
			<key>name</key>
			<string>"San José de Flores"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6309226</real>
			<key>longitude</key>
			<real>-58.4704332</real>
			<key>name</key>
			<string>"San Pedrito"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6028938</real>
			<key>longitude</key>
			<real>-58.3695352</real>
			<key>name</key>
			<string>"Leandro N. Alem"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6037014</real>
			<key>longitude</key>
			<real>-58.3813785</real>
			<key>name</key>
			<string>"Carlos Pellegrini"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6041559</real>
			<key>longitude</key>
			<real>-58.3866980</real>
			<key>name</key>
			<string>"Uruguay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5994411</real>
			<key>longitude</key>
			<real>-58.3928185</real>
			<key>name</key>
			<string>"Callao"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6045522</real>
			<key>longitude</key>
			<real>-58.3991792</real>
			<key>name</key>
			<string>"Pasteur - AMIA"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5871540</real>
			<key>longitude</key>
			<real>-58.3962360</real>
			<key>name</key>
			<string>"Pueyrredón"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6041363</real>
			<key>longitude</key>
			<real>-58.4115815</real>
			<key>name</key>
			<string>"Carlos Gardel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6031669</real>
			<key>longitude</key>
			<real>-58.4209590</real>
			<key>name</key>
			<string>"Medrano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6020836</real>
			<key>longitude</key>
			<real>-58.4309068</real>
			<key>name</key>
			<string>"Ángel Gallardo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5990790</real>
			<key>longitude</key>
			<real>-58.4395806</real>
			<key>name</key>
			<string>"Malabia - O. Pugliese"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5916927</real>
			<key>longitude</key>
			<real>-58.4476183</real>
			<key>name</key>
			<string>"Dorrego"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5868219</real>
			<key>longitude</key>
			<real>-58.4554545</real>
			<key>name</key>
			<string>"Federico Lacroze"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5841312</real>
			<key>longitude</key>
			<real>-58.4665320</real>
			<key>name</key>
			<string>"Tronador - Villa Ortúzar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5815770</real>
			<key>longitude</key>
			<real>-58.4738583</real>
			<key>name</key>
			<string>"Los Incas - Parque Chas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5779984</real>
			<key>longitude</key>
			<real>-58.4807637</real>
			<key>name</key>
			<string>"Echeverría"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5738502</real>
			<key>longitude</key>
			<real>-58.4874172</real>
			<key>name</key>
			<string>"J.M. de Rosas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5867075</real>
			<key>longitude</key>
			<real>-58.3743644</real>
			<key>name</key>
			<string>"Retiro Línea E"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5955465</real>
			<key>longitude</key>
			<real>-58.3774419</real>
			<key>name</key>
			<string>"General San Martín"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6020564</real>
			<key>longitude</key>
			<real>-58.3781246</real>
			<key>name</key>
			<string>"Lavalle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6049387</real>
			<key>longitude</key>
			<real>-58.3790959</real>
			<key>name</key>
			<string>"Diagonal Norte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6089909</real>
			<key>longitude</key>
			<real>-58.3806815</real>
			<key>name</key>
			<string>"Avenida de Mayo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5954860</real>
			<key>longitude</key>
			<real>-58.5352830</real>
			<key>name</key>
			<string>"Moreno"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6182313</real>
			<key>longitude</key>
			<real>-58.3815802</real>
			<key>name</key>
			<string>"Independencia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6223650</real>
			<key>longitude</key>
			<real>-58.3799301</real>
			<key>name</key>
			<string>"San Juan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6279769</real>
			<key>longitude</key>
			<real>-58.3806258</real>
			<key>name</key>
			<string>"Constitución"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6076244</real>
			<key>longitude</key>
			<real>-58.3742572</real>
			<key>name</key>
			<string>"Catedral"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6018623</real>
			<key>longitude</key>
			<real>-58.3853430</real>
			<key>name</key>
			<string>"Tribunales"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5994411</real>
			<key>longitude</key>
			<real>-58.3928185</real>
			<key>name</key>
			<string>"Callao"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5995357</real>
			<key>longitude</key>
			<real>-58.3979528</real>
			<key>name</key>
			<string>"Facultad de Medicina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5871540</real>
			<key>longitude</key>
			<real>-58.3962360</real>
			<key>name</key>
			<string>"Pueyrredón"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5916507</real>
			<key>longitude</key>
			<real>-58.4071373</real>
			<key>name</key>
			<string>"Agüero"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5882586</real>
			<key>longitude</key>
			<real>-58.4112643</real>
			<key>name</key>
			<string>"Bulnes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5851853</real>
			<key>longitude</key>
			<real>-58.4158248</real>
			<key>name</key>
			<string>"Scalabrini Ortiz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5811463</real>
			<key>longitude</key>
			<real>-58.4214350</real>
			<key>name</key>
			<string>"Plaza Italia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5902184</real>
			<key>longitude</key>
			<real>-58.4256511</real>
			<key>name</key>
			<string>"Palermo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5753084</real>
			<key>longitude</key>
			<real>-58.4343265</real>
			<key>name</key>
			<string>"Ministro Carranza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5702465</real>
			<key>longitude</key>
			<real>-58.4443367</real>
			<key>name</key>
			<string>"Olleros"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5661293</real>
			<key>longitude</key>
			<real>-58.4522307</real>
			<key>name</key>
			<string>"José Hernández"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5624104</real>
			<key>longitude</key>
			<real>-58.4562805</real>
			<key>name</key>
			<string>"Juramento"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5559876</real>
			<key>longitude</key>
			<real>-58.4620781</real>
			<key>name</key>
			<string>"Congreso de Tucumán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6095754</real>
			<key>longitude</key>
			<real>-58.3740494</real>
			<key>name</key>
			<string>"Bolívar Línea A"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5584804</real>
			<key>longitude</key>
			<real>-58.4495456</real>
			<key>name</key>
			<string>"Belgrano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6182313</real>
			<key>longitude</key>
			<real>-58.3815802</real>
			<key>name</key>
			<string>"Independencia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6290545</real>
			<key>longitude</key>
			<real>-58.4635363</real>
			<key>name</key>
			<string>"San José"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6224659</real>
			<key>longitude</key>
			<real>-58.3914260</real>
			<key>name</key>
			<string>"Entre Ríos - R. Walsh"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6231337</real>
			<key>longitude</key>
			<real>-58.3971117</real>
			<key>name</key>
			<string>"Pichincha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6238786</real>
			<key>longitude</key>
			<real>-58.4028295</real>
			<key>name</key>
			<string>"Jujuy Línea H"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5748272</real>
			<key>longitude</key>
			<real>-58.4878583</real>
			<key>name</key>
			<string>"General Urquiza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6255451</real>
			<key>longitude</key>
			<real>-58.4166281</real>
			<key>name</key>
			<string>"Boedo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6259317</real>
			<key>longitude</key>
			<real>-58.4272819</real>
			<key>name</key>
			<string>"Avenida La Plata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6280843</real>
			<key>longitude</key>
			<real>-58.4342978</real>
			<key>name</key>
			<string>"José María Moreno"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6316321</real>
			<key>longitude</key>
			<real>-58.4425248</real>
			<key>name</key>
			<string>"Emilio Mitre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6363957</real>
			<key>longitude</key>
			<real>-58.4500653</real>
			<key>name</key>
			<string>"Medalla Milagrosa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6395670</real>
			<key>longitude</key>
			<real>-58.4578483</real>
			<key>name</key>
			<string>"Varela"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6428422</real>
			<key>longitude</key>
			<real>-58.4615272</real>
			<key>name</key>
			<string>"Plaza de los Virreyes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5881541</real>
			<key>longitude</key>
			<real>-58.3981622</real>
			<key>name</key>
			<string>"Las Heras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5948566</real>
			<key>longitude</key>
			<real>-58.4024597</real>
			<key>name</key>
			<string>"Santa Fe - Carlos Jáuregui"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6035460</real>
			<key>longitude</key>
			<real>-58.3729700</real>
			<key>name</key>
			<string>"Corrientes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6089565</real>
			<key>longitude</key>
			<real>-58.4059187</real>
			<key>name</key>
			<string>"Once"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6155295</real>
			<key>longitude</key>
			<real>-58.4047693</real>
			<key>name</key>
			<string>"Venezuela"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6228978</real>
			<key>longitude</key>
			<real>-58.4024697</real>
			<key>name</key>
			<string>"Humberto I"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6293550</real>
			<key>longitude</key>
			<real>-58.4009791</real>
			<key>name</key>
			<string>"Inclán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5867075</real>
			<key>longitude</key>
			<real>-58.3743644</real>
			<key>name</key>
			<string>"Caseros"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6375158</real>
			<key>longitude</key>
			<real>-58.4059690</real>
			<key>name</key>
			<string>"Parque Patricios"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6417967</real>
			<key>longitude</key>
			<real>-58.4126141</real>
			<key>name</key>
			<string>"Hospitales"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6432586</real>
			<key>longitude</key>
			<real>-58.4615249</real>
			<key>name</key>
			<string>"Intendente Saguier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6610160</real>
			<key>longitude</key>
			<real>-58.4157395</real>
			<key>name</key>
			<string>"Balbastro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6544384</real>
			<key>longitude</key>
			<real>-58.4564928</real>
			<key>name</key>
			<string>"Mariano Acosta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6610160</real>
			<key>longitude</key>
			<real>-58.4157395</real>
			<key>name</key>
			<string>"Somellera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6594863</real>
			<key>longitude</key>
			<real>-58.4500080</real>
			<key>name</key>
			<string>"Ana María Janer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.4168141</real>
			<key>longitude</key>
			<real>-58.9657273</real>
			<key>name</key>
			<string>"Fátima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6622195</real>
			<key>longitude</key>
			<real>-58.4466142</real>
			<key>name</key>
			<string>"Fernández de la Cruz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6652751</real>
			<key>longitude</key>
			<real>-58.4484978</real>
			<key>name</key>
			<string>"Presidente Illia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6694846</real>
			<key>longitude</key>
			<real>-58.4490195</real>
			<key>name</key>
			<string>"Parque de la Ciudad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.5979762</real>
			<key>longitude</key>
			<real>-58.3692062</real>
			<key>name</key>
			<string>"Cecilia Grierson"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6745588</real>
			<key>longitude</key>
			<real>-58.4601672</real>
			<key>name</key>
			<string>"Escalada"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6781106</real>
			<key>longitude</key>
			<real>-58.4644122</real>
			<key>name</key>
			<string>"Pola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6805780</real>
			<key>longitude</key>
			<real>-58.4668779</real>
			<key>name</key>
			<string>"Ana Díaz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6835392</real>
			<key>longitude</key>
			<real>-58.4651522</real>
			<key>name</key>
			<string>"Centro Cívico"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6805868</real>
			<key>longitude</key>
			<real>-58.4653460</real>
			<key>name</key>
			<string>"Larrazábal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6827989</real>
			<key>longitude</key>
			<real>-58.4623439</real>
			<key>name</key>
			<string>"Nicolás Descalzi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6859040</real>
			<key>longitude</key>
			<real>-58.4582054</real>
			<key>name</key>
			<string>"Gabino Ezeiza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-34.6895973</real>
			<key>longitude</key>
			<real>-58.4608166</real>
			<key>name</key>
			<string>"General Savio"</string>
		</dict>
	</array>
</dict>
</plist>