<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>35.049948999999998</real>
			<key>longitude</key>
			<real>128.97012000000001</real>
			<key>name</key>
			<string>"Dadaepo Beach"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.057682</real>
			<key>longitude</key>
			<real>128.971294</real>
			<key>name</key>
			<string>"Dadaepo Harbor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.171539600000003</real>
			<key>longitude</key>
			<real>129.1359387</real>
			<key>name</key>
			<string>"Dongmae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.095202999999998</real>
			<key>longitude</key>
			<real>128.96067199999999</real>
			<key>name</key>
			<string>"Sinpyeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.106231999999999</real>
			<key>longitude</key>
			<real>128.96674899999999</real>
			<key>name</key>
			<string>"Hadan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.103613000000003</real>
			<key>longitude</key>
			<real>128.97362000000001</real>
			<key>name</key>
			<string>"Dangni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.099784999999997</real>
			<key>longitude</key>
			<real>128.98330200000001</real>
			<key>name</key>
			<string>"Saha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.099945200000001</real>
			<key>longitude</key>
			<real>128.99264919999999</real>
			<key>name</key>
			<string>"Goejeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.103136999999997</real>
			<key>longitude</key>
			<real>128.99989400000001</real>
			<key>name</key>
			<string>"Daeti"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.110891000000002</real>
			<key>longitude</key>
			<real>129.01211799999999</real>
			<key>name</key>
			<string>"Seodaesin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.110072000000002</real>
			<key>longitude</key>
			<real>129.01792699999999</real>
			<key>name</key>
			<string>"Dongdaesin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.100800999999997</real>
			<key>longitude</key>
			<real>129.01983000000001</real>
			<key>name</key>
			<string>"Toseong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.097121000000001</real>
			<key>longitude</key>
			<real>129.02573000000001</real>
			<key>name</key>
			<string>"Jagalchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.097883000000003</real>
			<key>longitude</key>
			<real>129.03466299999999</real>
			<key>name</key>
			<string>"Nampo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.103954999999999</real>
			<key>longitude</key>
			<real>129.03639699999999</real>
			<key>name</key>
			<string>"Jungang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.115213799999999</real>
			<key>longitude</key>
			<real>129.04225890000001</real>
			<key>name</key>
			<string>"Busan Station"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.121015999999997</real>
			<key>longitude</key>
			<real>129.04290800000001</real>
			<key>name</key>
			<string>"Choryang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.148366000000003</real>
			<key>longitude</key>
			<real>129.06034399999999</real>
			<key>name</key>
			<string>"Busanjin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.134382100000003</real>
			<key>longitude</key>
			<real>129.0544573</real>
			<key>name</key>
			<string>"Jwacheon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.141395000000003</real>
			<key>longitude</key>
			<real>129.05938399999999</real>
			<key>name</key>
			<string>"Beomil"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.147341400000002</real>
			<key>longitude</key>
			<real>129.0592518</real>
			<key>name</key>
			<string>"Beomnaegol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1578157</real>
			<key>longitude</key>
			<real>129.0600331</real>
			<key>name</key>
			<string>"Seomyeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.164667600000001</real>
			<key>longitude</key>
			<real>129.06010989999999</real>
			<key>name</key>
			<string>"Bujeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.173144000000001</real>
			<key>longitude</key>
			<real>129.07135600000001</real>
			<key>name</key>
			<string>"Yangjeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.179991999999999</real>
			<key>longitude</key>
			<real>129.07681500000001</real>
			<key>name</key>
			<string>"City Hall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.186520000000002</real>
			<key>longitude</key>
			<real>129.079857</real>
			<key>name</key>
			<string>"Yeonsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.195549999999997</real>
			<key>longitude</key>
			<real>129.080029</real>
			<key>name</key>
			<string>"Busan Nat'l Univ. of Education"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.205613999999997</real>
			<key>longitude</key>
			<real>129.07850199999999</real>
			<key>name</key>
			<string>"Dongnae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.212553</real>
			<key>longitude</key>
			<real>129.079689</real>
			<key>name</key>
			<string>"Myeongnyun"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.220300000000002</real>
			<key>longitude</key>
			<real>129.086423</real>
			<key>name</key>
			<string>"Oncheonjang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.229790000000001</real>
			<key>longitude</key>
			<real>129.08938499999999</real>
			<key>name</key>
			<string>"Pusan Nat'l Univ."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.238121</real>
			<key>longitude</key>
			<real>129.08811929999999</real>
			<key>name</key>
			<string>"Jangjeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.247304999999997</real>
			<key>longitude</key>
			<real>129.09132500000001</real>
			<key>name</key>
			<string>"Guseo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.257078999999997</real>
			<key>longitude</key>
			<real>129.09142900000001</real>
			<key>name</key>
			<string>"Dusil"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.265186</real>
			<key>longitude</key>
			<real>129.09247999999999</real>
			<key>name</key>
			<string>"Namsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.273256000000003</real>
			<key>longitude</key>
			<real>129.09267199999999</real>
			<key>name</key>
			<string>"Beomeosa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.283611000000001</real>
			<key>longitude</key>
			<real>129.09483900000001</real>
			<key>name</key>
			<string>"Nopo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.169916000000001</real>
			<key>longitude</key>
			<real>129.17683099999999</real>
			<key>name</key>
			<string>"Jangsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.166696999999999</real>
			<key>longitude</key>
			<real>129.16835699999999</real>
			<key>name</key>
			<string>"Jung-dong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.163669800000001</real>
			<key>longitude</key>
			<real>129.15891149999999</real>
			<key>name</key>
			<string>"Haeundae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.161470000000001</real>
			<key>longitude</key>
			<real>129.147944</real>
			<key>name</key>
			<string>"Dongbaek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.168976600000001</real>
			<key>longitude</key>
			<real>129.1360411</real>
			<key>name</key>
			<string>"BEXCO"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.168920999999997</real>
			<key>longitude</key>
			<real>129.13165900000001</real>
			<key>name</key>
			<string>"Centum City"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.167211999999999</real>
			<key>longitude</key>
			<real>129.12197</real>
			<key>name</key>
			<string>"Millak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.179340099999997</real>
			<key>longitude</key>
			<real>129.12479300000001</real>
			<key>name</key>
			<string>"Suyeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.157929000000003</real>
			<key>longitude</key>
			<real>129.11317</real>
			<key>name</key>
			<string>"Gwangan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.149880000000003</real>
			<key>longitude</key>
			<real>129.11101099999999</real>
			<key>name</key>
			<string>"Geumnyeonsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.141928999999998</real>
			<key>longitude</key>
			<real>129.10777300000001</real>
			<key>name</key>
			<string>"Namcheon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.137604000000003</real>
			<key>longitude</key>
			<real>129.10053300000001</real>
			<key>name</key>
			<string>"Kyungsung Univ.–Pukyong Nat'l Univ."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.135160999999997</real>
			<key>longitude</key>
			<real>129.09188599999999</real>
			<key>name</key>
			<string>"Daeyeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.134732999999997</real>
			<key>longitude</key>
			<real>129.08446900000001</real>
			<key>name</key>
			<string>"Motgol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.135610999999997</real>
			<key>longitude</key>
			<real>129.07445799999999</real>
			<key>name</key>
			<string>"Jigegol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.139116399999999</real>
			<key>longitude</key>
			<real>129.06738609999999</real>
			<key>name</key>
			<string>"Munhyeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.153086000000002</real>
			<key>longitude</key>
			<real>129.065403</real>
			<key>name</key>
			<string>"Jeonpo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1578157</real>
			<key>longitude</key>
			<real>129.0600331</real>
			<key>name</key>
			<string>"Seomyeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.157470000000004</real>
			<key>longitude</key>
			<real>129.050456</real>
			<key>name</key>
			<string>"Buam"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.155837300000002</real>
			<key>longitude</key>
			<real>129.04281109999999</real>
			<key>name</key>
			<string>"Gaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1540064</real>
			<key>longitude</key>
			<real>129.03222239999999</real>
			<key>name</key>
			<string>"Dong-eui Univ."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.153323</real>
			<key>longitude</key>
			<real>129.020422</real>
			<key>name</key>
			<string>"Gaegeum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.187582999999997</real>
			<key>longitude</key>
			<real>129.202405</real>
			<key>name</key>
			<string>"Naengjeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.150519000000003</real>
			<key>longitude</key>
			<real>129.00320199999999</real>
			<key>name</key>
			<string>"Jurye"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.155312000000002</real>
			<key>longitude</key>
			<real>128.991579</real>
			<key>name</key>
			<string>"Gamjeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.162281800000002</real>
			<key>longitude</key>
			<real>128.98583500000001</real>
			<key>name</key>
			<string>"Sasang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.173313999999998</real>
			<key>longitude</key>
			<real>128.98379399999999</real>
			<key>name</key>
			<string>"Deokpo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.180390000000003</real>
			<key>longitude</key>
			<real>128.98562799999999</real>
			<key>name</key>
			<string>"Modeok"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.189683000000002</real>
			<key>longitude</key>
			<real>128.98868100000001</real>
			<key>name</key>
			<string>"Mora"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.202801999999998</real>
			<key>longitude</key>
			<real>128.99955700000001</real>
			<key>name</key>
			<string>"Gumyeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.210222999999999</real>
			<key>longitude</key>
			<real>129.005683</real>
			<key>name</key>
			<string>"Deokcheon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.223337999999998</real>
			<key>longitude</key>
			<real>129.00920600000001</real>
			<key>name</key>
			<string>"Sujeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.234529000000002</real>
			<key>longitude</key>
			<real>129.007644</real>
			<key>name</key>
			<string>"Hwamyeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.246136999999997</real>
			<key>longitude</key>
			<real>129.01290700000001</real>
			<key>name</key>
			<string>"Yulli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.258682</real>
			<key>longitude</key>
			<real>129.01240000000001</real>
			<key>name</key>
			<string>"Dongwon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.267226999999998</real>
			<key>longitude</key>
			<real>129.016763</real>
			<key>name</key>
			<string>"Geumgok"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.283611000000001</real>
			<key>longitude</key>
			<real>129.09483900000001</real>
			<key>name</key>
			<string>"Hopo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.169916000000001</real>
			<key>longitude</key>
			<real>129.17683099999999</real>
			<key>name</key>
			<string>"Jeungsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.229790000000001</real>
			<key>longitude</key>
			<real>129.08938499999999</real>
			<key>name</key>
			<string>"Pusan Nat'l Univ. Yangsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.169916000000001</real>
			<key>longitude</key>
			<real>129.17683099999999</real>
			<key>name</key>
			<string>"Namyangsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.169916000000001</real>
			<key>longitude</key>
			<real>129.17683099999999</real>
			<key>name</key>
			<string>"Yangsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.179340099999997</real>
			<key>longitude</key>
			<real>129.12479300000001</real>
			<key>name</key>
			<string>"Suyeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.171593000000001</real>
			<key>longitude</key>
			<real>129.10814300000001</real>
			<key>name</key>
			<string>"Mangmi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.115213799999999</real>
			<key>longitude</key>
			<real>129.04225890000001</real>
			<key>name</key>
			<string>"Baesan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.176487999999999</real>
			<key>longitude</key>
			<real>129.08588399999999</real>
			<key>name</key>
			<string>"Mulmangol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.186520000000002</real>
			<key>longitude</key>
			<real>129.079857</real>
			<key>name</key>
			<string>"Yeonsan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.189630999999999</real>
			<key>longitude</key>
			<real>129.07435100000001</real>
			<key>name</key>
			<string>"Geoje"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.191136999999998</real>
			<key>longitude</key>
			<real>129.06786399999999</real>
			<key>name</key>
			<string>"Sports Complex"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.198602000000001</real>
			<key>longitude</key>
			<real>129.06522200000001</real>
			<key>name</key>
			<string>"Sajik"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.205449000000002</real>
			<key>longitude</key>
			<real>129.06804700000001</real>
			<key>name</key>
			<string>"Minam"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.212994000000002</real>
			<key>longitude</key>
			<real>129.03639899999999</real>
			<key>name</key>
			<string>"Mandeok"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.265186</real>
			<key>longitude</key>
			<real>129.09247999999999</real>
			<key>name</key>
			<string>"Namsanjeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.212130000000002</real>
			<key>longitude</key>
			<real>129.01332099999999</real>
			<key>name</key>
			<string>"Sukdeung"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.210222999999999</real>
			<key>longitude</key>
			<real>129.005683</real>
			<key>name</key>
			<string>"Deokcheon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.206747</real>
			<key>longitude</key>
			<real>128.996433</real>
			<key>name</key>
			<string>"Gupo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.211173500000001</real>
			<key>longitude</key>
			<real>128.98191159999999</real>
			<key>name</key>
			<string>"Gangseo-gu Office"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.212444699999999</real>
			<key>longitude</key>
			<real>128.969436</real>
			<key>name</key>
			<string>"Sports Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.213369999999998</real>
			<key>longitude</key>
			<real>128.96109200000001</real>
			<key>name</key>
			<string>"Daejeo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.205449000000002</real>
			<key>longitude</key>
			<real>129.06804700000001</real>
			<key>name</key>
			<string>"Minam"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.205613999999997</real>
			<key>longitude</key>
			<real>129.07850199999999</real>
			<key>name</key>
			<string>"Dongnae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.201788000000001</real>
			<key>longitude</key>
			<real>129.08390399999999</real>
			<key>name</key>
			<string>"Suan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.200214000000003</real>
			<key>longitude</key>
			<real>129.09093200000001</real>
			<key>name</key>
			<string>"Nangmin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.199857999999999</real>
			<key>longitude</key>
			<real>129.097634</real>
			<key>name</key>
			<string>"Chungnyeolsa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.205199</real>
			<key>longitude</key>
			<real>129.10173800000001</real>
			<key>name</key>
			<string>"Myeongjang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.213182000000003</real>
			<key>longitude</key>
			<real>129.107539</real>
			<key>name</key>
			<string>"Seo-dong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.215809999999998</real>
			<key>longitude</key>
			<real>129.11515700000001</real>
			<key>name</key>
			<string>"Geumsa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.217748</real>
			<key>longitude</key>
			<real>129.12401700000001</real>
			<key>name</key>
			<string>"Banyeo Agricultural Market"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.218167000000001</real>
			<key>longitude</key>
			<real>129.13701699999999</real>
			<key>name</key>
			<string>"Seokdae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.225717000000003</real>
			<key>longitude</key>
			<real>129.14621500000001</real>
			<key>name</key>
			<string>"Youngsan Univ."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.232477000000003</real>
			<key>longitude</key>
			<real>129.15385499999999</real>
			<key>name</key>
			<string>"Dong-Pusan College"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.236037000000003</real>
			<key>longitude</key>
			<real>129.16046700000001</real>
			<key>name</key>
			<string>"Gochon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.237397999999999</real>
			<key>longitude</key>
			<real>129.17181299999999</real>
			<key>name</key>
			<string>"Anpyeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.162281800000002</real>
			<key>longitude</key>
			<real>128.98583500000001</real>
			<key>name</key>
			<string>"Sasang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.163274999999999</real>
			<key>longitude</key>
			<real>128.97777500000001</real>
			<key>name</key>
			<string>"Gwaebeop Renecite"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.166401100000002</real>
			<key>longitude</key>
			<real>128.9548418</real>
			<key>name</key>
			<string>"Seobusan Yutongjigu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.173220000000001</real>
			<key>longitude</key>
			<real>128.9464591</real>
			<key>name</key>
			<string>"Gimhae Int'l Airport"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.181965599999998</real>
			<key>longitude</key>
			<real>128.9541352</real>
			<key>name</key>
			<string>"Deokdu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.196195000000003</real>
			<key>longitude</key>
			<real>128.96359000000001</real>
			<key>name</key>
			<string>"Deunggu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.213369999999998</real>
			<key>longitude</key>
			<real>128.96109200000001</real>
			<key>name</key>
			<string>"Daejeo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.214064</real>
			<key>longitude</key>
			<real>128.95079899999999</real>
			<key>name</key>
			<string>"Pyeonggang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.217688000000003</real>
			<key>longitude</key>
			<real>128.938424</real>
			<key>name</key>
			<string>"Daesa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.157470000000004</real>
			<key>longitude</key>
			<real>129.050456</real>
			<key>name</key>
			<string>"Buram"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.227519999999998</real>
			<key>longitude</key>
			<real>128.92378400000001</real>
			<key>name</key>
			<string>"Jinae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.229011</real>
			<key>longitude</key>
			<real>128.915637</real>
			<key>name</key>
			<string>"Gimhae College"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.228124000000001</real>
			<key>longitude</key>
			<real>128.90176299999999</real>
			<key>name</key>
			<string>"Inje Univ."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.227122000000001</real>
			<key>longitude</key>
			<real>128.89043699999999</real>
			<key>name</key>
			<string>"Gimhae City Hall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.115213799999999</real>
			<key>longitude</key>
			<real>129.04225890000001</real>
			<key>name</key>
			<string>"Buwon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.2273</real>
			<key>longitude</key>
			<real>128.87435300000001</real>
			<key>name</key>
			<string>"Bonghwang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.232773999999999</real>
			<key>longitude</key>
			<real>128.87217899999999</real>
			<key>name</key>
			<string>"Royal Tomb of King Suro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.2428271</real>
			<key>longitude</key>
			<real>128.87350230000001</real>
			<key>name</key>
			<string>"Gimhae Nat'l Museum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.249606</real>
			<key>longitude</key>
			<real>128.869317</real>
			<key>name</key>
			<string>"Yeonji Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.259538999999997</real>
			<key>longitude</key>
			<real>128.867245</real>
			<key>name</key>
			<string>"Presbyterian Univ."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.266770999999999</real>
			<key>longitude</key>
			<real>128.865026</real>
			<key>name</key>
			<string>"Kaya Univ."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.164667600000001</real>
			<key>longitude</key>
			<real>129.06010989999999</real>
			<key>name</key>
			<string>"Bujeon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.189630999999999</real>
			<key>longitude</key>
			<real>129.07435100000001</real>
			<key>name</key>
			<string>"Geoje"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.195549999999997</real>
			<key>longitude</key>
			<real>129.080029</real>
			<key>name</key>
			<string>"Nat'l Univ. of Education"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.205613999999997</real>
			<key>longitude</key>
			<real>129.07850199999999</real>
			<key>name</key>
			<string>"Dongnae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.196027999999998</real>
			<key>longitude</key>
			<real>129.100617</real>
			<key>name</key>
			<string>"Allak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.188999799999998</real>
			<key>longitude</key>
			<real>129.12091889999999</real>
			<key>name</key>
			<string>"Jaesong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.179340099999997</real>
			<key>longitude</key>
			<real>129.12479300000001</real>
			<key>name</key>
			<string>"Centum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.168976600000001</real>
			<key>longitude</key>
			<real>129.1360411</real>
			<key>name</key>
			<string>"BEXCO"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.181832</real>
			<key>longitude</key>
			<real>129.17669599999999</real>
			<key>name</key>
			<string>"Sinhaeundae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.187582999999997</real>
			<key>longitude</key>
			<real>129.202405</real>
			<key>name</key>
			<string>"Songjeong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.243026999999998</real>
			<key>longitude</key>
			<real>129.21854999999999</real>
			<key>name</key>
			<string>"Gijang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.265565000000002</real>
			<key>longitude</key>
			<real>129.233307</real>
			<key>name</key>
			<string>"Ilgwang"</string>
		</dict>
	</array>
</dict>
</plist>
