<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>41.722392300000003</real>
			<key>longitude</key>
			<real>-87.624412399999997</real>
			<key>name</key>
			<string>"95th/Dan Ryan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.735371999999998</real>
			<key>longitude</key>
			<real>-87.624717000000004</real>
			<key>name</key>
			<string>"87th"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.750826400000001</real>
			<key>longitude</key>
			<real>-87.625177800000003</real>
			<key>name</key>
			<string>"79th"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.768945299999999</real>
			<key>longitude</key>
			<real>-87.625817699999999</real>
			<key>name</key>
			<string>"69th"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.780535999999998</real>
			<key>longitude</key>
			<real>-87.630951999999994</real>
			<key>name</key>
			<string>"63rd"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.795420999999997</real>
			<key>longitude</key>
			<real>-87.631177699999995</real>
			<key>name</key>
			<string>"Garfield"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.809713199999997</real>
			<key>longitude</key>
			<real>-87.591314600000004</real>
			<key>name</key>
			<string>"47th"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.831145999999997</real>
			<key>longitude</key>
			<real>-87.630670899999998</real>
			<key>name</key>
			<string>"Sox–35th"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.852637100000003</real>
			<key>longitude</key>
			<real>-87.626417399999994</real>
			<key>name</key>
			<string>"Cermak–"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.853621599999997</real>
			<key>longitude</key>
			<real>-87.631116000000006</real>
			<key>name</key>
			<string>"Chinatown"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.867433599999998</real>
			<key>longitude</key>
			<real>-87.626638200000002</real>
			<key>name</key>
			<string>"Roosevelt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.8801354</real>
			<key>longitude</key>
			<real>-87.628577100000001</real>
			<key>name</key>
			<string>"Monroe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.8918003</real>
			<key>longitude</key>
			<real>-87.628191099999995</real>
			<key>name</key>
			<string>"Grand"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.878673800000001</real>
			<key>longitude</key>
			<real>-87.640333400000003</real>
			<key>name</key>
			<string>"Chicago"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.903883</real>
			<key>longitude</key>
			<real>-87.631948499999993</real>
			<key>name</key>
			<string>"Clark/Division"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.910738600000002</real>
			<key>longitude</key>
			<real>-87.648915299999999</real>
			<key>name</key>
			<string>"North/Clybourn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.925198299999998</real>
			<key>longitude</key>
			<real>-87.652779600000002</real>
			<key>name</key>
			<string>"Fullerton"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.939778199999999</real>
			<key>longitude</key>
			<real>-87.6532859</real>
			<key>name</key>
			<string>"Belmont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.947183500000001</real>
			<key>longitude</key>
			<real>-87.653680100000003</real>
			<key>name</key>
			<string>"Addison"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.953853899999999</real>
			<key>longitude</key>
			<real>-87.654986699999995</real>
			<key>name</key>
			<string>"Sheridan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.965412999999998</real>
			<key>longitude</key>
			<real>-87.657933600000007</real>
			<key>name</key>
			<string>"Wilson"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.969092000000003</real>
			<key>longitude</key>
			<real>-87.658420199999995</real>
			<key>name</key>
			<string>"Lawrence"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.9734014</real>
			<key>longitude</key>
			<real>-87.658533500000004</real>
			<key>name</key>
			<string>"Argyle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.9779567</real>
			<key>longitude</key>
			<real>-87.658653000000001</real>
			<key>name</key>
			<string>"Berwyn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.983504000000003</real>
			<key>longitude</key>
			<real>-87.658839999999998</real>
			<key>name</key>
			<string>"Bryn Mawr"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.990248700000002</real>
			<key>longitude</key>
			<real>-87.659047400000006</real>
			<key>name</key>
			<string>"Thorndale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.018768700000003</real>
			<key>longitude</key>
			<real>-87.672535100000005</real>
			<key>name</key>
			<string>"Howard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.015946599999999</real>
			<key>longitude</key>
			<real>-87.669199699999993</real>
			<key>name</key>
			<string>"Jarvis"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.008283900000002</real>
			<key>longitude</key>
			<real>-87.665953700000003</real>
			<key>name</key>
			<string>"Morse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.001152900000001</real>
			<key>longitude</key>
			<real>-87.661028400000006</real>
			<key>name</key>
			<string>"Loyola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.993762199999999</real>
			<key>longitude</key>
			<real>-87.659121099999993</real>
			<key>name</key>
			<string>"Granville"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.7865313</real>
			<key>longitude</key>
			<real>-87.738739300000006</real>
			<key>name</key>
			<string>"Midway"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.800015799999997</real>
			<key>longitude</key>
			<real>-87.724132299999994</real>
			<key>name</key>
			<string>"Pulaski"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.966101600000002</real>
			<key>longitude</key>
			<real>-87.708739499999993</real>
			<key>name</key>
			<string>"Kedzie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.915996</real>
			<key>longitude</key>
			<real>-87.687033600000007</real>
			<key>name</key>
			<string>"Western"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.829402399999999</real>
			<key>longitude</key>
			<real>-87.680779000000001</real>
			<key>name</key>
			<string>"35th/Archer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.885254500000002</real>
			<key>longitude</key>
			<real>-87.666942800000001</real>
			<key>name</key>
			<string>"Ashland"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.875509600000001</real>
			<key>longitude</key>
			<real>-87.648502500000006</real>
			<key>name</key>
			<string>"Halsted"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.867433599999998</real>
			<key>longitude</key>
			<real>-87.626638200000002</real>
			<key>name</key>
			<string>"Roosevelt Bus interchange"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.039388000000002</real>
			<key>longitude</key>
			<real>-87.752286699999999</real>
			<key>name</key>
			<string>"Dempster–Skokie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>42.027681899999997</real>
			<key>longitude</key>
			<real>-87.747767699999997</real>
			<key>name</key>
			<string>"Oakton–Skokie"</string>
		</dict>
	</array>
</dict>
</plist>
