<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>55.6635499</real>
			<key>longitude</key>
			<real>12.6026978</real>
			<key>name</key>
			<string>"Amagerbro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6380514</real>
			<key>longitude</key>
			<real>12.5829284</real>
			<key>name</key>
			<string>"Bella Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6720540</real>
			<key>longitude</key>
			<real>12.5913851</real>
			<key>name</key>
			<string>"Christianshavn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6558129</real>
			<key>longitude</key>
			<real>12.5889897</real>
			<key>name</key>
			<string>"DR Byen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6816802</real>
			<key>longitude</key>
			<real>12.5231573</real>
			<key>name</key>
			<string>"Fasanvej"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6453484</real>
			<key>longitude</key>
			<real>12.6383238</real>
			<key>name</key>
			<string>"Femøren"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6858686</real>
			<key>longitude</key>
			<real>12.4995267</real>
			<key>name</key>
			<string>"Flintholm"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6817052</real>
			<key>longitude</key>
			<real>12.5530155</real>
			<key>name</key>
			<string>"Forum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6812026</real>
			<key>longitude</key>
			<real>12.5339933</real>
			<key>name</key>
			<string>"Frederiksberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6637131</real>
			<key>longitude</key>
			<real>12.5853337</real>
			<key>name</key>
			<string>"Islands Brygge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6295693</real>
			<key>longitude</key>
			<real>12.6491412</real>
			<key>name</key>
			<string>"Kastrup"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6794545</real>
			<key>longitude</key>
			<real>12.5850941</real>
			<key>name</key>
			<string>"Kongens Nytorv"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6621014</real>
			<key>longitude</key>
			<real>12.6164168</real>
			<key>name</key>
			<string>"Lergravsparken"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6834819</real>
			<key>longitude</key>
			<real>12.5128728</real>
			<key>name</key>
			<string>"Lindevang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6301375</real>
			<key>longitude</key>
			<real>12.6493895</real>
			<key>name</key>
			<string>"Lufthavnen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6831194</real>
			<key>longitude</key>
			<real>12.5715059</real>
			<key>name</key>
			<string>"Nørreport"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6290551</real>
			<key>longitude</key>
			<real>12.5793888</real>
			<key>name</key>
			<string>"Ørestad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6617008</real>
			<key>longitude</key>
			<real>12.6284531</real>
			<key>name</key>
			<string>"Øresund"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6451990</real>
			<key>longitude</key>
			<real>12.5857282</real>
			<key>name</key>
			<string>"Sundby"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6872976</real>
			<key>longitude</key>
			<real>12.4916641</real>
			<key>name</key>
			<string>"Vanløse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6193914</real>
			<key>longitude</key>
			<real>12.5752975</real>
			<key>name</key>
			<string>"Vestamager"</string>
		</dict>
	</array>
</dict>
</plist>