<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>53.6645935</real>
			<key>longitude</key>
			<real>10.2198097</real>
			<key>name</key>
			<string>"Ahrensburg West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6062684</real>
			<key>longitude</key>
			<real>10.0110741</real>
			<key>name</key>
			<string>"Alsterdorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5866549</real>
			<key>longitude</key>
			<real>10.0644767</real>
			<key>name</key>
			<string>"Alter Teichweg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5870993</real>
			<key>longitude</key>
			<real>10.0438176</real>
			<key>name</key>
			<string>"Barmbek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5442047</real>
			<key>longitude</key>
			<real>9.9815285</real>
			<key>name</key>
			<string>"Baumwall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Berliner Tor Berne"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5422630</real>
			<key>longitude</key>
			<real>10.1074113</real>
			<key>name</key>
			<string>"Billstedt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5905068</real>
			<key>longitude</key>
			<real>10.0155385</real>
			<key>name</key>
			<string>"Borgweg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6529224</real>
			<key>longitude</key>
			<real>10.1848920</real>
			<key>name</key>
			<string>"Buchenkamp"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6643394</real>
			<key>longitude</key>
			<real>10.1558469</real>
			<key>name</key>
			<string>"Buckhorn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5557910</real>
			<key>longitude</key>
			<real>10.0419262</real>
			<key>name</key>
			<string>"Burgstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5696220</real>
			<key>longitude</key>
			<real>9.9623539</real>
			<key>name</key>
			<string>"Christuskirche"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5800775</real>
			<key>longitude</key>
			<real>10.0420350</real>
			<key>name</key>
			<string>"Dehnhaide"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5638824</real>
			<key>longitude</key>
			<real>9.9657334</real>
			<key>name</key>
			<string>"Emilienstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5839270</real>
			<key>longitude</key>
			<real>9.9854649</real>
			<key>name</key>
			<string>"Eppendorfer Baum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6071626</real>
			<key>longitude</key>
			<real>10.1177557</real>
			<key>name</key>
			<string>"Farmsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5571169</real>
			<key>longitude</key>
			<real>9.9718237</real>
			<key>name</key>
			<string>"Feldstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6324760</real>
			<key>longitude</key>
			<real>10.0270050</real>
			<key>name</key>
			<string>"Fuhlsbüttel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6393560</real>
			<key>longitude</key>
			<real>10.0167851</real>
			<key>name</key>
			<string>"Fuhlsbüttel Nord"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6854470</real>
			<key>longitude</key>
			<real>9.9860040</real>
			<key>name</key>
			<string>"Garstedt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6630999</real>
			<key>longitude</key>
			<real>10.2869789</real>
			<key>name</key>
			<string>"Großhansdorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5557393</real>
			<key>longitude</key>
			<real>9.9875396</real>
			<key>name</key>
			<string>"Gänsemarkt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5934426</real>
			<key>longitude</key>
			<real>10.0520925</real>
			<key>name</key>
			<string>"Habichtstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5924903</real>
			<key>longitude</key>
			<real>9.9442061</real>
			<key>name</key>
			<string>"Hagenbecks Tierpark"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6038216</real>
			<key>longitude</key>
			<real>9.9452446</real>
			<key>name</key>
			<string>"Hagendeel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5727042</real>
			<key>longitude</key>
			<real>9.9890078</real>
			<key>name</key>
			<string>"Hallerstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5740398</real>
			<key>longitude</key>
			<real>10.0325190</real>
			<key>name</key>
			<string>"Hamburger Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5556311</real>
			<key>longitude</key>
			<real>10.0551028</real>
			<key>name</key>
			<string>"Hammer Kirche"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5528124</real>
			<key>longitude</key>
			<real>10.0069792</real>
			<key>name</key>
			<string>"Hauptbahnhof Nord"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5518920</real>
			<key>longitude</key>
			<real>10.0086394</real>
			<key>name</key>
			<string>"Hauptbahnhof Süd"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5777490</real>
			<key>longitude</key>
			<real>9.9764218</real>
			<key>name</key>
			<string>"Hoheluftbrücke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6778042</real>
			<key>longitude</key>
			<real>10.1478921</real>
			<key>name</key>
			<string>"Hoisbüttel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5540749</real>
			<key>longitude</key>
			<real>10.0837431</real>
			<key>name</key>
			<string>"Horner Rennbahn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5947640</real>
			<key>longitude</key>
			<real>9.9961540</real>
			<key>name</key>
			<string>"Hudtwalckerstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6294304</real>
			<key>longitude</key>
			<real>9.9496870</real>
			<key>name</key>
			<string>"Joachim-Mähl-Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5528124</real>
			<key>longitude</key>
			<real>10.0069792</real>
			<key>name</key>
			<string>"Jungfernstieg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5887600</real>
			<key>longitude</key>
			<real>9.9910140</real>
			<key>name</key>
			<string>"Kellinghusenstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6530618</real>
			<key>longitude</key>
			<real>10.2803959</real>
			<key>name</key>
			<string>"Kiekut"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6752230</real>
			<key>longitude</key>
			<real>10.0159700</real>
			<key>name</key>
			<string>"Kiwittsmoor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6282710</real>
			<key>longitude</key>
			<real>10.0332221</real>
			<key>name</key>
			<string>"Klein Borstel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5816110</real>
			<key>longitude</key>
			<real>9.9883999</real>
			<key>name</key>
			<string>"Klosterstern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5459798</real>
			<key>longitude</key>
			<real>9.9706141</real>
			<key>name</key>
			<string>"Landungsbrücken"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6491403</real>
			<key>longitude</key>
			<real>10.0169909</real>
			<key>name</key>
			<string>"Langenhorn Markt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6607880</real>
			<key>longitude</key>
			<real>10.0175740</real>
			<key>name</key>
			<string>"Langenhorn Nord"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5993810</real>
			<key>longitude</key>
			<real>9.9952536</real>
			<key>name</key>
			<string>"Lattenkamp"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5474996</real>
			<key>longitude</key>
			<real>10.0953350</real>
			<key>name</key>
			<string>"Legienstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5567070</real>
			<key>longitude</key>
			<real>10.0191020</real>
			<key>name</key>
			<string>"Lohmühlenstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5796837</real>
			<key>longitude</key>
			<real>9.9308434</real>
			<key>name</key>
			<string>"Lutterothstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5598441</real>
			<key>longitude</key>
			<real>10.0288205</real>
			<key>name</key>
			<string>"Lübecker Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6388355</real>
			<key>longitude</key>
			<real>10.1562010</real>
			<key>name</key>
			<string>"Meiendorfer Weg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5388576</real>
			<key>longitude</key>
			<real>10.1262141</real>
			<key>name</key>
			<string>"Merkenstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5578330</real>
			<key>longitude</key>
			<real>9.9767990</real>
			<key>name</key>
			<string>"Messehallen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5477410</real>
			<key>longitude</key>
			<real>10.0008421</real>
			<key>name</key>
			<string>"Meßberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5696504</real>
			<key>longitude</key>
			<real>10.0272580</real>
			<key>name</key>
			<string>"Mundsburg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5512980</real>
			<key>longitude</key>
			<real>10.0020270</real>
			<key>name</key>
			<string>"Mönckebergstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5281580</real>
			<key>longitude</key>
			<real>10.1499320</real>
			<key>name</key>
			<string>"Mümmelmannsberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6196023</real>
			<key>longitude</key>
			<real>9.9515185</real>
			<key>name</key>
			<string>"Niendorf Markt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6408377</real>
			<key>longitude</key>
			<real>9.9501854</real>
			<key>name</key>
			<string>"Niendorf Nord"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.7073898</real>
			<key>longitude</key>
			<real>9.9924206</real>
			<key>name</key>
			<string>"Norderstedt Mitte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6779787</real>
			<key>longitude</key>
			<real>10.0011575</real>
			<key>name</key>
			<string>"Ochsenzoll"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6210286</real>
			<key>longitude</key>
			<real>10.0311850</real>
			<key>name</key>
			<string>"Ohlsdorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6943945</real>
			<key>longitude</key>
			<real>10.1371857</real>
			<key>name</key>
			<string>"Ohlstedt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5761898</real>
			<key>longitude</key>
			<real>9.9520580</real>
			<key>name</key>
			<string>"Osterstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5504550</real>
			<key>longitude</key>
			<real>9.9942670</real>
			<key>name</key>
			<string>"Rathaus"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5542115</real>
			<key>longitude</key>
			<real>10.0661514</real>
			<key>name</key>
			<string>"Rauhes Haus"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6960105</real>
			<key>longitude</key>
			<real>9.9900503</real>
			<key>name</key>
			<string>"Richtweg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5676230</real>
			<key>longitude</key>
			<real>10.0461870</real>
			<key>name</key>
			<string>"Ritterstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5477962</real>
			<key>longitude</key>
			<real>9.9866010</real>
			<key>name</key>
			<string>"Rödingsmarkt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5891174</real>
			<key>longitude</key>
			<real>10.0316163</real>
			<key>name</key>
			<string>"Saarlandstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6355452</real>
			<key>longitude</key>
			<real>9.9524702</real>
			<key>name</key>
			<string>"Schippelsweg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5675910</real>
			<key>longitude</key>
			<real>9.9701560</real>
			<key>name</key>
			<string>"Schlump"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6533270</real>
			<key>longitude</key>
			<real>10.2605140</real>
			<key>name</key>
			<string>"Schmalenbeck"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6089840</real>
			<key>longitude</key>
			<real>10.0221590</real>
			<key>name</key>
			<string>"Sengelmannstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5974495</real>
			<key>longitude</key>
			<real>10.0359239</real>
			<key>name</key>
			<string>"Sierichstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5523495</real>
			<key>longitude</key>
			<real>9.9664916</real>
			<key>name</key>
			<string>"St. Pauli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5409342</real>
			<key>longitude</key>
			<real>10.1379084</real>
			<key>name</key>
			<string>"Steinfurther Allee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5491159</real>
			<key>longitude</key>
			<real>10.0061401</real>
			<key>name</key>
			<string>"Steinstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5579349</real>
			<key>longitude</key>
			<real>9.9890801</real>
			<key>name</key>
			<string>"Stephansplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5620873</real>
			<key>longitude</key>
			<real>9.9644166</real>
			<key>name</key>
			<string>"Sternschanze"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5817878</real>
			<key>longitude</key>
			<real>10.0678648</real>
			<key>name</key>
			<string>"Straßburger Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5984390</real>
			<key>longitude</key>
			<real>10.1026420</real>
			<key>name</key>
			<string>"Trabrennbahn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5646197</real>
			<key>longitude</key>
			<real>10.0268086</real>
			<key>name</key>
			<string>"Uhlandstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.6509763</real>
			<key>longitude</key>
			<real>10.1634517</real>
			<key>name</key>
			<string>"Volksdorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5923565</real>
			<key>longitude</key>
			<real>10.0739840</real>
			<key>name</key>
			<string>"Wandsbek Gartenstadt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5717642</real>
			<key>longitude</key>
			<real>10.0670756</real>
			<key>name</key>
			<string>"Wandsbek Markt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5700778</real>
			<key>longitude</key>
			<real>10.0596621</real>
			<key>name</key>
			<string>"Wandsbeker Chaussee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5647509</real>
			<key>longitude</key>
			<real>10.0355508</real>
			<key>name</key>
			<string>"Wartenau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5404971</real>
			<key>longitude</key>
			<real>9.9994025</real>
			<key>name</key>
			<string>"Überseequartier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>53.5405319</real>
			<key>longitude</key>
			<real>10.0082980</real>
			<key>name</key>
			<string>"HafenCity Universität"</string>
		</dict>
	</array>
</dict>
</plist>