<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>60.1014</real>
			<key>longitude</key>
			<real>24.4548</real>
			<key>name</key>
			<string>"Niittykumpu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1</real>
			<key>longitude</key>
			<real>24.47</real>
			<key>name</key>
			<string>"Urheilupuisto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.103</real>
			<key>longitude</key>
			<real>24.4812</real>
			<key>name</key>
			<string>"Tapiola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.186668</real>
			<key>longitude</key>
			<real>24.827682</real>
			<key>name</key>
			<string>"Aalto University"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1760044</real>
			<key>longitude</key>
			<real>24.8292918</real>
			<key>name</key>
			<string>"Keilaniemi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1631832</real>
			<key>longitude</key>
			<real>24.8555509</real>
			<key>name</key>
			<string>"Koivusaari"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0956</real>
			<key>longitude</key>
			<real>24.5272</real>
			<key>name</key>
			<string>"Lauttasaari"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0947</real>
			<key>longitude</key>
			<real>24.5452</real>
			<key>name</key>
			<string>"Ruoholahti"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1008</real>
			<key>longitude</key>
			<real>24.5555</real>
			<key>name</key>
			<string>"Kamppi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1014</real>
			<key>longitude</key>
			<real>24.5626</real>
			<key>name</key>
			<string>"Central Railway Station"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.102</real>
			<key>longitude</key>
			<real>24.5651</real>
			<key>name</key>
			<string>"University of Helsinki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1048</real>
			<key>longitude</key>
			<real>24.572</real>
			<key>name</key>
			<string>"Hakaniemi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1115</real>
			<key>longitude</key>
			<real>24.574</real>
			<key>name</key>
			<string>"Sörnäinen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1115</real>
			<key>longitude</key>
			<real>24.5837</real>
			<key>name</key>
			<string>"Kalasatama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.112</real>
			<key>longitude</key>
			<real>25.029</real>
			<key>name</key>
			<string>"Kulosaari"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1142</real>
			<key>longitude</key>
			<real>25.151</real>
			<key>name</key>
			<string>"Herttoniemi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1219</real>
			<key>longitude</key>
			<real>25.237</real>
			<key>name</key>
			<string>"Siilitie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1237</real>
			<key>longitude</key>
			<real>25.441</real>
			<key>name</key>
			<string>"Itäkeskus"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.133</real>
			<key>longitude</key>
			<real>25.432</real>
			<key>name</key>
			<string>"Myllypuro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.141</real>
			<key>longitude</key>
			<real>25.51</real>
			<key>name</key>
			<string>"Kontula"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1421</real>
			<key>longitude</key>
			<real>25.639</real>
			<key>name</key>
			<string>"Mellunmäki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1253</real>
			<key>longitude</key>
			<real>25.535</real>
			<key>name</key>
			<string>"Puotila"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1219</real>
			<key>longitude</key>
			<real>25.717</real>
			<key>name</key>
			<string>"Rastila"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.1226</real>
			<key>longitude</key>
			<real>25.832</real>
			<key>name</key>
			<string>"Vuosaari"</string>
		</dict>
	</array>
</dict>
</plist>