<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>41.0023658</real>
			<key>longitude</key>
			<real>29.0443608</real>
			<key>name</key>
			<string>"Acıbadem"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.011613199999999</real>
			<key>longitude</key>
			<real>28.9487135</real>
			<key>name</key>
			<string>"Aksaray"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.979865699999998</real>
			<key>longitude</key>
			<real>28.819917400000001</real>
			<key>name</key>
			<string>"Atatürk Havalimanı"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.118698500000001</real>
			<key>longitude</key>
			<real>29.023837700000001</real>
			<key>name</key>
			<string>"Atatürk Oto Sanayi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.991479499999997</real>
			<key>longitude</key>
			<real>28.8458845</real>
			<key>name</key>
			<string>"Atatköy—Şirinevler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.000357700000002</real>
			<key>longitude</key>
			<real>29.030228999999999</real>
			<key>name</key>
			<string>"Ayrılık Çeşmesi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.034516799999999</real>
			<key>longitude</key>
			<real>28.856595599999999</real>
			<key>name</key>
			<string>"Bağcılar—Meydan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.991479499999997</real>
			<key>longitude</key>
			<real>28.8458845</real>
			<key>name</key>
			<string>"Bahçelievler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.996612900000002</real>
			<key>longitude</key>
			<real>28.875307100000001</real>
			<key>name</key>
			<string>"Bakırköy—İncirli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.964679699999998</real>
			<key>longitude</key>
			<real>29.104817600000001</real>
			<key>name</key>
			<string>"Bostancı"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.097458000000003</real>
			<key>longitude</key>
			<real>28.790959000000001</real>
			<key>name</key>
			<string>"Başak Konutları"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.034117000000002</real>
			<key>longitude</key>
			<real>28.920234799999999</real>
			<key>name</key>
			<string>"Bayrampaşa—Maltepe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.085072599999997</real>
			<key>longitude</key>
			<real>29.0455474</real>
			<key>name</key>
			<string>"Boğaziçi Üniversitesi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.130155999999999</real>
			<key>longitude</key>
			<real>29.025264</real>
			<key>name</key>
			<string>"Darüşşafaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.020509199999999</real>
			<key>longitude</key>
			<real>28.900201299999999</real>
			<key>name</key>
			<string>"Davutpaşa—YTÜ"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.986627800000001</real>
			<key>longitude</key>
			<real>28.828534900000001</real>
			<key>name</key>
			<string>"DTM—İstanbul Fuar Merkezi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.017995800000001</real>
			<key>longitude</key>
			<real>28.938766099999999</real>
			<key>name</key>
			<string>"Emniyet—Fatih"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.920794800000003</real>
			<key>longitude</key>
			<real>29.166276100000001</real>
			<key>name</key>
			<string>"Esenkent"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.040191999999998</real>
			<key>longitude</key>
			<real>28.894545000000001</real>
			<key>name</key>
			<string>"Esenler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.082339900000001</real>
			<key>longitude</key>
			<real>29.037514999999999</real>
			<key>name</key>
			<string>"Etiler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.068860999999998</real>
			<key>longitude</key>
			<real>29.0105796</real>
			<key>name</key>
			<string>"Gayrettepe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.979146800000002</real>
			<key>longitude</key>
			<real>29.0666324</real>
			<key>name</key>
			<string>"Göztepe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.920597999999998</real>
			<key>longitude</key>
			<real>29.133112799999999</real>
			<key>name</key>
			<string>"Gülsuyu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.139758999999998</real>
			<key>longitude</key>
			<real>29.0306873</real>
			<key>name</key>
			<string>"Hacıosman"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.022543200000001</real>
			<key>longitude</key>
			<real>28.966705699999999</real>
			<key>name</key>
			<string>"Haliç"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.915044399999999</real>
			<key>longitude</key>
			<real>29.181175799999998</real>
			<key>name</key>
			<string>"Hastane—Adliye"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.929926999999999</real>
			<key>longitude</key>
			<real>29.146197000000001</real>
			<key>name</key>
			<string>"Huzurevi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.071581299999998</real>
			<key>longitude</key>
			<real>28.803253399999999</real>
			<key>name</key>
			<string>"İkitelli Sanayi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.0647795</real>
			<key>longitude</key>
			<real>28.826162</real>
			<key>name</key>
			<string>"İstoç"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.108479299999999</real>
			<key>longitude</key>
			<real>29.0200438</real>
			<key>name</key>
			<string>"İTÜ—Ayazağa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.996314099999999</real>
			<key>longitude</key>
			<real>29.018985799999999</real>
			<key>name</key>
			<string>"Kadıköy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.879936000000001</real>
			<key>longitude</key>
			<real>29.231236899999999</real>
			<key>name</key>
			<string>"Kartal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.048502599999999</real>
			<key>longitude</key>
			<real>28.895711299999999</real>
			<key>name</key>
			<string>"Kocatepe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.0324873</real>
			<key>longitude</key>
			<real>28.842877699999999</real>
			<key>name</key>
			<string>"Kirazlı"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.986913700000002</real>
			<key>longitude</key>
			<real>29.085944999999999</real>
			<key>name</key>
			<string>"Kozayatağı"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.946340900000003</real>
			<key>longitude</key>
			<real>29.108871799999999</real>
			<key>name</key>
			<string>"Küçükyalı"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.084811999999999</real>
			<key>longitude</key>
			<real>29.007043199999998</real>
			<key>name</key>
			<string>"Levent"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.084811999999999</real>
			<key>longitude</key>
			<real>29.007043199999998</real>
			<key>name</key>
			<string>"4. Levent"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.054312000000003</real>
			<key>longitude</key>
			<real>28.830611999999999</real>
			<key>name</key>
			<string>"Mahmutbey"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.920597999999998</real>
			<key>longitude</key>
			<real>29.133112799999999</real>
			<key>name</key>
			<string>"Maltepe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.023978499999998</real>
			<key>longitude</key>
			<real>28.929565100000001</real>
			<key>name</key>
			<string>"Menderes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.007482600000003</real>
			<key>longitude</key>
			<real>28.8965183</real>
			<key>name</key>
			<string>"Merter"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.107649799999997</real>
			<key>longitude</key>
			<real>28.801249500000001</real>
			<key>name</key>
			<string>"MetroKent"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.077435899999998</real>
			<key>longitude</key>
			<real>29.023707399999999</real>
			<key>name</key>
			<string>"Nispetiye"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.012421400000001</real>
			<key>longitude</key>
			<real>28.977983399999999</real>
			<key>name</key>
			<string>"Olimpiyat"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.053939399999997</real>
			<key>longitude</key>
			<real>28.987174700000001</real>
			<key>name</key>
			<string>"Osmanbey"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.040131700000003</real>
			<key>longitude</key>
			<real>28.894493600000001</real>
			<key>name</key>
			<string>"Otogar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.040862199999999</real>
			<key>longitude</key>
			<real>28.907218</real>
			<key>name</key>
			<string>"Sağmalcılar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.094869500000001</real>
			<key>longitude</key>
			<real>29.005227900000001</real>
			<key>name</key>
			<string>"Sanayi Mahallesi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.095970100000002</real>
			<key>longitude</key>
			<real>28.988761100000001</real>
			<key>name</key>
			<string>"Seyrantepe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.912838299999997</real>
			<key>longitude</key>
			<real>29.193342300000001</real>
			<key>name</key>
			<string>"Soğanlık"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.027968199999997</real>
			<key>longitude</key>
			<real>28.971666299999999</real>
			<key>name</key>
			<string>"Şişhane"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.066141100000003</real>
			<key>longitude</key>
			<real>28.994580299999999</real>
			<key>name</key>
			<string>"Şişli—Mecidiyeköy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.036969599999999</real>
			<key>longitude</key>
			<real>28.985763899999998</real>
			<key>name</key>
			<string>"Taksim"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.030541900000003</real>
			<key>longitude</key>
			<real>28.897811600000001</real>
			<key>name</key>
			<string>"Terazidere"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.023978499999998</real>
			<key>longitude</key>
			<real>28.929565100000001</real>
			<key>name</key>
			<string>"Topkapı—Ulubatlı"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.0807693</real>
			<key>longitude</key>
			<real>28.797318499999999</real>
			<key>name</key>
			<string>"Turgut Özal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.038685999999998</real>
			<key>longitude</key>
			<real>28.873746000000001</real>
			<key>name</key>
			<string>"Üçyüzlü"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.997327900000002</real>
			<key>longitude</key>
			<real>29.059366600000001</real>
			<key>name</key>
			<string>"Ünalan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.012467000000001</real>
			<key>longitude</key>
			<real>28.959531900000002</real>
			<key>name</key>
			<string>"Vezneciler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.020898500000001</real>
			<key>longitude</key>
			<real>28.813102900000001</real>
			<key>name</key>
			<string>"Yenibosna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.005209999999998</real>
			<key>longitude</key>
			<real>28.951720000000002</real>
			<key>name</key>
			<string>"Yenikapı"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.992675599999998</real>
			<key>longitude</key>
			<real>28.916888400000001</real>
			<key>name</key>
			<string>"Zeytinburnu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.074487900000001</real>
			<key>longitude</key>
			<real>28.7868247</real>
			<key>name</key>
			<string>"Ziya Gökalp Mahallesi"</string>
		</dict>
	</array>
</dict>
</plist>
