<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>3.1209905</real>
			<key>longitude</key>
			<real>101.7178829</real>
			<key>name</key>
			<string>"Miharja"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1327259</real>
			<key>longitude</key>
			<real>101.7269266</real>
			<key>name</key>
			<string>"Maluri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.13034</real>
			<key>longitude</key>
			<real>101.73921</real>
			<key>name</key>
			<string>"Pandan Jaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1310269</real>
			<key>longitude</key>
			<real>101.7539509</real>
			<key>name</key>
			<string>"Pandan Indah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1342702</real>
			<key>longitude</key>
			<real>101.6860525</real>
			<key>name</key>
			<string>"Cempaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.14066</real>
			<key>longitude</key>
			<real>101.75675</real>
			<key>name</key>
			<string>"Cahaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1606634</real>
			<key>longitude</key>
			<real>101.7188393</real>
			<key>name</key>
			<string>"Ampang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.18586</real>
			<key>longitude</key>
			<real>101.69526</real>
			<key>name</key>
			<string>"Sentul Timur"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.17857</real>
			<key>longitude</key>
			<real>101.69553</real>
			<key>name</key>
			<string>"Sentul"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.17342</real>
			<key>longitude</key>
			<real>101.6953</real>
			<key>name</key>
			<string>"Titiwangsa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1666431</real>
			<key>longitude</key>
			<real>101.6935757</real>
			<key>name</key>
			<string>"PWTC"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.16121</real>
			<key>longitude</key>
			<real>101.69413</real>
			<key>name</key>
			<string>"Sultan Ismail"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.15548</real>
			<key>longitude</key>
			<real>101.69455</real>
			<key>name</key>
			<string>"Bandaraya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1498078</real>
			<key>longitude</key>
			<real>101.6965871</real>
			<key>name</key>
			<string>"Masjid Jamek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.14462</real>
			<key>longitude</key>
			<real>101.70165</real>
			<key>name</key>
			<string>"Plaza Rakyat"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.13974</real>
			<key>longitude</key>
			<real>101.70646</real>
			<key>name</key>
			<string>"Hang Tuah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.13471</real>
			<key>longitude</key>
			<real>101.71221</real>
			<key>name</key>
			<string>"Pudu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.12764</real>
			<key>longitude</key>
			<real>101.71556</real>
			<key>name</key>
			<string>"Chan Sow Lin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1004765</real>
			<key>longitude</key>
			<real>101.7132735</real>
			<key>name</key>
			<string>"Cheras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0980556</real>
			<key>longitude</key>
			<real>101.7052778</real>
			<key>name</key>
			<string>"Salak Selatan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.089669</real>
			<key>longitude</key>
			<real>101.7125175</real>
			<key>name</key>
			<string>"Bandar Tun Razak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0763807</real>
			<key>longitude</key>
			<real>101.7110353</real>
			<key>name</key>
			<string>"Bandar Tasik Selatan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.063898</real>
			<key>longitude</key>
			<real>101.708056</real>
			<key>name</key>
			<string>"Sungai Besi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.058787</real>
			<key>longitude</key>
			<real>101.691732</real>
			<key>name</key>
			<string>"Bukit Jalil"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.06154</real>
			<key>longitude</key>
			<real>101.68703</real>
			<key>name</key>
			<string>"Sri Petaling"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.062077</real>
			<key>longitude</key>
			<real>101.6706113</real>
			<key>name</key>
			<string>"Awan Besar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0620491</real>
			<key>longitude</key>
			<real>101.6624862</real>
			<key>name</key>
			<string>"Muhibbah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.054773</real>
			<key>longitude</key>
			<real>101.656484</real>
			<key>name</key>
			<string>"Alam Sutera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0504822</real>
			<key>longitude</key>
			<real>101.6442052</real>
			<key>name</key>
			<string>"Kinrara BK3"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0481332</real>
			<key>longitude</key>
			<real>101.6209152</real>
			<key>name</key>
			<string>"IOI Puchong Jaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0332688</real>
			<key>longitude</key>
			<real>101.6160406</real>
			<key>name</key>
			<string>"Pusat Bandar Puchong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0228087</real>
			<key>longitude</key>
			<real>101.613455</real>
			<key>name</key>
			<string>"Taman Perindustrian Puchong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.017111</real>
			<key>longitude</key>
			<real>101.612855</real>
			<key>name</key>
			<string>"Bandar Puteri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0078465</real>
			<key>longitude</key>
			<real>101.6050702</real>
			<key>name</key>
			<string>"Puchong Perdana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>2.9998884</real>
			<key>longitude</key>
			<real>101.5966947</real>
			<key>name</key>
			<string>"Puchong Prima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.229142</real>
			<key>longitude</key>
			<real>101.7245791</real>
			<key>name</key>
			<string>"Putra Heights"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.237726</real>
			<key>longitude</key>
			<real>101.681366</real>
			<key>name</key>
			<string>"Gombak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.21957</real>
			<key>longitude</key>
			<real>101.72183</real>
			<key>name</key>
			<string>"Taman Melati"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.205595</real>
			<key>longitude</key>
			<real>101.73174</real>
			<key>name</key>
			<string>"Wangsa Maju"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.199133</real>
			<key>longitude</key>
			<real>101.737326</real>
			<key>name</key>
			<string>"Sri Rampai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1756</real>
			<key>longitude</key>
			<real>101.73577</real>
			<key>name</key>
			<string>"Setiawangsa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.16734</real>
			<key>longitude</key>
			<real>101.73535</real>
			<key>name</key>
			<string>"Jelatek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.165294</real>
			<key>longitude</key>
			<real>101.731971</real>
			<key>name</key>
			<string>"Dato' Keramat"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.16454</real>
			<key>longitude</key>
			<real>101.72438</real>
			<key>name</key>
			<string>"Damai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.160557</real>
			<key>longitude</key>
			<real>101.7186329</real>
			<key>name</key>
			<string>"Ampang Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.158959</real>
			<key>longitude</key>
			<real>101.714087</real>
			<key>name</key>
			<string>"KLCC"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.16137</real>
			<key>longitude</key>
			<real>101.70664</real>
			<key>name</key>
			<string>"Kampung Baru"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.15634</real>
			<key>longitude</key>
			<real>101.70224</real>
			<key>name</key>
			<string>"Dang Wangi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1498078</real>
			<key>longitude</key>
			<real>101.6965871</real>
			<key>name</key>
			<string>"Masjid Jamek"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.142439</real>
			<key>longitude</key>
			<real>101.69531</real>
			<key>name</key>
			<string>"Pasar Seni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1342702</real>
			<key>longitude</key>
			<real>101.6860525</real>
			<key>name</key>
			<string>"KL Sentral"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.12748</real>
			<key>longitude</key>
			<real>101.679034</real>
			<key>name</key>
			<string>"Bank Rakyat–Bangsar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.11865</real>
			<key>longitude</key>
			<real>101.67291</real>
			<key>name</key>
			<string>"Abdullah Hukum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.115129</real>
			<key>longitude</key>
			<real>101.667107</real>
			<key>name</key>
			<string>"Kerinchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1145335</real>
			<key>longitude</key>
			<real>101.6616935</real>
			<key>name</key>
			<string>"KL Gateway–Universiti"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.10434</real>
			<key>longitude</key>
			<real>101.63772</real>
			<key>name</key>
			<string>"Taman Jaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.10434</real>
			<key>longitude</key>
			<real>101.63772</real>
			<key>name</key>
			<string>"Asia Jaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.104563</real>
			<key>longitude</key>
			<real>101.623132</real>
			<key>name</key>
			<string>"Taman Paramount"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.104563</real>
			<key>longitude</key>
			<real>101.623132</real>
			<key>name</key>
			<string>"Taman Bahagia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1274786</real>
			<key>longitude</key>
			<real>101.6790676</real>
			<key>name</key>
			<string>"Kelana Jaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1120902</real>
			<key>longitude</key>
			<real>101.5912397</real>
			<key>name</key>
			<string>"Lembah Subang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1342702</real>
			<key>longitude</key>
			<real>101.6860525</real>
			<key>name</key>
			<string>"Ara Damansara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0958391</real>
			<key>longitude</key>
			<real>101.5904702</real>
			<key>name</key>
			<string>"Glenmarie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0846545</real>
			<key>longitude</key>
			<real>101.587737</real>
			<key>name</key>
			<string>"Subang Jaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0757044</real>
			<key>longitude</key>
			<real>101.5861308</real>
			<key>name</key>
			<string>"SS13"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0671767</real>
			<key>longitude</key>
			<real>101.586114</real>
			<key>name</key>
			<string>"SS16"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0552253</real>
			<key>longitude</key>
			<real>101.5919501</real>
			<key>name</key>
			<string>"USJ5"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0482457</real>
			<key>longitude</key>
			<real>101.5903633</real>
			<key>name</key>
			<string>"Taipan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0846545</real>
			<key>longitude</key>
			<real>101.587737</real>
			<key>name</key>
			<string>"Wawasan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0298519</real>
			<key>longitude</key>
			<real>101.5821081</real>
			<key>name</key>
			<string>"USJ19"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.023134</real>
			<key>longitude</key>
			<real>101.572083</real>
			<key>name</key>
			<string>"Alam Megah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0096116</real>
			<key>longitude</key>
			<real>101.572159</real>
			<key>name</key>
			<string>"Subang Alam"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.229142</real>
			<key>longitude</key>
			<real>101.7245791</real>
			<key>name</key>
			<string>"Putra Heights"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1342702</real>
			<key>longitude</key>
			<real>101.6860525</real>
			<key>name</key>
			<string>"KL Sentral Monorail"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1315022</real>
			<key>longitude</key>
			<real>101.6908126</real>
			<key>name</key>
			<string>"Tun Sambanthan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1389068</real>
			<key>longitude</key>
			<real>101.699211</real>
			<key>name</key>
			<string>"Maharajalela"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.13974</real>
			<key>longitude</key>
			<real>101.70646</real>
			<key>name</key>
			<string>"Hang Tuah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.14283</real>
			<key>longitude</key>
			<real>101.70945</real>
			<key>name</key>
			<string>"Imbi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1460788</real>
			<key>longitude</key>
			<real>101.7114835</real>
			<key>name</key>
			<string>"AirAsia - Bukit Bintang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.150832</real>
			<key>longitude</key>
			<real>101.7104205</real>
			<key>name</key>
			<string>"Raja Chulan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1561686</real>
			<key>longitude</key>
			<real>101.7048306</real>
			<key>name</key>
			<string>"Bukit Nanas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.15935</real>
			<key>longitude</key>
			<real>101.69888</real>
			<key>name</key>
			<string>"Medan Tuanku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.16746</real>
			<key>longitude</key>
			<real>101.69841</real>
			<key>name</key>
			<string>"Chow Kit"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.17342</real>
			<key>longitude</key>
			<real>101.6953</real>
			<key>name</key>
			<string>"Titiwangsa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.2062991</real>
			<key>longitude</key>
			<real>101.5801505</real>
			<key>name</key>
			<string>"Sungai Buloh"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.197266</real>
			<key>longitude</key>
			<real>101.578499</real>
			<key>name</key>
			<string>"Kampung Selamat"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.15991</real>
			<key>longitude</key>
			<real>101.71147</real>
			<key>name</key>
			<string>"RRI"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.176146</real>
			<key>longitude</key>
			<real>101.572052</real>
			<key>name</key>
			<string>"Kwasa Damansara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.170112</real>
			<key>longitude</key>
			<real>101.564651</real>
			<key>name</key>
			<string>"Kwasa Sentral"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.055745</real>
			<key>longitude</key>
			<real>101.704545</real>
			<key>name</key>
			<string>"Teknologi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.150134</real>
			<key>longitude</key>
			<real>101.57869</real>
			<key>name</key>
			<string>"Kota Damansara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.14948</real>
			<key>longitude</key>
			<real>101.593925</real>
			<key>name</key>
			<string>"Surian"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.155301</real>
			<key>longitude</key>
			<real>101.609077</real>
			<key>name</key>
			<string>"Mutiara Damansara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.14671</real>
			<key>longitude</key>
			<real>101.618599</real>
			<key>name</key>
			<string>"Bandar Utama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.141441</real>
			<key>longitude</key>
			<real>101.626695</real>
			<key>name</key>
			<string>"TTDI"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.129864</real>
			<key>longitude</key>
			<real>101.642471</real>
			<key>name</key>
			<string>"Phileo Damansara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1130556</real>
			<key>longitude</key>
			<real>101.6733333</real>
			<key>name</key>
			<string>"Bukit Kiara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.143297</real>
			<key>longitude</key>
			<real>101.662331</real>
			<key>name</key>
			<string>"Pusat Bandar Damansara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.150991</real>
			<key>longitude</key>
			<real>101.665376</real>
			<key>name</key>
			<string>"Semantan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.137956</real>
			<key>longitude</key>
			<real>101.6871165</real>
			<key>name</key>
			<string>"Muzium Negara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.142439</real>
			<key>longitude</key>
			<real>101.69531</real>
			<key>name</key>
			<string>"Pasar Seni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1477582</real>
			<key>longitude</key>
			<real>101.6934235</real>
			<key>name</key>
			<string>"Merdeka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1342702</real>
			<key>longitude</key>
			<real>101.6860525</real>
			<key>name</key>
			<string>"Bukit Bintang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1421384</real>
			<key>longitude</key>
			<real>101.7154156</real>
			<key>name</key>
			<string>"Tun Razak Exchange"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1321603</real>
			<key>longitude</key>
			<real>101.7254876</real>
			<key>name</key>
			<string>"Cochrane"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1327259</real>
			<key>longitude</key>
			<real>101.7269266</real>
			<key>name</key>
			<string>"Maluri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1126362</real>
			<key>longitude</key>
			<real>101.7293272</real>
			<key>name</key>
			<string>"Taman Pertama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.100475</real>
			<key>longitude</key>
			<real>101.733315</real>
			<key>name</key>
			<string>"Taman Midah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.090441</real>
			<key>longitude</key>
			<real>101.739982</real>
			<key>name</key>
			<string>"Taman Mutiara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.082282</real>
			<key>longitude</key>
			<real>101.7366788</real>
			<key>name</key>
			<string>"Taman Connaught"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.0763807</real>
			<key>longitude</key>
			<real>101.7110353</real>
			<key>name</key>
			<string>"Taman Suntex"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.1588</real>
			<key>longitude</key>
			<real>101.7574459</real>
			<key>name</key>
			<string>"Sri Raya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.048851</real>
			<key>longitude</key>
			<real>101.758451</real>
			<key>name</key>
			<string>"Bandar Tun Hussein Onn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.11258</real>
			<key>longitude</key>
			<real>101.71422</real>
			<key>name</key>
			<string>"Batu 11 Cheras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>2.982405</real>
			<key>longitude</key>
			<real>101.790561</real>
			<key>name</key>
			<string>"Bukit Dukung"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>3.000593</real>
			<key>longitude</key>
			<real>101.7839457</real>
			<key>name</key>
			<string>"Sungai Jernih"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>2.994596</real>
			<key>longitude</key>
			<real>101.787571</real>
			<key>name</key>
			<string>"Stadium Kajang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>2.9659098</real>
			<key>longitude</key>
			<real>101.8184972</real>
			<key>name</key>
			<string>"Kajang"</string>
		</dict>
	</array>
</dict>
</plist>