<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>46.520763799999997</real>
			<key>longitude</key>
			<real>6.6303431000000002</real>
			<key>name</key>
			<string>"Lausanne-Flon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.521537000000002</real>
			<key>longitude</key>
			<real>6.623926</real>
			<key>name</key>
			<string>"Vigie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.521822</real>
			<key>longitude</key>
			<real>6.6135599999999997</real>
			<key>name</key>
			<string>"Montelly"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.523131999999997</real>
			<key>longitude</key>
			<real>6.6118980000000001</real>
			<key>name</key>
			<string>"Provence"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.526715299999999</real>
			<key>longitude</key>
			<real>6.6025941000000001</real>
			<key>name</key>
			<string>"Malley"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.523266</real>
			<key>longitude</key>
			<real>6.5898050000000001</real>
			<key>name</key>
			<string>"Bourdonnette"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.524217</real>
			<key>longitude</key>
			<real>6.5847069999999999</real>
			<key>name</key>
			<string>"UNIL-Dorigny"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.524991999999997</real>
			<key>longitude</key>
			<real>6.5788950000000002</real>
			<key>name</key>
			<string>"UNIL-Mouline"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.522450999999997</real>
			<key>longitude</key>
			<real>6.5735789999999996</real>
			<key>name</key>
			<string>"UNIL-Sorge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.519055700000003</real>
			<key>longitude</key>
			<real>6.5667575999999999</real>
			<key>name</key>
			<string>"EPFL"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.524585999999999</real>
			<key>longitude</key>
			<real>6.5645910000000001</real>
			<key>name</key>
			<string>"Bassenges"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.527749999999997</real>
			<key>longitude</key>
			<real>6.5665469999999999</real>
			<key>name</key>
			<string>"Cerisaie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.515222799999997</real>
			<key>longitude</key>
			<real>6.6278258000000001</real>
			<key>name</key>
			<string>"Crochy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.517145499999998</real>
			<key>longitude</key>
			<real>6.6295777999999999</real>
			<key>name</key>
			<string>"Epenex"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.537005499999999</real>
			<key>longitude</key>
			<real>6.5788371999999997</real>
			<key>name</key>
			<string>"Renens CFF"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.507065900000001</real>
			<key>longitude</key>
			<real>6.6257973000000003</real>
			<key>name</key>
			<string>"Ouchy-Olympique"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.509929999999997</real>
			<key>longitude</key>
			<real>6.6274360000000003</real>
			<key>name</key>
			<string>"Jordils"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.512022000000002</real>
			<key>longitude</key>
			<real>6.6280429999999999</real>
			<key>name</key>
			<string>"Délices"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.515222799999997</real>
			<key>longitude</key>
			<real>6.6278258000000001</real>
			<key>name</key>
			<string>"Montriond"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.514924000000001</real>
			<key>longitude</key>
			<real>6.6288729999999996</real>
			<key>name</key>
			<string>"Grancy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.517145499999998</real>
			<key>longitude</key>
			<real>6.6295777999999999</real>
			<key>name</key>
			<string>"Lausanne railway station"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.520763799999997</real>
			<key>longitude</key>
			<real>6.6303431000000002</real>
			<key>name</key>
			<string>"Lausanne-Flon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.522868000000003</real>
			<key>longitude</key>
			<real>6.6326640000000001</real>
			<key>name</key>
			<string>"Riponne - Maurice Béjart"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.520713000000001</real>
			<key>longitude</key>
			<real>6.6370750000000003</real>
			<key>name</key>
			<string>"Bessières"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.521242000000001</real>
			<key>longitude</key>
			<real>6.6406770000000002</real>
			<key>name</key>
			<string>"Ours"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.526403000000002</real>
			<key>longitude</key>
			<real>6.6414869999999997</real>
			<key>name</key>
			<string>"CHUV"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.532821400000003</real>
			<key>longitude</key>
			<real>6.6461420999999996</real>
			<key>name</key>
			<string>"Sallaz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.538812</real>
			<key>longitude</key>
			<real>6.6510550000000004</real>
			<key>name</key>
			<string>"Fourmi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.541276000000003</real>
			<key>longitude</key>
			<real>6.6577156000000004</real>
			<key>name</key>
			<string>"Vennes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.543142899999999</real>
			<key>longitude</key>
			<real>6.6614671000000003</real>
			<key>name</key>
			<string>"Croisettes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.520763799999997</real>
			<key>longitude</key>
			<real>6.6303431000000002</real>
			<key>name</key>
			<string>"Lausanne-Flon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.521537000000002</real>
			<key>longitude</key>
			<real>6.623926</real>
			<key>name</key>
			<string>"Vigie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.521822</real>
			<key>longitude</key>
			<real>6.6135599999999997</real>
			<key>name</key>
			<string>"Montelly"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.523131999999997</real>
			<key>longitude</key>
			<real>6.6118980000000001</real>
			<key>name</key>
			<string>"Provence"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.526715299999999</real>
			<key>longitude</key>
			<real>6.6025941000000001</real>
			<key>name</key>
			<string>"Malley"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.523266</real>
			<key>longitude</key>
			<real>6.5898050000000001</real>
			<key>name</key>
			<string>"Bourdonnette"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.524217</real>
			<key>longitude</key>
			<real>6.5847069999999999</real>
			<key>name</key>
			<string>"UNIL-Dorigny"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.524991999999997</real>
			<key>longitude</key>
			<real>6.5788950000000002</real>
			<key>name</key>
			<string>"UNIL-Mouline"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.522450999999997</real>
			<key>longitude</key>
			<real>6.5735789999999996</real>
			<key>name</key>
			<string>"UNIL-Sorge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.519055700000003</real>
			<key>longitude</key>
			<real>6.5667575999999999</real>
			<key>name</key>
			<string>"EPFL"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.524585999999999</real>
			<key>longitude</key>
			<real>6.5645910000000001</real>
			<key>name</key>
			<string>"Bassenges"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.527749999999997</real>
			<key>longitude</key>
			<real>6.5665469999999999</real>
			<key>name</key>
			<string>"Cerisaie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.515222799999997</real>
			<key>longitude</key>
			<real>6.6278258000000001</real>
			<key>name</key>
			<string>"Crochy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.517145499999998</real>
			<key>longitude</key>
			<real>6.6295777999999999</real>
			<key>name</key>
			<string>"Epenex"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.537005499999999</real>
			<key>longitude</key>
			<real>6.5788371999999997</real>
			<key>name</key>
			<string>"Renens CFF"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.507065900000001</real>
			<key>longitude</key>
			<real>6.6257973000000003</real>
			<key>name</key>
			<string>"Ouchy-Olympique[11]"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.509929999999997</real>
			<key>longitude</key>
			<real>6.6274360000000003</real>
			<key>name</key>
			<string>"Jordils"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.512022000000002</real>
			<key>longitude</key>
			<real>6.6280429999999999</real>
			<key>name</key>
			<string>"Délices"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.515222799999997</real>
			<key>longitude</key>
			<real>6.6278258000000001</real>
			<key>name</key>
			<string>"Montriond"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.514924000000001</real>
			<key>longitude</key>
			<real>6.6288729999999996</real>
			<key>name</key>
			<string>"Grancy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.517145499999998</real>
			<key>longitude</key>
			<real>6.6295777999999999</real>
			<key>name</key>
			<string>"Lausanne railway station"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.520763799999997</real>
			<key>longitude</key>
			<real>6.6303431000000002</real>
			<key>name</key>
			<string>"Lausanne-Flon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.522868000000003</real>
			<key>longitude</key>
			<real>6.6326640000000001</real>
			<key>name</key>
			<string>"Riponne - Maurice Béjart"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.520713000000001</real>
			<key>longitude</key>
			<real>6.6370750000000003</real>
			<key>name</key>
			<string>"Bessières"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.521242000000001</real>
			<key>longitude</key>
			<real>6.6406770000000002</real>
			<key>name</key>
			<string>"Ours"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.526403000000002</real>
			<key>longitude</key>
			<real>6.6414869999999997</real>
			<key>name</key>
			<string>"CHUV"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.532821400000003</real>
			<key>longitude</key>
			<real>6.6461420999999996</real>
			<key>name</key>
			<string>"Sallaz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.538812</real>
			<key>longitude</key>
			<real>6.6510550000000004</real>
			<key>name</key>
			<string>"Fourmi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.541276000000003</real>
			<key>longitude</key>
			<real>6.6577156000000004</real>
			<key>name</key>
			<string>"Vennes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>46.543142899999999</real>
			<key>longitude</key>
			<real>6.6614671000000003</real>
			<key>name</key>
			<string>"Croisettes"</string>
		</dict>
	</array>
</dict>
</plist>
