<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>38.758375</real>
			<key>longitude</key>
			<real>-9.219171</real>
			<key>name</key>
			<string>"Amadora Este"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7510316</real>
			<key>longitude</key>
			<real>-9.2233118</real>
			<key>name</key>
			<string>"Alfornelos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7510316</real>
			<key>longitude</key>
			<real>-9.2233118</real>
			<key>name</key>
			<string>"Pontinha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.759308</real>
			<key>longitude</key>
			<real>-9.192812</real>
			<key>name</key>
			<string>"Carnide"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.753322</real>
			<key>longitude</key>
			<real>-9.188663</real>
			<key>name</key>
			<string>"Colégio Militar/Luz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.749582</real>
			<key>longitude</key>
			<real>-9.179946</real>
			<key>name</key>
			<string>"Alto dos Moinhos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.748528</real>
			<key>longitude</key>
			<real>-9.172431</real>
			<key>name</key>
			<string>"Laranjeiras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7443615</real>
			<key>longitude</key>
			<real>-9.1707172</real>
			<key>name</key>
			<string>"Jardim Zoológico (formerly Sete Rios)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7376863</real>
			<key>longitude</key>
			<real>-9.1584496</real>
			<key>name</key>
			<string>"Praça de Espanha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.734839</real>
			<key>longitude</key>
			<real>-9.154225</real>
			<key>name</key>
			<string>"São Sebastião (Red)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7623586</real>
			<key>longitude</key>
			<real>-9.0925105</real>
			<key>name</key>
			<string>"Parque"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7233455</real>
			<key>longitude</key>
			<real>-9.1489019</real>
			<key>name</key>
			<string>"Marquês de Pombal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.720114</real>
			<key>longitude</key>
			<real>-9.145823</real>
			<key>name</key>
			<string>"Avenida"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7144118</real>
			<key>longitude</key>
			<real>-9.1408772</real>
			<key>name</key>
			<string>"Restauradores"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.710672</real>
			<key>longitude</key>
			<real>-9.139091</real>
			<key>name</key>
			<string>"Baixa/Chiado (Green)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.707206</real>
			<key>longitude</key>
			<real>-9.133351</real>
			<key>name</key>
			<string>"Terreiro do Paço"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7136219</real>
			<key>longitude</key>
			<real>-9.123153</real>
			<key>name</key>
			<string>"Santa Apolónia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7510316</real>
			<key>longitude</key>
			<real>-9.2233118</real>
			<key>name</key>
			<string>"Odivelas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.785753</real>
			<key>longitude</key>
			<real>-9.172146</real>
			<key>name</key>
			<string>"Senhor Roubado"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.779903</real>
			<key>longitude</key>
			<real>-9.159986</real>
			<key>name</key>
			<string>"Ameixoeira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7445003</real>
			<key>longitude</key>
			<real>-9.1488151</real>
			<key>name</key>
			<string>"Lumiar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.767092</real>
			<key>longitude</key>
			<real>-9.155458</real>
			<key>name</key>
			<string>"Quinta das Conchas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.760623</real>
			<key>longitude</key>
			<real>-9.157811</real>
			<key>name</key>
			<string>"Campo Grande (Green)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.751946</real>
			<key>longitude</key>
			<real>-9.158633</real>
			<key>name</key>
			<string>"Cidade Universitária"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7445003</real>
			<key>longitude</key>
			<real>-9.1488151</real>
			<key>name</key>
			<string>"Entrecampos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7445003</real>
			<key>longitude</key>
			<real>-9.1488151</real>
			<key>name</key>
			<string>"Campo Pequeno"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7340305</real>
			<key>longitude</key>
			<real>-9.1442047</real>
			<key>name</key>
			<string>"Saldanha (Red)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.730644</real>
			<key>longitude</key>
			<real>-9.146503</real>
			<key>name</key>
			<string>"Picoas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7233455</real>
			<key>longitude</key>
			<real>-9.1489019</real>
			<key>name</key>
			<string>"Marquês de Pombal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7201022</real>
			<key>longitude</key>
			<real>-9.1540562</real>
			<key>name</key>
			<string>"Rato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7603345</real>
			<key>longitude</key>
			<real>-9.1660836</real>
			<key>name</key>
			<string>"Telheiras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.759881</real>
			<key>longitude</key>
			<real>-9.157941</real>
			<key>name</key>
			<string>"Campo Grande"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.753458</real>
			<key>longitude</key>
			<real>-9.143883</real>
			<key>name</key>
			<string>"Alvalade"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7456952</real>
			<key>longitude</key>
			<real>-9.1356707</real>
			<key>name</key>
			<string>"Roma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7456952</real>
			<key>longitude</key>
			<real>-9.1356707</real>
			<key>name</key>
			<string>"Areeiro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7372582</real>
			<key>longitude</key>
			<real>-9.1340379</real>
			<key>name</key>
			<string>"Alameda (Red)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.733473</real>
			<key>longitude</key>
			<real>-9.134451</real>
			<key>name</key>
			<string>"Arroios"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.726614</real>
			<key>longitude</key>
			<real>-9.135025</real>
			<key>name</key>
			<string>"Anjos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.722249</real>
			<key>longitude</key>
			<real>-9.135309</real>
			<key>name</key>
			<string>"Intendente"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7144118</real>
			<key>longitude</key>
			<real>-9.1408772</real>
			<key>name</key>
			<string>"Rossio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.710672</real>
			<key>longitude</key>
			<real>-9.139091</real>
			<key>name</key>
			<string>"Baixa-Chiado (Blue)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7061676</real>
			<key>longitude</key>
			<real>-9.1451078</real>
			<key>name</key>
			<string>"Cais do Sodré"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.734839</real>
			<key>longitude</key>
			<real>-9.154225</real>
			<key>name</key>
			<string>"São Sebastião (Blue)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7340305</real>
			<key>longitude</key>
			<real>-9.1442047</real>
			<key>name</key>
			<string>"Saldanha (Yellow)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7372582</real>
			<key>longitude</key>
			<real>-9.1340379</real>
			<key>name</key>
			<string>"Alameda (Green)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.739189</real>
			<key>longitude</key>
			<real>-9.123664</real>
			<key>name</key>
			<string>"Olaias"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.747736</real>
			<key>longitude</key>
			<real>-9.118547</real>
			<key>name</key>
			<string>"Bela Vista"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.755284</real>
			<key>longitude</key>
			<real>-9.114136</real>
			<key>name</key>
			<string>"Chelas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7612815</real>
			<key>longitude</key>
			<real>-9.1120293</real>
			<key>name</key>
			<string>"Olivais"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.763196</real>
			<key>longitude</key>
			<real>-9.104093</real>
			<key>name</key>
			<string>"Cabo Ruivo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7678423</real>
			<key>longitude</key>
			<real>-9.0993449</real>
			<key>name</key>
			<string>"Oriente"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7775662</real>
			<key>longitude</key>
			<real>-9.0995347</real>
			<key>name</key>
			<string>"Moscavide"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7144118</real>
			<key>longitude</key>
			<real>-9.1408772</real>
			<key>name</key>
			<string>"Encarnação"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>38.7755936</real>
			<key>longitude</key>
			<real>-9.1353667</real>
			<key>name</key>
			<string>"Aeroporto"</string>
		</dict>
	</array>
</dict>
</plist>