<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>45.7605474</real>
			<key>longitude</key>
			<real>4.8611177000000003</real>
			<key>name</key>
			<string>"Perrache"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.753069199999999</real>
			<key>longitude</key>
			<real>4.8290384</real>
			<key>name</key>
			<string>"Ampère - Victor Hugo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.757875599999998</real>
			<key>longitude</key>
			<real>4.8336518999999996</real>
			<key>name</key>
			<string>"Bellecour "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.7637134</real>
			<key>longitude</key>
			<real>4.8357774999999998</real>
			<key>name</key>
			<string>"Cordeliers"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.767335899999999</real>
			<key>longitude</key>
			<real>4.8359370000000004</real>
			<key>name</key>
			<string>"Hôtel de Ville - Louis Pradel "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.768952400000003</real>
			<key>longitude</key>
			<real>4.8439728999999998</real>
			<key>name</key>
			<string>"Foch"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.769469800000003</real>
			<key>longitude</key>
			<real>4.8528323000000002</real>
			<key>name</key>
			<string>"Masséna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.770103900000002</real>
			<key>longitude</key>
			<real>4.8627707999999998</real>
			<key>name</key>
			<string>"Charpennes - Charles Hernu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.770579900000001</real>
			<key>longitude</key>
			<real>4.8734514000000004</real>
			<key>name</key>
			<string>"République - Villeurbanne"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.769200400000003</real>
			<key>longitude</key>
			<real>4.8817297000000002</real>
			<key>name</key>
			<string>"Gratte-Ciel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.767650799999998</real>
			<key>longitude</key>
			<real>4.8896853</real>
			<key>name</key>
			<string>"Flachet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.765483500000002</real>
			<key>longitude</key>
			<real>4.9009429999999998</real>
			<key>name</key>
			<string>"Cusset"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.764628100000003</real>
			<key>longitude</key>
			<real>4.9087227000000002</real>
			<key>name</key>
			<string>"Laurent Bonnevay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.761017699999996</real>
			<key>longitude</key>
			<real>4.9221767999999999</real>
			<key>name</key>
			<string>"Vaulx-en-Velin - La Soie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.770103900000002</real>
			<key>longitude</key>
			<real>4.8627707999999998</real>
			<key>name</key>
			<string>"Charpennes - Charles Hernu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.766776399999998</real>
			<key>longitude</key>
			<real>4.8596665000000003</real>
			<key>name</key>
			<string>"Brotteaux"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.7605474</real>
			<key>longitude</key>
			<real>4.8611177000000003</real>
			<key>name</key>
			<string>"Part-Dieu "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.759211000000001</real>
			<key>longitude</key>
			<real>4.847378</real>
			<key>name</key>
			<string>"Place Guichard - Bourse du Travail "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.754020699999998</real>
			<key>longitude</key>
			<real>4.8470882</real>
			<key>name</key>
			<string>"Saxe-Gambetta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.745196999999997</real>
			<key>longitude</key>
			<real>4.8415150000000002</real>
			<key>name</key>
			<string>"Jean Macé"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.737169000000002</real>
			<key>longitude</key>
			<real>4.8369859000000002</real>
			<key>name</key>
			<string>"Place Jean Jaurès"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.731363999999999</real>
			<key>longitude</key>
			<real>4.8336420000000002</real>
			<key>name</key>
			<string>"Debourg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.726680000000002</real>
			<key>longitude</key>
			<real>4.8308249999999999</real>
			<key>name</key>
			<string>"Stade-de-Gerland"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.716712999999999</real>
			<key>longitude</key>
			<real>4.8145429999999996</real>
			<key>name</key>
			<string>"Gare d'Oullins "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.767335899999999</real>
			<key>longitude</key>
			<real>4.8359370000000004</real>
			<key>name</key>
			<string>"Hôtel de Ville - Louis Pradel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.770598900000003</real>
			<key>longitude</key>
			<real>4.8363233000000001</real>
			<key>name</key>
			<string>"Croix-Paquet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.780734000000002</real>
			<key>longitude</key>
			<real>4.8272599999999999</real>
			<key>name</key>
			<string>"Croix-Rousse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.779391500000003</real>
			<key>longitude</key>
			<real>4.8274182999999997</real>
			<key>name</key>
			<string>"Hénon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.785474499999999</real>
			<key>longitude</key>
			<real>4.8330295000000003</real>
			<key>name</key>
			<string>"Cuire"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.7801464</real>
			<key>longitude</key>
			<real>4.8041013000000001</real>
			<key>name</key>
			<string>"Gare de Vaise"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.775032799999998</real>
			<key>longitude</key>
			<real>4.8055368999999999</real>
			<key>name</key>
			<string>"Valmy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.765976100000003</real>
			<key>longitude</key>
			<real>4.8050294999999998</real>
			<key>name</key>
			<string>"Gorge de Loup"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.759940999999998</real>
			<key>longitude</key>
			<real>4.8260557999999998</real>
			<key>name</key>
			<string>"Vieux Lyon - Cathédrale Saint-Jean"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.757875599999998</real>
			<key>longitude</key>
			<real>4.8336518999999996</real>
			<key>name</key>
			<string>"Bellecour"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.755375000000001</real>
			<key>longitude</key>
			<real>4.8427499999999997</real>
			<key>name</key>
			<string>"Guillotière"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.754020699999998</real>
			<key>longitude</key>
			<real>4.8470882</real>
			<key>name</key>
			<string>"Saxe-Gambetta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.751588900000002</real>
			<key>longitude</key>
			<real>4.8536719000000002</real>
			<key>name</key>
			<string>"Garibaldi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.747768800000003</real>
			<key>longitude</key>
			<real>4.8650551000000002</real>
			<key>name</key>
			<string>"Sans-Souci"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.745605099999999</real>
			<key>longitude</key>
			<real>4.8714709000000003</real>
			<key>name</key>
			<string>"Monplaisir-Lumière"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.743089400000002</real>
			<key>longitude</key>
			<real>4.8787934000000002</real>
			<key>name</key>
			<string>"Grange-Blanche"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.738306700000003</real>
			<key>longitude</key>
			<real>4.8864191000000003</real>
			<key>name</key>
			<string>"Laënnec"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.730350899999998</real>
			<key>longitude</key>
			<real>4.8871412999999997</real>
			<key>name</key>
			<string>"Mermoz-Pinel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.719527300000003</real>
			<key>longitude</key>
			<real>4.8875468</real>
			<key>name</key>
			<string>"Parilly"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.70579</real>
			<key>longitude</key>
			<real>4.8878789999999999</real>
			<key>name</key>
			<string>"Gare de Vénissieux"</string>
		</dict>
	</array>
</dict>
</plist>
