<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>19.373767</real>
			<key>longitude</key>
			<real>-99.1078109</real>
			<key>name</key>
			<string>"Aculco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4046071</real>
			<key>longitude</key>
			<real>-99.0694977</real>
			<key>name</key>
			<string>"Agrícola Oriental"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4353737</real>
			<key>longitude</key>
			<real>-99.1369461</real>
			<key>name</key>
			<string>"Allende"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.378593</real>
			<key>longitude</key>
			<real>-99.1093452</real>
			<key>name</key>
			<string>"Apatlaco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4456507</real>
			<key>longitude</key>
			<real>-99.0879692</real>
			<key>name</key>
			<string>"Aquiles Serdán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4511695</real>
			<key>longitude</key>
			<real>-99.0962073</real>
			<key>name</key>
			<string>"Aragón"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3557084</real>
			<key>longitude</key>
			<real>-99.101572</real>
			<key>name</key>
			<string>"Atlalilco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4250632</real>
			<key>longitude</key>
			<real>-99.1918986</real>
			<key>name</key>
			<string>"Auditorio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4789829</real>
			<key>longitude</key>
			<real>-99.1406809</real>
			<key>name</key>
			<string>"Autobuses del Norte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4908853</real>
			<key>longitude</key>
			<real>-99.1735865</real>
			<key>name</key>
			<string>"Azcapotzalco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4228872</real>
			<key>longitude</key>
			<real>-99.1028166</real>
			<key>name</key>
			<string>"Balbuena"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4272124</real>
			<key>longitude</key>
			<real>-99.1489428</real>
			<key>name</key>
			<string>"Balderas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3614839</real>
			<key>longitude</key>
			<real>-99.1894001</real>
			<key>name</key>
			<string>"Barranca del Muerto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4359597</real>
			<key>longitude</key>
			<real>-99.1419672</real>
			<key>name</key>
			<string>"Bellas Artes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4645249</real>
			<key>longitude</key>
			<real>-99.1116236</real>
			<key>name</key>
			<string>"Bondojito"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4580747</real>
			<key>longitude</key>
			<real>-99.0692782</real>
			<key>name</key>
			<string>"Bosque de Aragón"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4192531</real>
			<key>longitude</key>
			<real>-99.0962676</real>
			<key>name</key>
			<string>"Boulevard Puerto Aéreo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4471359</real>
			<key>longitude</key>
			<real>-99.1520494</real>
			<key>name</key>
			<string>"Buenavista"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3204685</real>
			<key>longitude</key>
			<real>-99.0857871</real>
			<key>name</key>
			<string>"Calle 09"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4790896</real>
			<key>longitude</key>
			<real>-99.189759</real>
			<key>name</key>
			<string>"Camarones"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4488145</real>
			<key>longitude</key>
			<real>-99.1159499</real>
			<key>name</key>
			<string>"Canal del Norte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3982171</real>
			<key>longitude</key>
			<real>-99.0596974</real>
			<key>name</key>
			<string>"Canal de San Juan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4291706</real>
			<key>longitude</key>
			<real>-99.1189098</real>
			<key>name</key>
			<string>"Candelaria"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4069349</real>
			<key>longitude</key>
			<real>-99.1551339</real>
			<key>name</key>
			<string>"Centro Médico"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3231318</real>
			<key>longitude</key>
			<real>-99.0758814</real>
			<key>name</key>
			<string>"Cerro de la Estrella"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4087131</real>
			<key>longitude</key>
			<real>-99.1355824</real>
			<key>name</key>
			<string>"Chabacano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4201353</real>
			<key>longitude</key>
			<real>-99.1769761</real>
			<key>name</key>
			<string>"Chapultepec"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4058057</real>
			<key>longitude</key>
			<real>-99.1689616</real>
			<key>name</key>
			<string>"Chilpancingo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.5340684</real>
			<key>longitude</key>
			<real>-99.0268683</real>
			<key>name</key>
			<string>"Ciudad Azteca"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4084719</real>
			<key>longitude</key>
			<real>-99.0912532</real>
			<key>name</key>
			<string>"Ciudad Deportiva"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4490701</real>
			<key>longitude</key>
			<real>-99.1720988</real>
			<key>name</key>
			<string>"Colegio Militar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3459559</real>
			<key>longitude</key>
			<real>-99.0637699</real>
			<key>name</key>
			<string>"Constitución de 1915"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4116262</real>
			<key>longitude</key>
			<real>-99.1917151</real>
			<key>name</key>
			<string>"Constituyentes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4551828</real>
			<key>longitude</key>
			<real>-99.1129278</real>
			<key>name</key>
			<string>"Consulado"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3358272</real>
			<key>longitude</key>
			<real>-99.1770353</real>
			<key>name</key>
			<string>"Copilco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3437832</real>
			<key>longitude</key>
			<real>-99.1395128</real>
			<key>name</key>
			<string>"Coyoacán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3977819</real>
			<key>longitude</key>
			<real>-99.1134112</real>
			<key>name</key>
			<string>"Coyuya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4603543</real>
			<key>longitude</key>
			<real>-99.2157054</real>
			<key>name</key>
			<string>"Cuatro Caminos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4256596</real>
			<key>longitude</key>
			<real>-99.154551</real>
			<key>name</key>
			<string>"Cuauhtémoc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4619593</real>
			<key>longitude</key>
			<real>-99.1779184</real>
			<key>name</key>
			<string>"Cuitláhuac"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3369568</real>
			<key>longitude</key>
			<real>-99.1090741</real>
			<key>name</key>
			<string>"Culhuacán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4852073</real>
			<key>longitude</key>
			<real>-99.1254219</real>
			<key>name</key>
			<string>"Deportivo 18 de Marzo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4510028</real>
			<key>longitude</key>
			<real>-99.0793559</real>
			<key>name</key>
			<string>"Deportivo Oceanía"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3791546</real>
			<key>longitude</key>
			<real>-99.1593241</real>
			<key>name</key>
			<string>"División del Norte"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4135924</real>
			<key>longitude</key>
			<real>-99.1536883</real>
			<key>name</key>
			<string>"Doctores"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.5152144</real>
			<key>longitude</key>
			<real>-99.0360379</real>
			<key>name</key>
			<string>"Ecatepec"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.451428</real>
			<key>longitude</key>
			<real>-99.1057147</real>
			<key>name</key>
			<string>"Eduardo Molina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4795042</real>
			<key>longitude</key>
			<real>-99.1393107</real>
			<key>name</key>
			<string>"Eje Central"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.5046789</real>
			<key>longitude</key>
			<real>-99.1999333</real>
			<key>name</key>
			<string>"El Rosario"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3597999</real>
			<key>longitude</key>
			<real>-99.1429124</real>
			<key>name</key>
			<string>"Ermita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3645489</real>
			<key>longitude</key>
			<real>-99.1091895</real>
			<key>name</key>
			<string>"Escuadrón 199"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3961748</real>
			<key>longitude</key>
			<real>-99.1564289</real>
			<key>name</key>
			<string>"Etiopía/Plaza de la Transparencia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3862345</real>
			<key>longitude</key>
			<real>-99.1574798</real>
			<key>name</key>
			<string>"Eugenia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4908853</real>
			<key>longitude</key>
			<real>-99.1735865</real>
			<key>name</key>
			<string>"Ferrería"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4214909</real>
			<key>longitude</key>
			<real>-99.1203368</real>
			<key>name</key>
			<string>"Fray Servando"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4436493</real>
			<key>longitude</key>
			<real>-99.138924</real>
			<key>name</key>
			<string>"Garibaldi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3530589</real>
			<key>longitude</key>
			<real>-99.1447232</real>
			<key>name</key>
			<string>"General Anaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4161079</real>
			<key>longitude</key>
			<real>-99.0907372</real>
			<key>name</key>
			<string>"Gómez Farías"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3851837</real>
			<key>longitude</key>
			<real>-99.0356311</real>
			<key>name</key>
			<string>"Guelatao"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4377869</real>
			<key>longitude</key>
			<real>-99.1459108</real>
			<key>name</key>
			<string>"Guerrero"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.424257</real>
			<key>longitude</key>
			<real>-99.0883943</real>
			<key>name</key>
			<string>"Hangares"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4377869</real>
			<key>longitude</key>
			<real>-99.1459108</real>
			<key>name</key>
			<string>"Hidalgo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3719364</real>
			<key>longitude</key>
			<real>-99.1711376</real>
			<key>name</key>
			<string>"Hospital 20 de Noviembre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4135924</real>
			<key>longitude</key>
			<real>-99.1536883</real>
			<key>name</key>
			<string>"Hospital General"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4856331</real>
			<key>longitude</key>
			<real>-99.0489669</real>
			<key>name</key>
			<string>"Impulsora"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4953153</real>
			<key>longitude</key>
			<real>-99.1195032</real>
			<key>name</key>
			<string>"Indios Verdes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4890993</real>
			<key>longitude</key>
			<real>-99.144151</real>
			<key>name</key>
			<string>"Instituto del Petróleo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4236194</real>
			<key>longitude</key>
			<real>-99.1632931</real>
			<key>name</key>
			<string>"Insurgentes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3735407</real>
			<key>longitude</key>
			<real>-99.1786239</real>
			<key>name</key>
			<string>"Insurgentes Sur"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4261267</real>
			<key>longitude</key>
			<real>-99.1379325</real>
			<key>name</key>
			<string>"Isabel la Católica"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3886786</real>
			<key>longitude</key>
			<real>-99.1122164</real>
			<key>name</key>
			<string>"Iztacalco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3437832</real>
			<key>longitude</key>
			<real>-99.1395128</real>
			<key>name</key>
			<string>"Iztapalapa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4089437</real>
			<key>longitude</key>
			<real>-99.1222787</real>
			<key>name</key>
			<string>"Jamaica"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4128055</real>
			<key>longitude</key>
			<real>-99.1822005</real>
			<key>name</key>
			<string>"Juanacatlán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4333874</real>
			<key>longitude</key>
			<real>-99.147899</real>
			<key>name</key>
			<string>"Juárez"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3505509</real>
			<key>longitude</key>
			<real>-98.9608848</real>
			<key>name</key>
			<string>"La Paz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4687133</real>
			<key>longitude</key>
			<real>-99.1396016</real>
			<key>name</key>
			<string>"La Raza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.406328</real>
			<key>longitude</key>
			<real>-99.126368</real>
			<key>name</key>
			<string>"La Viga"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4814849</real>
			<key>longitude</key>
			<real>-99.1177033</real>
			<key>name</key>
			<string>"La Villa-Basílica"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.407021</real>
			<key>longitude</key>
			<real>-99.1443372</real>
			<key>name</key>
			<string>"Lázaro Cardenas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4364977</real>
			<key>longitude</key>
			<real>-99.082121</real>
			<key>name</key>
			<string>"Lindavista"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3505509</real>
			<key>longitude</key>
			<real>-98.9608848</real>
			<key>name</key>
			<string>"Los Reyes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3461152</real>
			<key>longitude</key>
			<real>-99.1810007</real>
			<key>name</key>
			<string>"Miguel Ángel de Quevedo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4849863</real>
			<key>longitude</key>
			<real>-99.1043776</real>
			<key>name</key>
			<string>"Martín Carrera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4254805</real>
			<key>longitude</key>
			<real>-99.1250482</real>
			<key>name</key>
			<string>"Merced"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3578589</real>
			<key>longitude</key>
			<real>-99.1223324</real>
			<key>name</key>
			<string>"Mexicaltzingo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4628646</real>
			<key>longitude</key>
			<real>-99.1305747</real>
			<key>name</key>
			<string>"Misterios"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3763699</real>
			<key>longitude</key>
			<real>-99.1877696</real>
			<key>name</key>
			<string>"Mixcoac"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.408205</real>
			<key>longitude</key>
			<real>-99.1128588</real>
			<key>name</key>
			<string>"Mixiuhca"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4270767</real>
			<key>longitude</key>
			<real>-99.1095312</real>
			<key>name</key>
			<string>"Moctezuma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4390602</real>
			<key>longitude</key>
			<real>-99.1187295</real>
			<key>name</key>
			<string>"Morelos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.5013005</real>
			<key>longitude</key>
			<real>-99.0421273</real>
			<key>name</key>
			<string>"Múzquiz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3794445</real>
			<key>longitude</key>
			<real>-99.1401877</real>
			<key>name</key>
			<string>"Nativitas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4726767</real>
			<key>longitude</key>
			<real>-99.0546387</real>
			<key>name</key>
			<string>"Nezahualcóyotl"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4194672</real>
			<key>longitude</key>
			<real>-99.150238</real>
			<key>name</key>
			<string>"Niños Héroes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3002893</real>
			<key>longitude</key>
			<real>-99.0460926</real>
			<key>name</key>
			<string>"Nopalera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4448864</real>
			<key>longitude</key>
			<real>-99.167315</real>
			<key>name</key>
			<string>"Normal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.488238</real>
			<key>longitude</key>
			<real>-99.1624904</real>
			<key>name</key>
			<string>"Norte 43"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4130115</real>
			<key>longitude</key>
			<real>-99.1439295</real>
			<key>name</key>
			<string>"Obrera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3982627</real>
			<key>longitude</key>
			<real>-99.2004007</real>
			<key>name</key>
			<string>"Observatorio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4448879</real>
			<key>longitude</key>
			<real>-99.0870465</real>
			<key>name</key>
			<string>"Oceanía"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.299117</real>
			<key>longitude</key>
			<real>-99.1855397</real>
			<key>name</key>
			<string>"Olímpica"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4304843</real>
			<key>longitude</key>
			<real>-99.1303131</real>
			<key>name</key>
			<string>"Olivos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.458219</real>
			<key>longitude</key>
			<real>-99.20294</real>
			<key>name</key>
			<string>"Panteones"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4153894</real>
			<key>longitude</key>
			<real>-99.0734291</real>
			<key>name</key>
			<string>"Pantitlán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3707415</real>
			<key>longitude</key>
			<real>-99.1582408</real>
			<key>name</key>
			<string>"Parque de los Venados"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.405798</real>
			<key>longitude</key>
			<real>-99.1790046</real>
			<key>name</key>
			<string>"Patriotismo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3729156</real>
			<key>longitude</key>
			<real>-99.0172863</real>
			<key>name</key>
			<string>"Peñón Viejo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3176197</real>
			<key>longitude</key>
			<real>-99.0743302</real>
			<key>name</key>
			<string>"Periférico Oriente"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4259282</real>
			<key>longitude</key>
			<real>-99.1330059</real>
			<key>name</key>
			<string>"Pino Suárez"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.5289873</real>
			<key>longitude</key>
			<real>-99.0304566</real>
			<key>name</key>
			<string>"Plaza Aragón"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4336444</real>
			<key>longitude</key>
			<real>-99.1901467</real>
			<key>name</key>
			<string>"Polanco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.5007245</real>
			<key>longitude</key>
			<real>-99.1492116</real>
			<key>name</key>
			<string>"Politécnico"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4529784</real>
			<key>longitude</key>
			<real>-99.175341</real>
			<key>name</key>
			<string>"Popotla"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3698441</real>
			<key>longitude</key>
			<real>-99.1415834</real>
			<key>name</key>
			<string>"Portales"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4770872</real>
			<key>longitude</key>
			<real>-99.132092</real>
			<key>name</key>
			<string>"Potrero"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4072288</real>
			<key>longitude</key>
			<real>-99.0824881</real>
			<key>name</key>
			<string>"Puebla"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4694575</real>
			<key>longitude</key>
			<real>-99.1900151</real>
			<key>name</key>
			<string>"Refinería"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.396618</real>
			<key>longitude</key>
			<real>-99.185771</real>
			<key>name</key>
			<string>"Revolución"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3557084</real>
			<key>longitude</key>
			<real>-99.101572</real>
			<key>name</key>
			<string>"Ricardo Flores Magón"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4903671</real>
			<key>longitude</key>
			<real>-99.0469028</real>
			<key>name</key>
			<string>"Río de los Remedios"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4408373</real>
			<key>longitude</key>
			<real>-99.094725</real>
			<key>name</key>
			<string>"Romero Rubio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4277927</real>
			<key>longitude</key>
			<real>-99.1425086</real>
			<key>name</key>
			<string>"Salto del Agua"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3282224</real>
			<key>longitude</key>
			<real>-99.1048453</real>
			<key>name</key>
			<string>"San Andrés Tomatlán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>29.4193359</real>
			<key>longitude</key>
			<real>-98.4780211</real>
			<key>name</key>
			<string>"San Antonio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4158787</real>
			<key>longitude</key>
			<real>-99.1346114</real>
			<key>name</key>
			<string>"San Antonio Abad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4420536</real>
			<key>longitude</key>
			<real>-99.1606678</real>
			<key>name</key>
			<string>"San Cosme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4450631</real>
			<key>longitude</key>
			<real>-99.19178</real>
			<key>name</key>
			<string>"San Joaquín"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4318271</real>
			<key>longitude</key>
			<real>-99.1411456</real>
			<key>name</key>
			<string>"San Juan de Letrán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4298611</real>
			<key>longitude</key>
			<real>-99.1143956</real>
			<key>name</key>
			<string>"San Lázaro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3916143</real>
			<key>longitude</key>
			<real>-99.1854946</real>
			<key>name</key>
			<string>"San Pedro de los Pinos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4029557</real>
			<key>longitude</key>
			<real>-99.1216831</real>
			<key>name</key>
			<string>"Santa Anita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3602922</real>
			<key>longitude</key>
			<real>-98.9952113</real>
			<key>name</key>
			<string>"Santa Marta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4218464</real>
			<key>longitude</key>
			<real>-99.171123</real>
			<key>name</key>
			<string>"Sevilla"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.45876</real>
			<key>longitude</key>
			<real>-99.1882684</real>
			<key>name</key>
			<string>"Tacuba"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4024299</real>
			<key>longitude</key>
			<real>-99.188365</real>
			<key>name</key>
			<string>"Tacubaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4741952</real>
			<key>longitude</key>
			<real>-99.10767</real>
			<key>name</key>
			<string>"Talismán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3437832</real>
			<key>longitude</key>
			<real>-99.1395128</real>
			<key>name</key>
			<string>"Tasqueña"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3912463</real>
			<key>longitude</key>
			<real>-99.0462515</real>
			<key>name</key>
			<string>"Tepalcates"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.442747</real>
			<key>longitude</key>
			<real>-99.123888</real>
			<key>name</key>
			<string>"Tepito"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4339016</real>
			<key>longitude</key>
			<real>-99.0880129</real>
			<key>name</key>
			<string>"Terminal Aérea"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3065334</real>
			<key>longitude</key>
			<real>-99.0654376</real>
			<key>name</key>
			<string>"Tezonco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4944885</real>
			<key>longitude</key>
			<real>-99.1959321</real>
			<key>name</key>
			<string>"Tezozómoc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.2868006</real>
			<key>longitude</key>
			<real>-99.0144324</real>
			<key>name</key>
			<string>"Tláhuac"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.2943367</real>
			<key>longitude</key>
			<real>-99.0239564</real>
			<key>name</key>
			<string>"Tlaltenco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4471359</real>
			<key>longitude</key>
			<real>-99.1520494</real>
			<key>name</key>
			<string>"Tlatelolco"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3509376</real>
			<key>longitude</key>
			<real>-99.0750465</real>
			<key>name</key>
			<string>"UAM-I"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3237353</real>
			<key>longitude</key>
			<real>-99.1740722</real>
			<key>name</key>
			<string>"Universidad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4591337</real>
			<key>longitude</key>
			<real>-99.1193131</real>
			<key>name</key>
			<string>"Valle Gómez"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.489604</real>
			<key>longitude</key>
			<real>-99.1559836</real>
			<key>name</key>
			<string>"Vallejo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4085545</real>
			<key>longitude</key>
			<real>-99.1031217</real>
			<key>name</key>
			<string>"Velódromo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4008697</real>
			<key>longitude</key>
			<real>-99.1369067</real>
			<key>name</key>
			<string>"Viaducto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4616962</real>
			<key>longitude</key>
			<real>-99.0612316</real>
			<key>name</key>
			<string>"Villa de Aragón"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3874986</real>
			<key>longitude</key>
			<real>-99.1389541</real>
			<key>name</key>
			<string>"Villa de Cortés"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.353904</real>
			<key>longitude</key>
			<real>-99.1752778</real>
			<key>name</key>
			<string>"Viveros/Derechos Humanos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3950293</real>
			<key>longitude</key>
			<real>-99.1375887</real>
			<key>name</key>
			<string>"Xola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.3707395</real>
			<key>longitude</key>
			<real>-99.1645503</real>
			<key>name</key>
			<string>"Zapata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.2963804</real>
			<key>longitude</key>
			<real>-99.0341895</real>
			<key>name</key>
			<string>"Zapotitlán"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.4124143</real>
			<key>longitude</key>
			<real>-99.0823876</real>
			<key>name</key>
			<string>"Zaragoza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>19.433047</real>
			<key>longitude</key>
			<real>-99.1325408</real>
			<key>name</key>
			<string>"Zócalo"</string>
		</dict>
	</array>
</dict>
</plist>