<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>25.843484100000001</real>
			<key>longitude</key>
			<real>-80.3245814</real>
			<key>name</key>
			<string>"Palmetto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.839850800000001</real>
			<key>longitude</key>
			<real>-80.301523500000002</real>
			<key>name</key>
			<string>"Okeechobee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.8411641</real>
			<key>longitude</key>
			<real>-80.279051699999997</real>
			<key>name</key>
			<string>"Hialeah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.8108176</real>
			<key>longitude</key>
			<real>-80.258779599999997</real>
			<key>name</key>
			<string>"Tri-Rail"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.845682499999999</real>
			<key>longitude</key>
			<real>-80.248810199999994</real>
			<key>name</key>
			<string>"Northside"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.832404100000002</real>
			<key>longitude</key>
			<real>-80.241249199999999</real>
			<key>name</key>
			<string>"Dr. Martin Luther King Jr. Plaza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.8220241</real>
			<key>longitude</key>
			<real>-80.240911499999996</real>
			<key>name</key>
			<string>"Brownsville"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.7971808</real>
			<key>longitude</key>
			<real>-80.258331400000003</real>
			<key>name</key>
			<string>"Miami AirportAmtrak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.8124538</real>
			<key>longitude</key>
			<real>-80.230058999999997</real>
			<key>name</key>
			<string>"Earlington Heights"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.808708599999999</real>
			<key>longitude</key>
			<real>-80.215468700000002</real>
			<key>name</key>
			<string>"Allapattah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.7958152</real>
			<key>longitude</key>
			<real>-80.215202700000006</real>
			<key>name</key>
			<string>"Santa Clara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.789813899999999</real>
			<key>longitude</key>
			<real>-80.215028599999997</real>
			<key>name</key>
			<string>"Civic Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.784543899999999</real>
			<key>longitude</key>
			<real>-80.207550100000006</real>
			<key>name</key>
			<string>"Culmer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.7810171</real>
			<key>longitude</key>
			<real>-80.196283600000001</real>
			<key>name</key>
			<string>"Historic Overtown/Lyric Theatre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.776033999999999</real>
			<key>longitude</key>
			<real>-80.196061</real>
			<key>name</key>
			<string>"Government Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.7638502</real>
			<key>longitude</key>
			<real>-80.195425</real>
			<key>name</key>
			<string>"Brickell"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.749738300000001</real>
			<key>longitude</key>
			<real>-80.211782999999997</real>
			<key>name</key>
			<string>"Vizcaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.739791499999999</real>
			<key>longitude</key>
			<real>-80.238873299999995</real>
			<key>name</key>
			<string>"Coconut Grove"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.732773600000002</real>
			<key>longitude</key>
			<real>-80.254862700000004</real>
			<key>name</key>
			<string>"Douglas Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.714867999999999</real>
			<key>longitude</key>
			<real>-80.277027000000004</real>
			<key>name</key>
			<string>"University"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.705091599999999</real>
			<key>longitude</key>
			<real>-80.289017799999996</real>
			<key>name</key>
			<string>"South Miami"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.691936900000002</real>
			<key>longitude</key>
			<real>-80.305108899999993</real>
			<key>name</key>
			<string>"Dadeland North"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>25.685043100000001</real>
			<key>longitude</key>
			<real>-80.313672199999999</real>
			<key>name</key>
			<string>"Dadeland South"</string>
		</dict>
	</array>
</dict>
</plist>
