<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>45.513582200000002</real>
			<key>longitude</key>
			<real>9.1741816000000007</real>
			<key>name</key>
			<string>"Affori Centro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.521777399999998</real>
			<key>longitude</key>
			<real>9.1680107999999993</real>
			<key>name</key>
			<string>"Affori FN"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.473678900000003</real>
			<key>longitude</key>
			<real>9.1509692999999999</real>
			<key>name</key>
			<string>"Amendola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.409454500000002</real>
			<key>longitude</key>
			<real>9.1500462999999996</real>
			<key>name</key>
			<string>"Assago Milanofiori Nord*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.461503999999998</real>
			<key>longitude</key>
			<real>9.1364844999999999</real>
			<key>name</key>
			<string>"Bande Nere"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.512875200000003</real>
			<key>longitude</key>
			<real>9.2141619000000006</real>
			<key>name</key>
			<string>"Bicocca"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.497026699999999</real>
			<key>longitude</key>
			<real>9.1101186999999992</real>
			<key>name</key>
			<string>"Bonola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.442810700000003</real>
			<key>longitude</key>
			<real>9.2184813999999999</real>
			<key>name</key>
			<string>"Brenta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.470402</real>
			<key>longitude</key>
			<real>9.1552922999999993</real>
			<key>name</key>
			<string>"Buonarroti"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5352757</real>
			<key>longitude</key>
			<real>9.3765789999999996</real>
			<key>name</key>
			<string>"Bussero*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.506488599999997</real>
			<key>longitude</key>
			<real>9.1962984999999993</real>
			<key>name</key>
			<string>"Ca' Granda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.467929699999999</real>
			<key>longitude</key>
			<real>9.1763560999999996</real>
			<key>name</key>
			<string>"Cadorna – Triennale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485318200000002</real>
			<key>longitude</key>
			<real>9.2094094000000002</real>
			<key>name</key>
			<string>"Caiazzo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.468223700000003</real>
			<key>longitude</key>
			<real>9.1822592000000007</real>
			<key>name</key>
			<string>"Cairoli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485887699999999</real>
			<key>longitude</key>
			<real>9.2042827000000003</real>
			<key>name</key>
			<string>"Cascina Antonietta*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.517364399999998</real>
			<key>longitude</key>
			<real>9.2978354999999997</real>
			<key>name</key>
			<string>"Cascina Burrona*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5114424</real>
			<key>longitude</key>
			<real>9.2605102000000006</real>
			<key>name</key>
			<string>"Cascina Gobba"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.518171799999998</real>
			<key>longitude</key>
			<real>9.3575777999999996</real>
			<key>name</key>
			<string>"Cassina de' Pecchi*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.487600100000002</real>
			<key>longitude</key>
			<real>9.1718811999999996</real>
			<key>name</key>
			<string>"Cenisio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485887699999999</real>
			<key>longitude</key>
			<real>9.2042827000000003</real>
			<key>name</key>
			<string>"Centrale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485887699999999</real>
			<key>longitude</key>
			<real>9.2042827000000003</real>
			<key>name</key>
			<string>"Cernusco sul Naviglio*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485887699999999</real>
			<key>longitude</key>
			<real>9.2042827000000003</real>
			<key>name</key>
			<string>"Cimiano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.527478199999997</real>
			<key>longitude</key>
			<real>9.2829642000000003</real>
			<key>name</key>
			<string>"Cologno Centro*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.520213099999999</real>
			<key>longitude</key>
			<real>9.2749270999999993</real>
			<key>name</key>
			<string>"Cologno Sud*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.467534100000002</real>
			<key>longitude</key>
			<real>9.1664870000000001</real>
			<key>name</key>
			<string>"Conciliazione"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.465531900000002</real>
			<key>longitude</key>
			<real>9.1862353999999993</real>
			<key>name</key>
			<string>"Cordusio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.440407299999997</real>
			<key>longitude</key>
			<real>9.2238697999999992</real>
			<key>name</key>
			<string>"Corvetto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.505252599999999</real>
			<key>longitude</key>
			<real>9.2481919999999995</real>
			<key>name</key>
			<string>"Crescenzago"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.456047499999997</real>
			<key>longitude</key>
			<real>9.1956533</real>
			<key>name</key>
			<string>"Crocetta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.466430600000002</real>
			<key>longitude</key>
			<real>9.1495657999999995</real>
			<key>name</key>
			<string>"De Angeli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.505536999999997</real>
			<key>longitude</key>
			<real>9.1796030999999996</real>
			<key>name</key>
			<string>"Dergano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.481129500000002</real>
			<key>longitude</key>
			<real>9.1619685999999998</real>
			<key>name</key>
			<string>"Domodossola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.464182100000002</real>
			<key>longitude</key>
			<real>9.1896284000000001</real>
			<key>name</key>
			<string>"Duomo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.437242699999999</real>
			<key>longitude</key>
			<real>9.1681329999999992</real>
			<key>name</key>
			<string>"Famagosta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.464896299999999</real>
			<key>longitude</key>
			<real>9.1430279999999993</real>
			<key>name</key>
			<string>"Gambara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.484304600000002</real>
			<key>longitude</key>
			<real>9.1876802000000009</real>
			<key>name</key>
			<string>"Garibaldi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.484418400000003</real>
			<key>longitude</key>
			<real>9.1669347000000005</real>
			<key>name</key>
			<string>"Gerusalemme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.484899900000002</real>
			<key>longitude</key>
			<real>9.1948574000000001</real>
			<key>name</key>
			<string>"Gioia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.536689600000003</real>
			<key>longitude</key>
			<real>9.4035053000000008</real>
			<key>name</key>
			<string>"Gorgonzola*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.506734299999998</real>
			<key>longitude</key>
			<real>9.2227388000000001</real>
			<key>name</key>
			<string>"Gorla"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.457444500000001</real>
			<key>longitude</key>
			<real>9.1225269000000004</real>
			<key>name</key>
			<string>"Inganni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.487608299999998</real>
			<key>longitude</key>
			<real>9.1912634000000004</real>
			<key>name</key>
			<string>"Isola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.501626199999997</real>
			<key>longitude</key>
			<real>9.1979199999999999</real>
			<key>name</key>
			<string>"Istria"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.484721700000001</real>
			<key>longitude</key>
			<real>9.2368012000000004</real>
			<key>name</key>
			<string>"Lambrate"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.489765499999997</real>
			<key>longitude</key>
			<real>9.1275993999999994</real>
			<key>name</key>
			<string>"Lampugnano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.472229499999997</real>
			<key>longitude</key>
			<real>9.1825481</real>
			<key>name</key>
			<string>"Lanza - Brera - Piccolo Teatro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.480345900000003</real>
			<key>longitude</key>
			<real>9.2109827000000006</real>
			<key>name</key>
			<string>"Lima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.446763599999997</real>
			<key>longitude</key>
			<real>9.2108164000000006</real>
			<key>name</key>
			<string>"Lodi T.I.B.B."</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.484536400000003</real>
			<key>longitude</key>
			<real>9.2154865000000008</real>
			<key>name</key>
			<string>"Loreto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.478895600000001</real>
			<key>longitude</key>
			<real>9.1439965999999995</real>
			<key>name</key>
			<string>"Lotto - Fieramilanocity"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.497695200000003</real>
			<key>longitude</key>
			<real>9.1852558999999996</real>
			<key>name</key>
			<string>"Maciachini"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.496145599999998</real>
			<key>longitude</key>
			<real>9.1948235999999994</real>
			<key>name</key>
			<string>"Marche"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.460108599999998</real>
			<key>longitude</key>
			<real>9.1890271000000006</real>
			<key>name</key>
			<string>"Missori"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5052229</real>
			<key>longitude</key>
			<real>9.0932939000000008</real>
			<key>name</key>
			<string>"Molino Dorino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.470193100000003</real>
			<key>longitude</key>
			<real>9.1926892000000002</real>
			<key>name</key>
			<string>"Montenapoleone"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.487335700000003</real>
			<key>longitude</key>
			<real>9.1777587999999994</real>
			<key>name</key>
			<string>"Monumentale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.477620999999999</real>
			<key>longitude</key>
			<real>9.1845830999999993</real>
			<key>name</key>
			<string>"Moscova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.468280800000002</real>
			<key>longitude</key>
			<real>9.1610952000000001</real>
			<key>name</key>
			<string>"Pagano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.471425000000004</real>
			<key>longitude</key>
			<real>9.2019490000000008</real>
			<key>name</key>
			<string>"Palestro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.491069199999998</real>
			<key>longitude</key>
			<real>9.2181800999999997</real>
			<key>name</key>
			<string>"Pasteur"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.508691399999996</real>
			<key>longitude</key>
			<real>9.0858085000000006</real>
			<key>name</key>
			<string>"Pero*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.481003899999997</real>
			<key>longitude</key>
			<real>9.2250039000000008</real>
			<key>name</key>
			<string>"Piola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.521836100000002</real>
			<key>longitude</key>
			<real>9.2096815000000003</real>
			<key>name</key>
			<string>"Ponale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.453297900000003</real>
			<key>longitude</key>
			<real>9.1695933000000007</real>
			<key>name</key>
			<string>"Porta Genova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.445782000000001</real>
			<key>longitude</key>
			<real>9.2131299999999996</real>
			<key>name</key>
			<string>"Porta Romana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.476389599999997</real>
			<key>longitude</key>
			<real>9.2080746999999992</real>
			<key>name</key>
			<string>"Porta Venezia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.484304600000002</real>
			<key>longitude</key>
			<real>9.1876802000000009</real>
			<key>name</key>
			<string>"Portello"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.437191300000002</real>
			<key>longitude</key>
			<real>9.2303546000000001</real>
			<key>name</key>
			<string>"Porto di Mare"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.512875200000003</real>
			<key>longitude</key>
			<real>9.2141619000000006</real>
			<key>name</key>
			<string>"Precotto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.459413599999998</real>
			<key>longitude</key>
			<real>9.1292597000000004</real>
			<key>name</key>
			<string>"Primaticcio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485958099999998</real>
			<key>longitude</key>
			<real>9.1371822999999992</real>
			<key>name</key>
			<string>"QT8"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.480283999999997</real>
			<key>longitude</key>
			<real>9.1983408000000004</real>
			<key>name</key>
			<string>"Repubblica"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.433588999999998</real>
			<key>longitude</key>
			<real>9.2384877999999997</real>
			<key>name</key>
			<string>"Rogoredo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.443211300000002</real>
			<key>longitude</key>
			<real>9.1674042</real>
			<key>name</key>
			<string>"Romolo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.4956903</real>
			<key>longitude</key>
			<real>9.2194604000000009</real>
			<key>name</key>
			<string>"Rovereto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.466521399999998</real>
			<key>longitude</key>
			<real>9.1975286000000001</real>
			<key>name</key>
			<string>"San Babila"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.501151700000001</real>
			<key>longitude</key>
			<real>9.1015305000000009</real>
			<key>name</key>
			<string>"San Leonardo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.476081499999999</real>
			<key>longitude</key>
			<real>9.1285833000000007</real>
			<key>name</key>
			<string>"San Siro Ippodromo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.458595699999996</real>
			<key>longitude</key>
			<real>9.1696535000000008</real>
			<key>name</key>
			<string>"Sant'Agostino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.461623899999999</real>
			<key>longitude</key>
			<real>9.1731680000000004</real>
			<key>name</key>
			<string>"Sant'Ambrogio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.476253100000001</real>
			<key>longitude</key>
			<real>9.1378585999999995</real>
			<key>name</key>
			<string>"Segesta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.523477100000001</real>
			<key>longitude</key>
			<real>9.2279614999999993</real>
			<key>name</key>
			<string>"Sesto Marelli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.533992699999999</real>
			<key>longitude</key>
			<real>9.2319562000000008</real>
			<key>name</key>
			<string>"Sesto Rondò*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.4896612</real>
			<key>longitude</key>
			<real>9.2011807999999995</real>
			<key>name</key>
			<string>"Sondrio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.478141399999998</real>
			<key>longitude</key>
			<real>9.1566191000000003</real>
			<key>name</key>
			<string>"Tre Torri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.4744229</real>
			<key>longitude</key>
			<real>9.1948001999999995</real>
			<key>name</key>
			<string>"Turati"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.500445499999998</real>
			<key>longitude</key>
			<real>9.2210046999999999</real>
			<key>name</key>
			<string>"Turro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.491204400000001</real>
			<key>longitude</key>
			<real>9.2369964000000007</real>
			<key>name</key>
			<string>"Udine"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.494050899999998</real>
			<key>longitude</key>
			<real>9.1202617000000004</real>
			<key>name</key>
			<string>"Uruguay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.520739800000001</real>
			<key>longitude</key>
			<real>9.3459713999999998</real>
			<key>name</key>
			<string>"Villa Fiorita*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.527848499999998</real>
			<key>longitude</key>
			<real>9.3849744000000008</real>
			<key>name</key>
			<string>"Villa Pompea*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5213641</real>
			<key>longitude</key>
			<real>9.2276725000000006</real>
			<key>name</key>
			<string>"Villa San Giovanni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.515783300000002</real>
			<key>longitude</key>
			<real>9.2859891000000001</real>
			<key>name</key>
			<string>"Vimodrone*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.492664400000002</real>
			<key>longitude</key>
			<real>9.1926010999999992</real>
			<key>name</key>
			<string>"Zara"</string>
		</dict>
	</array>
</dict>
</plist>
