<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>45.596795499999999</real>
			<key>longitude</key>
			<real>-73.534400599999998</real>
			<key>name</key>
			<string>"Honoré-Beaugrand"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5892999</real>
			<key>longitude</key>
			<real>-73.539592099999993</real>
			<key>name</key>
			<string>"Radisson"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.582878100000002</real>
			<key>longitude</key>
			<real>-73.542607599999997</real>
			<key>name</key>
			<string>"Langelier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.576876499999997</real>
			<key>longitude</key>
			<real>-73.546718400000003</real>
			<key>name</key>
			<string>"Cadillac"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.569264199999999</real>
			<key>longitude</key>
			<real>-73.546739200000005</real>
			<key>name</key>
			<string>"Assomption"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.561176000000003</real>
			<key>longitude</key>
			<real>-73.547172200000006</real>
			<key>name</key>
			<string>"Viau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.554034399999999</real>
			<key>longitude</key>
			<real>-73.551931100000004</real>
			<key>name</key>
			<string>"Pie-IX"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5470416</real>
			<key>longitude</key>
			<real>-73.551511599999998</real>
			<key>name</key>
			<string>"Joliette"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.541514999999997</real>
			<key>longitude</key>
			<real>-73.554379400000002</real>
			<key>name</key>
			<string>"Préfontaine"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.533090000000001</real>
			<key>longitude</key>
			<real>-73.552325999999994</real>
			<key>name</key>
			<string>"Frontenac"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.523709400000001</real>
			<key>longitude</key>
			<real>-73.552069200000005</real>
			<key>name</key>
			<string>"Papineau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5189837</real>
			<key>longitude</key>
			<real>-73.555897099999996</real>
			<key>name</key>
			<string>"Beaudry"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5108386</real>
			<key>longitude</key>
			<real>-73.564819200000002</real>
			<key>name</key>
			<string>"Saint-Laurent"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.508205599999997</real>
			<key>longitude</key>
			<real>-73.568029999999993</real>
			<key>name</key>
			<string>"Place-des-Arts"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.503861700000002</real>
			<key>longitude</key>
			<real>-73.571410099999994</real>
			<key>name</key>
			<string>"McGill"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.500889999999998</real>
			<key>longitude</key>
			<real>-73.574972000000002</real>
			<key>name</key>
			<string>"Peel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.494493400000003</real>
			<key>longitude</key>
			<real>-73.580771999999996</real>
			<key>name</key>
			<string>"Guy-Concordia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.478157099999997</real>
			<key>longitude</key>
			<real>-73.569330500000007</real>
			<key>name</key>
			<string>"Charlevoix"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.470813</real>
			<key>longitude</key>
			<real>-73.566137900000001</real>
			<key>name</key>
			<string>"LaSalle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.459153100000002</real>
			<key>longitude</key>
			<real>-73.571530499999994</real>
			<key>name</key>
			<string>"Verdun"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.456750399999997</real>
			<key>longitude</key>
			<real>-73.582033699999997</real>
			<key>name</key>
			<string>"Jolicoeur"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.4509343</real>
			<key>longitude</key>
			<real>-73.593445299999999</real>
			<key>name</key>
			<string>"Monk"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.446247900000003</real>
			<key>longitude</key>
			<real>-73.603926900000005</real>
			<key>name</key>
			<string>"Angrignon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.446247900000003</real>
			<key>longitude</key>
			<real>-73.603926900000005</real>
			<key>name</key>
			<string>"Angrignon Garage"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.514180899999999</real>
			<key>longitude</key>
			<real>-73.6831976</real>
			<key>name</key>
			<string>"Côte-Vertu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.509445200000002</real>
			<key>longitude</key>
			<real>-73.674682500000003</real>
			<key>name</key>
			<string>"Du Collège"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.500345000000003</real>
			<key>longitude</key>
			<real>-73.661543800000004</real>
			<key>name</key>
			<string>"De La Savane"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.494971700000001</real>
			<key>longitude</key>
			<real>-73.652983399999997</real>
			<key>name</key>
			<string>"Namur"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.4943162</real>
			<key>longitude</key>
			<real>-73.637963999999997</real>
			<key>name</key>
			<string>"Plamondon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.492414599999996</real>
			<key>longitude</key>
			<real>-73.632727500000001</real>
			<key>name</key>
			<string>"Côte-Sainte-Catherine"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485482300000001</real>
			<key>longitude</key>
			<real>-73.627968899999999</real>
			<key>name</key>
			<string>"Snowdon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.479554299999997</real>
			<key>longitude</key>
			<real>-73.619756600000002</real>
			<key>name</key>
			<string>"Villa-Maria"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.473566499999997</real>
			<key>longitude</key>
			<real>-73.6036091</real>
			<key>name</key>
			<string>"Vendôme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.477103800000002</real>
			<key>longitude</key>
			<real>-73.5865048</real>
			<key>name</key>
			<string>"Place-Saint-Henri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.482826600000003</real>
			<key>longitude</key>
			<real>-73.579716099999999</real>
			<key>name</key>
			<string>"Lionel-Groulx"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.488901300000002</real>
			<key>longitude</key>
			<real>-73.576499799999993</real>
			<key>name</key>
			<string>"Georges-Vanier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.498033499999998</real>
			<key>longitude</key>
			<real>-73.5668115</real>
			<key>name</key>
			<string>"Bonaventure"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.501697</real>
			<key>longitude</key>
			<real>-73.563830999999993</real>
			<key>name</key>
			<string>"Square-Victoria-OACI"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.510204199999997</real>
			<key>longitude</key>
			<real>-73.556558800000005</real>
			<key>name</key>
			<string>"Champ-de-Mars"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.514886500000003</real>
			<key>longitude</key>
			<real>-73.559726699999999</real>
			<key>name</key>
			<string>"Berri-UQAM"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.518225000000001</real>
			<key>longitude</key>
			<real>-73.568260899999999</real>
			<key>name</key>
			<string>"Sherbrooke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5245222</real>
			<key>longitude</key>
			<real>-73.581652099999999</real>
			<key>name</key>
			<string>"Mont-Royal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.527829599999997</real>
			<key>longitude</key>
			<real>-73.588968100000002</real>
			<key>name</key>
			<string>"Laurier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5311995</real>
			<key>longitude</key>
			<real>-73.597759400000001</real>
			<key>name</key>
			<string>"Rosemont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.535533200000003</real>
			<key>longitude</key>
			<real>-73.604501099999993</real>
			<key>name</key>
			<string>"Beaubien"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5395568</real>
			<key>longitude</key>
			<real>-73.6136415</real>
			<key>name</key>
			<string>"Jean-Talon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.543272000000002</real>
			<key>longitude</key>
			<real>-73.628232400000002</real>
			<key>name</key>
			<string>"Jarry"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.545840599999998</real>
			<key>longitude</key>
			<real>-73.638482800000006</real>
			<key>name</key>
			<string>"Crémazie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5506593</real>
			<key>longitude</key>
			<real>-73.656465100000005</real>
			<key>name</key>
			<string>"Sauvé"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.556066100000002</real>
			<key>longitude</key>
			<real>-73.667347800000002</real>
			<key>name</key>
			<string>"Henri-Bourassa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.560099600000001</real>
			<key>longitude</key>
			<real>-73.681804200000002</real>
			<key>name</key>
			<string>"Cartier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.560857599999999</real>
			<key>longitude</key>
			<real>-73.709750700000001</real>
			<key>name</key>
			<string>"De La Concorde"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.558386499999997</real>
			<key>longitude</key>
			<real>-73.721536200000003</real>
			<key>name</key>
			<string>"Montmorency"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.514886500000003</real>
			<key>longitude</key>
			<real>-73.559726699999999</real>
			<key>name</key>
			<string>"Berri-UQAM"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5124408</real>
			<key>longitude</key>
			<real>-73.533037199999995</real>
			<key>name</key>
			<string>"Jean-Drapeau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.524909000000001</real>
			<key>longitude</key>
			<real>-73.522052299999999</real>
			<key>name</key>
			<string>"Longueuil–Université-de-Sherbrooke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.485482300000001</real>
			<key>longitude</key>
			<real>-73.627968899999999</real>
			<key>name</key>
			<string>"Snowdon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.496247699999998</real>
			<key>longitude</key>
			<real>-73.6225472</real>
			<key>name</key>
			<string>"Côte-des-Neiges"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.503213899999999</real>
			<key>longitude</key>
			<real>-73.618161000000001</real>
			<key>name</key>
			<string>"Université-de-Montréal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.510123399999998</real>
			<key>longitude</key>
			<real>-73.612494400000003</real>
			<key>name</key>
			<string>"Édouard-Montpetit"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.520071700000003</real>
			<key>longitude</key>
			<real>-73.614906199999993</real>
			<key>name</key>
			<string>"Outremont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.523414299999999</real>
			<key>longitude</key>
			<real>-73.623683200000002</real>
			<key>name</key>
			<string>"Acadie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.530389300000003</real>
			<key>longitude</key>
			<real>-73.623810800000001</real>
			<key>name</key>
			<string>"Parc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.535432499999999</real>
			<key>longitude</key>
			<real>-73.619902800000006</real>
			<key>name</key>
			<string>"De Castelnau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.5395568</real>
			<key>longitude</key>
			<real>-73.6136415</real>
			<key>name</key>
			<string>"Jean-Talon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.547170199999996</real>
			<key>longitude</key>
			<real>-73.607750899999999</real>
			<key>name</key>
			<string>"Fabre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.559921699999997</real>
			<key>longitude</key>
			<real>-73.600053599999995</real>
			<key>name</key>
			<string>"Saint-Michel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>45.505004999999997</real>
			<key>longitude</key>
			<real>-73.559595999999999</real>
			<key>name</key>
			<string>"Place d'Arme"</string>
		</dict>
	</array>
</dict>
</plist>
