<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>55.8032783</real>
			<key>longitude</key>
			<real>37.7453285</real>
			<key>name</key>
			<string>"Cherkizovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7962411</real>
			<key>longitude</key>
			<real>37.7134717</real>
			<key>name</key>
			<string>"Preobrazhenskaya Ploshchad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7879405</real>
			<key>longitude</key>
			<real>37.6804869</real>
			<key>name</key>
			<string>"Sokolniki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7790200</real>
			<key>longitude</key>
			<real>37.6666851</real>
			<key>name</key>
			<string>"Krasnoselskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7759857</real>
			<key>longitude</key>
			<real>37.6555599</real>
			<key>name</key>
			<string>"Komsomolskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7692587</real>
			<key>longitude</key>
			<real>37.6489382</real>
			<key>name</key>
			<string>"Krasnye Vorota"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7648450</real>
			<key>longitude</key>
			<real>37.6367599</real>
			<key>name</key>
			<string>"Chistye Prudy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7592634</real>
			<key>longitude</key>
			<real>37.6281477</real>
			<key>name</key>
			<string>"Lubyanka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7571285</real>
			<key>longitude</key>
			<real>37.6147072</real>
			<key>name</key>
			<string>"Okhotny Ryad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7522463</real>
			<key>longitude</key>
			<real>37.6102571</real>
			<key>name</key>
			<string>"Biblioteka Imeni Lenina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7453980</real>
			<key>longitude</key>
			<real>37.6015750</real>
			<key>name</key>
			<string>"Kropotkinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7283648</real>
			<key>longitude</key>
			<real>37.6012908</real>
			<key>name</key>
			<string>"Park Kultury"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7268970</real>
			<key>longitude</key>
			<real>37.5786330</real>
			<key>name</key>
			<string>"Frunzenskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7224041</real>
			<key>longitude</key>
			<real>37.5619474</real>
			<key>name</key>
			<string>"Sportivnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7224041</real>
			<key>longitude</key>
			<real>37.5619474</real>
			<key>name</key>
			<string>"Sportivnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7115933</real>
			<key>longitude</key>
			<real>37.5610489</real>
			<key>name</key>
			<string>"Vorobyovy Gory"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6751550</real>
			<key>longitude</key>
			<real>37.5030190</real>
			<key>name</key>
			<string>"Prospekt Vernadskogo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6644208</real>
			<key>longitude</key>
			<real>37.4843138</real>
			<key>name</key>
			<string>"Yugo-Zapadnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6459094</real>
			<key>longitude</key>
			<real>37.4724233</real>
			<key>name</key>
			<string>"Troparyovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6328700</real>
			<key>longitude</key>
			<real>37.4440411</real>
			<key>name</key>
			<string>"Rumyantsevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6218889</real>
			<key>longitude</key>
			<real>37.4245700</real>
			<key>name</key>
			<string>"Salaryevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8706700</real>
			<key>longitude</key>
			<real>37.5105670</real>
			<key>name</key>
			<string>"Khovrino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8554462</real>
			<key>longitude</key>
			<real>37.4757470</real>
			<key>name</key>
			<string>"Rechnoy Vokzal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8399330</real>
			<key>longitude</key>
			<real>37.4867030</real>
			<key>name</key>
			<string>"Vodny Stadion"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8190480</real>
			<key>longitude</key>
			<real>37.4979581</real>
			<key>name</key>
			<string>"Voykovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8050392</real>
			<key>longitude</key>
			<real>37.5148290</real>
			<key>name</key>
			<string>"Sokol yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8050392</real>
			<key>longitude</key>
			<real>37.5148290</real>
			<key>name</key>
			<string>"Sokol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8003650</real>
			<key>longitude</key>
			<real>37.5326280</real>
			<key>name</key>
			<string>"Aeroport"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7891159</real>
			<key>longitude</key>
			<real>37.5595953</real>
			<key>name</key>
			<string>"Dinamo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7769130</real>
			<key>longitude</key>
			<real>37.5814650</real>
			<key>name</key>
			<string>"Belorusskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7703912</real>
			<key>longitude</key>
			<real>37.5960545</real>
			<key>name</key>
			<string>"Mayakovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7653620</real>
			<key>longitude</key>
			<real>37.6049563</real>
			<key>name</key>
			<string>"Tverskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7566029</real>
			<key>longitude</key>
			<real>37.6195851</real>
			<key>name</key>
			<string>"Teatralnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7424277</real>
			<key>longitude</key>
			<real>37.6292833</real>
			<key>name</key>
			<string>"Novokuznetskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7310093</real>
			<key>longitude</key>
			<real>37.6363571</real>
			<key>name</key>
			<string>"Paveletskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7084102</real>
			<key>longitude</key>
			<real>37.6580913</real>
			<key>name</key>
			<string>"Avtozavodskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6937040</real>
			<key>longitude</key>
			<real>37.6644959</real>
			<key>name</key>
			<string>"Tekhnopark"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6794383</real>
			<key>longitude</key>
			<real>37.6633544</real>
			<key>name</key>
			<string>"Kolomenskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6216433</real>
			<key>longitude</key>
			<real>37.6693266</real>
			<key>name</key>
			<string>"Tsaritsyno"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6133810</real>
			<key>longitude</key>
			<real>37.6945319</real>
			<key>name</key>
			<string>"Orekhovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6100587</real>
			<key>longitude</key>
			<real>37.7184665</real>
			<key>name</key>
			<string>"Domodedovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6100587</real>
			<key>longitude</key>
			<real>37.7184665</real>
			<key>name</key>
			<string>"Krasnogvardeyskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6328720</real>
			<key>longitude</key>
			<real>37.7659250</real>
			<key>name</key>
			<string>"Alma-Atinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8463449</real>
			<key>longitude</key>
			<real>37.3611710</real>
			<key>name</key>
			<string>"Mitino yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8558760</real>
			<key>longitude</key>
			<real>37.3541811</real>
			<key>name</key>
			<string>"Pyatnitskoye Shosse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8463449</real>
			<key>longitude</key>
			<real>37.3611710</real>
			<key>name</key>
			<string>"Mitino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8355960</real>
			<key>longitude</key>
			<real>37.3821080</real>
			<key>name</key>
			<string>"Volokolamskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8254760</real>
			<key>longitude</key>
			<real>37.3853700</real>
			<key>name</key>
			<string>"Myakinino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7430872</real>
			<key>longitude</key>
			<real>37.5667304</real>
			<key>name</key>
			<string>"Moskva River"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8254760</real>
			<key>longitude</key>
			<real>37.3853700</real>
			<key>name</key>
			<string>"Myakinino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8026313</real>
			<key>longitude</key>
			<real>37.3905794</real>
			<key>name</key>
			<string>"Strogino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7568380</real>
			<key>longitude</key>
			<real>37.4080129</real>
			<key>name</key>
			<string>"Krylatskoye"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7406110</real>
			<key>longitude</key>
			<real>37.4169180</real>
			<key>name</key>
			<string>"Molodyozhnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7306290</real>
			<key>longitude</key>
			<real>37.4460520</real>
			<key>name</key>
			<string>"Kuntsevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7296020</real>
			<key>longitude</key>
			<real>37.4708140</real>
			<key>name</key>
			<string>"Slavyansky Bulvar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7358848</real>
			<key>longitude</key>
			<real>37.5174924</real>
			<key>name</key>
			<string>"Park Pobedy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7439577</real>
			<key>longitude</key>
			<real>37.5672065</real>
			<key>name</key>
			<string>"Kiyevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7490970</real>
			<key>longitude</key>
			<real>37.5831130</real>
			<key>name</key>
			<string>"Smolenskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7521264</real>
			<key>longitude</key>
			<real>37.6014993</real>
			<key>name</key>
			<string>"Arbatskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7564497</real>
			<key>longitude</key>
			<real>37.6233540</real>
			<key>name</key>
			<string>"Ploshchad Revolyutsii"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7574089</real>
			<key>longitude</key>
			<real>37.6611024</real>
			<key>name</key>
			<string>"Kurskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7724663</real>
			<key>longitude</key>
			<real>37.6791130</real>
			<key>name</key>
			<string>"Baumanskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7823620</real>
			<key>longitude</key>
			<real>37.7043750</real>
			<key>name</key>
			<string>"Elektrozavodskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7830917</real>
			<key>longitude</key>
			<real>37.7194553</real>
			<key>name</key>
			<string>"Semyonovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7883754</real>
			<key>longitude</key>
			<real>37.7493691</real>
			<key>name</key>
			<string>"Partizanskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7879430</real>
			<key>longitude</key>
			<real>37.7825671</real>
			<key>name</key>
			<string>"Izmaylovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7935930</real>
			<key>longitude</key>
			<real>37.7990418</real>
			<key>name</key>
			<string>"Pervomayskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8083952</real>
			<key>longitude</key>
			<real>37.7984125</real>
			<key>name</key>
			<string>"Shchyolkovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7306290</real>
			<key>longitude</key>
			<real>37.4460520</real>
			<key>name</key>
			<string>"Kuntsevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7361091</real>
			<key>longitude</key>
			<real>37.4676490</real>
			<key>name</key>
			<string>"Pionerskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7396818</real>
			<key>longitude</key>
			<real>37.4838363</real>
			<key>name</key>
			<string>"Filyovsky Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7359926</real>
			<key>longitude</key>
			<real>37.5000884</real>
			<key>name</key>
			<string>"Bagrationovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7460990</real>
			<key>longitude</key>
			<real>37.5147970</real>
			<key>name</key>
			<string>"Fili"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7439577</real>
			<key>longitude</key>
			<real>37.5672065</real>
			<key>name</key>
			<string>"Kutuzovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7387995</real>
			<key>longitude</key>
			<real>37.5483774</real>
			<key>name</key>
			<string>"Studencheskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7478100</real>
			<key>longitude</key>
			<real>37.5331809</real>
			<key>name</key>
			<string>"Mezhdunarodnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7500150</real>
			<key>longitude</key>
			<real>37.5420480</real>
			<key>name</key>
			<string>"Vystavochnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7439577</real>
			<key>longitude</key>
			<real>37.5672065</real>
			<key>name</key>
			<string>"Kiyevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7490970</real>
			<key>longitude</key>
			<real>37.5831130</real>
			<key>name</key>
			<string>"Smolenskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7521264</real>
			<key>longitude</key>
			<real>37.6014993</real>
			<key>name</key>
			<string>"Arbatskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7523730</real>
			<key>longitude</key>
			<real>37.6085681</real>
			<key>name</key>
			<string>"Aleksandrovsky Sad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7794152</real>
			<key>longitude</key>
			<real>37.6332320</real>
			<key>name</key>
			<string>"Prospekt Mira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7759857</real>
			<key>longitude</key>
			<real>37.6555599</real>
			<key>name</key>
			<string>"Komsomolskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7574089</real>
			<key>longitude</key>
			<real>37.6611024</real>
			<key>name</key>
			<string>"Kurskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7418191</real>
			<key>longitude</key>
			<real>37.6543094</real>
			<key>name</key>
			<string>"Taganskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7310093</real>
			<key>longitude</key>
			<real>37.6363571</real>
			<key>name</key>
			<string>"Paveletskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7272460</real>
			<key>longitude</key>
			<real>37.6230720</real>
			<key>name</key>
			<string>"Dobryninskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7301506</real>
			<key>longitude</key>
			<real>37.6121611</real>
			<key>name</key>
			<string>"Oktyabrskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7283648</real>
			<key>longitude</key>
			<real>37.6012908</real>
			<key>name</key>
			<string>"Park Kultury"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7439577</real>
			<key>longitude</key>
			<real>37.5672065</real>
			<key>name</key>
			<string>"Kiyevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7602466</real>
			<key>longitude</key>
			<real>37.5771212</real>
			<key>name</key>
			<string>"Krasnopresnenskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7769130</real>
			<key>longitude</key>
			<real>37.5814650</real>
			<key>name</key>
			<string>"Belorusskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7796266</real>
			<key>longitude</key>
			<real>37.6014406</real>
			<key>name</key>
			<string>"Novoslobodskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8871300</real>
			<key>longitude</key>
			<real>37.6615564</real>
			<key>name</key>
			<string>"Medvedkovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8704204</real>
			<key>longitude</key>
			<real>37.6651320</real>
			<key>name</key>
			<string>"Babushkinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8557606</real>
			<key>longitude</key>
			<real>37.6539069</real>
			<key>name</key>
			<string>"Sviblovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8455839</real>
			<key>longitude</key>
			<real>37.6403100</real>
			<key>name</key>
			<string>"Botanichesky Sad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8200232</real>
			<key>longitude</key>
			<real>37.6402828</real>
			<key>name</key>
			<string>"VDNKh"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8077790</real>
			<key>longitude</key>
			<real>37.6386930</real>
			<key>name</key>
			<string>"Alekseyevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7924960</real>
			<key>longitude</key>
			<real>37.6361511</real>
			<key>name</key>
			<string>"Rizhskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7794152</real>
			<key>longitude</key>
			<real>37.6332320</real>
			<key>name</key>
			<string>"Prospekt Mira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7723688</real>
			<key>longitude</key>
			<real>37.6316918</real>
			<key>name</key>
			<string>"Sukharevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7654854</real>
			<key>longitude</key>
			<real>37.6365906</real>
			<key>name</key>
			<string>"Turgenevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7568251</real>
			<key>longitude</key>
			<real>37.6311382</real>
			<key>name</key>
			<string>"Kitay-gorod"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7407173</real>
			<key>longitude</key>
			<real>37.6256284</real>
			<key>name</key>
			<string>"Tretyakovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7301506</real>
			<key>longitude</key>
			<real>37.6121611</real>
			<key>name</key>
			<string>"Oktyabrskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7182940</real>
			<key>longitude</key>
			<real>37.6091020</real>
			<key>name</key>
			<string>"Shabolovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7083517</real>
			<key>longitude</key>
			<real>37.5873314</real>
			<key>name</key>
			<string>"Leninsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6884021</real>
			<key>longitude</key>
			<real>37.5745864</real>
			<key>name</key>
			<string>"Akademicheskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6771174</real>
			<key>longitude</key>
			<real>37.5616555</real>
			<key>name</key>
			<string>"Profsoyuznaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6696169</real>
			<key>longitude</key>
			<real>37.5536191</real>
			<key>name</key>
			<string>"Novye Cheryomushki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6571020</real>
			<key>longitude</key>
			<real>37.5405351</real>
			<key>name</key>
			<string>"Kaluzhskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6435702</real>
			<key>longitude</key>
			<real>37.5272822</real>
			<key>name</key>
			<string>"Belyayevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6346586</real>
			<key>longitude</key>
			<real>37.5184025</real>
			<key>name</key>
			<string>"Konkovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6185457</real>
			<key>longitude</key>
			<real>37.5075941</real>
			<key>name</key>
			<string>"Tyoply Stan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6061825</real>
			<key>longitude</key>
			<real>37.5349539</real>
			<key>name</key>
			<string>"Yasenevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6019545</real>
			<key>longitude</key>
			<real>37.5529046</real>
			<key>name</key>
			<string>"Novoyasenevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8606370</real>
			<key>longitude</key>
			<real>37.4364550</real>
			<key>name</key>
			<string>"Planernoye yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8606370</real>
			<key>longitude</key>
			<real>37.4364550</real>
			<key>name</key>
			<string>"Planernaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8508367</real>
			<key>longitude</key>
			<real>37.4398348</real>
			<key>name</key>
			<string>"Skhodnenskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8267074</real>
			<key>longitude</key>
			<real>37.4375260</real>
			<key>name</key>
			<string>"Tushinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8181260</real>
			<key>longitude</key>
			<real>37.4358590</real>
			<key>name</key>
			<string>"Spartak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8076908</real>
			<key>longitude</key>
			<real>37.4655763</real>
			<key>name</key>
			<string>"Shchukinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7930529</real>
			<key>longitude</key>
			<real>37.4932058</real>
			<key>name</key>
			<string>"Oktyabrskoye Pole"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7775380</real>
			<key>longitude</key>
			<real>37.5192490</real>
			<key>name</key>
			<string>"Polezhayevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7736090</real>
			<key>longitude</key>
			<real>37.5467580</real>
			<key>name</key>
			<string>"Begovaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7639964</real>
			<key>longitude</key>
			<real>37.5622287</real>
			<key>name</key>
			<string>"Ulitsa 1905 Goda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7607820</real>
			<key>longitude</key>
			<real>37.5812839</real>
			<key>name</key>
			<string>"Barrikadnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7653286</real>
			<key>longitude</key>
			<real>37.6039970</real>
			<key>name</key>
			<string>"Pushkinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7614779</real>
			<key>longitude</key>
			<real>37.6243400</real>
			<key>name</key>
			<string>"Kuznetsky Most"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7568251</real>
			<key>longitude</key>
			<real>37.6311382</real>
			<key>name</key>
			<string>"Kitay-gorod"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7418191</real>
			<key>longitude</key>
			<real>37.6543094</real>
			<key>name</key>
			<string>"Taganskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7319132</real>
			<key>longitude</key>
			<real>37.6677067</real>
			<key>name</key>
			<string>"Proletarskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7249352</real>
			<key>longitude</key>
			<real>37.6870887</real>
			<key>name</key>
			<string>"Volgogradsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7090108</real>
			<key>longitude</key>
			<real>37.7333832</real>
			<key>name</key>
			<string>"Tekstilshchiki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7054024</real>
			<key>longitude</key>
			<real>37.7656694</real>
			<key>name</key>
			<string>"Kuzminki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7171411</real>
			<key>longitude</key>
			<real>37.7926690</real>
			<key>name</key>
			<string>"Ryazansky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7156500</real>
			<key>longitude</key>
			<real>37.8179080</real>
			<key>name</key>
			<string>"Vykhino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Vykhino yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7022220</real>
			<key>longitude</key>
			<real>37.8518810</real>
			<key>name</key>
			<string>"Lermontovsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6842625</real>
			<key>longitude</key>
			<real>37.8548295</real>
			<key>name</key>
			<string>"Zhulebino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6772710</real>
			<key>longitude</key>
			<real>37.8568600</real>
			<key>name</key>
			<string>"Kotelniki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7451060</real>
			<key>longitude</key>
			<real>37.8640150</real>
			<key>name</key>
			<string>"Novokosino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Novogireyevo yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7516990</real>
			<key>longitude</key>
			<real>37.8166420</real>
			<key>name</key>
			<string>"Novogireyevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7517064</real>
			<key>longitude</key>
			<real>37.7882959</real>
			<key>name</key>
			<string>"Perovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7584079</real>
			<key>longitude</key>
			<real>37.7516629</real>
			<key>name</key>
			<string>"Shosse Entuziastov"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7495760</real>
			<key>longitude</key>
			<real>37.7177721</real>
			<key>name</key>
			<string>"Aviamotornaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7472352</real>
			<key>longitude</key>
			<real>37.6807371</real>
			<key>name</key>
			<string>"Ploshchad Ilyicha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7408790</real>
			<key>longitude</key>
			<real>37.6565191</real>
			<key>name</key>
			<string>"Marksistskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7407173</real>
			<key>longitude</key>
			<real>37.6256284</real>
			<key>name</key>
			<string>"Tretyakovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7473054</real>
			<key>longitude</key>
			<real>37.6051125</real>
			<key>name</key>
			<string>"Volkhonka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7769130</real>
			<key>longitude</key>
			<real>37.5814650</real>
			<key>name</key>
			<string>"Plyushchikha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7470410</real>
			<key>longitude</key>
			<real>37.5552780</real>
			<key>name</key>
			<string>"Dorogomilovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7490650</real>
			<key>longitude</key>
			<real>37.5395640</real>
			<key>name</key>
			<string>"Delovoy Tsentr"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7358848</real>
			<key>longitude</key>
			<real>37.5174924</real>
			<key>name</key>
			<string>"Park Pobedy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7424380</real>
			<key>longitude</key>
			<real>37.4804110</real>
			<key>name</key>
			<string>"Minskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7073970</real>
			<key>longitude</key>
			<real>37.5167070</real>
			<key>name</key>
			<string>"Lomonosovsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6973830</real>
			<key>longitude</key>
			<real>37.4989059</real>
			<key>name</key>
			<string>"Ramenki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6865750</real>
			<key>longitude</key>
			<real>37.4793829</real>
			<key>name</key>
			<string>"Michurinsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6839056</real>
			<key>longitude</key>
			<real>37.4502582</real>
			<key>name</key>
			<string>"Ochakovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7430872</real>
			<key>longitude</key>
			<real>37.5667304</real>
			<key>name</key>
			<string>"Govorovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6490459</real>
			<key>longitude</key>
			<real>37.4074268</real>
			<key>name</key>
			<string>"Solntsevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7297464</real>
			<key>longitude</key>
			<real>37.6393494</real>
			<key>name</key>
			<string>"Borovskoye Shosse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6378970</real>
			<key>longitude</key>
			<real>37.3822871</real>
			<key>name</key>
			<string>"Novoperedelkino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6316795</real>
			<key>longitude</key>
			<real>37.3332187</real>
			<key>name</key>
			<string>"Rasskazovka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8978600</real>
			<key>longitude</key>
			<real>37.5870069</real>
			<key>name</key>
			<string>"Altufyevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8834626</real>
			<key>longitude</key>
			<real>37.6050213</real>
			<key>name</key>
			<string>"Bibirevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8632260</real>
			<key>longitude</key>
			<real>37.6046430</real>
			<key>name</key>
			<string>"Otradnoye"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Vladykino yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8474220</real>
			<key>longitude</key>
			<real>37.5900291</real>
			<key>name</key>
			<string>"Vladykino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8366610</real>
			<key>longitude</key>
			<real>37.5753500</real>
			<key>name</key>
			<string>"Petrovsko-Razumovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8191570</real>
			<key>longitude</key>
			<real>37.5760420</real>
			<key>name</key>
			<string>"Timiryazevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8079030</real>
			<key>longitude</key>
			<real>37.5782200</real>
			<key>name</key>
			<string>"Dmitrovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7941980</real>
			<key>longitude</key>
			<real>37.5888962</real>
			<key>name</key>
			<string>"Savyolovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7819839</real>
			<key>longitude</key>
			<real>37.5986022</real>
			<key>name</key>
			<string>"Mendeleyevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7717137</real>
			<key>longitude</key>
			<real>37.6206636</real>
			<key>name</key>
			<string>"Tsvetnoy Bulvar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7660536</real>
			<key>longitude</key>
			<real>37.6081688</real>
			<key>name</key>
			<string>"Chekhovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7505061</real>
			<key>longitude</key>
			<real>37.6091447</real>
			<key>name</key>
			<string>"Borovitskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7368860</real>
			<key>longitude</key>
			<real>37.6193060</real>
			<key>name</key>
			<string>"Polyanka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7272100</real>
			<key>longitude</key>
			<real>37.6252376</real>
			<key>name</key>
			<string>"Serpukhovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7095962</real>
			<key>longitude</key>
			<real>37.6226522</real>
			<key>name</key>
			<string>"Tulskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6838854</real>
			<key>longitude</key>
			<real>37.6236674</real>
			<key>name</key>
			<string>"Nagatinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6724444</real>
			<key>longitude</key>
			<real>37.6101503</real>
			<key>name</key>
			<string>"Nagornaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6616225</real>
			<key>longitude</key>
			<real>37.6047346</real>
			<key>name</key>
			<string>"Nakhimovsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6517286</real>
			<key>longitude</key>
			<real>37.5984542</real>
			<key>name</key>
			<string>"Sevastopolskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6408330</real>
			<key>longitude</key>
			<real>37.6062280</real>
			<key>name</key>
			<string>"Chertanovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Varshavskoye yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6233905</real>
			<key>longitude</key>
			<real>37.6091300</real>
			<key>name</key>
			<string>"Yuzhnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6113410</real>
			<key>longitude</key>
			<real>37.6024371</real>
			<key>name</key>
			<string>"Prazhskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5949960</real>
			<key>longitude</key>
			<real>37.6017376</real>
			<key>name</key>
			<string>"Ulitsa Akademika Yangelya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5827500</real>
			<key>longitude</key>
			<real>37.5965610</real>
			<key>name</key>
			<string>"Annino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5694970</real>
			<key>longitude</key>
			<real>37.5764390</real>
			<key>name</key>
			<string>"Bulvar Dmitriya Donskogo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8706774</real>
			<key>longitude</key>
			<real>37.5351506</real>
			<key>name</key>
			<string>"Seligerskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Likhobory yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8490038</real>
			<key>longitude</key>
			<real>37.5712362</real>
			<key>name</key>
			<string>"Okruzhnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8366610</real>
			<key>longitude</key>
			<real>37.5753500</real>
			<key>name</key>
			<string>"Petrovsko-Razumovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8219267</real>
			<key>longitude</key>
			<real>37.5889479</real>
			<key>name</key>
			<string>"Fonvizinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8141702</real>
			<key>longitude</key>
			<real>37.6008714</real>
			<key>name</key>
			<string>"Butyrskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7944247</real>
			<key>longitude</key>
			<real>37.5881392</real>
			<key>name</key>
			<string>"Maryina Roshcha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7816464</real>
			<key>longitude</key>
			<real>37.6140785</real>
			<key>name</key>
			<string>"Dostoyevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7678796</real>
			<key>longitude</key>
			<real>37.6218172</real>
			<key>name</key>
			<string>"Trubnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7649745</real>
			<key>longitude</key>
			<real>37.6383770</real>
			<key>name</key>
			<string>"Sretensky Bulvar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7561178</real>
			<key>longitude</key>
			<real>37.6597442</real>
			<key>name</key>
			<string>"Chkalovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7468006</real>
			<key>longitude</key>
			<real>37.6795593</real>
			<key>name</key>
			<string>"Rimskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7323098</real>
			<key>longitude</key>
			<real>37.6655398</real>
			<key>name</key>
			<string>"Krestyanskaya Zastava"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7178190</real>
			<key>longitude</key>
			<real>37.6762421</real>
			<key>name</key>
			<string>"Dubrovka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7075150</real>
			<key>longitude</key>
			<real>37.6847929</real>
			<key>name</key>
			<string>"Kozhukhovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Pechatniki yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6933670</real>
			<key>longitude</key>
			<real>37.7265390</real>
			<key>name</key>
			<string>"Pechatniki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6909040</real>
			<key>longitude</key>
			<real>37.7533200</real>
			<key>name</key>
			<string>"Volzhskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6757390</real>
			<key>longitude</key>
			<real>37.7617911</real>
			<key>name</key>
			<string>"Lyublino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6589643</real>
			<key>longitude</key>
			<real>37.7497173</real>
			<key>name</key>
			<string>"Bratislavskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6491190</real>
			<key>longitude</key>
			<real>37.7444829</real>
			<key>name</key>
			<string>"Maryino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6323550</real>
			<key>longitude</key>
			<real>37.7433734</real>
			<key>name</key>
			<string>"Borisovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6202081</real>
			<key>longitude</key>
			<real>37.7432181</real>
			<key>name</key>
			<string>"Shipilovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6105935</real>
			<key>longitude</key>
			<real>37.7461215</real>
			<key>name</key>
			<string>"Zyablikovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6551340</real>
			<key>longitude</key>
			<real>37.6488430</real>
			<key>name</key>
			<string>"Kashirskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6543480</real>
			<key>longitude</key>
			<real>37.6204860</real>
			<key>name</key>
			<string>"Varshavskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real></real>
			<key>longitude</key>
			<real></real>
			<key>name</key>
			<string>"Zamoskvoretskoye yard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6525055</real>
			<key>longitude</key>
			<real>37.5969296</real>
			<key>name</key>
			<string>"Kakhovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6008479</real>
			<key>longitude</key>
			<real>37.5557430</real>
			<key>name</key>
			<string>"Bittsevsky Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5814330</real>
			<key>longitude</key>
			<real>37.5791060</real>
			<key>name</key>
			<string>"Lesoparkovaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5691340</real>
			<key>longitude</key>
			<real>37.5763640</real>
			<key>name</key>
			<string>"Ulitsa Starokachalovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5491510</real>
			<key>longitude</key>
			<real>37.5551699</real>
			<key>name</key>
			<string>"Ulitsa Skobelevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5446430</real>
			<key>longitude</key>
			<real>37.5414260</real>
			<key>name</key>
			<string>"Bulvar Admirala Ushakova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5417194</real>
			<key>longitude</key>
			<real>37.5329030</real>
			<key>name</key>
			<string>"Ulitsa Gorchakova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.5375230</real>
			<key>longitude</key>
			<real>37.5149770</real>
			<key>name</key>
			<string>"Buninskaya Alleya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8287810</real>
			<key>longitude</key>
			<real>37.6713790</real>
			<key>name</key>
			<string>"Ulitsa Sergeya Eyzenshteyna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8240490</real>
			<key>longitude</key>
			<real>37.6384730</real>
			<key>name</key>
			<string>"Vystavochny Tsentr"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8218636</real>
			<key>longitude</key>
			<real>37.6268819</real>
			<key>name</key>
			<string>"Ulitsa Akademika Korolyova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8218180</real>
			<key>longitude</key>
			<real>37.6089260</real>
			<key>name</key>
			<string>"Teletsentr"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8218841</real>
			<key>longitude</key>
			<real>37.5912102</real>
			<key>name</key>
			<string>"Ulitsa Milashenkova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8191570</real>
			<key>longitude</key>
			<real>37.5760420</real>
			<key>name</key>
			<string>"Timiryazevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8490038</real>
			<key>longitude</key>
			<real>37.5712362</real>
			<key>name</key>
			<string>"Okruzhnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8474220</real>
			<key>longitude</key>
			<real>37.5900291</real>
			<key>name</key>
			<string>"Vladykino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8455839</real>
			<key>longitude</key>
			<real>37.6403100</real>
			<key>name</key>
			<string>"Botanichesky Sad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8427130</real>
			<key>longitude</key>
			<real>37.6652308</real>
			<key>name</key>
			<string>"Rostokino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8293000</real>
			<key>longitude</key>
			<real>37.7024280</real>
			<key>name</key>
			<string>"Belokamennaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8139270</real>
			<key>longitude</key>
			<real>37.7338677</real>
			<key>name</key>
			<string>"Bulvar Rokossovskogo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8027901</real>
			<key>longitude</key>
			<real>37.7459871</real>
			<key>name</key>
			<string>"Lokomotiv"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7883754</real>
			<key>longitude</key>
			<real>37.7493691</real>
			<key>name</key>
			<string>"Izmaylovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7715280</real>
			<key>longitude</key>
			<real>37.7451019</real>
			<key>name</key>
			<string>"Sokolinaya Gora"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7584079</real>
			<key>longitude</key>
			<real>37.7516629</real>
			<key>name</key>
			<string>"Shosse Entuziastov"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7467091</real>
			<key>longitude</key>
			<real>37.7372600</real>
			<key>name</key>
			<string>"Andronovka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7321320</real>
			<key>longitude</key>
			<real>37.7282261</real>
			<key>name</key>
			<string>"Nizhegorodskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7241310</real>
			<key>longitude</key>
			<real>37.7178289</real>
			<key>name</key>
			<string>"Novokhokhlovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7297464</real>
			<key>longitude</key>
			<real>37.6393494</real>
			<key>name</key>
			<string>"Ugreshskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7178190</real>
			<key>longitude</key>
			<real>37.6762421</real>
			<key>name</key>
			<string>"Dubrovka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7084102</real>
			<key>longitude</key>
			<real>37.6580913</real>
			<key>name</key>
			<string>"Avtozavodskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7045350</real>
			<key>longitude</key>
			<real>37.6229111</real>
			<key>name</key>
			<string>"ZIL"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6902947</real>
			<key>longitude</key>
			<real>37.6195741</real>
			<key>name</key>
			<string>"Verkhnie Kotly"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.6898540</real>
			<key>longitude</key>
			<real>37.6057769</real>
			<key>name</key>
			<string>"Krymskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7070613</real>
			<key>longitude</key>
			<real>37.5859774</real>
			<key>name</key>
			<string>"Ploshchad Gagarina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7157620</real>
			<key>longitude</key>
			<real>37.5537157</real>
			<key>name</key>
			<string>"Luzhniki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7439577</real>
			<key>longitude</key>
			<real>37.5672065</real>
			<key>name</key>
			<string>"Kutuzovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7490650</real>
			<key>longitude</key>
			<real>37.5395640</real>
			<key>name</key>
			<string>"Delovoy Tsentr"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7576150</real>
			<key>longitude</key>
			<real>37.5254179</real>
			<key>name</key>
			<string>"Shelepikha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7773640</real>
			<key>longitude</key>
			<real>37.5071288</real>
			<key>name</key>
			<string>"Khoroshyovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7881992</real>
			<key>longitude</key>
			<real>37.5042661</real>
			<key>name</key>
			<string>"Zorge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.7974039</real>
			<key>longitude</key>
			<real>37.4985915</real>
			<key>name</key>
			<string>"Panfilovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8112480</real>
			<key>longitude</key>
			<real>37.4905499</real>
			<key>name</key>
			<string>"Streshnevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8258959</real>
			<key>longitude</key>
			<real>37.4964360</real>
			<key>name</key>
			<string>"Baltiyskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8395120</real>
			<key>longitude</key>
			<real>37.5197960</real>
			<key>name</key>
			<string>"Koptevo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>55.8476559</real>
			<key>longitude</key>
			<real>37.5530459</real>
			<key>name</key>
			<string>"Likhobory"</string>
		</dict>
	</array>
</dict>
</plist>