<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>48.1784725</real>
			<key>longitude</key>
			<real>11.6027856</real>
			<key>name</key>
			<string>"Alte Heide"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1959496</real>
			<key>longitude</key>
			<real>11.5718640</real>
			<key>name</key>
			<string>"Am Hart"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1535787</real>
			<key>longitude</key>
			<real>11.6220348</real>
			<key>name</key>
			<string>"Arabellapark†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0911866</real>
			<key>longitude</key>
			<real>11.4910845</real>
			<key>name</key>
			<string>"Basler Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1668905</real>
			<key>longitude</key>
			<real>11.5786231</real>
			<key>name</key>
			<string>"Bonner Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1076359</real>
			<key>longitude</key>
			<real>11.5364251</real>
			<key>name</key>
			<string>"Brudermühlstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1341689</real>
			<key>longitude</key>
			<real>11.6158561</real>
			<key>name</key>
			<string>"Böhmerwaldplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1129782</real>
			<key>longitude</key>
			<real>11.5716482</real>
			<key>name</key>
			<string>"Candidplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1373705</real>
			<key>longitude</key>
			<real>11.5755072</real>
			<key>name</key>
			<string>"Dietlindenstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1404584</real>
			<key>longitude</key>
			<real>11.5577663</real>
			<key>name</key>
			<string>"Dülferstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2138193</real>
			<key>longitude</key>
			<real>11.5412688</real>
			<key>name</key>
			<string>"Feldmoching†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0951318</real>
			<key>longitude</key>
			<real>11.4993699</real>
			<key>name</key>
			<string>"Forstenrieder Allee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1868350</real>
			<key>longitude</key>
			<real>11.5727533</real>
			<key>name</key>
			<string>"Frankfurter Ring"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1285310</real>
			<key>longitude</key>
			<real>11.5751870</real>
			<key>name</key>
			<string>"Fraunhoferstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1921727</real>
			<key>longitude</key>
			<real>11.6144147</real>
			<key>name</key>
			<string>"Freimann"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1351281</real>
			<key>longitude</key>
			<real>11.5108388</real>
			<key>name</key>
			<string>"Friedenheimer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2118214</real>
			<key>longitude</key>
			<real>11.6166180</real>
			<key>name</key>
			<string>"Fröttmaning"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0883636</real>
			<key>longitude</key>
			<real>11.4809634</real>
			<key>name</key>
			<string>"Fürstenried West†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2493713</real>
			<key>longitude</key>
			<real>11.6527447</real>
			<key>name</key>
			<string>"Garching"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2474392</real>
			<key>longitude</key>
			<real>11.6310428</real>
			<key>name</key>
			<string>"Garching-Forschungszentrum†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2474392</real>
			<key>longitude</key>
			<real>11.6310428</real>
			<key>name</key>
			<string>"Garching-Hochbrück"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1771917</real>
			<key>longitude</key>
			<real>11.5291221</real>
			<key>name</key>
			<string>"Georg-Brauchle-Ring"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1627891</real>
			<key>longitude</key>
			<real>11.5290951</real>
			<key>name</key>
			<string>"Gern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1107162</real>
			<key>longitude</key>
			<real>11.5963957</real>
			<key>name</key>
			<string>"Giesing"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1572364</real>
			<key>longitude</key>
			<real>11.5844771</real>
			<key>name</key>
			<string>"Giselastraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1295728</real>
			<key>longitude</key>
			<real>11.5584800</real>
			<key>name</key>
			<string>"Goetheplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1146995</real>
			<key>longitude</key>
			<real>11.4769749</real>
			<key>name</key>
			<string>"Großhadern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1183484</real>
			<key>longitude</key>
			<real>11.4888696</real>
			<key>name</key>
			<string>"Haderner Stern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1170110</real>
			<key>longitude</key>
			<real>11.5358090</real>
			<key>name</key>
			<string>"Harras"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2049534</real>
			<key>longitude</key>
			<real>11.5693559</real>
			<key>name</key>
			<string>"Harthof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2138193</real>
			<key>longitude</key>
			<real>11.5412688</real>
			<key>name</key>
			<string>"Hasenbergl"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1404584</real>
			<key>longitude</key>
			<real>11.5577663</real>
			<key>name</key>
			<string>"Hauptbahnhof*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1330397</real>
			<key>longitude</key>
			<real>11.5316856</real>
			<key>name</key>
			<string>"Heimeranplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1612252</real>
			<key>longitude</key>
			<real>11.5682272</real>
			<key>name</key>
			<string>"Hohenzollernplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1162588</real>
			<key>longitude</key>
			<real>11.5024242</real>
			<key>name</key>
			<string>"Holzapfelkreuth"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1201534</real>
			<key>longitude</key>
			<real>11.5483128</real>
			<key>name</key>
			<string>"Implerstraße*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1204215</real>
			<key>longitude</key>
			<real>11.6195298</real>
			<key>name</key>
			<string>"Innsbrucker Ring*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1270182</real>
			<key>longitude</key>
			<real>11.6348778</real>
			<key>name</key>
			<string>"Josephsburg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1556762</real>
			<key>longitude</key>
			<real>11.5670040</real>
			<key>name</key>
			<string>"Josephsplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1179081</real>
			<key>longitude</key>
			<real>11.6084523</real>
			<key>name</key>
			<string>"Karl-Preis-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1392342</real>
			<key>longitude</key>
			<real>11.5659966</real>
			<key>name</key>
			<string>"Karlsplatz (Stachus)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2036418</real>
			<key>longitude</key>
			<real>11.6131094</real>
			<key>name</key>
			<string>"Kieferngarten"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1093857</real>
			<key>longitude</key>
			<real>11.4746146</real>
			<key>name</key>
			<string>"Klinikum Großhadern†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1197971</real>
			<key>longitude</key>
			<real>11.5767508</real>
			<key>name</key>
			<string>"Kolumbusplatz*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1258393</real>
			<key>longitude</key>
			<real>11.6630578</real>
			<key>name</key>
			<string>"Kreillerstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1449736</real>
			<key>longitude</key>
			<real>11.5629226</real>
			<key>name</key>
			<string>"Königsplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1351965</real>
			<key>longitude</key>
			<real>11.5032154</real>
			<key>name</key>
			<string>"Laimer Platz†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1399193</real>
			<key>longitude</key>
			<real>11.5867692</real>
			<key>name</key>
			<string>"Lehel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0973937</real>
			<key>longitude</key>
			<real>11.5149467</real>
			<key>name</key>
			<string>"Machtlfinger Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1500908</real>
			<key>longitude</key>
			<real>11.5453266</real>
			<key>name</key>
			<string>"Maillingerstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0972028</real>
			<key>longitude</key>
			<real>11.5793269</real>
			<key>name</key>
			<string>"Mangfallplatz†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1373705</real>
			<key>longitude</key>
			<real>11.5755072</real>
			<key>name</key>
			<string>"Marienplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1356828</real>
			<key>longitude</key>
			<real>11.5987064</real>
			<key>name</key>
			<string>"Max-Weber-Platz*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1333806</real>
			<key>longitude</key>
			<real>11.7037566</real>
			<key>name</key>
			<string>"Messestadt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1333964</real>
			<key>longitude</key>
			<real>11.6907560</real>
			<key>name</key>
			<string>"Messestadt-West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1187723</real>
			<key>longitude</key>
			<real>11.6314468</real>
			<key>name</key>
			<string>"Michaelibad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1809540</real>
			<key>longitude</key>
			<real>11.5731540</real>
			<key>name</key>
			<string>"Milbertshofen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1809563</real>
			<key>longitude</key>
			<real>11.5085703</real>
			<key>name</key>
			<string>"Moosach†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1818393</real>
			<key>longitude</key>
			<real>11.5181360</real>
			<key>name</key>
			<string>"Moosacher St.-Martins-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1300284</real>
			<key>longitude</key>
			<real>11.6702866</real>
			<key>name</key>
			<string>"Moosfeld"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1624261</real>
			<key>longitude</key>
			<real>11.5866083</real>
			<key>name</key>
			<string>"Münchner Freiheit*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0890167</real>
			<key>longitude</key>
			<real>11.6450330</real>
			<key>name</key>
			<string>"Neuperlach Süd†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0889697</real>
			<key>longitude</key>
			<real>11.6451395</real>
			<key>name</key>
			<string>"Neuperlach Zentrum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1730772</real>
			<key>longitude</key>
			<real>11.5967414</real>
			<key>name</key>
			<string>"Nordfriedhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0985974</real>
			<key>longitude</key>
			<real>11.5374799</real>
			<key>name</key>
			<string>"Obersendling"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1861171</real>
			<key>longitude</key>
			<real>11.5472639</real>
			<key>name</key>
			<string>"Oberwiesenfeld"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1430535</real>
			<key>longitude</key>
			<real>11.5778077</real>
			<key>name</key>
			<string>"Odeonsplatz*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1822508</real>
			<key>longitude</key>
			<real>11.5300968</real>
			<key>name</key>
			<string>"Olympia-Einkaufszentrum**"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1793598</real>
			<key>longitude</key>
			<real>11.5557934</real>
			<key>name</key>
			<string>"Olympiazentrum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1277988</real>
			<key>longitude</key>
			<real>11.6044656</real>
			<key>name</key>
			<string>"Ostbahnhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1169716</real>
			<key>longitude</key>
			<real>11.5264468</real>
			<key>name</key>
			<string>"Partnachplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1404584</real>
			<key>longitude</key>
			<real>11.5577663</real>
			<key>name</key>
			<string>"Petuelring"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1256088</real>
			<key>longitude</key>
			<real>11.5504618</real>
			<key>name</key>
			<string>"Poccistraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1391416</real>
			<key>longitude</key>
			<real>11.6070348</real>
			<key>name</key>
			<string>"Prinzregentenplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1258393</real>
			<key>longitude</key>
			<real>11.6630578</real>
			<key>name</key>
			<string>"Quiddestraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1482876</real>
			<key>longitude</key>
			<real>11.6165293</real>
			<key>name</key>
			<string>"Richard-Strauss-Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1531930</real>
			<key>longitude</key>
			<real>11.5339510</real>
			<key>name</key>
			<string>"Rotkreuzplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1330397</real>
			<key>longitude</key>
			<real>11.5316856</real>
			<key>name</key>
			<string>"Schwanthalerhöhe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1334317</real>
			<key>longitude</key>
			<real>11.5666589</real>
			<key>name</key>
			<string>"Sendlinger"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.4462303</real>
			<key>longitude</key>
			<real>11.0819421</real>
			<key>name</key>
			<string>"Silberhorn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1404584</real>
			<key>longitude</key>
			<real>11.5577663</real>
			<key>name</key>
			<string>"St.-Quirin-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1836705</real>
			<key>longitude</key>
			<real>11.6078127</real>
			<key>name</key>
			<string>"Studentenstadt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.0953918</real>
			<key>longitude</key>
			<real>11.6430736</real>
			<key>name</key>
			<string>"Therese-Giehse-Allee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1511555</real>
			<key>longitude</key>
			<real>11.5642638</real>
			<key>name</key>
			<string>"Theresienstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1363875</real>
			<key>longitude</key>
			<real>11.5532822</real>
			<key>name</key>
			<string>"Theresienwiese"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1258393</real>
			<key>longitude</key>
			<real>11.6630578</real>
			<key>name</key>
			<string>"Trudering"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1126130</real>
			<key>longitude</key>
			<real>11.5874303</real>
			<key>name</key>
			<string>"Untersbergstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1378498</real>
			<key>longitude</key>
			<real>11.5452298</real>
			<key>name</key>
			<string>"West End"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1693863</real>
			<key>longitude</key>
			<real>11.5285186</real>
			<key>name</key>
			<string>"Westfriedhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1180621</real>
			<key>longitude</key>
			<real>11.5169608</real>
			<key>name</key>
			<string>"West Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1080012</real>
			<key>longitude</key>
			<real>11.5730966</real>
			<key>name</key>
			<string>"Wetter Stein"</string>
		</dict>
	</array>
</dict>
</plist>