<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>35.139860599999999</real>
			<key>longitude</key>
			<real>136.853442</real>
			<key>name</key>
			<string>"Takabata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1488619</real>
			<key>longitude</key>
			<real>136.85239849999999</real>
			<key>name</key>
			<string>"Hatta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.158195999999997</real>
			<key>longitude</key>
			<real>136.85436899999999</real>
			<key>name</key>
			<string>"Iwatsuka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.168149900000003</real>
			<key>longitude</key>
			<real>136.8551076</real>
			<key>name</key>
			<string>"Nakamura Kōen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.172778000000001</real>
			<key>longitude</key>
			<real>136.86222900000001</real>
			<key>name</key>
			<string>"Nakamura Nisseki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.177055000000003</real>
			<key>longitude</key>
			<real>136.86661799999999</real>
			<key>name</key>
			<string>"Honjin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.177530300000001</real>
			<key>longitude</key>
			<real>136.87674000000001</real>
			<key>name</key>
			<string>"Kamejima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170915000000001</real>
			<key>longitude</key>
			<real>136.88153689999999</real>
			<key>name</key>
			<string>"Nagoya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.169258599999999</real>
			<key>longitude</key>
			<real>136.89742050000001</real>
			<key>name</key>
			<string>"Fushimi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170047500000003</real>
			<key>longitude</key>
			<real>136.9085322</real>
			<key>name</key>
			<string>"Sakae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170724</real>
			<key>longitude</key>
			<real>136.919974</real>
			<key>name</key>
			<string>"Shinsakae-machi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170166600000002</real>
			<key>longitude</key>
			<real>136.93066210000001</real>
			<key>name</key>
			<string>"Chikusa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1699433</real>
			<key>longitude</key>
			<real>136.93726520000001</real>
			<key>name</key>
			<string>"Imaike"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.167724999999997</real>
			<key>longitude</key>
			<real>136.94675000000001</real>
			<key>name</key>
			<string>"Ikeshita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.166502999999999</real>
			<key>longitude</key>
			<real>136.952527</real>
			<key>name</key>
			<string>"Kakuōzan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.163492099999999</real>
			<key>longitude</key>
			<real>136.963842</real>
			<key>name</key>
			<string>"Motoyama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.156231699999999</real>
			<key>longitude</key>
			<real>136.9801784</real>
			<key>name</key>
			<string>"Higashiyama Kōen (Higashiyama Park)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.162754</real>
			<key>longitude</key>
			<real>136.98613599999999</real>
			<key>name</key>
			<string>"Hoshigaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.168281999999998</real>
			<key>longitude</key>
			<real>136.99593999999999</real>
			<key>name</key>
			<string>"Issha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.173570699999999</real>
			<key>longitude</key>
			<real>137.0067421</real>
			<key>name</key>
			<string>"Kamiyashiro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.175398100000002</real>
			<key>longitude</key>
			<real>137.01350489999999</real>
			<key>name</key>
			<string>"Hongō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1824996</real>
			<key>longitude</key>
			<real>137.02136039999999</real>
			<key>name</key>
			<string>"Fujigaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.142926000000003</real>
			<key>longitude</key>
			<real>136.90120350000001</real>
			<key>name</key>
			<string>"Kanayama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.149976000000002</real>
			<key>longitude</key>
			<real>136.90478200000001</real>
			<key>name</key>
			<string>"Higashi Betsuin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.157230499999997</real>
			<key>longitude</key>
			<real>136.90676529999999</real>
			<key>name</key>
			<string>"Kamimaezu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.163706599999998</real>
			<key>longitude</key>
			<real>136.90890440000001</real>
			<key>name</key>
			<string>"Yabachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.173741</real>
			<key>longitude</key>
			<real>136.90777660000001</real>
			<key>name</key>
			<string>"Hisaya-ōdōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.181471999999999</real>
			<key>longitude</key>
			<real>136.905586</real>
			<key>name</key>
			<string>"Shiyakusho (City Hall)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.190528</real>
			<key>longitude</key>
			<real>136.90474800000001</real>
			<key>name</key>
			<string>"Meijō Kōen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.197192999999999</real>
			<key>longitude</key>
			<real>136.910113</real>
			<key>name</key>
			<string>"Kurokawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.196249000000002</real>
			<key>longitude</key>
			<real>136.92100099999999</real>
			<key>name</key>
			<string>"Shiga-hondōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.195809699999998</real>
			<key>longitude</key>
			<real>136.92971270000001</real>
			<key>name</key>
			<string>"Heian-dōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.191751600000003</real>
			<key>longitude</key>
			<real>136.937388</real>
			<key>name</key>
			<string>"Ōzone"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.190691000000001</real>
			<key>longitude</key>
			<real>136.945255</real>
			<key>name</key>
			<string>"Nagoya Dome-mae Yada"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.188811999999999</real>
			<key>longitude</key>
			<real>136.9542343</real>
			<key>name</key>
			<string>"Sunadabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.184643100000002</real>
			<key>longitude</key>
			<real>136.96207749999999</real>
			<key>name</key>
			<string>"Chayagasaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.175252</real>
			<key>longitude</key>
			<real>136.96663699999999</real>
			<key>name</key>
			<string>"Jiyūgaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.163492099999999</real>
			<key>longitude</key>
			<real>136.963842</real>
			<key>name</key>
			<string>"Motoyama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.154680999999997</real>
			<key>longitude</key>
			<real>136.96671169999999</real>
			<key>name</key>
			<string>"Nagoya Daigaku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.144561000000003</real>
			<key>longitude</key>
			<real>136.96502699999999</real>
			<key>name</key>
			<string>"Yagoto Nisseki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.136848200000003</real>
			<key>longitude</key>
			<real>136.96413329999999</real>
			<key>name</key>
			<string>"Yagoto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.130479000000001</real>
			<key>longitude</key>
			<real>136.95450099999999</real>
			<key>name</key>
			<string>"Sōgō Rihabiri Center"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.123091000000002</real>
			<key>longitude</key>
			<real>136.94869600000001</real>
			<key>name</key>
			<string>"Mizuho Undōjō Higashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.117730000000002</real>
			<key>longitude</key>
			<real>136.93722500000001</real>
			<key>name</key>
			<string>"Aratama-bashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.117180099999999</real>
			<key>longitude</key>
			<real>136.92958239999999</real>
			<key>name</key>
			<string>"Myōon-dōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.119991200000001</real>
			<key>longitude</key>
			<real>136.9200937</real>
			<key>name</key>
			<string>"Horita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.120777400000001</real>
			<key>longitude</key>
			<real>136.91038</real>
			<key>name</key>
			<string>"Temma-chō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.127891900000002</real>
			<key>longitude</key>
			<real>136.90655720000001</real>
			<key>name</key>
			<string>"Jingū-Nishi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.134644600000001</real>
			<key>longitude</key>
			<real>136.9017844</real>
			<key>name</key>
			<string>"Nishi Takakura"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.142926000000003</real>
			<key>longitude</key>
			<real>136.90120350000001</real>
			<key>name</key>
			<string>"Kanayama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.132728</real>
			<key>longitude</key>
			<real>136.893089</real>
			<key>name</key>
			<string>"Hibino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.124116999999998</real>
			<key>longitude</key>
			<real>136.888451</real>
			<key>name</key>
			<string>"Rokuban-chō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.113760599999999</real>
			<key>longitude</key>
			<real>136.8857677</real>
			<key>name</key>
			<string>"Tōkai-dōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.105736</real>
			<key>longitude</key>
			<real>136.88454999999999</real>
			<key>name</key>
			<string>"Minato Kuyakusho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.0995451</real>
			<key>longitude</key>
			<real>136.88312389999999</real>
			<key>name</key>
			<string>"Tsukiji-guchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.091814499999998</real>
			<key>longitude</key>
			<real>136.88011689999999</real>
			<key>name</key>
			<string>"Nagoyakō (Nagoya Port)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.202579999999998</real>
			<key>longitude</key>
			<real>136.87086600000001</real>
			<key>name</key>
			<string>"Shimo-Otai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.214773000000001</real>
			<key>longitude</key>
			<real>136.876643</real>
			<key>name</key>
			<string>"Naka-Otai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.223556700000003</real>
			<key>longitude</key>
			<real>136.87687869999999</real>
			<key>name</key>
			<string>"Kami-Otai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.244492000000001</real>
			<key>longitude</key>
			<real>136.87139300000001</real>
			<key>name</key>
			<string>"Nishiharu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.255795999999997</real>
			<key>longitude</key>
			<real>136.87330900000001</real>
			<key>name</key>
			<string>"Tokushige-Nagoya-Geidai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.277932999999997</real>
			<key>longitude</key>
			<real>136.87352999999999</real>
			<key>name</key>
			<string>"Iwakura"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.296156600000003</real>
			<key>longitude</key>
			<real>136.8711758</real>
			<key>name</key>
			<string>"Ishibotoke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.317233999999999</real>
			<key>longitude</key>
			<real>136.872918</real>
			<key>name</key>
			<string>"Hotei"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.344814999999997</real>
			<key>longitude</key>
			<real>136.900192</real>
			<key>name</key>
			<string>"Kashiwamori"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.374229</real>
			<key>longitude</key>
			<real>136.93993699999999</real>
			<key>name</key>
			<string>"Inuyamaguchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.379925900000003</real>
			<key>longitude</key>
			<real>136.94558499999999</real>
			<key>name</key>
			<string>"Inuyama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.3904633</real>
			<key>longitude</key>
			<real>136.9469733</real>
			<key>name</key>
			<string>"Inuyama-Yūen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.396782000000002</real>
			<key>longitude</key>
			<real>136.94421399999999</real>
			<key>name</key>
			<string>"Shin-Unuma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.223556700000003</real>
			<key>longitude</key>
			<real>136.87687869999999</real>
			<key>name</key>
			<string>"Kami-Otai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.21519</real>
			<key>longitude</key>
			<real>136.88689199999999</real>
			<key>name</key>
			<string>"Shōnai Ryokuchi Kōen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.204467399999999</real>
			<key>longitude</key>
			<real>136.89108590000001</real>
			<key>name</key>
			<string>"Shōnai-dōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1922073</real>
			<key>longitude</key>
			<real>136.890837</real>
			<key>name</key>
			<string>"Jōshin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.183526999999998</real>
			<key>longitude</key>
			<real>136.89033800000001</real>
			<key>name</key>
			<string>"Sengen-chō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.175055999999998</real>
			<key>longitude</key>
			<real>136.89686499999999</real>
			<key>name</key>
			<string>"Marunouchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.169258599999999</real>
			<key>longitude</key>
			<real>136.89742050000001</real>
			<key>name</key>
			<string>"Fushimi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.160768500000003</real>
			<key>longitude</key>
			<real>136.89825569999999</real>
			<key>name</key>
			<string>"Ōsu Kannon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.157230499999997</real>
			<key>longitude</key>
			<real>136.90676529999999</real>
			<key>name</key>
			<string>"Kamimaezu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.156388700000001</real>
			<key>longitude</key>
			<real>136.91752679999999</real>
			<key>name</key>
			<string>"Tsurumai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.149810000000002</real>
			<key>longitude</key>
			<real>136.925197</real>
			<key>name</key>
			<string>"Arahata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.149554600000002</real>
			<key>longitude</key>
			<real>136.93366370000001</real>
			<key>name</key>
			<string>"Gokiso"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.148762099999999</real>
			<key>longitude</key>
			<real>136.94840619999999</real>
			<key>name</key>
			<string>"Kawana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.143678800000004</real>
			<key>longitude</key>
			<real>136.9548911</real>
			<key>name</key>
			<string>"Irinaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.136848200000003</real>
			<key>longitude</key>
			<real>136.96413329999999</real>
			<key>name</key>
			<string>"Yagoto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.132452000000001</real>
			<key>longitude</key>
			<real>136.97747100000001</real>
			<key>name</key>
			<string>"Shiogama-guchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1286871</real>
			<key>longitude</key>
			<real>136.9877261</real>
			<key>name</key>
			<string>"Ueda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.126064</real>
			<key>longitude</key>
			<real>136.99696900000001</real>
			<key>name</key>
			<string>"Hara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.122778400000001</real>
			<key>longitude</key>
			<real>137.00686279999999</real>
			<key>name</key>
			<string>"Hirabari"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.121224400000003</real>
			<key>longitude</key>
			<real>137.0182595</real>
			<key>name</key>
			<string>"Akaike"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.099682000000001</real>
			<key>longitude</key>
			<real>137.162261</real>
			<key>name</key>
			<string>"Umetsubo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.116458000000002</real>
			<key>longitude</key>
			<real>137.15473399999999</real>
			<key>name</key>
			<string>"Kami Toyota"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.121262999999999</real>
			<key>longitude</key>
			<real>137.13726299999999</real>
			<key>name</key>
			<string>"Jōsui"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.126927999999999</real>
			<key>longitude</key>
			<real>137.111098</real>
			<key>name</key>
			<string>"Miyoshigaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.127732999999999</real>
			<key>longitude</key>
			<real>137.091544</real>
			<key>name</key>
			<string>"Kurozasa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.123761000000002</real>
			<key>longitude</key>
			<real>137.066991</real>
			<key>name</key>
			<string>"Komenoki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.118426999999997</real>
			<key>longitude</key>
			<real>137.048743</real>
			<key>name</key>
			<string>"Nisshin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.121224400000003</real>
			<key>longitude</key>
			<real>137.0182595</real>
			<key>name</key>
			<string>"Akaike"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.121929999999999</real>
			<key>longitude</key>
			<real>137.17870400000001</real>
			<key>name</key>
			<string>"Sanage"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.114699799999997</real>
			<key>longitude</key>
			<real>137.1847266</real>
			<key>name</key>
			<string>"Hiratobashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.107571</real>
			<key>longitude</key>
			<real>137.17953700000001</real>
			<key>name</key>
			<string>"Koshido"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.099682000000001</real>
			<key>longitude</key>
			<real>137.162261</real>
			<key>name</key>
			<string>"Umetsubo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170915000000001</real>
			<key>longitude</key>
			<real>136.88153689999999</real>
			<key>name</key>
			<string>"Toyotashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.072209700000002</real>
			<key>longitude</key>
			<real>137.1549685</real>
			<key>name</key>
			<string>"Uwa Goromo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.058203399999996</real>
			<key>longitude</key>
			<real>137.12981310000001</real>
			<key>name</key>
			<string>"Tsuchihashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.040132</real>
			<key>longitude</key>
			<real>137.114768</real>
			<key>name</key>
			<string>"Takemura"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.026623800000003</real>
			<key>longitude</key>
			<real>137.0968776</real>
			<key>name</key>
			<string>"Wakabayashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.010885000000002</real>
			<key>longitude</key>
			<real>137.077439</real>
			<key>name</key>
			<string>"Mikawa Yatsuhashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.0040713</real>
			<key>longitude</key>
			<real>137.04512969999999</real>
			<key>name</key>
			<string>"Mikawa Chiryū"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.0040713</real>
			<key>longitude</key>
			<real>137.04512969999999</real>
			<key>name</key>
			<string>"Chiryū"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.994745999999999</real>
			<key>longitude</key>
			<real>137.02374900000001</real>
			<key>name</key>
			<string>"Shigehara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170915000000001</real>
			<key>longitude</key>
			<real>136.88153689999999</real>
			<key>name</key>
			<string>"Kariya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.984690999999998</real>
			<key>longitude</key>
			<real>136.993752</real>
			<key>name</key>
			<string>"Kariyashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.963837499999997</real>
			<key>longitude</key>
			<real>136.9954481</real>
			<key>name</key>
			<string>"Ogakie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.946556999999999</real>
			<key>longitude</key>
			<real>136.98939300000001</real>
			<key>name</key>
			<string>"Yoshihama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.930513300000001</real>
			<key>longitude</key>
			<real>136.99004590000001</real>
			<key>name</key>
			<string>"Mikawa Takahama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.921503999999999</real>
			<key>longitude</key>
			<real>136.989338</real>
			<key>name</key>
			<string>"Takahama Minato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.906061000000001</real>
			<key>longitude</key>
			<real>136.992422</real>
			<key>name</key>
			<string>"Kitashinkawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.887202799999997</real>
			<key>longitude</key>
			<real>136.98965459999999</real>
			<key>name</key>
			<string>"Hekinan Chūō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.873981000000001</real>
			<key>longitude</key>
			<real>136.98556300000001</real>
			<key>name</key>
			<string>"Hekinan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.167611999999998</real>
			<key>longitude</key>
			<real>136.873367</real>
			<key>name</key>
			<string>"Nakamura Kuyakusho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170915000000001</real>
			<key>longitude</key>
			<real>136.88153689999999</real>
			<key>name</key>
			<string>"Nagoya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.172808000000003</real>
			<key>longitude</key>
			<real>136.890288</real>
			<key>name</key>
			<string>"Kokusai Center (International Center)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.175055999999998</real>
			<key>longitude</key>
			<real>136.89686499999999</real>
			<key>name</key>
			<string>"Marunouchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.173741</real>
			<key>longitude</key>
			<real>136.90777660000001</real>
			<key>name</key>
			<string>"Hisaya-ōdōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.174140000000001</real>
			<key>longitude</key>
			<real>136.916113</real>
			<key>name</key>
			<string>"Takaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.173510700000001</real>
			<key>longitude</key>
			<real>136.9293528</real>
			<key>name</key>
			<string>"Kurumamichi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.1699433</real>
			<key>longitude</key>
			<real>136.93726520000001</real>
			<key>name</key>
			<string>"Imaike"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.158832699999998</real>
			<key>longitude</key>
			<real>136.93523289999999</real>
			<key>name</key>
			<string>"Fukiage"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.149554600000002</real>
			<key>longitude</key>
			<real>136.93366370000001</real>
			<key>name</key>
			<string>"Gokiso"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.140005000000002</real>
			<key>longitude</key>
			<real>136.93328</real>
			<key>name</key>
			<string>"Sakurayama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.131784000000003</real>
			<key>longitude</key>
			<real>136.93439100000001</real>
			<key>name</key>
			<string>"Mizuho Kuyakusho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.124952</real>
			<key>longitude</key>
			<real>136.93544700000001</real>
			<key>name</key>
			<string>"Mizuho Undōjō Nishi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.117730000000002</real>
			<key>longitude</key>
			<real>136.93722500000001</real>
			<key>name</key>
			<string>"Aratama-bashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.108953499999998</real>
			<key>longitude</key>
			<real>136.93675569999999</real>
			<key>name</key>
			<string>"Sakura-hommachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.156388700000001</real>
			<key>longitude</key>
			<real>136.91752679999999</real>
			<key>name</key>
			<string>"Tsurusato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.102322100000002</real>
			<key>longitude</key>
			<real>136.955545</real>
			<key>name</key>
			<string>"Nonami"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.102677</real>
			<key>longitude</key>
			<real>136.96627799999999</real>
			<key>name</key>
			<string>"Naruko Kita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.102511</real>
			<key>longitude</key>
			<real>136.976055</real>
			<key>name</key>
			<string>"Aioiyama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.098595000000003</real>
			<key>longitude</key>
			<real>136.98936</real>
			<key>name</key>
			<string>"Kamisawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.094983999999997</real>
			<key>longitude</key>
			<real>136.997331</real>
			<key>name</key>
			<string>"Tokushige"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.203386999999999</real>
			<key>longitude</key>
			<real>136.92961099999999</real>
			<key>name</key>
			<string>"Kamiiida"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.222774000000001</real>
			<key>longitude</key>
			<real>136.93622099999999</real>
			<key>name</key>
			<string>"Ajima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.235106000000002</real>
			<key>longitude</key>
			<real>136.93716499999999</real>
			<key>name</key>
			<string>"Ajiyoshi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.250483299999999</real>
			<key>longitude</key>
			<real>136.93620250000001</real>
			<key>name</key>
			<string>"Kasugai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.263794400000002</real>
			<key>longitude</key>
			<real>136.93139930000001</real>
			<key>name</key>
			<string>"Ushiyama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.271574000000001</real>
			<key>longitude</key>
			<real>136.93113600000001</real>
			<key>name</key>
			<string>"Manai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.281767000000002</real>
			<key>longitude</key>
			<real>136.92763600000001</real>
			<key>name</key>
			<string>"Komakiguchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.289127000000001</real>
			<key>longitude</key>
			<real>136.92849699999999</real>
			<key>name</key>
			<string>"Komaki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.300348</real>
			<key>longitude</key>
			<real>136.93593999999999</real>
			<key>name</key>
			<string>"Komakihara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.309403000000003</real>
			<key>longitude</key>
			<real>136.94030100000001</real>
			<key>name</key>
			<string>"Ajioka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.317430000000002</real>
			<key>longitude</key>
			<real>136.94380000000001</real>
			<key>name</key>
			<string>"Tagata-jinja-mae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.330568</real>
			<key>longitude</key>
			<real>136.95002099999999</real>
			<key>name</key>
			<string>"Gakuden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.351565000000001</real>
			<key>longitude</key>
			<real>136.95246499999999</real>
			<key>name</key>
			<string>"Haguro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.379925900000003</real>
			<key>longitude</key>
			<real>136.94558499999999</real>
			<key>name</key>
			<string>"Inuyama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.203386999999999</real>
			<key>longitude</key>
			<real>136.92961099999999</real>
			<key>name</key>
			<string>"Kamiiida"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.195809699999998</real>
			<key>longitude</key>
			<real>136.92971270000001</real>
			<key>name</key>
			<string>"Heian-dōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.174140000000001</real>
			<key>longitude</key>
			<real>136.916113</real>
			<key>name</key>
			<string>"Takaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.170724</real>
			<key>longitude</key>
			<real>136.919974</real>
			<key>name</key>
			<string>"Shinsakae-machi"</string>
		</dict>
	</array>
</dict>
</plist>
