<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>34.643838500000001</real>
			<key>longitude</key>
			<real>135.51238330000001</real>
			<key>name</key>
			<string>"Abeno"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.599060999999999</real>
			<key>longitude</key>
			<real>135.51278400000001</real>
			<key>name</key>
			<string>"Abiko"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.661582000000003</real>
			<key>longitude</key>
			<real>135.44883239999999</real>
			<key>name</key>
			<string>"Asashiobashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.681634000000003</real>
			<key>longitude</key>
			<real>135.4862</real>
			<key>name</key>
			<string>"Awaza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.669178799999997</real>
			<key>longitude</key>
			<real>135.46257650000001</real>
			<key>name</key>
			<string>"Bentenchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.642747999999997</real>
			<key>longitude</key>
			<real>135.41240199999999</real>
			<key>name</key>
			<string>"Cosmosquare"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.743738999999998</real>
			<key>longitude</key>
			<real>135.54466500000001</real>
			<key>name</key>
			<string>"Daidō-Toyosato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.655911099999997</real>
			<key>longitude</key>
			<real>135.49784460000001</real>
			<key>name</key>
			<string>"Daikokuchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.749377099999997</real>
			<key>longitude</key>
			<real>135.5782682</real>
			<key>name</key>
			<string>"Dainichi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.608820899999998</real>
			<key>longitude</key>
			<real>135.56560719999999</real>
			<key>name</key>
			<string>"Deto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.648665999999999</real>
			<key>longitude</key>
			<real>135.50475499999999</real>
			<key>name</key>
			<string>"Dōbutsuen-mae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.670914199999999</real>
			<key>longitude</key>
			<real>135.47943140000001</real>
			<key>name</key>
			<string>"Dome-mae Chiyozaki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.6549385</real>
			<key>longitude</key>
			<real>135.5055773</real>
			<key>name</key>
			<string>"Ebisuchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.7579718</real>
			<key>longitude</key>
			<real>135.49702790000001</real>
			<key>name</key>
			<string>"Esaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.619028999999998</real>
			<key>longitude</key>
			<real>135.435012</real>
			<key>name</key>
			<string>"Ferry Terminal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.679051100000002</real>
			<key>longitude</key>
			<real>135.55771050000001</real>
			<key>name</key>
			<string>"Fukaebashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.635663899999997</real>
			<key>longitude</key>
			<real>135.5184136</real>
			<key>name</key>
			<string>"Fuminosato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.700411000000003</real>
			<key>longitude</key>
			<real>135.54727700000001</real>
			<key>name</key>
			<string>"Gamō-yonchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.644165999999998</real>
			<key>longitude</key>
			<real>135.49650600000001</real>
			<key>name</key>
			<string>"Hanazonochō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.741128000000003</real>
			<key>longitude</key>
			<real>135.498447</real>
			<key>name</key>
			<string>"Higashi-Mikuni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.700933300000003</real>
			<key>longitude</key>
			<real>135.49965349999999</real>
			<key>name</key>
			<string>"Higashi-Umeda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.691012700000002</real>
			<key>longitude</key>
			<real>135.49644699999999</real>
			<key>name</key>
			<string>"Higobashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.610691799999998</real>
			<key>longitude</key>
			<real>135.45861339999999</real>
			<key>name</key>
			<string>"Hirabayashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.620499799999997</real>
			<key>longitude</key>
			<real>135.54897450000001</real>
			<key>name</key>
			<string>"Hirano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.682006600000001</real>
			<key>longitude</key>
			<real>135.4986274</real>
			<key>name</key>
			<string>"Hommachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.702021999999999</real>
			<key>longitude</key>
			<real>135.56016500000001</real>
			<key>name</key>
			<string>"Imafuku-Tsurumi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.668636999999997</real>
			<key>longitude</key>
			<real>135.544251</real>
			<key>name</key>
			<string>"Imazato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.759875600000001</real>
			<key>longitude</key>
			<real>135.54719460000001</real>
			<key>name</key>
			<string>"Itakano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.7168201</real>
			<key>longitude</key>
			<real>135.59254139999999</real>
			<key>name</key>
			<string>"Kadoma-minami"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.609226999999997</real>
			<key>longitude</key>
			<real>135.55214100000001</real>
			<key>name</key>
			<string>"Kire-Uriwari"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.634298399999999</real>
			<key>longitude</key>
			<real>135.49380210000001</real>
			<key>name</key>
			<string>"Kishinosato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.690595700000003</real>
			<key>longitude</key>
			<real>135.5065989</real>
			<key>name</key>
			<string>"Kitahama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.582188500000001</real>
			<key>longitude</key>
			<real>135.51644999999999</real>
			<key>name</key>
			<string>"Kitahanada"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.621828700000002</real>
			<key>longitude</key>
			<real>135.48045619999999</real>
			<key>name</key>
			<string>"Kitakagaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.652882200000001</real>
			<key>longitude</key>
			<real>135.55497249999999</real>
			<key>name</key>
			<string>"Kita-Tatsumi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.621558999999998</real>
			<key>longitude</key>
			<real>135.53286499999999</real>
			<key>name</key>
			<string>"Komagawa-Nakano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.675220899999999</real>
			<key>longitude</key>
			<real>135.47342660000001</real>
			<key>name</key>
			<string>"Kujō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.696560699999999</real>
			<key>longitude</key>
			<real>135.53408640000001</real>
			<key>name</key>
			<string>"Kyōbashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.680663000000003</real>
			<key>longitude</key>
			<real>135.54519500000001</real>
			<key>name</key>
			<string>"Midoribashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.697549000000002</real>
			<key>longitude</key>
			<real>135.510864</real>
			<key>name</key>
			<string>"Minami-morimachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.643222999999999</real>
			<key>longitude</key>
			<real>135.55314000000001</real>
			<key>name</key>
			<string>"Minami-Tatsumi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.675552000000003</real>
			<key>longitude</key>
			<real>135.51255900000001</real>
			<key>name</key>
			<string>"Matsuyamachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.708882000000003</real>
			<key>longitude</key>
			<real>135.52602899999999</real>
			<key>name</key>
			<string>"Miyakojima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.738987399999999</real>
			<key>longitude</key>
			<real>135.56470759999999</real>
			<key>name</key>
			<string>"Moriguchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.680523999999998</real>
			<key>longitude</key>
			<real>135.533974</real>
			<key>name</key>
			<string>"Morinomiya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.602390900000003</real>
			<key>longitude</key>
			<real>135.57387600000001</real>
			<key>name</key>
			<string>"Nagahara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.674266799999998</real>
			<key>longitude</key>
			<real>135.50631000000001</real>
			<key>name</key>
			<string>"Nagahoribashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.611130600000003</real>
			<key>longitude</key>
			<real>135.51261249999999</real>
			<key>name</key>
			<string>"Nagai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.678719999999998</real>
			<key>longitude</key>
			<real>135.59191300000001</real>
			<key>name</key>
			<string>"Nagata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.634025399999999</real>
			<key>longitude</key>
			<real>135.41746359999999</real>
			<key>name</key>
			<string>"Nakafuto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.556314999999998</real>
			<key>longitude</key>
			<real>135.50425799999999</real>
			<key>name</key>
			<string>"Nakamozu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.711213999999998</real>
			<key>longitude</key>
			<real>135.49697599999999</real>
			<key>name</key>
			<string>"Nakatsu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.706939900000002</real>
			<key>longitude</key>
			<real>135.5053825</real>
			<key>name</key>
			<string>"Nakazakichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.613829799999998</real>
			<key>longitude</key>
			<real>135.44667459999999</real>
			<key>name</key>
			<string>"Nankōguchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.613936500000001</real>
			<key>longitude</key>
			<real>135.4380548</real>
			<key>name</key>
			<string>"Nankō-higashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.667071800000002</real>
			<key>longitude</key>
			<real>135.50036069999999</real>
			<key>name</key>
			<string>"Namba"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.666711499999998</real>
			<key>longitude</key>
			<real>135.5063198</real>
			<key>name</key>
			<string>"Nippombashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.674301999999997</real>
			<key>longitude</key>
			<real>135.48700600000001</real>
			<key>name</key>
			<string>"Nishi-Nagahori"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.726407000000002</real>
			<key>longitude</key>
			<real>135.49858599999999</real>
			<key>name</key>
			<string>"Nishinakajima-Minamigata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.675468299999999</real>
			<key>longitude</key>
			<real>135.49338560000001</real>
			<key>name</key>
			<string>"Nishiōhashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.621612399999997</real>
			<key>longitude</key>
			<real>135.5151386</real>
			<key>name</key>
			<string>"Nishitanabe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.699882000000002</real>
			<key>longitude</key>
			<real>135.49556000000001</real>
			<key>name</key>
			<string>"Nishi-Umeda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.694288399999998</real>
			<key>longitude</key>
			<real>135.4748237</real>
			<key>name</key>
			<string>"Nodahanshin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.709260299999997</real>
			<key>longitude</key>
			<real>135.53801910000001</real>
			<key>name</key>
			<string>"Noe-Uchindai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.703654499999999</real>
			<key>longitude</key>
			<real>135.51085230000001</real>
			<key>name</key>
			<string>"Ogimachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.692078000000002</real>
			<key>longitude</key>
			<real>135.529529</real>
			<key>name</key>
			<string>"Osaka Business Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.653927000000003</real>
			<key>longitude</key>
			<real>135.4344189</real>
			<key>name</key>
			<string>"Ōsakakō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.630907899999997</real>
			<key>longitude</key>
			<real>135.42914440000001</real>
			<key>name</key>
			<string>"Port Town-higashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.630909699999997</real>
			<key>longitude</key>
			<real>135.4228158</real>
			<key>name</key>
			<string>"Port Town-nishi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.681825500000002</real>
			<key>longitude</key>
			<real>135.50697629999999</real>
			<key>name</key>
			<string>"Sakaisuji-Hommachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.668426199999999</real>
			<key>longitude</key>
			<real>135.48826600000001</real>
			<key>name</key>
			<string>"Sakuragawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.712631999999999</real>
			<key>longitude</key>
			<real>135.54697100000001</real>
			<key>name</key>
			<string>"Sekime-Seiiku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.715275599999998</real>
			<key>longitude</key>
			<real>135.54634580000001</real>
			<key>name</key>
			<string>"Sekime-Takadono"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.723903200000002</real>
			<key>longitude</key>
			<real>135.54915439999999</real>
			<key>name</key>
			<string>"Sembayashi-Omiya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.692773000000003</real>
			<key>longitude</key>
			<real>135.54513900000001</real>
			<key>name</key>
			<string>"Shigino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.721964200000002</real>
			<key>longitude</key>
			<real>135.5607799</real>
			<key>name</key>
			<string>"Shimizu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.714822400000003</real>
			<key>longitude</key>
			<real>135.55859960000001</real>
			<key>name</key>
			<string>"Shimmori-Furuichi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.668119300000001</real>
			<key>longitude</key>
			<real>135.5530124</real>
			<key>name</key>
			<string>"Shin-Fukae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.567259</real>
			<key>longitude</key>
			<real>135.51489599999999</real>
			<key>name</key>
			<string>"Shinkanaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.733165399999997</real>
			<key>longitude</key>
			<real>135.5002144</real>
			<key>name</key>
			<string>"Shin-Ōsaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.675057199999998</real>
			<key>longitude</key>
			<real>135.5003772</real>
			<key>name</key>
			<string>"Shinsaibashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.666246999999998</real>
			<key>longitude</key>
			<real>135.49542199999999</real>
			<key>name</key>
			<string>"Yotsubashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.65831</real>
			<key>longitude</key>
			<real>135.514163</real>
			<key>name</key>
			<string>"Shitennōji-mae Yūhigaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.661290299999997</real>
			<key>longitude</key>
			<real>135.55630590000001</real>
			<key>name</key>
			<string>"Shōji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.633479999999999</real>
			<key>longitude</key>
			<real>135.51694000000001</real>
			<key>name</key>
			<string>"Shōwachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.609020000000001</real>
			<key>longitude</key>
			<real>135.47291920000001</real>
			<key>name</key>
			<string>"Suminoekōen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.731855099999997</real>
			<key>longitude</key>
			<real>135.55561549999999</real>
			<key>name</key>
			<string>"Taishibashi-Imaichi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.678454799999997</real>
			<key>longitude</key>
			<real>135.572396</real>
			<key>name</key>
			<string>"Takaida"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.623665199999998</real>
			<key>longitude</key>
			<real>135.49029229999999</real>
			<key>name</key>
			<string>"Tamade"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.689438000000003</real>
			<key>longitude</key>
			<real>135.476201</real>
			<key>name</key>
			<string>"Tamagawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.673468999999997</real>
			<key>longitude</key>
			<real>135.53283500000001</real>
			<key>name</key>
			<string>"Tamatsukuri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.6285405</real>
			<key>longitude</key>
			<real>135.52522579999999</real>
			<key>name</key>
			<string>"Tanabe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.666661699999999</real>
			<key>longitude</key>
			<real>135.51581569999999</real>
			<key>name</key>
			<string>"Tanimachi Kyūchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.675052999999998</real>
			<key>longitude</key>
			<real>135.51702180000001</real>
			<key>name</key>
			<string>"Tanimachi Rokuchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.682107000000002</real>
			<key>longitude</key>
			<real>135.51725300000001</real>
			<key>name</key>
			<string>"Tanimachi Yonchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.665525000000002</real>
			<key>longitude</key>
			<real>135.47981200000001</real>
			<key>name</key>
			<string>"Taishō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.690328000000001</real>
			<key>longitude</key>
			<real>135.516503</real>
			<key>name</key>
			<string>"Temmabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.637028000000001</real>
			<key>longitude</key>
			<real>135.49678399999999</real>
			<key>name</key>
			<string>"Tengachaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.710761300000001</real>
			<key>longitude</key>
			<real>135.51081970000001</real>
			<key>name</key>
			<string>"Tenjimbashisuji Rokuchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.6478416</real>
			<key>longitude</key>
			<real>135.51322260000001</real>
			<key>name</key>
			<string>"Tennōji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.638705000000002</real>
			<key>longitude</key>
			<real>135.41210799999999</real>
			<key>name</key>
			<string>"Trade Center-mae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.6652317</real>
			<key>longitude</key>
			<real>135.53004609999999</real>
			<key>name</key>
			<string>"Tsuruhashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.710493999999997</real>
			<key>longitude</key>
			<real>135.57999599999999</real>
			<key>name</key>
			<string>"Tsurumi-ryokuchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.705027100000002</real>
			<key>longitude</key>
			<real>135.4984269</real>
			<key>name</key>
			<string>"Umeda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.597390300000001</real>
			<key>longitude</key>
			<real>135.5825461</real>
			<key>name</key>
			<string>"Yaominami"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.692549700000001</real>
			<key>longitude</key>
			<real>135.50168650000001</real>
			<key>name</key>
			<string>"Yodoyabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.703520699999999</real>
			<key>longitude</key>
			<real>135.57213770000001</real>
			<key>name</key>
			<string>"Yokozutsumi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>34.752239000000003</real>
			<key>longitude</key>
			<real>135.54463699999999</real>
			<key>name</key>
			<string>"Zuikō Yonchōme"</string>
		</dict>
	</array>
</dict>
</plist>
