<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>59.9287955</real>
			<key>longitude</key>
			<real>10.6466444</real>
			<key>name</key>
			<string>"Åsjordet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.91311</real>
			<key>longitude</key>
			<real>10.5483499</real>
			<key>name</key>
			<string>"Avløs"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9170676</real>
			<key>longitude</key>
			<real>10.5894327</real>
			<key>name</key>
			<string>"Bekkestua"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9512337</real>
			<key>longitude</key>
			<real>10.7449148</real>
			<key>name</key>
			<string>"Berg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8670417</real>
			<key>longitude</key>
			<real>10.8216552</real>
			<key>name</key>
			<string>"Bergkrystallen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.957831</real>
			<key>longitude</key>
			<real>10.6738206</real>
			<key>name</key>
			<string>"Besserud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9261873</real>
			<key>longitude</key>
			<real>10.633937</real>
			<key>name</key>
			<string>"Bjørnsletta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9261873</real>
			<key>longitude</key>
			<real>10.633937</real>
			<key>name</key>
			<string>"Bjørnsletta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9401892</real>
			<key>longitude</key>
			<real>10.7159885</real>
			<key>name</key>
			<string>"Blindern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8756798</real>
			<key>longitude</key>
			<real>10.8418016</real>
			<key>name</key>
			<string>"Bogerud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8841705</real>
			<key>longitude</key>
			<real>10.8450804</real>
			<key>name</key>
			<string>"Bøler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.934624</real>
			<key>longitude</key>
			<real>10.6955769</real>
			<key>name</key>
			<string>"Borgen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.887366</real>
			<key>longitude</key>
			<real>10.8010239</real>
			<key>name</key>
			<string>"Brattlikollen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.909127</real>
			<key>longitude</key>
			<real>10.812933</real>
			<key>name</key>
			<string>"Brynseng"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9258846</real>
			<key>longitude</key>
			<real>10.7779396</real>
			<key>name</key>
			<string>"Carl Berners plass"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.919151</real>
			<key>longitude</key>
			<real>10.595412</real>
			<key>name</key>
			<string>"Egne hjem"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9469602</real>
			<key>longitude</key>
			<real>10.6230714</real>
			<key>name</key>
			<string>"Eiksmarka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9502802</real>
			<key>longitude</key>
			<real>10.6371282</real>
			<key>name</key>
			<string>"Ekraveien"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.569</real>
			<key>longitude</key>
			<real>10.5459</real>
			<key>name</key>
			<string>"Ellingsrudåsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8970048</real>
			<key>longitude</key>
			<real>10.55491</real>
			<key>name</key>
			<string>"Engerjordet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9137359</real>
			<key>longitude</key>
			<real>10.7878399</real>
			<key>name</key>
			<string>"Ensjø"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9437018</real>
			<key>longitude</key>
			<real>10.7208373</real>
			<key>name</key>
			<string>"Forskningsparken"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9345999</real>
			<key>longitude</key>
			<real>10.7092669</real>
			<key>name</key>
			<string>"Frøen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9801046</real>
			<key>longitude</key>
			<real>10.66509</real>
			<key>name</key>
			<string>"Frognerseteren"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9414543</real>
			<key>longitude</key>
			<real>10.8970445</real>
			<key>name</key>
			<string>"Furuset"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9458695</real>
			<key>longitude</key>
			<real>10.7101156</real>
			<key>name</key>
			<string>"Gaustad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.908685</real>
			<key>longitude</key>
			<real>10.531254</real>
			<key>name</key>
			<string>"Gjettum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9145759</real>
			<key>longitude</key>
			<real>10.5815512</real>
			<key>name</key>
			<string>"Gjønnes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9068088</real>
			<key>longitude</key>
			<real>10.8361242</real>
			<key>name</key>
			<string>"Godlia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.948963</real>
			<key>longitude</key>
			<real>10.6288451</real>
			<key>name</key>
			<string>"Grini"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9549891</real>
			<key>longitude</key>
			<real>10.7015061</real>
			<key>name</key>
			<string>"Gråkammen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9128146</real>
			<key>longitude</key>
			<real>10.7601931</real>
			<key>name</key>
			<string>"Grønland"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9497552</real>
			<key>longitude</key>
			<real>10.8879292</real>
			<key>name</key>
			<string>"Grorud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9558075</real>
			<key>longitude</key>
			<real>10.6965338</real>
			<key>name</key>
			<string>"Gulleråsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9242188</real>
			<key>longitude</key>
			<real>10.793682</real>
			<key>name</key>
			<string>"Hasle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.91493</real>
			<key>longitude</key>
			<real>10.56184</real>
			<key>name</key>
			<string>"Haslum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9112248</real>
			<key>longitude</key>
			<real>10.50983</real>
			<key>name</key>
			<string>"Hauger"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9225542</real>
			<key>longitude</key>
			<real>10.8549227</real>
			<key>name</key>
			<string>"Haugerud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.935383</real>
			<key>longitude</key>
			<real>10.691911</real>
			<key>name</key>
			<string>"Heggeli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9100498</real>
			<key>longitude</key>
			<real>10.8305666</real>
			<key>name</key>
			<string>"Hellerud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9126252</real>
			<key>longitude</key>
			<real>10.8016405</real>
			<key>name</key>
			<string>"Helsfyr"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.945855</real>
			<key>longitude</key>
			<real>10.6677565</real>
			<key>name</key>
			<string>"Holmen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9602926</real>
			<key>longitude</key>
			<real>10.6631089</real>
			<key>name</key>
			<string>"Holmenkollen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9605427</real>
			<key>longitude</key>
			<real>10.7405146</real>
			<key>name</key>
			<string>"Holstein"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9463758</real>
			<key>longitude</key>
			<real>10.6549283</real>
			<key>name</key>
			<string>"Hovseter"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9063349</real>
			<key>longitude</key>
			<real>10.8193616</real>
			<key>name</key>
			<string>"Hoyenhall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9223642</real>
			<key>longitude</key>
			<real>10.677868</real>
			<key>name</key>
			<string>"Husebybakken"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9452682</real>
			<key>longitude</key>
			<real>10.6554286</real>
			<key>name</key>
			<string>"Huseby skole"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9262412</real>
			<key>longitude</key>
			<real>10.6193755</real>
			<key>name</key>
			<string>"Jar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.911096</real>
			<key>longitude</key>
			<real>10.7524574</real>
			<key>name</key>
			<string>"Jernbanetorget"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9542488</real>
			<key>longitude</key>
			<real>10.8665078</real>
			<key>name</key>
			<string>"Kalbakken"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8800458</real>
			<key>longitude</key>
			<real>10.8056313</real>
			<key>name</key>
			<string>"Karlsrud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9141283</real>
			<key>longitude</key>
			<real>10.5015113</real>
			<key>name</key>
			<string>"Kolsås"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9642416</real>
			<key>longitude</key>
			<real>10.7346553</real>
			<key>name</key>
			<string>"Kringsjå"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8732981</real>
			<key>longitude</key>
			<real>10.8103925</real>
			<key>name</key>
			<string>"Lambertseter"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9409785</real>
			<key>longitude</key>
			<real>10.616514</real>
			<key>name</key>
			<string>"Lijordet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9805296</real>
			<key>longitude</key>
			<real>10.6529052</real>
			<key>name</key>
			<string>"Lillevann"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9329015</real>
			<key>longitude</key>
			<real>10.8821489</real>
			<key>name</key>
			<string>"Lindeberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9412256</real>
			<key>longitude</key>
			<real>10.8389953</real>
			<key>name</key>
			<string>"Linderud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.926</real>
			<key>longitude</key>
			<real>10.631</real>
			<key>name</key>
			<string>"Lysakerelven"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9294885</real>
			<key>longitude</key>
			<real>10.7915478</real>
			<key>name</key>
			<string>"Løren"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9302644</real>
			<key>longitude</key>
			<real>10.714609</real>
			<key>name</key>
			<string>"Majorstuen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9417457</real>
			<key>longitude</key>
			<real>10.6738154</real>
			<key>name</key>
			<string>"Makrellbekken"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.897783</real>
			<key>longitude</key>
			<real>10.812297</real>
			<key>name</key>
			<string>"Manglerud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9613156</real>
			<key>longitude</key>
			<real>10.6830059</real>
			<key>name</key>
			<string>"Midtstuen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9348772</real>
			<key>longitude</key>
			<real>10.6663362</real>
			<key>name</key>
			<string>"Montebello"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8493159</real>
			<key>longitude</key>
			<real>10.8295293</real>
			<key>name</key>
			<string>"Mortensrud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.86853</real>
			<key>longitude</key>
			<real>10.8129197</real>
			<key>name</key>
			<string>"Munkelia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9146323</real>
			<key>longitude</key>
			<real>10.7303967</real>
			<key>name</key>
			<string>"Nationaltheatret"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9519204</real>
			<key>longitude</key>
			<real>10.7709987</real>
			<key>name</key>
			<string>"Nordberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9519204</real>
			<key>longitude</key>
			<real>10.7709987</real>
			<key>name</key>
			<string>"Nydalen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9282321</real>
			<key>longitude</key>
			<real>10.8056372</real>
			<key>name</key>
			<string>"Økern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8926392</real>
			<key>longitude</key>
			<real>10.8405094</real>
			<key>name</key>
			<string>"Oppsal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9394884</real>
			<key>longitude</key>
			<real>10.6086953</real>
			<key>name</key>
			<string>"Østerås"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9566705</real>
			<key>longitude</key>
			<real>10.7501077</real>
			<key>name</key>
			<string>"Østhorn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9202111</real>
			<key>longitude</key>
			<real>10.6013002</real>
			<key>name</key>
			<string>"Ringstabekk"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9480523</real>
			<key>longitude</key>
			<real>10.7045345</real>
			<key>name</key>
			<string>"Ris"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9324618</real>
			<key>longitude</key>
			<real>10.8226539</real>
			<key>name</key>
			<string>"Risløkka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9466772</real>
			<key>longitude</key>
			<real>10.6444698</real>
			<key>name</key>
			<string>"Røa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9513166</real>
			<key>longitude</key>
			<real>10.8585355</real>
			<key>name</key>
			<string>"Rødtvet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9621999</real>
			<key>longitude</key>
			<real>10.9084803</real>
			<key>name</key>
			<string>"Rommen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9622931</real>
			<key>longitude</key>
			<real>10.8907126</real>
			<key>name</key>
			<string>"Romsås"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.89582</real>
			<key>longitude</key>
			<real>10.80563</real>
			<key>name</key>
			<string>"Ryen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9374018</real>
			<key>longitude</key>
			<real>10.7819006</real>
			<key>name</key>
			<string>"Sinsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.961782</real>
			<key>longitude</key>
			<real>10.6907853</real>
			<key>name</key>
			<string>"Skådalen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9752085</real>
			<key>longitude</key>
			<real>10.6474973</real>
			<key>name</key>
			<string>"Skogen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8991728</real>
			<key>longitude</key>
			<real>10.8368143</real>
			<key>name</key>
			<string>"Skøyenåsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8662845</real>
			<key>longitude</key>
			<real>10.839826</real>
			<key>name</key>
			<string>"Skullerud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.950877</real>
			<key>longitude</key>
			<real>10.6944197</real>
			<key>name</key>
			<string>"Slemdal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9372805</real>
			<key>longitude</key>
			<real>10.6834701</real>
			<key>name</key>
			<string>"Smestad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9670895</real>
			<key>longitude</key>
			<real>10.7338178</real>
			<key>name</key>
			<string>"Sognsvann"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9223642</real>
			<key>longitude</key>
			<real>10.677868</real>
			<key>name</key>
			<string>"Sørbyhaugen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9390643</real>
			<key>longitude</key>
			<real>10.7043595</real>
			<key>name</key>
			<string>"Steinerud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9446597</real>
			<key>longitude</key>
			<real>10.7785127</real>
			<key>name</key>
			<string>"Storo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9137772</real>
			<key>longitude</key>
			<real>10.7418214</real>
			<key>name</key>
			<string>"Stortinget"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.962271</real>
			<key>longitude</key>
			<real>10.9233128</real>
			<key>name</key>
			<string>"Stovner"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9537402</real>
			<key>longitude</key>
			<real>10.752317</real>
			<key>name</key>
			<string>"Tåsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9208</real>
			<key>longitude</key>
			<real>10.6106</real>
			<key>name</key>
			<string>"Tjernsrud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9153907</real>
			<key>longitude</key>
			<real>10.775712</real>
			<key>name</key>
			<string>"Tøyen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9271029</real>
			<key>longitude</key>
			<real>10.864195</real>
			<key>name</key>
			<string>"Trosterud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9138576</real>
			<key>longitude</key>
			<real>10.8416307</real>
			<key>name</key>
			<string>"Tveita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9311871</real>
			<key>longitude</key>
			<real>10.6557641</real>
			<key>name</key>
			<string>"Ullernåsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9468032</real>
			<key>longitude</key>
			<real>10.7321674</real>
			<key>name</key>
			<string>"Ullevål stadion"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8895683</real>
			<key>longitude</key>
			<real>10.8494377</real>
			<key>name</key>
			<string>"Ulsrud"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9283794</real>
			<key>longitude</key>
			<real>10.7176674</real>
			<key>name</key>
			<string>"Valkyrie plass"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.54325</real>
			<key>longitude</key>
			<real>10.3202</real>
			<key>name</key>
			<string>"Valler"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9444056</real>
			<key>longitude</key>
			<real>10.8466728</real>
			<key>name</key>
			<string>"Veitvet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9146323</real>
			<key>longitude</key>
			<real>10.7303967</real>
			<key>name</key>
			<string>"Vestgrensa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9722734</real>
			<key>longitude</key>
			<real>10.9287444</real>
			<key>name</key>
			<string>"Vestli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9598957</real>
			<key>longitude</key>
			<real>10.695704</real>
			<key>name</key>
			<string>"Vettakollen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9424369</real>
			<key>longitude</key>
			<real>10.7046938</real>
			<key>name</key>
			<string>"Vinderen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9800595</real>
			<key>longitude</key>
			<real>10.6653012</real>
			<key>name</key>
			<string>"Voksenkollen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9668892</real>
			<key>longitude</key>
			<real>10.6548946</real>
			<key>name</key>
			<string>"Voksenlia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9362851</real>
			<key>longitude</key>
			<real>10.8312939</real>
			<key>name</key>
			<string>"Vollebekk"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9324927</real>
			<key>longitude</key>
			<real>10.7042967</real>
			<key>name</key>
			<string>"Volvat"</string>
		</dict>
	</array>
</dict>
</plist>