<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>-22.9766678</real>
			<key>longitude</key>
			<real>-43.1938526</real>
			<key>name</key>
			<string>"Cantagalo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9672682</real>
			<key>longitude</key>
			<real>-43.1870500</real>
			<key>name</key>
			<string>"Siqueira Campos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9645970</real>
			<key>longitude</key>
			<real>-43.1806069</real>
			<key>name</key>
			<string>"Cardeal Arcoverde"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9513238</real>
			<key>longitude</key>
			<real>-43.1841435</real>
			<key>name</key>
			<string>"Botafogo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9371565</real>
			<key>longitude</key>
			<real>-43.1782830</real>
			<key>name</key>
			<string>"Flamengo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9309219</real>
			<key>longitude</key>
			<real>-43.1782692</real>
			<key>name</key>
			<string>"Largo do Machado"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9257801</real>
			<key>longitude</key>
			<real>-43.1765885</real>
			<key>name</key>
			<string>"Catete"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9204120</real>
			<key>longitude</key>
			<real>-43.1765628</real>
			<key>name</key>
			<string>"Glória"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9115952</real>
			<key>longitude</key>
			<real>-43.1756641</real>
			<key>name</key>
			<string>"Cinelândia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9102601</real>
			<key>longitude</key>
			<real>-43.1786305</real>
			<key>name</key>
			<string>"Carioca"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9029353</real>
			<key>longitude</key>
			<real>-43.1814998</real>
			<key>name</key>
			<string>"Uruguaiana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9032547</real>
			<key>longitude</key>
			<real>-43.1860655</real>
			<key>name</key>
			<string>"Presidente Vargas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9024078</real>
			<key>longitude</key>
			<real>-43.1917136</real>
			<key>name</key>
			<string>"Central"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9099190</real>
			<key>longitude</key>
			<real>-43.2003102</real>
			<key>name</key>
			<string>"Praça Onze"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9135276</real>
			<key>longitude</key>
			<real>-43.2065358</real>
			<key>name</key>
			<string>"Estácio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9184556</real>
			<key>longitude</key>
			<real>-43.2178035</real>
			<key>name</key>
			<string>"Afonso Pena"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9206076</real>
			<key>longitude</key>
			<real>-43.2237254</real>
			<key>name</key>
			<string>"São Francisco Xavier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9241306</real>
			<key>longitude</key>
			<real>-43.2326032</real>
			<key>name</key>
			<string>"Saens Peña"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9318273</real>
			<key>longitude</key>
			<real>-43.2396541</real>
			<key>name</key>
			<string>"Uruguai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9087511</real>
			<key>longitude</key>
			<real>-43.2063193</real>
			<key>name</key>
			<string>"Cidade Nova"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9096932</real>
			<key>longitude</key>
			<real>-43.2209045</real>
			<key>name</key>
			<string>"São Cristóvão"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9093883</real>
			<key>longitude</key>
			<real>-43.2334301</real>
			<key>name</key>
			<string>"Maracanã"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8968806</real>
			<key>longitude</key>
			<real>-43.2444918</real>
			<key>name</key>
			<string>"Triagem"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8814998</real>
			<key>longitude</key>
			<real>-43.2603494</real>
			<key>name</key>
			<string>"Maria da Graça"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8792738</real>
			<key>longitude</key>
			<real>-43.2718786</real>
			<key>name</key>
			<string>"Nova América/Del Castilho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8745523</real>
			<key>longitude</key>
			<real>-43.2834299</real>
			<key>name</key>
			<string>"Inhaúma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8678536</real>
			<key>longitude</key>
			<real>-43.2974813</real>
			<key>name</key>
			<string>"Engenho da Rainha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8624390</real>
			<key>longitude</key>
			<real>-43.3067797</real>
			<key>name</key>
			<string>"Thomaz Coelho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8539957</real>
			<key>longitude</key>
			<real>-43.3131695</real>
			<key>name</key>
			<string>"Vicente de Carvalho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8264544</real>
			<key>longitude</key>
			<real>-43.3346780</real>
			<key>name</key>
			<string>"Irajá"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8426905</real>
			<key>longitude</key>
			<real>-43.3338597</real>
			<key>name</key>
			<string>"Colégio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8319195</real>
			<key>longitude</key>
			<real>-43.3428414</real>
			<key>name</key>
			<string>"Coelho Neto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8245042</real>
			<key>longitude</key>
			<real>-43.3497101</real>
			<key>name</key>
			<string>"Acari/Fazenda Botafogo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8162490</real>
			<key>longitude</key>
			<real>-43.3584873</real>
			<key>name</key>
			<string>"Engenheiro Rubens Paiva"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.8066608</real>
			<key>longitude</key>
			<real>-43.3649170</real>
			<key>name</key>
			<string>"Pavuna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9838778</real>
			<key>longitude</key>
			<real>-43.2059706</real>
			<key>name</key>
			<string>"Nossa Senhora da Paz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9835506</real>
			<key>longitude</key>
			<real>-43.2157862</real>
			<key>name</key>
			<string>"Jardim de Alah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9776489</real>
			<key>longitude</key>
			<real>-43.2225860</real>
			<key>name</key>
			<string>"Leblon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9721599</real>
			<key>longitude</key>
			<real>-43.2259052</real>
			<key>name</key>
			<string>"Gávea "</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9931679</real>
			<key>longitude</key>
			<real>-43.2557209</real>
			<key>name</key>
			<string>"São Conrado"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.0068590</real>
			<key>longitude</key>
			<real>-43.3109429</real>
			<key>name</key>
			<string>"Jardim Oceânico"</string>
		</dict>
	</array>
</dict>
</plist>