<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>41.9061144</real>
			<key>longitude</key>
			<real>12.414972799999999</real>
			<key>name</key>
			<string>"Battistini"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.900083899999998</real>
			<key>longitude</key>
			<real>12.4265256</real>
			<key>name</key>
			<string>"Cornelia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.899101100000003</real>
			<key>longitude</key>
			<real>12.4343485</real>
			<key>name</key>
			<string>"Baldo degli Ubaldi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.902775499999997</real>
			<key>longitude</key>
			<real>12.4412626</real>
			<key>name</key>
			<string>"Valle Aurelia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.907695099999998</real>
			<key>longitude</key>
			<real>12.4475081</real>
			<key>name</key>
			<string>"Cipro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.910034000000003</real>
			<key>longitude</key>
			<real>12.4581163</real>
			<key>name</key>
			<string>"Ottaviano - San Pietro - Musei Vaticani"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.911324999999998</real>
			<key>longitude</key>
			<real>12.466186</real>
			<key>name</key>
			<string>"Lepanto"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.9107038</real>
			<key>longitude</key>
			<real>12.4763579</real>
			<key>name</key>
			<string>"Flaminio - Piazza del Popolo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.906547500000002</real>
			<key>longitude</key>
			<real>12.4830554</real>
			<key>name</key>
			<string>"Spagna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.903629799999997</real>
			<key>longitude</key>
			<real>12.488969000000001</real>
			<key>name</key>
			<string>"Barberini - Fontana di Trevi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.902192999999997</real>
			<key>longitude</key>
			<real>12.495804100000001</real>
			<key>name</key>
			<string>"Repubblica - Teatro dell'Opera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.901003199999998</real>
			<key>longitude</key>
			<real>12.5019037</real>
			<key>name</key>
			<string>"Termini"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.895854</real>
			<key>longitude</key>
			<real>12.513594700000001</real>
			<key>name</key>
			<string>"Vittorio Emanuele"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.890315899999997</real>
			<key>longitude</key>
			<real>12.506910100000001</real>
			<key>name</key>
			<string>"Manzoni – Museo della Liberazione"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.885605099999999</real>
			<key>longitude</key>
			<real>12.509554</real>
			<key>name</key>
			<string>"San Giovanni"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.881920600000001</real>
			<key>longitude</key>
			<real>12.517344899999999</real>
			<key>name</key>
			<string>"Re di Roma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.877933499999997</real>
			<key>longitude</key>
			<real>12.5188249</real>
			<key>name</key>
			<string>"Ponte Lungo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.874763399999999</real>
			<key>longitude</key>
			<real>12.522983099999999</real>
			<key>name</key>
			<string>"Furio Camillo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.866016600000002</real>
			<key>longitude</key>
			<real>12.5359725</real>
			<key>name</key>
			<string>"Arco di Travertino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.862050400000001</real>
			<key>longitude</key>
			<real>12.552644300000001</real>
			<key>name</key>
			<string>"Numidio Quadrato"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.856629900000001</real>
			<key>longitude</key>
			<real>12.562681</real>
			<key>name</key>
			<string>"Giulio Agricola"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.853726299999998</real>
			<key>longitude</key>
			<real>12.567500300000001</real>
			<key>name</key>
			<string>"Subaugusta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.859188699999997</real>
			<key>longitude</key>
			<real>12.563274699999999</real>
			<key>name</key>
			<string>"Cinecittà"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.842628499999996</real>
			<key>longitude</key>
			<real>12.5864169</real>
			<key>name</key>
			<string>"Anagnina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.925880399999997</real>
			<key>longitude</key>
			<real>12.572863699999999</real>
			<key>name</key>
			<string>"Rebibbia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.920952200000002</real>
			<key>longitude</key>
			<real>12.5651677</real>
			<key>name</key>
			<string>"Ponte Mammolo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.915242800000001</real>
			<key>longitude</key>
			<real>12.561232800000001</real>
			<key>name</key>
			<string>"Santa Maria del Soccorso"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.914891799999999</real>
			<key>longitude</key>
			<real>12.554898100000001</real>
			<key>name</key>
			<string>"Pietralata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.915512499999998</real>
			<key>longitude</key>
			<real>12.547851100000001</real>
			<key>name</key>
			<string>"Monti Tiburtini"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.915504900000002</real>
			<key>longitude</key>
			<real>12.538684399999999</real>
			<key>name</key>
			<string>"Quintiliani"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.911037200000003</real>
			<key>longitude</key>
			<real>12.531322100000001</real>
			<key>name</key>
			<string>"Tiburtina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.946821999999997</real>
			<key>longitude</key>
			<real>12.527173400000001</real>
			<key>name</key>
			<string>"Jonio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.940393299999997</real>
			<key>longitude</key>
			<real>12.528479300000001</real>
			<key>name</key>
			<string>"Conca d'Oro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.931675400000003</real>
			<key>longitude</key>
			<real>12.5192491</real>
			<key>name</key>
			<string>"Libia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.924310400000003</real>
			<key>longitude</key>
			<real>12.5160421</real>
			<key>name</key>
			<string>"Sant'Agnese - Annibaliano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.912344099999999</real>
			<key>longitude</key>
			<real>12.5185583</real>
			<key>name</key>
			<string>"Bologna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.908715899999997</real>
			<key>longitude</key>
			<real>12.5122119</real>
			<key>name</key>
			<string>"Policlinico"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.906207100000003</real>
			<key>longitude</key>
			<real>12.5055003</real>
			<key>name</key>
			<string>"Castro Pretorio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.901003199999998</real>
			<key>longitude</key>
			<real>12.5019037</real>
			<key>name</key>
			<string>"Termini"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.895059099999997</real>
			<key>longitude</key>
			<real>12.4938182</real>
			<key>name</key>
			<string>"Cavour"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.891354100000001</real>
			<key>longitude</key>
			<real>12.4914927</real>
			<key>name</key>
			<string>"Colosseo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.883409399999998</real>
			<key>longitude</key>
			<real>12.4878576</real>
			<key>name</key>
			<string>"Circo Massimo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.875686399999999</real>
			<key>longitude</key>
			<real>12.482079799999999</real>
			<key>name</key>
			<string>"Piramide"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.8664962</real>
			<key>longitude</key>
			<real>12.4831576</real>
			<key>name</key>
			<string>"Garbatella"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.855978</real>
			<key>longitude</key>
			<real>12.478559000000001</real>
			<key>name</key>
			<string>"Basilica S. Paolo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.849363099999998</real>
			<key>longitude</key>
			<real>12.475276300000001</real>
			<key>name</key>
			<string>"Marconi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.839560900000002</real>
			<key>longitude</key>
			<real>12.4635383</real>
			<key>name</key>
			<string>"EUR Magliana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.830139099999997</real>
			<key>longitude</key>
			<real>12.466006200000001</real>
			<key>name</key>
			<string>"EUR Palasport"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.828711499999997</real>
			<key>longitude</key>
			<real>12.470924200000001</real>
			<key>name</key>
			<string>"EUR Fermi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.827184799999998</real>
			<key>longitude</key>
			<real>12.480909499999999</real>
			<key>name</key>
			<string>"Laurentina"</string>
		</dict>
	</array>
</dict>
</plist>
