<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>60.0352376</real>
			<key>longitude</key>
			<real>30.4182672</real>
			<key>name</key>
			<string>"Grazhdansky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0127772</real>
			<key>longitude</key>
			<real>30.3959300</real>
			<key>name</key>
			<string>"Akademicheskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0089373</real>
			<key>longitude</key>
			<real>30.3708395</real>
			<key>name</key>
			<string>"Politekhnicheskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9997010</real>
			<key>longitude</key>
			<real>30.3628580</real>
			<key>name</key>
			<string>"Ploschad Muzhestva"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9848040</real>
			<key>longitude</key>
			<real>30.3442791</real>
			<key>name</key>
			<string>"Lesnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9710540</real>
			<key>longitude</key>
			<real>30.3474991</real>
			<key>name</key>
			<string>"Vyborgskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9554418</real>
			<key>longitude</key>
			<real>30.3568941</real>
			<key>name</key>
			<string>"Ploshchad Lenina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9445390</real>
			<key>longitude</key>
			<real>30.3597201</real>
			<key>name</key>
			<string>"Chernyshevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9315915</real>
			<key>longitude</key>
			<real>30.3604422</real>
			<key>name</key>
			<string>"Ploshchad Vosstaniya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9288320</real>
			<key>longitude</key>
			<real>30.3485601</real>
			<key>name</key>
			<string>"Vladimirskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9205721</real>
			<key>longitude</key>
			<real>30.3296797</real>
			<key>name</key>
			<string>"Pushkinskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9150850</real>
			<key>longitude</key>
			<real>30.3183380</real>
			<key>name</key>
			<string>"Tekhnologichesky Institut"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9077095</real>
			<key>longitude</key>
			<real>30.3001132</real>
			<key>name</key>
			<string>"Baltiyskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9012142</real>
			<key>longitude</key>
			<real>30.2748633</real>
			<key>name</key>
			<string>"Narvskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8798706</real>
			<key>longitude</key>
			<real>30.2611235</real>
			<key>name</key>
			<string>"Kirovsky Zavod"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8672992</real>
			<key>longitude</key>
			<real>30.2612552</real>
			<key>name</key>
			<string>"Avtovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8506720</real>
			<key>longitude</key>
			<real>30.2684120</real>
			<key>name</key>
			<string>"Leninsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8419550</real>
			<key>longitude</key>
			<real>30.2514660</real>
			<key>name</key>
			<string>"Prospekt Veteranov"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0668865</real>
			<key>longitude</key>
			<real>30.3340776</real>
			<key>name</key>
			<string>"Parnas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0514113</real>
			<key>longitude</key>
			<real>30.3324348</real>
			<key>name</key>
			<string>"Prospect Prosvesheniya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0361015</real>
			<key>longitude</key>
			<real>30.3214475</real>
			<key>name</key>
			<string>"Ozerki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0166420</real>
			<key>longitude</key>
			<real>30.3149380</real>
			<key>name</key>
			<string>"Udelnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0024910</real>
			<key>longitude</key>
			<real>30.2971600</real>
			<key>name</key>
			<string>"Pionerskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9854346</real>
			<key>longitude</key>
			<real>30.3011467</real>
			<key>name</key>
			<string>"Chyornaya Rechka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9663842</real>
			<key>longitude</key>
			<real>30.3114971</real>
			<key>name</key>
			<string>"Petrogradskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9561338</real>
			<key>longitude</key>
			<real>30.3187327</real>
			<key>name</key>
			<string>"Gorkovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9294918</real>
			<key>longitude</key>
			<real>30.3621967</real>
			<key>name</key>
			<string>"Nevsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9270523</real>
			<key>longitude</key>
			<real>30.3203509</real>
			<key>name</key>
			<string>"Sennaya Ploschad"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9150850</real>
			<key>longitude</key>
			<real>30.3183380</real>
			<key>name</key>
			<string>"Tekhnologichesky Institut"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9053690</real>
			<key>longitude</key>
			<real>30.3181570</real>
			<key>name</key>
			<string>"Frunzenskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8913858</real>
			<key>longitude</key>
			<real>30.3183882</real>
			<key>name</key>
			<string>"Moskovskiye Vorota"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8791960</real>
			<key>longitude</key>
			<real>30.3198625</real>
			<key>name</key>
			<string>"Elektrosila"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8663236</real>
			<key>longitude</key>
			<real>30.3217601</real>
			<key>name</key>
			<string>"Park Pobedy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9294918</real>
			<key>longitude</key>
			<real>30.3621967</real>
			<key>name</key>
			<string>"Moskovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8298500</real>
			<key>longitude</key>
			<real>30.3768516</real>
			<key>name</key>
			<string>"Zvyozdnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8298500</real>
			<key>longitude</key>
			<real>30.3768516</real>
			<key>name</key>
			<string>"Kupchino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9481920</real>
			<key>longitude</key>
			<real>30.2344931</real>
			<key>name</key>
			<string>"Priorskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9425947</real>
			<key>longitude</key>
			<real>30.2782486</real>
			<key>name</key>
			<string>"Vasileostrovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9341625</real>
			<key>longitude</key>
			<real>30.3345741</real>
			<key>name</key>
			<string>"Gostiny Dvor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9317555</real>
			<key>longitude</key>
			<real>30.3547421</real>
			<key>name</key>
			<string>"Mayakovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9236130</real>
			<key>longitude</key>
			<real>30.3834154</real>
			<key>name</key>
			<string>"Ploshchad Alexandra Nevskogo I"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8966230</real>
			<key>longitude</key>
			<real>30.4237410</real>
			<key>name</key>
			<string>"Yelizarovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8773449</real>
			<key>longitude</key>
			<real>30.4418643</real>
			<key>name</key>
			<string>"Lomonosovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8651510</real>
			<key>longitude</key>
			<real>30.4701359</real>
			<key>name</key>
			<string>"Proletraskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8485364</real>
			<key>longitude</key>
			<real>30.4576994</real>
			<key>name</key>
			<string>"Obukhovo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8313870</real>
			<key>longitude</key>
			<real>30.5014159</real>
			<key>name</key>
			<string>"Rybatskoye"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9265835</real>
			<key>longitude</key>
			<real>30.3181690</real>
			<key>name</key>
			<string>"Spasskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9283280</real>
			<key>longitude</key>
			<real>30.3462981</real>
			<key>name</key>
			<string>"Dostoevskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9210023</real>
			<key>longitude</key>
			<real>30.3546069</real>
			<key>name</key>
			<string>"Ligovsky Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9236130</real>
			<key>longitude</key>
			<real>30.3834154</real>
			<key>name</key>
			<string>"Ploshchad Alexandra Nevskogo II"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9290730</real>
			<key>longitude</key>
			<real>30.4120770</real>
			<key>name</key>
			<string>"Novocherkasskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9325010</real>
			<key>longitude</key>
			<real>30.4392639</real>
			<key>name</key>
			<string>"Ladozhskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9198620</real>
			<key>longitude</key>
			<real>30.4667720</real>
			<key>name</key>
			<string>"Prospekt Bolshevikov"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9067535</real>
			<key>longitude</key>
			<real>30.4829730</real>
			<key>name</key>
			<string>"Ulitsa Dybenko"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>60.0085633</real>
			<key>longitude</key>
			<real>30.2591021</real>
			<key>name</key>
			<string>"Komendantskiy Prospekt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9880455</real>
			<key>longitude</key>
			<real>30.2550932</real>
			<key>name</key>
			<string>"Staraya Derevnya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9716060</real>
			<key>longitude</key>
			<real>30.2592221</real>
			<key>name</key>
			<string>"Krestovsky Ostrov"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9609946</real>
			<key>longitude</key>
			<real>30.2919679</real>
			<key>name</key>
			<string>"Chkalovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9519023</real>
			<key>longitude</key>
			<real>30.2923817</real>
			<key>name</key>
			<string>"Sportivnaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9362080</real>
			<key>longitude</key>
			<real>30.3180920</real>
			<key>name</key>
			<string>"Admiralteyskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9196753</real>
			<key>longitude</key>
			<real>30.3294997</real>
			<key>name</key>
			<string>"Sadovaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9224050</real>
			<key>longitude</key>
			<real>30.3355639</real>
			<key>name</key>
			<string>"Zvenigorodskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.9145852</real>
			<key>longitude</key>
			<real>30.3494145</real>
			<key>name</key>
			<string>"Obvodny Kanal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8972620</real>
			<key>longitude</key>
			<real>30.3544901</real>
			<key>name</key>
			<string>"Volkovskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8837660</real>
			<key>longitude</key>
			<real>30.3691130</real>
			<key>name</key>
			<string>"Bukharestskaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.8701720</real>
			<key>longitude</key>
			<real>30.3793650</real>
			<key>name</key>
			<string>"Mezhdunarodnaya"</string>
		</dict>
	</array>
</dict>
</plist>