<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>-23.4869883</real>
			<key>longitude</key>
			<real>-46.6088249</real>
			<key>name</key>
			<string>"Parada Inglesa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.4923435</real>
			<key>longitude</key>
			<real>-46.6165091</real>
			<key>name</key>
			<string>"Jardim São Paulo-Ayrton Senna"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5162428</real>
			<key>longitude</key>
			<real>-46.6241421</real>
			<key>name</key>
			<string>"Santana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5068578</real>
			<key>longitude</key>
			<real>-46.6155192</real>
			<key>name</key>
			<string>"Carandiru"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5162459</real>
			<key>longitude</key>
			<real>-46.6254853</real>
			<key>name</key>
			<string>"Portuguesa-Tietê"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5254841</real>
			<key>longitude</key>
			<real>-46.6293819</real>
			<key>name</key>
			<string>"Armênia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5310593</real>
			<key>longitude</key>
			<real>-46.6321966</real>
			<key>name</key>
			<string>"Tiradentes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5350794</real>
			<key>longitude</key>
			<real>-46.6353093</real>
			<key>name</key>
			<string>"Luz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5473816</real>
			<key>longitude</key>
			<real>-46.6342043</real>
			<key>name</key>
			<string>"São Bento"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5417246</real>
			<key>longitude</key>
			<real>-46.6300468</real>
			<key>name</key>
			<string>"Sé"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5552970</real>
			<key>longitude</key>
			<real>-46.6356422</real>
			<key>name</key>
			<string>"Liberdade"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5618100</real>
			<key>longitude</key>
			<real>-46.6386830</real>
			<key>name</key>
			<string>"São Joaquim"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5688687</real>
			<key>longitude</key>
			<real>-46.6399259</real>
			<key>name</key>
			<string>"Vergueiro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5350794</real>
			<key>longitude</key>
			<real>-46.6353093</real>
			<key>name</key>
			<string>"Paraíso"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5784148</real>
			<key>longitude</key>
			<real>-46.6396864</real>
			<key>name</key>
			<string>"Ana Rosa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5895201</real>
			<key>longitude</key>
			<real>-46.6344394</real>
			<key>name</key>
			<string>"Vila Mariana"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5987912</real>
			<key>longitude</key>
			<real>-46.6366592</real>
			<key>name</key>
			<string>"Santa Cruz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6104950</real>
			<key>longitude</key>
			<real>-46.6379302</real>
			<key>name</key>
			<string>"Praça da Árvore"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5350794</real>
			<key>longitude</key>
			<real>-46.6353093</real>
			<key>name</key>
			<string>"Saúde"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6255986</real>
			<key>longitude</key>
			<real>-46.6408359</real>
			<key>name</key>
			<string>"São Judas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-22.9090684</real>
			<key>longitude</key>
			<real>-47.0624378</real>
			<key>name</key>
			<string>"Conceição"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6466444</real>
			<key>longitude</key>
			<real>-46.6410470</real>
			<key>name</key>
			<string>"Jabaquara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5466949</real>
			<key>longitude</key>
			<real>-46.6909730</real>
			<key>name</key>
			<string>"Vila Madalena"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5508534</real>
			<key>longitude</key>
			<real>-46.6780704</real>
			<key>name</key>
			<string>"Santuário Nossa Senhora de Fátima-Sumaré"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5540906</real>
			<key>longitude</key>
			<real>-46.6708606</real>
			<key>name</key>
			<string>"Clínicas Consolação"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5682954</real>
			<key>longitude</key>
			<real>-46.6479653</real>
			<key>name</key>
			<string>"Trianon-Masp Brigadeiro Paraíso"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5784148</real>
			<key>longitude</key>
			<real>-46.6396864</real>
			<key>name</key>
			<string>"Ana Rosa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5926756</real>
			<key>longitude</key>
			<real>-46.6303649</real>
			<key>name</key>
			<string>"Chácara Klabin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6020027</real>
			<key>longitude</key>
			<real>-46.6124887</real>
			<key>name</key>
			<string>"Santos-Imigrantes Alto do Ipiranga Sacomã"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5927686</real>
			<key>longitude</key>
			<real>-46.5893871</real>
			<key>name</key>
			<string>"Tamanduateí"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5825178</real>
			<key>longitude</key>
			<real>-46.5966287</real>
			<key>name</key>
			<string>"Vila Prudente"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5254261</real>
			<key>longitude</key>
			<real>-46.6674440</real>
			<key>name</key>
			<string>"Palmeiras-Barra Funda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5339806</real>
			<key>longitude</key>
			<real>-46.6559262</real>
			<key>name</key>
			<string>"Marechal Deodoro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5391724</real>
			<key>longitude</key>
			<real>-46.6493380</real>
			<key>name</key>
			<string>"Santa Cecília"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5436127</real>
			<key>longitude</key>
			<real>-46.6434096</real>
			<key>name</key>
			<string>"República"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.2075039</real>
			<key>longitude</key>
			<real>-46.8955875</real>
			<key>name</key>
			<string>"Anhangabaú"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5417246</real>
			<key>longitude</key>
			<real>-46.6300468</real>
			<key>name</key>
			<string>"Sé"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5470143</real>
			<key>longitude</key>
			<real>-46.6301051</real>
			<key>name</key>
			<string>"Pedro II"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5478851</real>
			<key>longitude</key>
			<real>-46.6158887</real>
			<key>name</key>
			<string>"Brás"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5463811</real>
			<key>longitude</key>
			<real>-46.6072386</real>
			<key>name</key>
			<string>"Bresser-Mooca"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5425080</real>
			<key>longitude</key>
			<real>-46.5896568</real>
			<key>name</key>
			<string>"Belém"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5441841</real>
			<key>longitude</key>
			<real>-46.5555055</real>
			<key>name</key>
			<string>"Tatuapé"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5493090</real>
			<key>longitude</key>
			<real>-46.5349210</real>
			<key>name</key>
			<string>"Carrão"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5188846</real>
			<key>longitude</key>
			<real>-46.5469694</real>
			<key>name</key>
			<string>"Penha"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5441356</real>
			<key>longitude</key>
			<real>-46.5295695</real>
			<key>name</key>
			<string>"Vila Matilde"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5293636</real>
			<key>longitude</key>
			<real>-46.5167569</real>
			<key>name</key>
			<string>"Guilhermina-Esperança"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5311445</real>
			<key>longitude</key>
			<real>-46.5014442</real>
			<key>name</key>
			<string>"Patriarca"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5422745</real>
			<key>longitude</key>
			<real>-46.4710881</real>
			<key>name</key>
			<string>"Artur Alvim"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5422745</real>
			<key>longitude</key>
			<real>-46.4710881</real>
			<key>name</key>
			<string>"Corinthians-Itaquera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5350794</real>
			<key>longitude</key>
			<real>-46.6353093</real>
			<key>name</key>
			<string>"Luz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5436127</real>
			<key>longitude</key>
			<real>-46.6434096</real>
			<key>name</key>
			<string>"República"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5457434</real>
			<key>longitude</key>
			<real>-46.6521254</real>
			<key>name</key>
			<string>"Higienopólis-Mackenzie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5552763</real>
			<key>longitude</key>
			<real>-46.6620388</real>
			<key>name</key>
			<string>"Paulista"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5340830</real>
			<key>longitude</key>
			<real>-46.6401940</real>
			<key>name</key>
			<string>"Oscar Freire"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5661801</real>
			<key>longitude</key>
			<real>-46.6841684</real>
			<key>name</key>
			<string>"Fradique Coutinho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5671303</real>
			<key>longitude</key>
			<real>-46.6938042</real>
			<key>name</key>
			<string>"Faria Lima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5661801</real>
			<key>longitude</key>
			<real>-46.6841684</real>
			<key>name</key>
			<string>"Pinheiros"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5718597</real>
			<key>longitude</key>
			<real>-46.7081042</real>
			<key>name</key>
			<string>"Butantã"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5997873</real>
			<key>longitude</key>
			<real>-46.7188252</real>
			<key>name</key>
			<string>"São Paulo-Morumbi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5718597</real>
			<key>longitude</key>
			<real>-46.7081042</real>
			<key>name</key>
			<string>"Vila Sônia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6594478</real>
			<key>longitude</key>
			<real>-46.7681778</real>
			<key>name</key>
			<string>"Capão Redondo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6402517</real>
			<key>longitude</key>
			<real>-46.7457171</real>
			<key>name</key>
			<string>"Campo Limpo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6429754</real>
			<key>longitude</key>
			<real>-46.7369484</real>
			<key>name</key>
			<string>"Vila das Belezas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6439737</real>
			<key>longitude</key>
			<real>-46.7340585</real>
			<key>name</key>
			<string>"Giovanni Gronchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6557597</real>
			<key>longitude</key>
			<real>-46.7208988</real>
			<key>name</key>
			<string>"Santo Amaro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6541008</real>
			<key>longitude</key>
			<real>-46.7077281</real>
			<key>name</key>
			<string>"Largo Treze"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.6502419</real>
			<key>longitude</key>
			<real>-46.7039502</real>
			<key>name</key>
			<string>"Adolfo Pinheiro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5825178</real>
			<key>longitude</key>
			<real>-46.5966287</real>
			<key>name</key>
			<string>"Vila Prudente"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>-23.5587174</real>
			<key>longitude</key>
			<real>-46.5950726</real>
			<key>name</key>
			<string>"Oratório"</string>
		</dict>
	</array>
</dict>
</plist>