<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>1.3485641</real>
			<key>longitude</key>
			<real>103.7490636</real>
			<key>name</key>
			<string>"Bukit Batok"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3485641</real>
			<key>longitude</key>
			<real>103.7490636</real>
			<key>name</key>
			<string>"Bukit Gombak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3851009</real>
			<key>longitude</key>
			<real>103.7444056</real>
			<key>name</key>
			<string>"Choa Chu Kang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3973811</real>
			<key>longitude</key>
			<real>103.7475000</real>
			<key>name</key>
			<string>"Yew Tee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4251684</real>
			<key>longitude</key>
			<real>103.7619192</real>
			<key>name</key>
			<string>"Kranji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4325197</real>
			<key>longitude</key>
			<real>103.7741190</real>
			<key>name</key>
			<string>"Marsiling"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4443386</real>
			<key>longitude</key>
			<real>103.7900361</real>
			<key>name</key>
			<string>"Woodlands"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4405862</real>
			<key>longitude</key>
			<real>103.8009750</real>
			<key>name</key>
			<string>"Admiralty"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4453213</real>
			<key>longitude</key>
			<real>103.8197889</real>
			<key>name</key>
			<string>"Sembawang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4438060</real>
			<key>longitude</key>
			<real>103.8291850</real>
			<key>name</key>
			<string>"Canberra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4293199</real>
			<key>longitude</key>
			<real>103.8350278</real>
			<key>name</key>
			<string>"Yishun"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4173489</real>
			<key>longitude</key>
			<real>103.8330221</real>
			<key>name</key>
			<string>"Khatib"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3817576</real>
			<key>longitude</key>
			<real>103.8448008</real>
			<key>name</key>
			<string>"Yio Chu Kang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3699718</real>
			<key>longitude</key>
			<real>103.8495876</real>
			<key>name</key>
			<string>"Ang Mo Kio"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3507054</real>
			<key>longitude</key>
			<real>103.8481618</real>
			<key>name</key>
			<string>"Bishan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3404441</real>
			<key>longitude</key>
			<real>103.8467999</real>
			<key>name</key>
			<string>"Braddell"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3333083</real>
			<key>longitude</key>
			<real>103.8465193</real>
			<key>name</key>
			<string>"Toa Payoh"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3204301</real>
			<key>longitude</key>
			<real>103.8438181</real>
			<key>name</key>
			<string>"Novena"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3124103</real>
			<key>longitude</key>
			<real>103.8379586</real>
			<key>name</key>
			<string>"Newton"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3005915</real>
			<key>longitude</key>
			<real>103.8385290</real>
			<key>name</key>
			<string>"Orchard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3005915</real>
			<key>longitude</key>
			<real>103.8385290</real>
			<key>name</key>
			<string>"Somerset"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2985166</real>
			<key>longitude</key>
			<real>103.8459771</real>
			<key>name</key>
			<string>"Dhoby Ghaut"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2931857</real>
			<key>longitude</key>
			<real>103.8524604</real>
			<key>name</key>
			<string>"City Hall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2830173</real>
			<key>longitude</key>
			<real>103.8513365</real>
			<key>name</key>
			<string>"Raffles Place"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2761000</real>
			<key>longitude</key>
			<real>103.8546700</real>
			<key>name</key>
			<string>"Marina Bay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2713951</real>
			<key>longitude</key>
			<real>103.8636337</real>
			<key>name</key>
			<string>"Maina South Pier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3277507</real>
			<key>longitude</key>
			<real>103.6783297</real>
			<key>name</key>
			<string>"East West Line"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3731040</real>
			<key>longitude</key>
			<real>103.9494346</real>
			<key>name</key>
			<string>"Pasir Ris"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3530920</real>
			<key>longitude</key>
			<real>103.9452290</real>
			<key>name</key>
			<string>"Tampines"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3431974</real>
			<key>longitude</key>
			<real>103.9533771</real>
			<key>name</key>
			<string>"Simei"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3272329</real>
			<key>longitude</key>
			<real>103.9465415</real>
			<key>name</key>
			<string>"Tanah Merah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3240113</real>
			<key>longitude</key>
			<real>103.9301725</real>
			<key>name</key>
			<string>"Bedok"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3210276</real>
			<key>longitude</key>
			<real>103.9129091</real>
			<key>name</key>
			<string>"Kembangan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3197777</real>
			<key>longitude</key>
			<real>103.9028587</real>
			<key>name</key>
			<string>"Eunos"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3181339</real>
			<key>longitude</key>
			<real>103.8931307</real>
			<key>name</key>
			<string>"Paya Lebar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3164325</real>
			<key>longitude</key>
			<real>103.8829060</real>
			<key>name</key>
			<string>"Aljunied"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3115239</real>
			<key>longitude</key>
			<real>103.8716322</real>
			<key>name</key>
			<string>"Kallang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3072265</real>
			<key>longitude</key>
			<real>103.8629510</real>
			<key>name</key>
			<string>"Lavender"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3009033</real>
			<key>longitude</key>
			<real>103.8562489</real>
			<key>name</key>
			<string>"Bugis"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2767470</real>
			<key>longitude</key>
			<real>103.8451151</real>
			<key>name</key>
			<string>"Tanjong Pagar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2814352</real>
			<key>longitude</key>
			<real>103.8391830</real>
			<key>name</key>
			<string>"Outram Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2862197</real>
			<key>longitude</key>
			<real>103.8270343</real>
			<key>name</key>
			<string>"Tiong Bahru"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2896276</real>
			<key>longitude</key>
			<real>103.8167623</real>
			<key>name</key>
			<string>"Redhill"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2952659</real>
			<key>longitude</key>
			<real>103.8056329</real>
			<key>name</key>
			<string>"Queenstown"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3024476</real>
			<key>longitude</key>
			<real>103.7982907</real>
			<key>name</key>
			<string>"Commonwealth"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3073006</real>
			<key>longitude</key>
			<real>103.7900481</real>
			<key>name</key>
			<string>"Buona Vist"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3113220</real>
			<key>longitude</key>
			<real>103.7786532</real>
			<key>name</key>
			<string>"Dover"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3151940</real>
			<key>longitude</key>
			<real>103.7647922</real>
			<key>name</key>
			<string>"Clementi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3331336</real>
			<key>longitude</key>
			<real>103.7422884</real>
			<key>name</key>
			<string>"Jurong East"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3423597</real>
			<key>longitude</key>
			<real>103.7325541</real>
			<key>name</key>
			<string>"Chinese Garden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3442374</real>
			<key>longitude</key>
			<real>103.7207253</real>
			<key>name</key>
			<string>"Lakeside"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3385559</real>
			<key>longitude</key>
			<real>103.7058277</real>
			<key>name</key>
			<string>"Boon Lay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3373141</real>
			<key>longitude</key>
			<real>103.6968636</real>
			<key>name</key>
			<string>"Pioneer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3277507</real>
			<key>longitude</key>
			<real>103.6783297</real>
			<key>name</key>
			<string>"Joo Koon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3198720</real>
			<key>longitude</key>
			<real>103.6610476</real>
			<key>name</key>
			<string>"Gul Circle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3211421</real>
			<key>longitude</key>
			<real>103.6489966</real>
			<key>name</key>
			<string>"Tuas Crescent"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3300485</real>
			<key>longitude</key>
			<real>103.6396175</real>
			<key>name</key>
			<string>"Tuas West Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3403171</real>
			<key>longitude</key>
			<real>103.6368663</real>
			<key>name</key>
			<string>"Tuas Link"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3573710</real>
			<key>longitude</key>
			<real>103.9888360</real>
			<key>name</key>
			<string>"Changi Airport Branch Line"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3352467</real>
			<key>longitude</key>
			<real>103.9619976</real>
			<key>name</key>
			<string>"Expo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3573710</real>
			<key>longitude</key>
			<real>103.9888360</real>
			<key>name</key>
			<string>"Changi Airport"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2886199</real>
			<key>longitude</key>
			<real>103.8471100</real>
			<key>name</key>
			<string>"North East Line (NEL)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2659756</real>
			<key>longitude</key>
			<real>103.8204894</real>
			<key>name</key>
			<string>"HarbourFront"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2840045</real>
			<key>longitude</key>
			<real>103.8433193</real>
			<key>name</key>
			<string>"Chinatown"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2886199</real>
			<key>longitude</key>
			<real>103.8471100</real>
			<key>name</key>
			<string>"Clarke Quay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3063148</real>
			<key>longitude</key>
			<real>103.8496598</real>
			<key>name</key>
			<string>"Little India"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3124557</real>
			<key>longitude</key>
			<real>103.8548207</real>
			<key>name</key>
			<string>"Farrer Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3198587</real>
			<key>longitude</key>
			<real>103.8618306</real>
			<key>name</key>
			<string>"Boon Keng"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3312721</real>
			<key>longitude</key>
			<real>103.8690727</real>
			<key>name</key>
			<string>"Potong Pasir"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3392155</real>
			<key>longitude</key>
			<real>103.8707480</real>
			<key>name</key>
			<string>"Woodleigh"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3492739</real>
			<key>longitude</key>
			<real>103.8735814</real>
			<key>name</key>
			<string>"Serangoon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3599937</real>
			<key>longitude</key>
			<real>103.8853009</real>
			<key>name</key>
			<string>"Kovan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3711282</real>
			<key>longitude</key>
			<real>103.8924668</real>
			<key>name</key>
			<string>"Hougang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3830715</real>
			<key>longitude</key>
			<real>103.8931105</real>
			<key>name</key>
			<string>"Buangkok"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3915277</real>
			<key>longitude</key>
			<real>103.8954161</real>
			<key>name</key>
			<string>"Sengkang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4051700</real>
			<key>longitude</key>
			<real>103.9023559</real>
			<key>name</key>
			<string>"Punggol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2659756</real>
			<key>longitude</key>
			<real>103.8204894</real>
			<key>name</key>
			<string>"North East Line extension"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4051700</real>
			<key>longitude</key>
			<real>103.9023559</real>
			<key>name</key>
			<string>"Punggol Coast"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3485747</real>
			<key>longitude</key>
			<real>103.8396405</real>
			<key>name</key>
			<string>"Circle Line"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2976198</real>
			<key>longitude</key>
			<real>103.8500884</real>
			<key>name</key>
			<string>"Bras Basah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2934360</real>
			<key>longitude</key>
			<real>103.8553810</real>
			<key>name</key>
			<string>"Esplanade"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2926150</real>
			<key>longitude</key>
			<real>103.8608556</real>
			<key>name</key>
			<string>"Promenade"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2998349</real>
			<key>longitude</key>
			<real>103.8639099</real>
			<key>name</key>
			<string>"Nicoll Highway[C]"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3025028</real>
			<key>longitude</key>
			<real>103.8745655</real>
			<key>name</key>
			<string>"Stadium"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3061938</real>
			<key>longitude</key>
			<real>103.8825470</real>
			<key>name</key>
			<string>"Mountbatten"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3083673</real>
			<key>longitude</key>
			<real>103.8886799</real>
			<key>name</key>
			<string>"Dakota"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3267424</real>
			<key>longitude</key>
			<real>103.8898817</real>
			<key>name</key>
			<string>"MacPherson"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3359176</real>
			<key>longitude</key>
			<real>103.8876833</real>
			<key>name</key>
			<string>"Tai Seng"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3423252</real>
			<key>longitude</key>
			<real>103.8802484</real>
			<key>name</key>
			<string>"Bartley"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3492739</real>
			<key>longitude</key>
			<real>103.8735814</real>
			<key>name</key>
			<string>"Serangoon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3515697</real>
			<key>longitude</key>
			<real>103.8638742</real>
			<key>name</key>
			<string>"Lorong Chuan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3507054</real>
			<key>longitude</key>
			<real>103.8481618</real>
			<key>name</key>
			<string>"Bishan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3490952</real>
			<key>longitude</key>
			<real>103.8391446</real>
			<key>name</key>
			<string>"Marymount"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3376585</real>
			<key>longitude</key>
			<real>103.8395412</real>
			<key>name</key>
			<string>"Caldecott"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3361057</real>
			<key>longitude</key>
			<real>103.8229846</real>
			<key>name</key>
			<string>"Bukit Brown[D]"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3226927</real>
			<key>longitude</key>
			<real>103.8142865</real>
			<key>name</key>
			<string>"Botanic Gardens"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3160332</real>
			<key>longitude</key>
			<real>103.8058468</real>
			<key>name</key>
			<string>"Farrer Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3119456</real>
			<key>longitude</key>
			<real>103.7962333</real>
			<key>name</key>
			<string>"Holland Village"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3073006</real>
			<key>longitude</key>
			<real>103.7900481</real>
			<key>name</key>
			<string>"Buona Vista"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2924922</real>
			<key>longitude</key>
			<real>103.7848916</real>
			<key>name</key>
			<string>"Kent Ridge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2831258</real>
			<key>longitude</key>
			<real>103.7819544</real>
			<key>name</key>
			<string>"Haw Par Villa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2760331</real>
			<key>longitude</key>
			<real>103.7919041</real>
			<key>name</key>
			<string>"Pasir Panjang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2722052</real>
			<key>longitude</key>
			<real>103.8024245</real>
			<key>name</key>
			<string>"Labrador Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2706894</real>
			<key>longitude</key>
			<real>103.8098756</real>
			<key>name</key>
			<string>"Telok Blangah"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3490952</real>
			<key>longitude</key>
			<real>103.8391446</real>
			<key>name</key>
			<string>"Circle Line 6"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2648398</real>
			<key>longitude</key>
			<real>103.8185159</real>
			<key>name</key>
			<string>"Keppel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2785097</real>
			<key>longitude</key>
			<real>103.8394278</real>
			<key>name</key>
			<string>"Cantonment"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2732345</real>
			<key>longitude</key>
			<real>103.8473036</real>
			<key>name</key>
			<string>"Prince Edward"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2813448</real>
			<key>longitude</key>
			<real>103.8589484</real>
			<key>name</key>
			<string>"Bayfront"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2794670</real>
			<key>longitude</key>
			<real>103.8524576</real>
			<key>name</key>
			<string>"Downtown Line (DTL)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3768680</real>
			<key>longitude</key>
			<real>103.7710905</real>
			<key>name</key>
			<string>"Bukit Panjang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3699218</real>
			<key>longitude</key>
			<real>103.7645493</real>
			<key>name</key>
			<string>"Cashew"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3621275</real>
			<key>longitude</key>
			<real>103.7670071</real>
			<key>name</key>
			<string>"Hillview"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3570802</real>
			<key>longitude</key>
			<real>103.8127091</real>
			<key>name</key>
			<string>"Reserved Station"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3416921</real>
			<key>longitude</key>
			<real>103.7759660</real>
			<key>name</key>
			<string>"Beauty World"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3357575</real>
			<key>longitude</key>
			<real>103.7831752</real>
			<key>name</key>
			<string>"King Albert Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3312349</real>
			<key>longitude</key>
			<real>103.7968943</real>
			<key>name</key>
			<string>"Sixth Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3253631</real>
			<key>longitude</key>
			<real>103.8077988</real>
			<key>name</key>
			<string>"Tan Kah Kee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3200527</real>
			<key>longitude</key>
			<real>103.8258215</real>
			<key>name</key>
			<string>"Stevens"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3124103</real>
			<key>longitude</key>
			<real>103.8379586</real>
			<key>name</key>
			<string>"Newton"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3037640</real>
			<key>longitude</key>
			<real>103.8525810</real>
			<key>name</key>
			<string>"Rochor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3009033</real>
			<key>longitude</key>
			<real>103.8562489</real>
			<key>name</key>
			<string>"Bugis"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2926150</real>
			<key>longitude</key>
			<real>103.8608556</real>
			<key>name</key>
			<string>"Promenade"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2794670</real>
			<key>longitude</key>
			<real>103.8524576</real>
			<key>name</key>
			<string>"Downtown"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2822806</real>
			<key>longitude</key>
			<real>103.8483128</real>
			<key>name</key>
			<string>"Telok Ayer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2933984</real>
			<key>longitude</key>
			<real>103.8438856</real>
			<key>name</key>
			<string>"Fort Canning"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3019060</real>
			<key>longitude</key>
			<real>103.8535100</real>
			<key>name</key>
			<string>"Bencoolen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3124557</real>
			<key>longitude</key>
			<real>103.8548207</real>
			<key>name</key>
			<string>"Jalan Besar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3188580</real>
			<key>longitude</key>
			<real>103.8628310</real>
			<key>name</key>
			<string>"Bendemeer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3214310</real>
			<key>longitude</key>
			<real>103.8717020</real>
			<key>name</key>
			<string>"Geylang Bahru"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3267424</real>
			<key>longitude</key>
			<real>103.8898817</real>
			<key>name</key>
			<string>"Mattar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3295771</real>
			<key>longitude</key>
			<real>103.8993851</real>
			<key>name</key>
			<string>"Ubi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3341202</real>
			<key>longitude</key>
			<real>103.9297229</real>
			<key>name</key>
			<string>"Kaki Bukit"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3324124</real>
			<key>longitude</key>
			<real>103.9372770</real>
			<key>name</key>
			<string>"Beok North"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3413025</real>
			<key>longitude</key>
			<real>103.9245499</real>
			<key>name</key>
			<string>"Bedok Reservoir"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3450224</real>
			<key>longitude</key>
			<real>103.9383712</real>
			<key>name</key>
			<string>"Tampines West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3530920</real>
			<key>longitude</key>
			<real>103.9452290</real>
			<key>name</key>
			<string>"Tampines"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3564454</real>
			<key>longitude</key>
			<real>103.9515179</real>
			<key>name</key>
			<string>"Tampines East"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3348634</real>
			<key>longitude</key>
			<real>103.9513720</real>
			<key>name</key>
			<string>"Upper Changi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2794670</real>
			<key>longitude</key>
			<real>103.8524576</real>
			<key>name</key>
			<string>"Downtown Line Stage 3 Extension"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3288787</real>
			<key>longitude</key>
			<real>103.9648084</real>
			<key>name</key>
			<string>"Xilin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3240113</real>
			<key>longitude</key>
			<real>103.9301725</real>
			<key>name</key>
			<string>"Sungei Bedok"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3146510</real>
			<key>longitude</key>
			<real>103.9436909</real>
			<key>name</key>
			<string>"Thomson-East Coast Line (TEL)"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2999150</real>
			<key>longitude</key>
			<real>103.7874862</real>
			<key>name</key>
			<string>"Stage 1"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4369630</real>
			<key>longitude</key>
			<real>103.7864925</real>
			<key>name</key>
			<string>"Woodlands North"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4227165</real>
			<key>longitude</key>
			<real>103.7985073</real>
			<key>name</key>
			<string>"Woodlands South"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4227165</real>
			<key>longitude</key>
			<real>103.7985073</real>
			<key>name</key>
			<string>"Springleaf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3817576</real>
			<key>longitude</key>
			<real>103.8448008</real>
			<key>name</key>
			<string>"Lentor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3697343</real>
			<key>longitude</key>
			<real>103.8352586</real>
			<key>name</key>
			<string>"Mayflower"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3571243</real>
			<key>longitude</key>
			<real>103.8288099</real>
			<key>name</key>
			<string>"Bright Hill"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3730326</real>
			<key>longitude</key>
			<real>103.8289070</real>
			<key>name</key>
			<string>"Upper Thomson"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3025028</real>
			<key>longitude</key>
			<real>103.8745655</real>
			<key>name</key>
			<string>"Stage 3"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3200527</real>
			<key>longitude</key>
			<real>103.8258215</real>
			<key>name</key>
			<string>"Mount Pleasant"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3200527</real>
			<key>longitude</key>
			<real>103.8258215</real>
			<key>name</key>
			<string>"Stevens"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3067506</real>
			<key>longitude</key>
			<real>103.8183201</real>
			<key>name</key>
			<string>"Napier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3045879</real>
			<key>longitude</key>
			<real>103.8319307</real>
			<key>name</key>
			<string>"Orchard Boulevard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2946206</real>
			<key>longitude</key>
			<real>103.8314408</real>
			<key>name</key>
			<string>"Great World"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2899571</real>
			<key>longitude</key>
			<real>103.8324041</real>
			<key>name</key>
			<string>"Havelock"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2814352</real>
			<key>longitude</key>
			<real>103.8391830</real>
			<key>name</key>
			<string>"Outram Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2764031</real>
			<key>longitude</key>
			<real>103.8468585</real>
			<key>name</key>
			<string>"Maxwell"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2764031</real>
			<key>longitude</key>
			<real>103.8468585</real>
			<key>name</key>
			<string>"Shenton Way"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2715370</real>
			<key>longitude</key>
			<real>103.8635552</real>
			<key>name</key>
			<string>"Marina South"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2761000</real>
			<key>longitude</key>
			<real>103.8546700</real>
			<key>name</key>
			<string>"Gardens by the Bay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2971989</real>
			<key>longitude</key>
			<real>103.8780928</real>
			<key>name</key>
			<string>"Tanjong Rhu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2972133</real>
			<key>longitude</key>
			<real>103.8861126</real>
			<key>name</key>
			<string>"Katong Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3109052</real>
			<key>longitude</key>
			<real>103.8943898</real>
			<key>name</key>
			<string>"Tanjong Katong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3034400</real>
			<key>longitude</key>
			<real>103.9069467</real>
			<key>name</key>
			<string>"Marine Parade"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3060930</real>
			<key>longitude</key>
			<real>103.9137329</real>
			<key>name</key>
			<string>"Marine Terrace"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3126483</real>
			<key>longitude</key>
			<real>103.9265228</real>
			<key>name</key>
			<string>"Siglap"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3146510</real>
			<key>longitude</key>
			<real>103.9436909</real>
			<key>name</key>
			<string>"Bayshore"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3237200</real>
			<key>longitude</key>
			<real>103.9197970</real>
			<key>name</key>
			<string>"Bedok South"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.2715370</real>
			<key>longitude</key>
			<real>103.8635552</real>
			<key>name</key>
			<string>""</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3802753</real>
			<key>longitude</key>
			<real>103.7453157</real>
			<key>name</key>
			<string>"South View"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3786860</real>
			<key>longitude</key>
			<real>103.7489470</real>
			<key>name</key>
			<string>"Keat Hong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3768230</real>
			<key>longitude</key>
			<real>103.7529070</real>
			<key>name</key>
			<string>"Teck Whye"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3784680</real>
			<key>longitude</key>
			<real>103.7576220</real>
			<key>name</key>
			<string>"Phoenix"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3776817</real>
			<key>longitude</key>
			<real>103.7668108</real>
			<key>name</key>
			<string>"Petir"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3762396</real>
			<key>longitude</key>
			<real>103.7712393</real>
			<key>name</key>
			<string>"Pending"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3801026</real>
			<key>longitude</key>
			<real>103.7726680</real>
			<key>name</key>
			<string>"Bangkit"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3845756</real>
			<key>longitude</key>
			<real>103.7708200</real>
			<key>name</key>
			<string>"Fajar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3878645</real>
			<key>longitude</key>
			<real>103.7695318</real>
			<key>name</key>
			<string>"Segar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3867268</real>
			<key>longitude</key>
			<real>103.7645554</real>
			<key>name</key>
			<string>"Jelapang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3826882</real>
			<key>longitude</key>
			<real>103.7624240</real>
			<key>name</key>
			<string>"Senja"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3803397</real>
			<key>longitude</key>
			<real>103.7602814</real>
			<key>name</key>
			<string>"Ten Mile Junction"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3942864</real>
			<key>longitude</key>
			<real>103.9004145</real>
			<key>name</key>
			<string>"Compassvale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3910944</real>
			<key>longitude</key>
			<real>103.9063056</real>
			<key>name</key>
			<string>"Rumbia"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3880200</real>
			<key>longitude</key>
			<real>103.9054567</real>
			<key>name</key>
			<string>"Bakau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3837946</real>
			<key>longitude</key>
			<real>103.9022960</real>
			<key>name</key>
			<string>"Kangkar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3838849</real>
			<key>longitude</key>
			<real>103.8975618</real>
			<key>name</key>
			<string>"Ranggung"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3962909</real>
			<key>longitude</key>
			<real>103.8937978</real>
			<key>name</key>
			<string>"Cheng Lim"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3971782</real>
			<key>longitude</key>
			<real>103.8892186</real>
			<key>name</key>
			<string>"Farmway"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3982154</real>
			<key>longitude</key>
			<real>103.8813249</real>
			<key>name</key>
			<string>"Kupang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3971998</real>
			<key>longitude</key>
			<real>103.8754837</real>
			<key>name</key>
			<string>"Thanggam"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3919350</real>
			<key>longitude</key>
			<real>103.8761420</real>
			<key>name</key>
			<string>"Fernvale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3919836</real>
			<key>longitude</key>
			<real>103.8801480</real>
			<key>name</key>
			<string>"Layar"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3894195</real>
			<key>longitude</key>
			<real>103.8860714</real>
			<key>name</key>
			<string>"Tongkang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3866695</real>
			<key>longitude</key>
			<real>103.8902854</real>
			<key>name</key>
			<string>"Renjong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4051700</real>
			<key>longitude</key>
			<real>103.9023559</real>
			<key>name</key>
			<string>"Punggol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3993781</real>
			<key>longitude</key>
			<real>103.9061791</real>
			<key>name</key>
			<string>"Cove"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3968916</real>
			<key>longitude</key>
			<real>103.9088604</real>
			<key>name</key>
			<string>"Meridian"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3939077</real>
			<key>longitude</key>
			<real>103.9126022</real>
			<key>name</key>
			<string>"Coral Edge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3945845</real>
			<key>longitude</key>
			<real>103.9161426</real>
			<key>name</key>
			<string>"Riviera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.3992903</real>
			<key>longitude</key>
			<real>103.9166865</real>
			<key>name</key>
			<string>"Kadaloor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4022219</real>
			<key>longitude</key>
			<real>103.9127631</real>
			<key>name</key>
			<string>"Oasis"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4050638</real>
			<key>longitude</key>
			<real>103.9085528</real>
			<key>name</key>
			<string>"Damai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4097180</real>
			<key>longitude</key>
			<real>103.9048880</real>
			<key>name</key>
			<string>"Sam Kee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4127615</real>
			<key>longitude</key>
			<real>103.9065860</real>
			<key>name</key>
			<string>"Teck Lee"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4168303</real>
			<key>longitude</key>
			<real>103.9066637</real>
			<key>name</key>
			<string>"Punggol Point"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4158650</real>
			<key>longitude</key>
			<real>103.9021873</real>
			<key>name</key>
			<string>"Samudera"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4117601</real>
			<key>longitude</key>
			<real>103.9000906</real>
			<key>name</key>
			<string>"Nibong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4084350</real>
			<key>longitude</key>
			<real>103.8985339</real>
			<key>name</key>
			<string>"Sumang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>1.4053902</real>
			<key>longitude</key>
			<real>103.8972330</real>
			<key>name</key>
			<string>"Soo Teck"</string>
		</dict>
	</array>
</dict>
</plist>