<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>59.334431500000001</real>
			<key>longitude</key>
			<real>17.9495586</real>
			<key>name</key>
			<string>"Abrahamsberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.415528700000003</real>
			<key>longitude</key>
			<real>17.913028600000001</real>
			<key>name</key>
			<string>"Akalla"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.342036299999997</real>
			<key>longitude</key>
			<real>17.9248999</real>
			<key>name</key>
			<string>"Åkeshov"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.238529200000002</real>
			<key>longitude</key>
			<real>17.8467427</real>
			<key>name</key>
			<string>"Alby"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.333505600000002</real>
			<key>longitude</key>
			<real>17.980669800000001</real>
			<key>name</key>
			<string>"Alvik"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.3418852</real>
			<key>longitude</key>
			<real>17.907047800000001</real>
			<key>name</key>
			<string>"Ängbyplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.305610000000001</real>
			<key>longitude</key>
			<real>18.002199999999998</real>
			<key>name</key>
			<string>"Aspudden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.304032300000003</real>
			<key>longitude</key>
			<real>17.977408799999999</real>
			<key>name</key>
			<string>"Axelsberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.264230599999998</real>
			<key>longitude</key>
			<real>18.131486500000001</real>
			<key>name</key>
			<string>"Bagarmossen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.270496899999998</real>
			<key>longitude</key>
			<real>18.049688799999998</real>
			<key>name</key>
			<string>"Bandhagen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.3800539</real>
			<key>longitude</key>
			<real>18.032795100000001</real>
			<key>name</key>
			<string>"Bergshamra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.291113899999999</real>
			<key>longitude</key>
			<real>18.1155212</real>
			<key>name</key>
			<string>"Björkhagen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.348025399999997</real>
			<key>longitude</key>
			<real>17.883536700000001</real>
			<key>name</key>
			<string>"Blackeberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.290255000000002</real>
			<key>longitude</key>
			<real>18.091131499999999</real>
			<key>name</key>
			<string>"Blåsut"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.294838300000002</real>
			<key>longitude</key>
			<real>17.933813600000001</real>
			<key>name</key>
			<string>"Bredäng"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.338389800000002</real>
			<key>longitude</key>
			<real>17.939261699999999</real>
			<key>name</key>
			<string>"Brommaplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.391904099999998</real>
			<key>longitude</key>
			<real>18.0413718</real>
			<key>name</key>
			<string>"Danderyds sjukhus"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.330668500000002</real>
			<key>longitude</key>
			<real>18.057932300000001</real>
			<key>name</key>
			<string>"Duvbo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.289393799999999</real>
			<key>longitude</key>
			<real>18.070294000000001</real>
			<key>name</key>
			<string>"Enskede gård"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.243623100000001</real>
			<key>longitude</key>
			<real>18.0933055</real>
			<key>name</key>
			<string>"Farsta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.2366344</real>
			<key>longitude</key>
			<real>18.101937899999999</real>
			<key>name</key>
			<string>"Farsta strand"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.330668500000002</real>
			<key>longitude</key>
			<real>18.057932300000001</real>
			<key>name</key>
			<string>"Fittja"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.285929000000003</real>
			<key>longitude</key>
			<real>17.9650058</real>
			<key>name</key>
			<string>"Fruängen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.332199500000002</real>
			<key>longitude</key>
			<real>18.029187799999999</real>
			<key>name</key>
			<string>"Fridhemsplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.323107899999997</real>
			<key>longitude</key>
			<real>18.067381600000001</real>
			<key>name</key>
			<string>"Gamla stan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.3477441</real>
			<key>longitude</key>
			<real>18.101869099999998</real>
			<key>name</key>
			<string>"Gärdet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.294279799999998</real>
			<key>longitude</key>
			<real>18.077974300000001</real>
			<key>name</key>
			<string>"Globen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.262446699999998</real>
			<key>longitude</key>
			<real>18.0835711</real>
			<key>name</key>
			<string>"Gubbängen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.299044700000003</real>
			<key>longitude</key>
			<real>18.080944899999999</real>
			<key>name</key>
			<string>"Gullmarsplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.261683300000001</real>
			<key>longitude</key>
			<real>18.0162753</real>
			<key>name</key>
			<string>"Hagsätra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.295571299999999</real>
			<key>longitude</key>
			<real>17.979151900000002</real>
			<key>name</key>
			<string>"Hägerstensåsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.380773499999997</real>
			<key>longitude</key>
			<real>18.000435499999998</real>
			<key>name</key>
			<string>"Hallonbergen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.238529200000002</real>
			<key>longitude</key>
			<real>17.8467427</real>
			<key>name</key>
			<string>"Hallunda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.294722</real>
			<key>longitude</key>
			<real>18.1070055</real>
			<key>name</key>
			<string>"Hammarbyhöjden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.366900299999998</real>
			<key>longitude</key>
			<real>17.843769300000002</real>
			<key>name</key>
			<string>"Hässelby Gård"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.366900299999998</real>
			<key>longitude</key>
			<real>17.843769300000002</real>
			<key>name</key>
			<string>"Hässelby Strand"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.395826300000003</real>
			<key>longitude</key>
			<real>17.885630899999999</real>
			<key>name</key>
			<string>"Hjulsta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.263796900000003</real>
			<key>longitude</key>
			<real>18.043004700000001</real>
			<key>name</key>
			<string>"Högdalen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.257758199999998</real>
			<key>longitude</key>
			<real>18.0825572</real>
			<key>name</key>
			<string>"Hökarängen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.316188599999997</real>
			<key>longitude</key>
			<real>18.0368043</real>
			<key>name</key>
			<string>"Hornstull"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.335238699999998</real>
			<key>longitude</key>
			<real>18.062458100000001</real>
			<key>name</key>
			<string>"Hötorget"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.410259000000003</real>
			<key>longitude</key>
			<real>17.925637200000001</real>
			<key>name</key>
			<string>"Husby"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.349546500000002</real>
			<key>longitude</key>
			<real>17.9856953</real>
			<key>name</key>
			<string>"Huvudsta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.345856900000001</real>
			<key>longitude</key>
			<real>17.894019499999999</real>
			<key>name</key>
			<string>"Islandstorget"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.367942599999999</real>
			<key>longitude</key>
			<real>17.857465600000001</real>
			<key>name</key>
			<string>"Johannelund"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.338488900000002</real>
			<key>longitude</key>
			<real>18.090265899999999</real>
			<key>name</key>
			<string>"Karlaplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.284505099999997</real>
			<key>longitude</key>
			<real>18.114476700000001</real>
			<key>name</key>
			<string>"Kärrtorp"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.403177399999997</real>
			<key>longitude</key>
			<real>17.942394400000001</real>
			<key>name</key>
			<string>"Kista"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.332811100000001</real>
			<key>longitude</key>
			<real>18.003181999999999</real>
			<key>name</key>
			<string>"Kristineberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.332785899999998</real>
			<key>longitude</key>
			<real>18.071265499999999</real>
			<key>name</key>
			<string>"Kungsträdgården"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.310163600000003</real>
			<key>longitude</key>
			<real>18.022259099999999</real>
			<key>name</key>
			<string>"Liljeholmen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.300918099999997</real>
			<key>longitude</key>
			<real>17.957281999999999</real>
			<key>name</key>
			<string>"Mälarhöjden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.316986300000003</real>
			<key>longitude</key>
			<real>18.063248399999999</real>
			<key>name</key>
			<string>"Mariatorget"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.249681600000002</real>
			<key>longitude</key>
			<real>17.8803327</real>
			<key>name</key>
			<string>"Masmo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.314330599999998</real>
			<key>longitude</key>
			<real>18.0736597</real>
			<key>name</key>
			<string>"Medborgarplatsen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.299856800000001</real>
			<key>longitude</key>
			<real>18.012058700000001</real>
			<key>name</key>
			<string>"Midsommarkransen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.398257299999997</real>
			<key>longitude</key>
			<real>18.0361175</real>
			<key>name</key>
			<string>"Mörby centrum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.366737899999997</real>
			<key>longitude</key>
			<real>17.983279700000001</real>
			<key>name</key>
			<string>"Näckrosen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.2437909</real>
			<key>longitude</key>
			<real>17.814525100000001</real>
			<key>name</key>
			<string>"Norsborg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.342947899999999</real>
			<key>longitude</key>
			<real>18.049899100000001</real>
			<key>name</key>
			<string>"Odenplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.306007200000003</real>
			<key>longitude</key>
			<real>17.991555999999999</real>
			<key>name</key>
			<string>"Örnsberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.3350455</real>
			<key>longitude</key>
			<real>18.0740184</real>
			<key>name</key>
			<string>"Östermalmstorg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.354806600000003</real>
			<key>longitude</key>
			<real>17.881819799999999</real>
			<key>name</key>
			<string>"Råcksta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.330332300000002</real>
			<key>longitude</key>
			<real>18.0420476</real>
			<key>name</key>
			<string>"Rådhuset"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.340325900000003</real>
			<key>longitude</key>
			<real>18.059198200000001</real>
			<key>name</key>
			<string>"Rådmansgatan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.256580399999997</real>
			<key>longitude</key>
			<real>18.028134999999999</real>
			<key>name</key>
			<string>"Rågsved"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.388405200000001</real>
			<key>longitude</key>
			<real>17.928692900000001</real>
			<key>name</key>
			<string>"Rinkeby"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.375714600000002</real>
			<key>longitude</key>
			<real>17.940362799999999</real>
			<key>name</key>
			<string>"Rissne"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.357298299999997</real>
			<key>longitude</key>
			<real>18.102217899999999</real>
			<key>name</key>
			<string>"Ropsten"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.284782300000003</real>
			<key>longitude</key>
			<real>18.089591299999999</real>
			<key>name</key>
			<string>"Sandsborg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.314171399999999</real>
			<key>longitude</key>
			<real>18.0644937</real>
			<key>name</key>
			<string>"Sätra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.3078304</real>
			<key>longitude</key>
			<real>18.075769099999999</real>
			<key>name</key>
			<string>"Skanstull"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.277144</real>
			<key>longitude</key>
			<real>17.907005099999999</real>
			<key>name</key>
			<string>"Skärholmen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.295363799999997</real>
			<key>longitude</key>
			<real>18.090440900000001</real>
			<key>name</key>
			<string>"Skärmarbrink"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.264230599999998</real>
			<key>longitude</key>
			<real>18.131486500000001</real>
			<key>name</key>
			<string>"Skarpnäck"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.2791918</real>
			<key>longitude</key>
			<real>18.095498899999999</real>
			<key>name</key>
			<string>"Skogskyrkogården"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.319512400000001</real>
			<key>longitude</key>
			<real>18.072140600000001</real>
			<key>name</key>
			<string>"Slussen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.283300199999999</real>
			<key>longitude</key>
			<real>18.070591100000001</real>
			<key>name</key>
			<string>"Sockenplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.361357099999999</real>
			<key>longitude</key>
			<real>17.996267700000001</real>
			<key>name</key>
			<string>"Solna centrum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.354342500000001</real>
			<key>longitude</key>
			<real>17.973541600000001</real>
			<key>name</key>
			<string>"Solna strand"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.339654099999997</real>
			<key>longitude</key>
			<real>18.0369876</real>
			<key>name</key>
			<string>"Sankt Eriksplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.342864200000001</real>
			<key>longitude</key>
			<real>18.081961199999999</real>
			<key>name</key>
			<string>"Stadion"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.338282300000003</real>
			<key>longitude</key>
			<real>18.013847500000001</real>
			<key>name</key>
			<string>"Stadshagen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.334553200000002</real>
			<key>longitude</key>
			<real>17.966050599999999</real>
			<key>name</key>
			<string>"Stora Mossen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.274571700000003</real>
			<key>longitude</key>
			<real>18.055189899999998</real>
			<key>name</key>
			<string>"Stureby"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.330668500000002</real>
			<key>longitude</key>
			<real>18.057932300000001</real>
			<key>name</key>
			<string>"Sundbybergs centrum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.2776371</real>
			<key>longitude</key>
			<real>18.067205399999999</real>
			<key>name</key>
			<string>"Svedmyra"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.330947000000002</real>
			<key>longitude</key>
			<real>18.0592629</real>
			<key>name</key>
			<string>"T-Centralen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.271422200000003</real>
			<key>longitude</key>
			<real>18.0858928</real>
			<key>name</key>
			<string>"Tallkrogen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.345908799999997</real>
			<key>longitude</key>
			<real>18.071596499999998</real>
			<key>name</key>
			<string>"Tekniska högskolan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.298555700000001</real>
			<key>longitude</key>
			<real>17.996281100000001</real>
			<key>name</key>
			<string>"Telefonplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.3944823</real>
			<key>longitude</key>
			<real>17.901165200000001</real>
			<key>name</key>
			<string>"Tensta"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.331473500000001</real>
			<key>longitude</key>
			<real>18.0148826</real>
			<key>name</key>
			<string>"Thorildsplan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.365188699999997</real>
			<key>longitude</key>
			<real>18.0508199</real>
			<key>name</key>
			<string>"Universitetet"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.383154699999999</real>
			<key>longitude</key>
			<real>17.897563300000002</real>
			<key>name</key>
			<string>"Vällingby"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.263518900000001</real>
			<key>longitude</key>
			<real>17.886523</real>
			<key>name</key>
			<string>"Vårby gård"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.291378999999999</real>
			<key>longitude</key>
			<real>17.9666675</real>
			<key>name</key>
			<string>"Västertorp"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.347479300000003</real>
			<key>longitude</key>
			<real>18.003989099999998</real>
			<key>name</key>
			<string>"Västra skogen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>59.317777700000001</real>
			<key>longitude</key>
			<real>18.050152199999999</real>
			<key>name</key>
			<string>"Zinkensdamm"</string>
		</dict>
	</array>
</dict>
</plist>
