<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>41.685621</real>
			<key>longitude</key>
			<real>44.854474</real>
			<key>name</key>
			<string>"Samgori"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.68655</real>
			<key>longitude</key>
			<real>44.840929</real>
			<key>name</key>
			<string>"Isani"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.687516</real>
			<key>longitude</key>
			<real>44.826981</real>
			<key>name</key>
			<string>"Samasi Aragveli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.692335</real>
			<key>longitude</key>
			<real>44.815094</real>
			<key>name</key>
			<string>"Avlabari"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.4141</real>
			<key>longitude</key>
			<real>44.4759</real>
			<key>name</key>
			<string>"Liberty Square/Tavisuplebis Moedani"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.4213</real>
			<key>longitude</key>
			<real>44.4724</real>
			<key>name</key>
			<string>"Rustaveli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.709625</real>
			<key>longitude</key>
			<real>44.797981</real>
			<key>name</key>
			<string>"Marjanishvili"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.722627</real>
			<key>longitude</key>
			<real>44.797493</real>
			<key>name</key>
			<string>"Sadguris Moedani I / Station Square 1"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.730094</real>
			<key>longitude</key>
			<real>44.796222</real>
			<key>name</key>
			<string>"Nadzaladevi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.742519</real>
			<key>longitude</key>
			<real>44.784554</real>
			<key>name</key>
			<string>"Gotsiridze"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.74987</real>
			<key>longitude</key>
			<real>44.780047</real>
			<key>name</key>
			<string>"Didube"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.765543</real>
			<key>longitude</key>
			<real>44.789869</real>
			<key>name</key>
			<string>"Ghrmaghele"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.775009</real>
			<key>longitude</key>
			<real>44.79511</real>
			<key>name</key>
			<string>"Guramishvili"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.78315</real>
			<key>longitude</key>
			<real>44.799053</real>
			<key>name</key>
			<string>"Sarajishvili"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.791762</real>
			<key>longitude</key>
			<real>44.815913</real>
			<key>name</key>
			<string>"Akhmetelis Teatri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.722627</real>
			<key>longitude</key>
			<real>44.797493</real>
			<key>name</key>
			<string>"Sadguris Moedani II / Station Square 2"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.7277</real>
			<key>longitude</key>
			<real>44.787928</real>
			<key>name</key>
			<string>"Tsereteli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.718335</real>
			<key>longitude</key>
			<real>44.778138</real>
			<key>name</key>
			<string>"Teknikuri Universiteti"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.4338</real>
			<key>longitude</key>
			<real>44.4545</real>
			<key>name</key>
			<string>"Sameditsino Universiteti"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.7254</real>
			<key>longitude</key>
			<real>44.74624</real>
			<key>name</key>
			<string>"Delisi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.4327</real>
			<key>longitude</key>
			<real>44.4351</real>
			<key>name</key>
			<string>"Vazha-Pshavela"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>41.4322</real>
			<key>longitude</key>
			<real>44.4303</real>
			<key>name</key>
			<string>"Sakhelmtsipo Universiteti"</string>
		</dict>
	</array>
</dict>
</plist>