<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>35.710332000000001</real>
			<key>longitude</key>
			<real>139.8132971</real>
			<key>name</key>
			<string>"Oshiage"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.708607700000002</real>
			<key>longitude</key>
			<real>139.8045659</real>
			<key>name</key>
			<string>"Honjo-azumabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.7105216</real>
			<key>longitude</key>
			<real>139.79786369999999</real>
			<key>name</key>
			<string>"Asakusa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.703099000000002</real>
			<key>longitude</key>
			<real>139.79079100000001</real>
			<key>name</key>
			<string>"Kuramae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697416799999999</real>
			<key>longitude</key>
			<real>139.7844566</real>
			<key>name</key>
			<string>"Asakusabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.692100000000003</real>
			<key>longitude</key>
			<real>139.7847495</real>
			<key>name</key>
			<string>"Higashi-nihombashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.686239</real>
			<key>longitude</key>
			<real>139.78234800000001</real>
			<key>name</key>
			<string>"Ningyocho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.682099899999997</real>
			<key>longitude</key>
			<real>139.77468619999999</real>
			<key>name</key>
			<string>"Nihombashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6757268</real>
			<key>longitude</key>
			<real>139.7719462</real>
			<key>name</key>
			<string>"Takaracho"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.669700300000002</real>
			<key>longitude</key>
			<real>139.76713989999999</real>
			<key>name</key>
			<string>"Higashi-ginza"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.666193300000003</real>
			<key>longitude</key>
			<real>139.7583319</real>
			<key>name</key>
			<string>"Shimbashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.656529399999997</real>
			<key>longitude</key>
			<real>139.75438829999999</real>
			<key>name</key>
			<string>"Daimon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.647939100000002</real>
			<key>longitude</key>
			<real>139.7485618</real>
			<key>name</key>
			<string>"Mita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.638131999999999</real>
			<key>longitude</key>
			<real>139.73971399999999</real>
			<key>name</key>
			<string>"Sengakuji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.631661000000001</real>
			<key>longitude</key>
			<real>139.73032699999999</real>
			<key>name</key>
			<string>"Takanawadai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.626159100000002</real>
			<key>longitude</key>
			<real>139.72360219999999</real>
			<key>name</key>
			<string>"Gotanda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.614524799999998</real>
			<key>longitude</key>
			<real>139.7163324</real>
			<key>name</key>
			<string>"Togoshi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.605818300000003</real>
			<key>longitude</key>
			<real>139.71275539999999</real>
			<key>name</key>
			<string>"Nakanobu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.596386000000003</real>
			<key>longitude</key>
			<real>139.71182999999999</real>
			<key>name</key>
			<string>"Magome"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.587456000000003</real>
			<key>longitude</key>
			<real>139.70609200000001</real>
			<key>name</key>
			<string>"Nishi-magome"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.791890000000002</real>
			<key>longitude</key>
			<real>139.645883</real>
			<key>name</key>
			<string>"Nishi-Takashimadaira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.790241700000003</real>
			<key>longitude</key>
			<real>139.6543044</real>
			<key>name</key>
			<string>"Shin-Takashimadaira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.788919</real>
			<key>longitude</key>
			<real>139.661271</real>
			<key>name</key>
			<string>"Takashimadaira"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.787058000000002</real>
			<key>longitude</key>
			<real>139.672797</real>
			<key>name</key>
			<string>"Nishidai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.784198000000004</real>
			<key>longitude</key>
			<real>139.67901900000001</real>
			<key>name</key>
			<string>"Hasune"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.777528599999997</real>
			<key>longitude</key>
			<real>139.68608420000001</real>
			<key>name</key>
			<string>"Shimura-Sanchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.775814699999998</real>
			<key>longitude</key>
			<real>139.69535239999999</real>
			<key>name</key>
			<string>"Shimura-Sakaue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.768810999999999</real>
			<key>longitude</key>
			<real>139.70218499999999</real>
			<key>name</key>
			<string>"Motohasunuma"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.761260100000001</real>
			<key>longitude</key>
			<real>139.70553330000001</real>
			<key>name</key>
			<string>"Itabashi-Honchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.751258</real>
			<key>longitude</key>
			<real>139.71001799999999</real>
			<key>name</key>
			<string>"Itabashi-Kuyakushomae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.748977400000001</real>
			<key>longitude</key>
			<real>139.72092789999999</real>
			<key>name</key>
			<string>"Shin-Itabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.743327800000003</real>
			<key>longitude</key>
			<real>139.72857400000001</real>
			<key>name</key>
			<string>"Nishi-Sugamo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.733705</real>
			<key>longitude</key>
			<real>139.74034900000001</real>
			<key>name</key>
			<string>"Sugamo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.727875500000003</real>
			<key>longitude</key>
			<real>139.7448665</real>
			<key>name</key>
			<string>"Sengoku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.721478699999999</real>
			<key>longitude</key>
			<real>139.75240339999999</real>
			<key>name</key>
			<string>"Hakusan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.709986000000001</real>
			<key>longitude</key>
			<real>139.753266</real>
			<key>name</key>
			<string>"Kasuga"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.702929300000001</real>
			<key>longitude</key>
			<real>139.7555605</real>
			<key>name</key>
			<string>"Suidōbashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.695938499999997</real>
			<key>longitude</key>
			<real>139.75806309999999</real>
			<key>name</key>
			<string>"Jimbōchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.683469100000003</real>
			<key>longitude</key>
			<real>139.7627085</real>
			<key>name</key>
			<string>"Ōtemachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.674890300000001</real>
			<key>longitude</key>
			<real>139.75960509999999</real>
			<key>name</key>
			<string>"Hibiya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.669381399999999</real>
			<key>longitude</key>
			<real>139.7551685</real>
			<key>name</key>
			<string>"Uchisaiwaichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.660563000000003</real>
			<key>longitude</key>
			<real>139.7512395</real>
			<key>name</key>
			<string>"Onarimon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.654643299999996</real>
			<key>longitude</key>
			<real>139.750023</real>
			<key>name</key>
			<string>"Shibakōen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.647939100000002</real>
			<key>longitude</key>
			<real>139.7485618</real>
			<key>name</key>
			<string>"Mita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.642854</real>
			<key>longitude</key>
			<real>139.73407599999999</real>
			<key>name</key>
			<string>"Shirokane-Takanawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.638417199999999</real>
			<key>longitude</key>
			<real>139.72677419999999</real>
			<key>name</key>
			<string>"Shirokanedai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.633471499999999</real>
			<key>longitude</key>
			<real>139.715586</real>
			<key>name</key>
			<string>"Meguro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.689407199999998</real>
			<key>longitude</key>
			<real>139.7003058</real>
			<key>name</key>
			<string>"Shinjuku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.690798200000003</real>
			<key>longitude</key>
			<real>139.70635379999999</real>
			<key>name</key>
			<string>"Shinjuku Sanchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.692376000000003</real>
			<key>longitude</key>
			<real>139.72263000000001</real>
			<key>name</key>
			<string>"Akebonobashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.691628000000001</real>
			<key>longitude</key>
			<real>139.7361095</real>
			<key>name</key>
			<string>"Ichigaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.695481600000001</real>
			<key>longitude</key>
			<real>139.75115439999999</real>
			<key>name</key>
			<string>"Kudanshita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.695938499999997</real>
			<key>longitude</key>
			<real>139.75806309999999</real>
			<key>name</key>
			<string>"Jimbōchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.695131600000003</real>
			<key>longitude</key>
			<real>139.76684259999999</real>
			<key>name</key>
			<string>"Ogawamachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.695571000000001</real>
			<key>longitude</key>
			<real>139.775181</real>
			<key>name</key>
			<string>"Iwamotochō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.691964900000002</real>
			<key>longitude</key>
			<real>139.78297140000001</real>
			<key>name</key>
			<string>"Bakuro-Yokoyama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.688479100000002</real>
			<key>longitude</key>
			<real>139.787937</real>
			<key>name</key>
			<string>"Hamachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.688056199999998</real>
			<key>longitude</key>
			<real>139.7982193</real>
			<key>name</key>
			<string>"Morishita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.688211799999998</real>
			<key>longitude</key>
			<real>139.80636519999999</real>
			<key>name</key>
			<string>"Kikukawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.688761999999997</real>
			<key>longitude</key>
			<real>139.81573470000001</real>
			<key>name</key>
			<string>"Sumiyoshi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6891915</real>
			<key>longitude</key>
			<real>139.82602170000001</real>
			<key>name</key>
			<string>"Nishi-Ōjima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6897229</real>
			<key>longitude</key>
			<real>139.83432719999999</real>
			<key>name</key>
			<string>"Ōjima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.689800699999999</real>
			<key>longitude</key>
			<real>139.8475555</real>
			<key>name</key>
			<string>"Higashi-Ōjima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.683825400000003</real>
			<key>longitude</key>
			<real>139.86422519999999</real>
			<key>name</key>
			<string>"Funabori"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.685935999999998</real>
			<key>longitude</key>
			<real>139.88297800000001</real>
			<key>name</key>
			<string>"Ichinoe"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.693265099999998</real>
			<key>longitude</key>
			<real>139.8976807</real>
			<key>name</key>
			<string>"Mizue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.706100999999997</real>
			<key>longitude</key>
			<real>139.903864</real>
			<key>name</key>
			<string>"Shinozaki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.720823000000003</real>
			<key>longitude</key>
			<real>139.92739</real>
			<key>name</key>
			<string>"Motoyawata"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.693292</real>
			<key>longitude</key>
			<real>139.69913199999999</real>
			<key>name</key>
			<string>"Shinjuku Nishiguchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697694900000002</real>
			<key>longitude</key>
			<real>139.7073541</real>
			<key>name</key>
			<string>"Higashi-Shinjuku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.699235999999999</real>
			<key>longitude</key>
			<real>139.718075</real>
			<key>name</key>
			<string>"Wakamatsu-Kawada"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.699602499999997</real>
			<key>longitude</key>
			<real>139.72570479999999</real>
			<key>name</key>
			<string>"Ushigome Yanagichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.700639099999997</real>
			<key>longitude</key>
			<real>139.7359098</real>
			<key>name</key>
			<string>"Ushigome Kagurazaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.701124999999998</real>
			<key>longitude</key>
			<real>139.7431</real>
			<key>name</key>
			<string>"Iidabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.709986000000001</real>
			<key>longitude</key>
			<real>139.753266</real>
			<key>name</key>
			<string>"Kasuga"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.706721999999999</real>
			<key>longitude</key>
			<real>139.75983439999999</real>
			<key>name</key>
			<string>"Hongō-Sanchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.7079667</real>
			<key>longitude</key>
			<real>139.77338109999999</real>
			<key>name</key>
			<string>"Ueno-Okachimachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.706930999999997</real>
			<key>longitude</key>
			<real>139.783041</real>
			<key>name</key>
			<string>"Shin-Okachimachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.703099000000002</real>
			<key>longitude</key>
			<real>139.79079100000001</real>
			<key>name</key>
			<string>"Kuramae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6958099</real>
			<key>longitude</key>
			<real>139.79325549999999</real>
			<key>name</key>
			<string>"Ryōgoku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.688056199999998</real>
			<key>longitude</key>
			<real>139.7982193</real>
			<key>name</key>
			<string>"Morishita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.682252499999997</real>
			<key>longitude</key>
			<real>139.79877780000001</real>
			<key>name</key>
			<string>"Kiyosumi-Shirakawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.671824999999998</real>
			<key>longitude</key>
			<real>139.79606899999999</real>
			<key>name</key>
			<string>"Monzen Nakachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.664686000000003</real>
			<key>longitude</key>
			<real>139.78443200000001</real>
			<key>name</key>
			<string>"Tsukishima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6589788</real>
			<key>longitude</key>
			<real>139.77714950000001</real>
			<key>name</key>
			<string>"Kachidoki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.667879999999997</real>
			<key>longitude</key>
			<real>139.772516</real>
			<key>name</key>
			<string>"Tsukijishijō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.662898900000002</real>
			<key>longitude</key>
			<real>139.75996989999999</real>
			<key>name</key>
			<string>"Shiodome"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.656529399999997</real>
			<key>longitude</key>
			<real>139.75438829999999</real>
			<key>name</key>
			<string>"Daimon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.655002199999998</real>
			<key>longitude</key>
			<real>139.74354339999999</real>
			<key>name</key>
			<string>"Akabanebashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.656399</real>
			<key>longitude</key>
			<real>139.73660229999999</real>
			<key>name</key>
			<string>"Azabu-Jūban"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.662725100000003</real>
			<key>longitude</key>
			<real>139.73121649999999</real>
			<key>name</key>
			<string>"Roppongi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6728971</real>
			<key>longitude</key>
			<real>139.72377410000001</real>
			<key>name</key>
			<string>"Aoyama-Itchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.679745699999998</real>
			<key>longitude</key>
			<real>139.71438860000001</real>
			<key>name</key>
			<string>"Kokuritsu-Kyōgijō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.684106200000002</real>
			<key>longitude</key>
			<real>139.70217199999999</real>
			<key>name</key>
			<string>"Yoyogi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.689407199999998</real>
			<key>longitude</key>
			<real>139.7003058</real>
			<key>name</key>
			<string>"Shinjuku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.690570000000001</real>
			<key>longitude</key>
			<real>139.69266099999999</real>
			<key>name</key>
			<string>"Tochōmae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.689887499999998</real>
			<key>longitude</key>
			<real>139.6845462</real>
			<key>name</key>
			<string>"Nishi-Shinjuku Gochōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697068999999999</real>
			<key>longitude</key>
			<real>139.68216100000001</real>
			<key>name</key>
			<string>"Nakano Sakaue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.706229100000002</real>
			<key>longitude</key>
			<real>139.68381020000001</real>
			<key>name</key>
			<string>"Higashi-Nakano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.713895700000002</real>
			<key>longitude</key>
			<real>139.68626499999999</real>
			<key>name</key>
			<string>"Nakai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.723401600000003</real>
			<key>longitude</key>
			<real>139.6834762</real>
			<key>name</key>
			<string>"Ochiai-Minami-Nagasaki"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.732591999999997</real>
			<key>longitude</key>
			<real>139.67043899999999</real>
			<key>name</key>
			<string>"Shin-Egota"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.737841000000003</real>
			<key>longitude</key>
			<real>139.65391199999999</real>
			<key>name</key>
			<string>"Nerima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.742089999999997</real>
			<key>longitude</key>
			<real>139.64919</real>
			<key>name</key>
			<string>"Toshimaen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.7511905</real>
			<key>longitude</key>
			<real>139.6405834</real>
			<key>name</key>
			<string>"Nerima Kasugachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.758448999999999</real>
			<key>longitude</key>
			<real>139.628941</real>
			<key>name</key>
			<string>"Hikarigaoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.645902200000002</real>
			<key>longitude</key>
			<real>139.82669519999999</real>
			<key>name</key>
			<string>"Shin-Kiba"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.640695800000003</real>
			<key>longitude</key>
			<real>139.80360970000001</real>
			<key>name</key>
			<string>"Shinonome"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6345125</real>
			<key>longitude</key>
			<real>139.79163460000001</real>
			<key>name</key>
			<string>"Kokusai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.627532500000001</real>
			<key>longitude</key>
			<real>139.77881450000001</real>
			<key>name</key>
			<string>"Tokyo Teleport"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.609449099999999</real>
			<key>longitude</key>
			<real>139.74969780000001</real>
			<key>name</key>
			<string>"Shinagawa Seaside"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.606218400000003</real>
			<key>longitude</key>
			<real>139.73493060000001</real>
			<key>name</key>
			<string>"Ōimachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6580339</real>
			<key>longitude</key>
			<real>139.70163579999999</real>
			<key>name</key>
			<string>"Shibuya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.749720400000001</real>
			<key>longitude</key>
			<real>139.8047023</real>
			<key>name</key>
			<string>"Kita-Senju"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.693812000000001</real>
			<key>longitude</key>
			<real>139.42390599999999</real>
			<key>name</key>
			<string>"Nishi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.668987999999999</real>
			<key>longitude</key>
			<real>139.679857</real>
			<key>name</key>
			<string>"Yoyogi-Uehara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.788234299999999</real>
			<key>longitude</key>
			<real>139.61222090000001</real>
			<key>name</key>
			<string>"Wakō-shi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.743341000000001</real>
			<key>longitude</key>
			<real>139.67952099999999</real>
			<key>name</key>
			<string>"Kotake-Mukaihara"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.783504000000001</real>
			<key>longitude</key>
			<real>139.72182100000001</real>
			<key>name</key>
			<string>"Akabane Iwabuchi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.729502799999999</real>
			<key>longitude</key>
			<real>139.7109001</real>
			<key>name</key>
			<string>"Ikebukuro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.712364200000003</real>
			<key>longitude</key>
			<real>139.77618810000001</real>
			<key>name</key>
			<string>"Ueno"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.713446699999999</real>
			<key>longitude</key>
			<real>139.7041376</real>
			<key>name</key>
			<string>"Takadanobaba"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.732005700000002</real>
			<key>longitude</key>
			<real>139.76688559999999</real>
			<key>name</key>
			<string>"Nishi-Nippori"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.674918699999999</real>
			<key>longitude</key>
			<real>139.76281990000001</real>
			<key>name</key>
			<string>"Yūrakuchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.673766999999998</real>
			<key>longitude</key>
			<real>139.743268</real>
			<key>name</key>
			<string>"Kokkai Gijidō-mae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.669542399999997</real>
			<key>longitude</key>
			<real>139.8188658</real>
			<key>name</key>
			<string>"Tōyōchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.662725100000003</real>
			<key>longitude</key>
			<real>139.73121649999999</real>
			<key>name</key>
			<string>"Roppongi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.671824999999998</real>
			<key>longitude</key>
			<real>139.79606899999999</real>
			<key>name</key>
			<string>"Monzen-Nakachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.686152499999999</real>
			<key>longitude</key>
			<real>139.73021829999999</real>
			<key>name</key>
			<string>"Yotsuya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6471564</real>
			<key>longitude</key>
			<real>139.70973939999999</real>
			<key>name</key>
			<string>"Ebisu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.708486000000001</real>
			<key>longitude</key>
			<real>139.751822</real>
			<key>name</key>
			<string>"Kōrakuen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697148499999997</real>
			<key>longitude</key>
			<real>139.81378580000001</real>
			<key>name</key>
			<string>"Kinshichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.670399000000003</real>
			<key>longitude</key>
			<real>139.71782590000001</real>
			<key>name</key>
			<string>"Gaienmae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.685377000000003</real>
			<key>longitude</key>
			<real>139.741657</real>
			<key>name</key>
			<string>"Hanzōmon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.705652000000001</real>
			<key>longitude</key>
			<real>139.72215800000001</real>
			<key>name</key>
			<string>"Waseda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.704497699999997</real>
			<key>longitude</key>
			<real>139.61905820000001</real>
			<key>name</key>
			<string>"Ogikubo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.682989999999997</real>
			<key>longitude</key>
			<real>139.78515300000001</real>
			<key>name</key>
			<string>"Suitengūmae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.667879999999997</real>
			<key>longitude</key>
			<real>139.772516</real>
			<key>name</key>
			<string>"Tsukiji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.717373100000003</real>
			<key>longitude</key>
			<real>139.73677989999999</real>
			<key>name</key>
			<string>"Myōgadani"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697068999999999</real>
			<key>longitude</key>
			<real>139.68216100000001</real>
			<key>name</key>
			<string>"Nakano Sakaue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.677795000000003</real>
			<key>longitude</key>
			<real>139.741713</real>
			<key>name</key>
			<string>"Nagatachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.664686000000003</real>
			<key>longitude</key>
			<real>139.78443200000001</real>
			<key>name</key>
			<string>"Tsukishima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.668380999999997</real>
			<key>longitude</key>
			<real>139.831705</real>
			<key>name</key>
			<string>"Minami-Sunamachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.651519</real>
			<key>longitude</key>
			<real>139.72216</real>
			<key>name</key>
			<string>"Hiroo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.7529945</real>
			<key>longitude</key>
			<real>139.73787139999999</real>
			<key>name</key>
			<string>"Ōji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.742234000000003</real>
			<key>longitude</key>
			<real>139.7813859</real>
			<key>name</key>
			<string>"Machiya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.682603999999998</real>
			<key>longitude</key>
			<real>139.914142</real>
			<key>name</key>
			<string>"Gyōtoku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.694960000000002</real>
			<key>longitude</key>
			<real>139.76746</real>
			<key>name</key>
			<string>"Awajichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.700611899999998</real>
			<key>longitude</key>
			<real>139.7642037</real>
			<key>name</key>
			<string>"Ochanomizu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.684992299999998</real>
			<key>longitude</key>
			<real>139.73725210000001</real>
			<key>name</key>
			<string>"Kōjimachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.694143699999998</real>
			<key>longitude</key>
			<real>139.6928087</real>
			<key>name</key>
			<string>"Nishi-Shinjuku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.690509300000002</real>
			<key>longitude</key>
			<real>139.7565376</real>
			<key>name</key>
			<string>"Takebashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.665463000000003</real>
			<key>longitude</key>
			<real>139.738991</real>
			<key>name</key>
			<string>"Roppongi-Itchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.692141300000003</real>
			<key>longitude</key>
			<real>139.7712247</real>
			<key>name</key>
			<string>"Kanda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.709235</real>
			<key>longitude</key>
			<real>139.73410100000001</real>
			<key>name</key>
			<string>"Edogawabashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.672716000000001</real>
			<key>longitude</key>
			<real>139.90222700000001</real>
			<key>name</key>
			<string>"Minami-Gyōtoku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.706721999999999</real>
			<key>longitude</key>
			<real>139.75983439999999</real>
			<key>name</key>
			<string>"Hongō-Sanchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.691020000000002</real>
			<key>longitude</key>
			<real>139.924363</real>
			<key>name</key>
			<string>"Myōden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.688761999999997</real>
			<key>longitude</key>
			<real>139.81573470000001</real>
			<key>name</key>
			<string>"Sumiyoshi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.776696999999999</real>
			<key>longitude</key>
			<real>139.63119</real>
			<key>name</key>
			<string>"Chikatetsu Narimasu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.688569999999999</real>
			<key>longitude</key>
			<real>139.71085400000001</real>
			<key>name</key>
			<string>"Shinjuku-gyoemmae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.706628299999998</real>
			<key>longitude</key>
			<real>139.77620340000001</real>
			<key>name</key>
			<string>"Naka-Okachimachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.676678799999998</real>
			<key>longitude</key>
			<real>139.77004439999999</real>
			<key>name</key>
			<string>"Kyōbashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.682252499999997</real>
			<key>longitude</key>
			<real>139.79877780000001</real>
			<key>name</key>
			<string>"Kiyosumi-Shirakawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.656399</real>
			<key>longitude</key>
			<real>139.73660229999999</real>
			<key>name</key>
			<string>"Azabu-Jūban"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.687932000000004</real>
			<key>longitude</key>
			<real>139.720631</real>
			<key>name</key>
			<string>"Yotsuya-Sanchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.757561000000003</real>
			<key>longitude</key>
			<real>139.65432799999999</real>
			<key>name</key>
			<string>"Heiwadai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.703819000000003</real>
			<key>longitude</key>
			<real>139.73451800000001</real>
			<key>name</key>
			<string>"Kagurazaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.666490000000003</real>
			<key>longitude</key>
			<real>139.72624200000001</real>
			<key>name</key>
			<string>"Nogizaka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.670518999999999</real>
			<key>longitude</key>
			<real>139.77359899999999</real>
			<key>name</key>
			<string>"Shintomichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.690732400000002</real>
			<key>longitude</key>
			<real>139.77849219999999</real>
			<key>name</key>
			<string>"Kodenmachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.720197800000001</real>
			<key>longitude</key>
			<real>139.72681610000001</real>
			<key>name</key>
			<string>"Gokokuji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.729374</real>
			<key>longitude</key>
			<real>139.791234</real>
			<key>name</key>
			<string>"Minowa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.749561999999997</real>
			<key>longitude</key>
			<real>139.66546600000001</real>
			<key>name</key>
			<string>"Hikawadai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.736566500000002</real>
			<key>longitude</key>
			<real>139.7470098</real>
			<key>name</key>
			<string>"Komagome"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.674394100000001</real>
			<key>longitude</key>
			<real>139.7669788</real>
			<key>name</key>
			<string>"Ginza-itchōme"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.733148</real>
			<key>longitude</key>
			<real>139.69849199999999</real>
			<key>name</key>
			<string>"Kanamechō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.725900000000003</real>
			<key>longitude</key>
			<real>139.71882400000001</real>
			<key>name</key>
			<string>"Higashi-Ikebukuro"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.738092000000002</real>
			<key>longitude</key>
			<real>139.689437</real>
			<key>name</key>
			<string>"Senkawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697818699999999</real>
			<key>longitude</key>
			<real>139.6482724</real>
			<key>name</key>
			<string>"Shin-Kōenji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.70682</real>
			<key>longitude</key>
			<real>139.76998699999999</real>
			<key>name</key>
			<string>"Yushima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.765424000000003</real>
			<key>longitude</key>
			<real>139.735626</real>
			<key>name</key>
			<string>"Ōji-Kamiya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.680627999999999</real>
			<key>longitude</key>
			<real>139.76185000000001</real>
			<key>name</key>
			<string>"Nijūbashimae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697654900000003</real>
			<key>longitude</key>
			<real>139.66982089999999</real>
			<key>name</key>
			<string>"Shin-Nakano"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.683486000000002</real>
			<key>longitude</key>
			<real>139.65791400000001</real>
			<key>name</key>
			<string>"Hōnanchō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.769976</real>
			<key>longitude</key>
			<real>139.644023</real>
			<key>name</key>
			<string>"Chikatetsu Akatsuka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697929000000002</real>
			<key>longitude</key>
			<real>139.65827400000001</real>
			<key>name</key>
			<string>"Higashi-Kōenji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.720540999999997</real>
			<key>longitude</key>
			<real>139.784457</real>
			<key>name</key>
			<string>"Iriya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.707815400000001</real>
			<key>longitude</key>
			<real>139.70914740000001</real>
			<key>name</key>
			<string>"Nishi-Waseda"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.709804499999997</real>
			<key>longitude</key>
			<real>139.79075549999999</real>
			<key>name</key>
			<string>"Tawaramachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.717818000000001</real>
			<key>longitude</key>
			<real>139.758015</real>
			<key>name</key>
			<string>"Tōdai-mae"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.776868999999998</real>
			<key>longitude</key>
			<real>139.83211800000001</real>
			<key>name</key>
			<string>"Kita-Ayase"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.717345999999999</real>
			<key>longitude</key>
			<real>139.765737</real>
			<key>name</key>
			<string>"Nezu"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.733319399999999</real>
			<key>longitude</key>
			<real>139.7990561</real>
			<key>name</key>
			<string>"Minami-Senju"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.645772000000001</real>
			<key>longitude</key>
			<real>139.81034700000001</real>
			<key>name</key>
			<string>"Tatsumi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.725762000000003</real>
			<key>longitude</key>
			<real>139.76334800000001</real>
			<key>name</key>
			<string>"Sendagi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.703166099999997</real>
			<key>longitude</key>
			<real>139.94160299999999</real>
			<key>name</key>
			<string>"Baraki-Nakayama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.710622999999998</real>
			<key>longitude</key>
			<real>139.68613300000001</real>
			<key>name</key>
			<string>"Ochiai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.707903399999999</real>
			<key>longitude</key>
			<real>139.7730918</real>
			<key>name</key>
			<string>"Ueno-Hirokōji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.699455100000002</real>
			<key>longitude</key>
			<real>139.63555099999999</real>
			<key>name</key>
			<string>"Minami-Asagaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.726067</real>
			<key>longitude</key>
			<real>139.729378</real>
			<key>name</key>
			<string>"Shin-Ōtsuka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.6691</real>
			<key>longitude</key>
			<real>139.689773</real>
			<key>name</key>
			<string>"Yoyogi-Kōen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.702542999999999</real>
			<key>longitude</key>
			<real>139.77170899999999</real>
			<key>name</key>
			<string>"Suehirochō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.697694900000002</real>
			<key>longitude</key>
			<real>139.7073541</real>
			<key>name</key>
			<string>"Higashi-Shinjuku"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.72504</real>
			<key>longitude</key>
			<real>139.75365400000001</real>
			<key>name</key>
			<string>"Hon-Komagome"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.691958</real>
			<key>longitude</key>
			<real>139.67374599999999</real>
			<key>name</key>
			<string>"Nakano-Shimbashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.690624999999997</real>
			<key>longitude</key>
			<real>139.667024</real>
			<key>name</key>
			<string>"Nakano-Fujimichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.711374999999997</real>
			<key>longitude</key>
			<real>139.782208</real>
			<key>name</key>
			<string>"Inarichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.678905</real>
			<key>longitude</key>
			<real>139.705105</real>
			<key>name</key>
			<string>"Kita-Sandō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.677295000000001</real>
			<key>longitude</key>
			<real>139.75137899999999</real>
			<key>name</key>
			<string>"Sakuradamon"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.720243099999998</real>
			<key>longitude</key>
			<real>139.7148435</real>
			<key>name</key>
			<string>"Zōshigaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.778421999999999</real>
			<key>longitude</key>
			<real>139.732237</real>
			<key>name</key>
			<string>"Shimo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.745925999999997</real>
			<key>longitude</key>
			<real>139.74223799999999</real>
			<key>name</key>
			<string>"Nishigahara"</string>
		</dict>
	</array>
</dict>
</plist>
