<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>43.780374100000003</real>
			<key>longitude</key>
			<real>-79.414665499999998</real>
			<key>name</key>
			<string>"Finch"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.768686600000002</real>
			<key>longitude</key>
			<real>-79.412546000000006</real>
			<key>name</key>
			<string>"North York Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.762034800000002</real>
			<key>longitude</key>
			<real>-79.411897199999999</real>
			<key>name</key>
			<string>"Sheppard–Yonge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.744914000000001</real>
			<key>longitude</key>
			<real>-79.406736600000002</real>
			<key>name</key>
			<string>"York Mills"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.725274499999998</real>
			<key>longitude</key>
			<real>-79.402455700000004</real>
			<key>name</key>
			<string>"Lawrence"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.705305699999997</real>
			<key>longitude</key>
			<real>-79.3989653</real>
			<key>name</key>
			<string>"Eglinton"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.697689099999998</real>
			<key>longitude</key>
			<real>-79.397182099999995</real>
			<key>name</key>
			<string>"Davisville"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.687617299999999</real>
			<key>longitude</key>
			<real>-79.393058800000006</real>
			<key>name</key>
			<string>"St. Clair"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.682295500000002</real>
			<key>longitude</key>
			<real>-79.390772200000001</real>
			<key>name</key>
			<string>"Summerhill"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.676895100000003</real>
			<key>longitude</key>
			<real>-79.388708399999999</real>
			<key>name</key>
			<string>"Rosedale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6709058</real>
			<key>longitude</key>
			<real>-79.385637200000005</real>
			<key>name</key>
			<string>"Bloor–Yonge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.665459300000002</real>
			<key>longitude</key>
			<real>-79.383888400000004</real>
			<key>name</key>
			<string>"Wellesley"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.661324700000002</real>
			<key>longitude</key>
			<real>-79.3830746</real>
			<key>name</key>
			<string>"College"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.656281100000001</real>
			<key>longitude</key>
			<real>-79.380459000000002</real>
			<key>name</key>
			<string>"Dundas"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.652422299999998</real>
			<key>longitude</key>
			<real>-79.379221200000003</real>
			<key>name</key>
			<string>"Queen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.648997600000001</real>
			<key>longitude</key>
			<real>-79.377797999999999</real>
			<key>name</key>
			<string>"King"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.645229899999997</real>
			<key>longitude</key>
			<real>-79.380610000000004</real>
			<key>name</key>
			<string>"Union"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.647524599999997</real>
			<key>longitude</key>
			<real>-79.384486499999994</real>
			<key>name</key>
			<string>"St. Andrew"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.654830699999998</real>
			<key>longitude</key>
			<real>-79.388348500000006</real>
			<key>name</key>
			<string>"St. Patrick"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.659880399999999</real>
			<key>longitude</key>
			<real>-79.390476800000002</real>
			<key>name</key>
			<string>"Queen's Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.667122300000003</real>
			<key>longitude</key>
			<real>-79.393473099999994</real>
			<key>name</key>
			<string>"Museum"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.668262200000001</real>
			<key>longitude</key>
			<real>-79.399858300000005</real>
			<key>name</key>
			<string>"St. George"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6673568</real>
			<key>longitude</key>
			<real>-79.403809800000005</real>
			<key>name</key>
			<string>"Spadina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.674855100000002</real>
			<key>longitude</key>
			<real>-79.407081000000005</real>
			<key>name</key>
			<string>"Dupont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.684134399999998</real>
			<key>longitude</key>
			<real>-79.415547399999994</real>
			<key>name</key>
			<string>"St. Clair West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.699373299999998</real>
			<key>longitude</key>
			<real>-79.436150100000006</real>
			<key>name</key>
			<string>"Eglinton West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.708778700000003</real>
			<key>longitude</key>
			<real>-79.440729399999995</real>
			<key>name</key>
			<string>"Glencairn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.715595299999997</real>
			<key>longitude</key>
			<real>-79.444045700000004</real>
			<key>name</key>
			<string>"Lawrence West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.724611600000003</real>
			<key>longitude</key>
			<real>-79.447515999999993</real>
			<key>name</key>
			<string>"Yorkdale"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.734466500000003</real>
			<key>longitude</key>
			<real>-79.450108900000004</real>
			<key>name</key>
			<string>"Wilson"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.750112299999998</real>
			<key>longitude</key>
			<real>-79.462169900000006</real>
			<key>name</key>
			<string>"Sheppard West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.636990500000003</real>
			<key>longitude</key>
			<real>-79.536318600000001</real>
			<key>name</key>
			<string>"Kipling"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.645444099999999</real>
			<key>longitude</key>
			<real>-79.523984100000007</real>
			<key>name</key>
			<string>"Islington"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6481773</real>
			<key>longitude</key>
			<real>-79.511264100000005</real>
			<key>name</key>
			<string>"Royal York"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.650100999999999</real>
			<key>longitude</key>
			<real>-79.495131999999998</real>
			<key>name</key>
			<string>"Old Mill"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.649945500000001</real>
			<key>longitude</key>
			<real>-79.483832000000007</real>
			<key>name</key>
			<string>"Jane"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.651696600000001</real>
			<key>longitude</key>
			<real>-79.4759794</real>
			<key>name</key>
			<string>"Runnymede"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.653858700000001</real>
			<key>longitude</key>
			<real>-79.466788800000003</real>
			<key>name</key>
			<string>"High Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.655516499999997</real>
			<key>longitude</key>
			<real>-79.459802300000007</real>
			<key>name</key>
			<string>"Keele"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.656908799999997</real>
			<key>longitude</key>
			<real>-79.453151700000006</real>
			<key>name</key>
			<string>"Dundas West"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.659250999999998</real>
			<key>longitude</key>
			<real>-79.442152500000006</real>
			<key>name</key>
			<string>"Lansdowne"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.660066700000002</real>
			<key>longitude</key>
			<real>-79.435558599999993</real>
			<key>name</key>
			<string>"Dufferin"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6623722</real>
			<key>longitude</key>
			<real>-79.426145700000006</real>
			<key>name</key>
			<string>"Ossington"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.664119900000003</real>
			<key>longitude</key>
			<real>-79.418319499999996</real>
			<key>name</key>
			<string>"Christie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.666001100000003</real>
			<key>longitude</key>
			<real>-79.411215200000001</real>
			<key>name</key>
			<string>"Bathurst"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.670147200000002</real>
			<key>longitude</key>
			<real>-79.390694699999997</real>
			<key>name</key>
			<string>"Bay"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.672167399999999</real>
			<key>longitude</key>
			<real>-79.376431999999994</real>
			<key>name</key>
			<string>"Sherbourne"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.673819100000003</real>
			<key>longitude</key>
			<real>-79.368545800000007</real>
			<key>name</key>
			<string>"Castle Frank"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.676870700000002</real>
			<key>longitude</key>
			<real>-79.358322299999998</real>
			<key>name</key>
			<string>"Broadview"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.678235600000001</real>
			<key>longitude</key>
			<real>-79.352454499999993</real>
			<key>name</key>
			<string>"Chester"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.679917799999998</real>
			<key>longitude</key>
			<real>-79.344909099999995</real>
			<key>name</key>
			<string>"Pape"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.680978099999997</real>
			<key>longitude</key>
			<real>-79.337865199999996</real>
			<key>name</key>
			<string>"Donlands"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.682577600000002</real>
			<key>longitude</key>
			<real>-79.330271999999994</real>
			<key>name</key>
			<string>"Greenwood"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.684208900000002</real>
			<key>longitude</key>
			<real>-79.323070299999998</real>
			<key>name</key>
			<string>"Coxwell"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.686408200000002</real>
			<key>longitude</key>
			<real>-79.312637800000005</real>
			<key>name</key>
			<string>"Woodbine"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6890219</real>
			<key>longitude</key>
			<real>-79.301685699999993</real>
			<key>name</key>
			<string>"Main Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.694617000000001</real>
			<key>longitude</key>
			<real>-79.289065800000003</real>
			<key>name</key>
			<string>"Victoria Park"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.711441800000003</real>
			<key>longitude</key>
			<real>-79.279059599999997</real>
			<key>name</key>
			<string>"Warden"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.732162000000002</real>
			<key>longitude</key>
			<real>-79.264125500000006</real>
			<key>name</key>
			<string>"Kennedy"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.7505259</real>
			<key>longitude</key>
			<real>-79.270304499999995</real>
			<key>name</key>
			<string>"Lawrence East"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.766856500000003</real>
			<key>longitude</key>
			<real>-79.276289500000004</real>
			<key>name</key>
			<string>"Ellesmere"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.770404399999997</real>
			<key>longitude</key>
			<real>-79.272253500000005</real>
			<key>name</key>
			<string>"Midland"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.7743945</real>
			<key>longitude</key>
			<real>-79.258055499999998</real>
			<key>name</key>
			<string>"Scarborough Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.774931100000003</real>
			<key>longitude</key>
			<real>-79.251818099999994</real>
			<key>name</key>
			<string>"McCowan"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.766874000000001</real>
			<key>longitude</key>
			<real>-79.386303799999993</real>
			<key>name</key>
			<string>"Bayview"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.769075899999997</real>
			<key>longitude</key>
			<real>-79.375908699999997</real>
			<key>name</key>
			<string>"Bessarion"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.771046699999999</real>
			<key>longitude</key>
			<real>-79.366070100000002</real>
			<key>name</key>
			<string>"Leslie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.775447300000003</real>
			<key>longitude</key>
			<real>-79.345615300000006</real>
			<key>name</key>
			<string>"Don Mills"</string>
		</dict>
	</array>
</dict>
</plist>
