<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>43.6289728</real>
			<key>longitude</key>
			<real>1.4822605</real>
			<key>name</key>
			<string>"Balma-Gramont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.624347</real>
			<key>longitude</key>
			<real>1.4769026000000001</real>
			<key>name</key>
			<string>"Argoulets"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.620125000000002</real>
			<key>longitude</key>
			<real>1.4696454000000001</real>
			<key>name</key>
			<string>"Roseraie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.615358200000003</real>
			<key>longitude</key>
			<real>1.4634148</real>
			<key>name</key>
			<string>"Jolimont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.610764600000003</real>
			<key>longitude</key>
			<real>1.4550400999999999</real>
			<key>name</key>
			<string>"Marengo-SNCF"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6055663</real>
			<key>longitude</key>
			<real>1.4484368999999999</real>
			<key>name</key>
			<string>"Jean-Jaurès"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.604599399999998</real>
			<key>longitude</key>
			<real>1.4454701999999999</real>
			<key>name</key>
			<string>"Capitole"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.600251700000001</real>
			<key>longitude</key>
			<real>1.4438340999999999</real>
			<key>name</key>
			<string>"Esquirol"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.5979527</real>
			<key>longitude</key>
			<real>1.4315321999999999</real>
			<key>name</key>
			<string>"Saint-Cyprien - République"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.5964083</real>
			<key>longitude</key>
			<real>1.4230976</real>
			<key>name</key>
			<string>"Patte-d'Oie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.593189099999996</real>
			<key>longitude</key>
			<real>1.4182022999999999</real>
			<key>name</key>
			<string>"Arènes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.587501500000002</real>
			<key>longitude</key>
			<real>1.4185289000000001</real>
			<key>name</key>
			<string>"Fontaine-Lestang"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.583439300000002</real>
			<key>longitude</key>
			<real>1.4149976</real>
			<key>name</key>
			<string>"Mermoz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.579916500000003</real>
			<key>longitude</key>
			<real>1.4120184</real>
			<key>name</key>
			<string>"Bagatelle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.574815800000003</real>
			<key>longitude</key>
			<real>1.4020600000000001</real>
			<key>name</key>
			<string>"Mirail-Université"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.570949900000002</real>
			<key>longitude</key>
			<real>1.4018324</real>
			<key>name</key>
			<string>"Reynerie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.566128800000001</real>
			<key>longitude</key>
			<real>1.3981627999999999</real>
			<key>name</key>
			<string>"Bellefontaine"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.570045399999998</real>
			<key>longitude</key>
			<real>1.3922253</real>
			<key>name</key>
			<string>"Basso-Cambo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.640634300000002</real>
			<key>longitude</key>
			<real>1.4527292000000001</real>
			<key>name</key>
			<string>"Borderouge"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.638016</real>
			<key>longitude</key>
			<real>1.4445384999999999</real>
			<key>name</key>
			<string>"Trois Cocus"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.633626399999997</real>
			<key>longitude</key>
			<real>1.4355549000000001</real>
			<key>name</key>
			<string>"La Vache"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.626869499999998</real>
			<key>longitude</key>
			<real>1.4338664999999999</real>
			<key>name</key>
			<string>"Barrière de Paris"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.620391699999999</real>
			<key>longitude</key>
			<real>1.4359109999999999</real>
			<key>name</key>
			<string>"Minimes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.615428899999998</real>
			<key>longitude</key>
			<real>1.4339126</real>
			<key>name</key>
			<string>"Canal du Midi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.610523499999999</real>
			<key>longitude</key>
			<real>1.4354374000000001</real>
			<key>name</key>
			<string>"Compans-Caffarelli"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.609025199999998</real>
			<key>longitude</key>
			<real>1.4453157000000001</real>
			<key>name</key>
			<string>"Jeanne d'Arc"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6055663</real>
			<key>longitude</key>
			<real>1.4484368999999999</real>
			<key>name</key>
			<string>"Jean-Jaurès"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.6006152</real>
			<key>longitude</key>
			<real>1.4520584999999999</real>
			<key>name</key>
			<string>"François-Verdier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.597642800000003</real>
			<key>longitude</key>
			<real>1.445325</real>
			<key>name</key>
			<string>"Carmes"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.592293400000003</real>
			<key>longitude</key>
			<real>1.4446703000000001</real>
			<key>name</key>
			<string>"Palais de Justice"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.5861625</real>
			<key>longitude</key>
			<real>1.4472845000000001</real>
			<key>name</key>
			<string>"Saint-Michel Marcel-Langer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.5799089</real>
			<key>longitude</key>
			<real>1.4420245</real>
			<key>name</key>
			<string>"Empalot"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.580313500000003</real>
			<key>longitude</key>
			<real>1.4497998999999999</real>
			<key>name</key>
			<string>"Saint-Agne SNCF"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.579560999999998</real>
			<key>longitude</key>
			<real>1.4592012999999999</real>
			<key>name</key>
			<string>"Saouzelong"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.574812199999997</real>
			<key>longitude</key>
			<real>1.4618150000000001</real>
			<key>name</key>
			<string>"Rangueil"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.568044999999998</real>
			<key>longitude</key>
			<real>1.4645439</real>
			<key>name</key>
			<string>"Faculté de Pharmacie"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.560990099999998</real>
			<key>longitude</key>
			<real>1.4630574000000001</real>
			<key>name</key>
			<string>"Université Paul-Sabatier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.555844899999997</real>
			<key>longitude</key>
			<real>1.4764009</real>
			<key>name</key>
			<string>"Ramonville"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.552850900000003</real>
			<key>longitude</key>
			<real>1.486011</real>
			<key>name</key>
			<string>"Parc Technologique du Canal"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.610234900000002</real>
			<key>longitude</key>
			<real>1.3940516000000001</real>
			<key>name</key>
			<string>"Centre Commercial Carrefour Cinéma Gaumont"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>43.547014799999999</real>
			<key>longitude</key>
			<real>1.5134121</real>
			<key>name</key>
			<string>"Labège Innopôle SNCF"</string>
		</dict>
	</array>
</dict>
</plist>
