<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>49.199994799999999</real>
			<key>longitude</key>
			<real>-122.9491245</real>
			<key>name</key>
			<string>"22nd Street"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.244329800000003</real>
			<key>longitude</key>
			<real>-123.04624029999999</real>
			<key>name</key>
			<string>"29th Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.183954700000001</real>
			<key>longitude</key>
			<real>-123.1364705</real>
			<key>name</key>
			<string>"Aberdeen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.233262600000003</real>
			<key>longitude</key>
			<real>-122.8828625</real>
			<key>name</key>
			<string>"Braid"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.266408200000001</real>
			<key>longitude</key>
			<real>-123.0017618</real>
			<key>name</key>
			<string>"Brentwood Town Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.195529100000002</real>
			<key>longitude</key>
			<real>-123.12604779999999</real>
			<key>name</key>
			<string>"Bridgeport*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.2629521</real>
			<key>longitude</key>
			<real>-123.1144996</real>
			<key>name</key>
			<string>"Broadway–City Hall"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.261381</real>
			<key>longitude</key>
			<real>-122.88979999999999</real>
			<key>name</key>
			<string>"Burquitlam"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.2856399</real>
			<key>longitude</key>
			<real>-123.1201878</real>
			<key>name</key>
			<string>"Burrard"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.2048287</real>
			<key>longitude</key>
			<real>-122.9060995</real>
			<key>name</key>
			<string>"Columbia*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.262644100000003</real>
			<key>longitude</key>
			<real>-123.0692566</real>
			<key>name</key>
			<string>"Commercial–Broadway*[c]"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.274825100000001</real>
			<key>longitude</key>
			<real>-122.800624</real>
			<key>name</key>
			<string>"Coquitlam Central"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.212261699999999</real>
			<key>longitude</key>
			<real>-122.95914070000001</real>
			<key>name</key>
			<string>"Edmonds"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.198898499999999</real>
			<key>longitude</key>
			<real>-122.8506622</real>
			<key>name</key>
			<string>"Gateway"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.264980999999999</real>
			<key>longitude</key>
			<real>-123.0135116</real>
			<key>name</key>
			<string>"Gilmore"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.283276000000001</real>
			<key>longitude</key>
			<real>-123.1161202</real>
			<key>name</key>
			<string>"Granville"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.264745499999997</real>
			<key>longitude</key>
			<real>-122.9821661</real>
			<key>name</key>
			<string>"Holdom"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.2772516</real>
			<key>longitude</key>
			<real>-122.8281843</real>
			<key>name</key>
			<string>"Inlet Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.2388938</real>
			<key>longitude</key>
			<real>-123.0309185</real>
			<key>name</key>
			<string>"Joyce–Collingwood[d]"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.249256199999998</real>
			<key>longitude</key>
			<real>-123.1158516</real>
			<key>name</key>
			<string>"King Edward"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.182755</real>
			<key>longitude</key>
			<real>-122.84464180000001</real>
			<key>name</key>
			<string>"King George†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.285583500000001</real>
			<key>longitude</key>
			<real>-122.79164400000001</real>
			<key>name</key>
			<string>"Lafarge Lake–Douglas†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.254630400000003</real>
			<key>longitude</key>
			<real>-122.9392344</real>
			<key>name</key>
			<string>"Lake City Way"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.226327699999999</real>
			<key>longitude</key>
			<real>-123.11607720000001</real>
			<key>name</key>
			<string>"Langara–49th Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.174738400000003</real>
			<key>longitude</key>
			<real>-123.1365696</real>
			<key>name</key>
			<string>"Lansdowne"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.280461699999996</real>
			<key>longitude</key>
			<real>-122.7941565</real>
			<key>name</key>
			<string>"Lincoln"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.248574099999999</real>
			<key>longitude</key>
			<real>-122.8968732</real>
			<key>name</key>
			<string>"Lougheed Town Centre*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.273156399999998</real>
			<key>longitude</key>
			<real>-123.10045479999999</real>
			<key>name</key>
			<string>"Main Street–Science World"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.209594799999998</real>
			<key>longitude</key>
			<real>-123.11690710000001</real>
			<key>name</key>
			<string>"Marine Drive"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.225773699999998</real>
			<key>longitude</key>
			<real>-123.0037583</real>
			<key>name</key>
			<string>"Metrotown"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.277949700000001</real>
			<key>longitude</key>
			<real>-122.8459077</real>
			<key>name</key>
			<string>"Moody Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.248369699999998</real>
			<key>longitude</key>
			<real>-123.05587060000001</real>
			<key>name</key>
			<string>"Nanaimo"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.201405999999999</real>
			<key>longitude</key>
			<real>-122.91257299999999</real>
			<key>name</key>
			<string>"New Westminster"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.233156800000003</real>
			<key>longitude</key>
			<real>-123.116637</real>
			<key>name</key>
			<string>"Oakridge–41st Avenue"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.266511700000002</real>
			<key>longitude</key>
			<real>-123.1157381</real>
			<key>name</key>
			<string>"Olympic Village"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.229787399999999</real>
			<key>longitude</key>
			<real>-123.0126752</real>
			<key>name</key>
			<string>"Patterson"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.253404699999997</real>
			<key>longitude</key>
			<real>-122.9181552</real>
			<key>name</key>
			<string>"Production Way–University*"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.258895199999998</real>
			<key>longitude</key>
			<real>-123.045092</real>
			<key>name</key>
			<string>"Renfrew"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.168080500000002</real>
			<key>longitude</key>
			<real>-123.1362376</real>
			<key>name</key>
			<string>"Richmond–Brighouse†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.2200706</real>
			<key>longitude</key>
			<real>-122.98846279999999</real>
			<key>name</key>
			<string>"Royal Oak"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.260810499999998</real>
			<key>longitude</key>
			<real>-123.0330238</real>
			<key>name</key>
			<string>"Rupert"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.224686900000002</real>
			<key>longitude</key>
			<real>-122.8893704</real>
			<key>name</key>
			<string>"Sapperton"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.204416399999999</real>
			<key>longitude</key>
			<real>-122.87416589999999</real>
			<key>name</key>
			<string>"Scott Road"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.193054600000004</real>
			<key>longitude</key>
			<real>-123.1579993</real>
			<key>name</key>
			<string>"Sea Island Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.259201300000001</real>
			<key>longitude</key>
			<real>-122.9640792</real>
			<key>name</key>
			<string>"Sperling–Burnaby Lake"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.279302399999999</real>
			<key>longitude</key>
			<real>-123.1091541</real>
			<key>name</key>
			<string>"Stadium–Chinatown[g"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.189494400000001</real>
			<key>longitude</key>
			<real>-122.8478491</real>
			<key>name</key>
			<string>"Surrey Central"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.197980600000001</real>
			<key>longitude</key>
			<real>-123.14139400000001</real>
			<key>name</key>
			<string>"Templeton"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.282483200000001</real>
			<key>longitude</key>
			<real>-123.118555</real>
			<key>name</key>
			<string>"Vancouver City Centre"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.265701300000003</real>
			<key>longitude</key>
			<real>-123.0791219</real>
			<key>name</key>
			<string>"VCC–Clark†"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.285959699999999</real>
			<key>longitude</key>
			<real>-123.11165010000001</real>
			<key>name</key>
			<string>"Waterfront**"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.274521100000001</real>
			<key>longitude</key>
			<real>-123.12185959999999</real>
			<key>name</key>
			<string>"Yaletown–Roundhouse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>49.196691299999998</real>
			<key>longitude</key>
			<real>-123.18151229999999</real>
			<key>name</key>
			<string>"YVR–Airport†"</string>
		</dict>
	</array>
</dict>
</plist>
