<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>48.263339999999999</real>
			<key>longitude</key>
			<real>16.451711</real>
			<key>name</key>
			<string>"Aderklaaer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.216792499999997</real>
			<key>longitude</key>
			<real>16.341823399999999</real>
			<key>name</key>
			<string>"Alser Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.237931600000003</real>
			<key>longitude</key>
			<real>16.424379900000002</real>
			<key>name</key>
			<string>"Alte Donau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.150503</real>
			<key>longitude</key>
			<real>16.316856000000001</real>
			<key>name</key>
			<string>"Alterlaa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.166688000000001</real>
			<key>longitude</key>
			<real>16.315266999999999</real>
			<key>name</key>
			<string>"Am Schöpfwerk"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.234543000000002</real>
			<key>longitude</key>
			<real>16.504521</real>
			<key>name</key>
			<string>"Aspern Nord"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.222487200000003</real>
			<key>longitude</key>
			<real>16.474833199999999</real>
			<key>name</key>
			<string>"Aspernstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.174318999999997</real>
			<key>longitude</key>
			<real>16.331652999999999</real>
			<key>name</key>
			<string>"Bahnhof Meidling"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.185222699999997</real>
			<key>longitude</key>
			<real>16.376484699999999</real>
			<key>name</key>
			<string>"Braunschweiggasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.202021600000002</real>
			<key>longitude</key>
			<real>16.337377100000001</real>
			<key>name</key>
			<string>"Burggasse-Stadthalle"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.228715999999999</real>
			<key>longitude</key>
			<real>16.410371000000001</real>
			<key>name</key>
			<string>"Donauinsel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.206522399999997</real>
			<key>longitude</key>
			<real>16.4316979</real>
			<key>name</key>
			<string>"Donaumarina"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.219141999999998</real>
			<key>longitude</key>
			<real>16.46659</real>
			<key>name</key>
			<string>"Donauspital"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.211708700000003</real>
			<key>longitude</key>
			<real>16.440069099999999</real>
			<key>name</key>
			<string>"Donaustadtbrücke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.237692600000003</real>
			<key>longitude</key>
			<real>16.381102500000001</real>
			<key>name</key>
			<string>"Dresdner Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.175978299999997</real>
			<key>longitude</key>
			<real>16.414106400000001</real>
			<key>name</key>
			<string>"Enkplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.190889300000002</real>
			<key>longitude</key>
			<real>16.415020299999998</real>
			<key>name</key>
			<string>"Erdberg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.141959999999997</real>
			<key>longitude</key>
			<real>16.316444799999999</real>
			<key>name</key>
			<string>"Erlaaer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.256407500000002</real>
			<key>longitude</key>
			<real>16.399881300000001</real>
			<key>name</key>
			<string>"Floridsdorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2272745</real>
			<key>longitude</key>
			<real>16.364654600000001</real>
			<key>name</key>
			<string>"Friedensbrücke"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.185330999999998</real>
			<key>longitude</key>
			<real>16.417681000000002</real>
			<key>name</key>
			<string>"Gasometer"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.256407500000002</real>
			<key>longitude</key>
			<real>16.399881300000001</real>
			<key>name</key>
			<string>"Großfeldsiedlung"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.190907699999997</real>
			<key>longitude</key>
			<real>16.337632299999999</real>
			<key>name</key>
			<string>"Gumpendorfer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.241706000000001</real>
			<key>longitude</key>
			<real>16.384969999999999</real>
			<key>name</key>
			<string>"Handelskai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.219192999999997</real>
			<key>longitude</key>
			<real>16.448405000000001</real>
			<key>name</key>
			<string>"Hardeggasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.233696000000002</real>
			<key>longitude</key>
			<real>16.485582999999998</real>
			<key>name</key>
			<string>"Hausfeldstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.248835999999997</real>
			<key>longitude</key>
			<real>16.365466900000001</real>
			<key>name</key>
			<string>"Heiligenstadt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.209648199999997</real>
			<key>longitude</key>
			<real>16.366379999999999</real>
			<key>name</key>
			<string>"Herrengasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1877821</real>
			<key>longitude</key>
			<real>16.3039144</real>
			<key>name</key>
			<string>"Hietzing"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.197353999999997</real>
			<key>longitude</key>
			<real>16.261116999999999</real>
			<key>name</key>
			<string>"Hütteldorf"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.200244400000003</real>
			<key>longitude</key>
			<real>16.3108173</real>
			<key>name</key>
			<string>"Hütteldorfer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2352384</real>
			<key>longitude</key>
			<real>16.369767</real>
			<key>name</key>
			<string>"Jägerstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.197513600000001</real>
			<key>longitude</key>
			<real>16.321722900000001</real>
			<key>name</key>
			<string>"Johnstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.211520999999998</real>
			<key>longitude</key>
			<real>16.339079000000002</real>
			<key>name</key>
			<string>"Josefstädter Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.243648</real>
			<key>longitude</key>
			<real>16.433800900000001</real>
			<key>name</key>
			<string>"Kagran"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.250616899999997</real>
			<key>longitude</key>
			<real>16.443534199999998</real>
			<key>name</key>
			<string>"Kagraner Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.232680600000002</real>
			<key>longitude</key>
			<real>16.415952699999998</real>
			<key>name</key>
			<string>"Kaisermühlen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.197129699999998</real>
			<key>longitude</key>
			<real>16.400701600000001</real>
			<key>name</key>
			<string>"Kardinal-Nagl-Platz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.200191400000001</real>
			<key>longitude</key>
			<real>16.370540800000001</real>
			<key>name</key>
			<string>"Karlsplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.211742000000001</real>
			<key>longitude</key>
			<real>16.311167000000001</real>
			<key>name</key>
			<string>"Kendlerstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.180045499999999</real>
			<key>longitude</key>
			<real>16.375852800000001</real>
			<key>name</key>
			<string>"Keplerplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.196802099999999</real>
			<key>longitude</key>
			<real>16.358976200000001</real>
			<key>name</key>
			<string>"Kettenbrückengasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.214663999999999</real>
			<key>longitude</key>
			<real>16.413761999999998</real>
			<key>name</key>
			<string>"Krieau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.184398000000002</real>
			<key>longitude</key>
			<real>16.3342612</real>
			<key>name</key>
			<string>"Längenfeldgasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.206391000000004</real>
			<key>longitude</key>
			<real>16.384892099999998</real>
			<key>name</key>
			<string>"Landstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.277377600000001</real>
			<key>longitude</key>
			<real>16.451427500000001</real>
			<key>name</key>
			<string>"Leopoldau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.188427699999998</real>
			<key>longitude</key>
			<real>16.342169299999998</real>
			<key>name</key>
			<string>"Margaretengürtel"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.183367400000002</real>
			<key>longitude</key>
			<real>16.328920499999999</real>
			<key>name</key>
			<string>"Meidling Hauptstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.217775699999997</real>
			<key>longitude</key>
			<real>16.4059794</real>
			<key>name</key>
			<string>"Messe-Prater"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.221251000000002</real>
			<key>longitude</key>
			<real>16.343927999999998</real>
			<key>name</key>
			<string>"Michelbeuern-AKH"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.203336899999996</real>
			<key>longitude</key>
			<real>16.358616600000001</real>
			<key>name</key>
			<string>"Museumsquartier"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.214939000000001</real>
			<key>longitude</key>
			<real>16.3846214</real>
			<key>name</key>
			<string>"Nestroyplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.198710699999999</real>
			<key>longitude</key>
			<real>16.3509262</real>
			<key>name</key>
			<string>"Neubaugasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.246757000000002</real>
			<key>longitude</key>
			<real>16.395301</real>
			<key>name</key>
			<string>"Neue Donau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.181125999999999</real>
			<key>longitude</key>
			<real>16.331254999999999</real>
			<key>name</key>
			<string>"Niederhofstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.231316999999997</real>
			<key>longitude</key>
			<real>16.352371000000002</real>
			<key>name</key>
			<string>"Nußdorfer Straße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.192309000000002</real>
			<key>longitude</key>
			<real>16.275456999999999</real>
			<key>name</key>
			<string>"Ober St. Veit"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.210999299999997</real>
			<key>longitude</key>
			<real>16.3112453</real>
			<key>name</key>
			<string>"Ottakring"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.136498000000003</real>
			<key>longitude</key>
			<real>16.312944999999999</real>
			<key>name</key>
			<string>"Perfektastraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.192616100000002</real>
			<key>longitude</key>
			<real>16.354476600000002</real>
			<key>name</key>
			<string>"Pilgramgasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.219079999999998</real>
			<key>longitude</key>
			<real>16.392154000000001</real>
			<key>name</key>
			<string>"Praterstern"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.210868499999997</real>
			<key>longitude</key>
			<real>16.357248599999998</real>
			<key>name</key>
			<string>"Rathaus"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.256920999999998</real>
			<key>longitude</key>
			<real>16.449180900000002</real>
			<key>name</key>
			<string>"Rennbahnweg"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.174261000000001</real>
			<key>longitude</key>
			<real>16.3781879</real>
			<key>name</key>
			<string>"Reumannplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.202499000000003</real>
			<key>longitude</key>
			<real>16.391062000000002</real>
			<key>name</key>
			<string>"Rochusgasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.221620999999999</real>
			<key>longitude</key>
			<real>16.367712000000001</real>
			<key>name</key>
			<string>"Roßauer Lände"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.194049999999997</real>
			<key>longitude</key>
			<real>16.407530399999999</real>
			<key>name</key>
			<string>"Schlachthausgasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.217112999999998</real>
			<key>longitude</key>
			<real>16.371279999999999</real>
			<key>name</key>
			<string>"Schottenring"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2137253</real>
			<key>longitude</key>
			<real>16.362287500000001</real>
			<key>name</key>
			<string>"Schottentor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.211508899999998</real>
			<key>longitude</key>
			<real>16.377985899999999</real>
			<key>name</key>
			<string>"Schwedenplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.198160000000001</real>
			<key>longitude</key>
			<real>16.328782</real>
			<key>name</key>
			<string>"Schweglerstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.185845999999998</real>
			<key>longitude</key>
			<real>16.319704000000002</real>
			<key>name</key>
			<string>"Schönbrunn"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.225951999999999</real>
			<key>longitude</key>
			<real>16.508286999999999</real>
			<key>name</key>
			<string>"Seestadt"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.129572799999998</real>
			<key>longitude</key>
			<real>16.310818900000001</real>
			<key>name</key>
			<string>"Siebenhirten"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.169877999999997</real>
			<key>longitude</key>
			<real>16.419329999999999</real>
			<key>name</key>
			<string>"Simmering"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.235696799999999</real>
			<key>longitude</key>
			<real>16.358022999999999</real>
			<key>name</key>
			<string>"Spittelau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.210667299999997</real>
			<key>longitude</key>
			<real>16.420278</real>
			<key>name</key>
			<string>"Stadion"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.219192999999997</real>
			<key>longitude</key>
			<real>16.448405000000001</real>
			<key>name</key>
			<string>"Stadlau"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.2024489</real>
			<key>longitude</key>
			<real>16.379070800000001</real>
			<key>name</key>
			<string>"Stadtpark"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.208018000000003</real>
			<key>longitude</key>
			<real>16.371438000000001</real>
			<key>name</key>
			<string>"Stephansplatz"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.207707599999999</real>
			<key>longitude</key>
			<real>16.3794146</real>
			<key>name</key>
			<string>"Stubentor"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.186412500000003</real>
			<key>longitude</key>
			<real>16.3731531</real>
			<key>name</key>
			<string>"Südtiroler Platz-Hauptbahnhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.219079999999998</real>
			<key>longitude</key>
			<real>16.392154000000001</real>
			<key>name</key>
			<string>"Taborstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.185222699999997</real>
			<key>longitude</key>
			<real>16.376484699999999</real>
			<key>name</key>
			<string>"Taubstummengasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.211742000000001</real>
			<key>longitude</key>
			<real>16.311167000000001</real>
			<key>name</key>
			<string>"Thaliastraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.164963</real>
			<key>longitude</key>
			<real>16.3281451</real>
			<key>name</key>
			<string>"Tscherttegasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.192309000000002</real>
			<key>longitude</key>
			<real>16.275456999999999</real>
			<key>name</key>
			<string>"Unter St. Veit"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.205076699999999</real>
			<key>longitude</key>
			<real>16.357604500000001</real>
			<key>name</key>
			<string>"Volkstheater"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.219079999999998</real>
			<key>longitude</key>
			<real>16.392154000000001</real>
			<key>name</key>
			<string>"Vorgartenstraße"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.225437499999998</real>
			<key>longitude</key>
			<real>16.349286800000002</real>
			<key>name</key>
			<string>"Währinger Straße-Volksoper"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1967991</real>
			<key>longitude</key>
			<real>16.337701899999999</real>
			<key>name</key>
			<string>"Westbahnhof"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.1971524</real>
			<key>longitude</key>
			<real>16.3462028</real>
			<key>name</key>
			<string>"Zieglergasse"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>48.179493700000002</real>
			<key>longitude</key>
			<real>16.411251400000001</real>
			<key>name</key>
			<string>"Zippererstraße"</string>
		</dict>
	</array>
</dict>
</plist>
