<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>35.568579999999997</real>
			<key>longitude</key>
			<real>139.55345500000001</real>
			<key>name</key>
			<string>"Azamino"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.563108</real>
			<key>longitude</key>
			<real>139.56987100000001</real>
			<key>name</key>
			<string>"Nakagawa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.553137999999997</real>
			<key>longitude</key>
			<real>139.57848200000001</real>
			<key>name</key>
			<string>"Center Kita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.545583000000001</real>
			<key>longitude</key>
			<real>139.57451</real>
			<key>name</key>
			<string>"Center Minami"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.535251000000002</real>
			<key>longitude</key>
			<real>139.589787</real>
			<key>name</key>
			<string>"Nakamachidai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.527475000000003</real>
			<key>longitude</key>
			<real>139.61211900000001</real>
			<key>name</key>
			<string>"Nippa"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.519226000000003</real>
			<key>longitude</key>
			<real>139.61281299999999</real>
			<key>name</key>
			<string>"Kita Shin-yokohama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.506808399999997</real>
			<key>longitude</key>
			<real>139.6175767</real>
			<key>name</key>
			<string>"Shin-Yokohama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.496172600000001</real>
			<key>longitude</key>
			<real>139.616983</real>
			<key>name</key>
			<string>"Kishine-kōen"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.489950999999998</real>
			<key>longitude</key>
			<real>139.606426</real>
			<key>name</key>
			<string>"Katakurachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.476495200000002</real>
			<key>longitude</key>
			<real>139.60464099999999</real>
			<key>name</key>
			<string>"Mitsuzawa-kamichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.476512</real>
			<key>longitude</key>
			<real>139.61481000000001</real>
			<key>name</key>
			<string>"Mitsuzawa-shimochō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.465785799999999</real>
			<key>longitude</key>
			<real>139.62231320000001</real>
			<key>name</key>
			<string>"Yokohama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.458787999999998</real>
			<key>longitude</key>
			<real>139.623537</real>
			<key>name</key>
			<string>"Takashimachō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.450949299999998</real>
			<key>longitude</key>
			<real>139.63106629999999</real>
			<key>name</key>
			<string>"Sakuragichō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.444375999999998</real>
			<key>longitude</key>
			<real>139.6354953</real>
			<key>name</key>
			<string>"Kannai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.441135099999997</real>
			<key>longitude</key>
			<real>139.63299889999999</real>
			<key>name</key>
			<string>"Isezakichōjamachi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.437595999999999</real>
			<key>longitude</key>
			<real>139.62517700000001</real>
			<key>name</key>
			<string>"Bandōbashi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.435346000000003</real>
			<key>longitude</key>
			<real>139.618483</real>
			<key>name</key>
			<string>"Yoshinochō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.429901999999998</real>
			<key>longitude</key>
			<real>139.60995600000001</real>
			<key>name</key>
			<string>"Maita"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.424069000000003</real>
			<key>longitude</key>
			<real>139.596902</real>
			<key>name</key>
			<string>"Gumyōji"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.409182000000001</real>
			<key>longitude</key>
			<real>139.59593000000001</real>
			<key>name</key>
			<string>"Kami-Ōoka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.401211000000004</real>
			<key>longitude</key>
			<real>139.59118100000001</real>
			<key>name</key>
			<string>"Kōnan-Chūō"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.401349000000003</real>
			<key>longitude</key>
			<real>139.572766</real>
			<key>name</key>
			<string>"Kaminagaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.402737000000002</real>
			<key>longitude</key>
			<real>139.559156</real>
			<key>name</key>
			<string>"Shimonagaya"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.4025344</real>
			<key>longitude</key>
			<real>139.55101540000001</real>
			<key>name</key>
			<string>"Maioka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.400566499999996</real>
			<key>longitude</key>
			<real>139.5342378</real>
			<key>name</key>
			<string>"Totsuka"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.405644600000002</real>
			<key>longitude</key>
			<real>139.51862159999999</real>
			<key>name</key>
			<string>"Odoriba"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.411012999999997</real>
			<key>longitude</key>
			<real>139.51160400000001</real>
			<key>name</key>
			<string>"Nakada"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.414484000000002</real>
			<key>longitude</key>
			<real>139.50099399999999</real>
			<key>name</key>
			<string>"Tateba"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.403095999999998</real>
			<key>longitude</key>
			<real>139.48241200000001</real>
			<key>name</key>
			<string>"Shimoiida"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.396324</real>
			<key>longitude</key>
			<real>139.46652230000001</real>
			<key>name</key>
			<string>"Shōnandai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.465785799999999</real>
			<key>longitude</key>
			<real>139.62231320000001</real>
			<key>name</key>
			<string>"Yokohama"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.462038</real>
			<key>longitude</key>
			<real>139.62673100000001</real>
			<key>name</key>
			<string>"Shin-Takashima"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.457920000000001</real>
			<key>longitude</key>
			<real>139.6322772</real>
			<key>name</key>
			<string>"Minatomirai"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.450529199999998</real>
			<key>longitude</key>
			<real>139.63597060000001</real>
			<key>name</key>
			<string>"Bashamichi"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.446872999999997</real>
			<key>longitude</key>
			<real>139.642619</real>
			<key>name</key>
			<string>"Nihon-ōdōri"</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.442793600000002</real>
			<key>longitude</key>
			<real>139.6503166</real>
			<key>name</key>
			<string>"Motomachi-Chūkagai"</string>
		</dict>
	</array>
</dict>
</plist>
